/******************************************************/
/********************** GLOBAL ************************/
/******************************************************/

/********** [COLUMN SETS] ***********/

/* Col2 */
.col2-set .col-1, .col2-set .col-2 { width:48.5%; }
.col2-set .col-1 { float:left; }
.col2-set .col-2 { float:right;}

/* Col3 */
.col3-set .col-1, .col3-set .col-2, .col3-set .col-3 { float:left; width:32%; }
.col3-set .col-1, .col3-set .col-2 { margin-right:2%; }

/* Col4 */
.col4-set .col-1, .col4-set .col-2, .col4-set .col-3, .col4-set .col-4 { float:left; width:22%; }
.col4-set .col-1, .col4-set .col-2, .col4-set .col-3 { margin-right:4%; }

/* Table Columns */
table .col-1, table .col-2 { float:none !important; }



/************* [FORMS] ***************/

input.input-text, select, textarea { border:1px solid #b6b6b6; }
input.input-text, textarea { padding:2px; }
input.form-radio { margin-right:5px;}
.qty { width:2.5em; }
.group-select {
	margin-bottom:1.5em;
	border:1px solid #d3d3d3;
	padding:5px 12px 15px 12px;
	background:#f9f9f9;
	}
.group-select legend { display:block; padding:0 8px; color:#333; font-weight:bold; font-size:1.1em; }
.group-select li { margin:8px 8px; }
.group-select li .input-box { float:left; width:275px; }
.group-select li .input-text,
.group-select li select,
.group-select li textarea { width:515px; }
.group-select li .input-box .input-text,
.group-select li .input-box select,
.group-select li .input-box textarea { width:240px; }

.form-list li { margin: 10px 0; }
.form-buttons {
	margin-top:2em;
	border-top:1px solid #e1e0e0;
	padding-top:8px;
	text-align:right; 
	}
.form-button, .form-button-alt {
	width:auto;
	height:25px;
	overflow:visible;
	border:none;
	background:url(../images/form_button_left.png) no-repeat 0 1px;
	padding-left:2px;
	cursor:pointer;
	}
.form-button span, .form-button-alt span {
	display:block;
	height:18px;
	background:url(../images/form_button_right.png) no-repeat 100% 0;
	padding:3px 13px 4px 8px;
	color:#fff;
	font:bold 12px arial, helvetica, sans-serif;
	white-space:nowrap;
	}
.required { color:#eb340a; }
label.required { font-weight:bold; }
p.required { font-size:.95em; text-align:right; }



/*********** [HEADINGS] ************/

.head { text-align:right; }
.head h1, .head h2, .head h3, .head h4, .head h5 { margin:0; float:left; }
.head a, .head a:hover { text-decoration:none; }
.page-head { 
	margin:0 0 20px 0; 
	border-bottom:1px solid #ccc;
	}
.page-head-alt { margin:0 0 12px 0;  }
.page-head, .page-head-alt { text-align:right; }
.page-head h2, .page-head-alt h2 {
	margin:0;
	color:#2f2f2f;
	font-size:1.8em; 
	font-weight:normal;
	text-align:left;
	}
.button-level h2 {
	float:left;
	width:60%;
}


/*********** [LISTS] ************/
.disc li {
	margin-left:20px;
	list-style:disc;
	}

/* Bare List */
.bare-list {
	margin:5px 0;
	}
.bare-list li {
	margin:3px 0;
	}


/*********** [SPACE] ************/

.no-show { display:none; }
.no-wrap { white-space:nowrap; }
.content { padding:12px 12px 12px 15px; }
.actions { line-height:1.3em; }
.content-box { min-height:250px; }
.head .corner { /* .box header radius */
	width:3px;
	height:3px;
	position:absolute;
	top:0;
	right:0;
	background:url(../images/side_col_box_radius.gif) no-repeat 0;
	}
tr.odd, li.odd { background:#F6FAFF; }
.separator { padding:0 8px;}



/*********** [BOX] ************/ /* Mini item containers in left and right column */
.side-col .box { 
	margin-bottom:15px; 
	background:url(../images/side_col_box_bg.gif) repeat #e9f3ff;
	}
.side-col .box .head { 
	position:relative;
	margin:0;
	padding:5px 8px 5px 13px; 
	background:url(../images/side_col_box_head_bg.gif) no-repeat #7db0e3;
	}
.side-col .box .head h3 { 
	color:#fff; 
	font-size:1.1em;
	}
.side-col .box .head h3 .count {
	color:#2a60b4;
	font-weight:normal;
	white-space:nowrap;
	}
.side-col .box .head .widget-btn { float:right; margin:.25em 0 0 .5em; }
.side-col .box .box-container { 
	border:1px solid #d2dfef;
	padding:8px; 
	}
.side-col .box .content {
	background:#fff;
	padding:8px;
	font-size:.95em;
	line-height:1.3em; 
	}
.side-col .box h4, .side-col .narrow-by dt { 
	margin:0; 
	background:#d5e8ff; 
	}
.side-col .box h4 {
	padding:6px 10px; 
	font-weight:bold;
	font-size:.95em;
	}
.side-col .product-image {
	float:left;
	width:55px;
	}
.side-col li.last {
	margin:0;
	background:none;
	padding-bottom:0;
	margin-bottom:0;
	border-bottom:0;
	}
.side-col .box li .price-box { float:right; margin:0 0 5px 5px; }
.side-col .box .actions { margin:0; padding:10px 3px 0 3px; }
.side-col .box .actions .form-button { float:right; }
.side-col .box table td { padding:2px 3px; }

.side-col .box .product-details { float:left; width:50%; }
.side-col .shop-by .widget-list li, 
.mini-wishlist li, 
.mini-compare-products li {
	margin-bottom:5px;
	background:url(../images/side_col_box_li_bg.gif) repeat-x 0 100%;
	padding-bottom:5px;
}



/*********** [MESSAGES] ************/
.error-msg {
	border:2px solid #e23b1a;
	background:#fdf6f4;
	color:#e23b1a;
	}
.success-msg {
	border:2px solid #2e8830;
	background:#f7fff7;
	color:#2e8830;
	}
.note-msg {
	border:2px solid #fdc456;
	background:#fdf9f1;
	}
.error-msg, .success-msg, .note-msg {
	margin-bottom:1em;
	padding:10px;
	font-size:.95em;
	font-weight:bold;
	}
.error-msg li, .success-msg li, .note-msg li {margin-bottom:.2em; }



.image-link, .more-views li img { border:1px solid #ccc; }

.dotted-divider {
	margin:10px 0;
	height:1px;
	background:url(../images/dotted_divider.gif) repeat-x;
	font-size:1px;
	line-height:1em;
	overflow:hidden;
	}

/******************************************************/
/********************** GLOBAL ************************/
/******************************************************/

/*********** [STRUCTURAL] ************//* Sets strutural dimensions and positions */

.container { width:955px; margin:0 auto; text-align:left;}
.header {}
#main {}
.col-left { float:left; width:195px; }
.col-main { float:left; }
.col-1-layout .col-main { float:none; margin: 0 25px;}
.col-2-right-layout .col-main { float:left; width:730px; margin-top:10px; }
.col-2-left-layout .col-main { float:right; width:730px; margin-top:10px;  }
.col-3-layout .col-main { width:515px; margin-left:25px; }
.col-right { float:right; width:195px; }
.footer {}




/************ [BASE LAYOUT] **************/ /* Non positioning styles */

.container { margin:20px auto; }
.header {  z-index:999; position:relative; margin-bottom:20px; }




/************ [HEADER] **************/

/* Logo */
h1#logo {
	float:left;
	width:50%;
	margin:0 0 0 25px;
	}

/* Quick Access*/
.quick-access {
	float:right;
	width:380px;
	margin-top:10px;
	padding:8px 13px 10px 13px;
	background:#e9f3ff;
	}
.quick-access p { margin-bottom:.3em; }
.account-access { float:left; width:40%; }
.quick-access ul, .shop-access .cart-count { font-size:.95em; }
.quick-access li {
	display:inline;
	background:url(../images/quick_access_list_separator.gif) no-repeat 100% .35em;
	padding-right:7px;
	padding-left:3px;
	}
.quick-access li.first { padding-left:0; }
.quick-access li.last { padding-right:0; background:none;}
.shop-access { float:right; width:55%; }
.shop-access .cart-count strong { font-size:1.05em; }


/* Nav */
#nav { 
	border-width:1px 0;
	border-style:solid;
	border-color:#b6b3b3;
	background:url(../images/nav_bg.gif) repeat-x #4b4646;
	}

/* Nav - First Level */
#nav li {
	float:left;
	background:url(../images/nav_li_bg.gif) repeat-y 100% 0;
	padding-right:2px;
	position:relative;
	}
#nav a {
	display:block;
	background:url(../images/nav_link_bg.gif) no-repeat 100% 50%;
	padding:7px 26px 7px 11px;
	}
#nav a:hover, #nav li:hover a,#nav li.over a {
	background-image:url(../images/nav_link_over_bg.gif);
	background-color:#2976c9;
	}
#nav a, #nav a:hover {
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	}

/* Nav - RESET for Second+ level */
#nav ul li {
	float:none;
	background:none;
	padding:0;
	}
#nav ul a, #nav ul a:hover, #nav li:hover ul a, #nav li.over ul a {
	background:none;
	padding:0;
	font-weight:normal;
	}

/* Nav - Second+ level */
#nav ul {
	display:none;
	position:absolute;
	left:0;
	border-width:0 1px 1px 1px;
	border-style:solid;
	border-color:#7db0e3;
	background:#fff;
	width:15.5em;
	}
#nav li:hover ul, #nav li.over ul {
	display:block;
	}
#nav ul a, #nav ul a:hover {	
	color:#605A5A;
	}
#nav ul a {
	background:url(../images/dotted_divider.gif) repeat-x 0 100% !important;
	padding:4px 11px !important;
	}
#nav ul a:hover {
	background-color:#e9f3ff !important;
	}
#nav ul .last a { background:none !important;}


/* Header Sub */
.header-sub { background:url(../images/header_sub_bg.gif) no-repeat 100% 0; }
.header-sub .breadcrumbs { float:left;  margin:10px 17px 10px 12px; font-size:.95em; line-height:1.25em; }
.header-sub .breadcrumbs li { display:inline; }
.header-sub .mini-search {
	float:right;
	width:392px;
	margin:8px 0;
	}
.header-sub .mini-search .input-text {
	width:295px;
	margin-right:5px;
	font-size:.95em;
	padding:4px;
	}


/* Layered Navigation*/
.side-col .shop-by .actions {
	padding-top:0; 
	text-align:right; 
	}
.side-col .shop-by h4 { 
	margin-bottom:.5em;
	background:none; 
	padding:0;
	color:#e29000;
	font-size:1.1em;
	}

.side-col .narrow-by { margin:1em 0 3em 0; }
.side-col .narrow-by h4 { color:#2a60b4; }
.side-col .narrow-by dt, .narrow-by dd li { font-size:.95em; }
.side-col .narrow-by dt {
	padding:2px 5px;
	font-size:1em; 
	font-weight:bold; 
	text-transform:uppercase; 
	}
.side-col .narrow-by ol { margin:.5em 0 1.5em 0; }
.side-col .narrow-by dd li { 
	margin:2px 0;
	background:url(../images/narrow_by_li_bg.gif) no-repeat .5em 50%; 
	padding:0 1.4em; 
	font-size:1em;
	}


/* Popular Tags */
.popular-tags li { display:inline; line-height:1.75em; }
.popular-tags a, .popular-tags a:hover { color:#605a5a; }


/* Mini Cart */
.mini-cart .total-qty {float:left; width:50%;}
.mini-cart .total-price {float:right; width:50%;}
.mini-cart .subtotal {
	margin-top:7px; 
	border-top:1px solid #ccc; 
	padding-top:4px; 
	color:#5F8A58; 
	font-size:1.05em; 
	text-align:right;
	}

/* Widget Selection list */
.widget-list .label { color:#de6b38; font-weight:bold; }
.widget-list .action { float:right; margin:0 0 8px 8px; }


/* Pager*/
table.pager {
	width:100%;
	border-bottom:0;
	background:#e9f3ff;
	}
table.pager td { width:33%; padding:3px 8px; }
table.pager ol, table.pager li {	display:inline; }
table.pager li { padding:0 2px; }


/* View By */
table.view-by { width:100%; background:#f0f0f0; }
table.view-by td { width:50%; padding:3px 8px;  }

/* Ratings */
.ratings {
	margin:7px 0;
	}
.rating-box {
	float:left;
	position:relative;
	width:90px; 
	height:16px;
	margin:0 5px 3px 0;
	background:url(../images/product_rating_blank_star.gif) repeat-x; 
	}
.rating-box .rating {
	position:absolute;
	top:0;
	left:0;
	height:16px;
	background:url(../images/product_rating_full_star.gif) repeat-x; 
	}


/* Prices */
.price-box { margin:4px 0; }
.regular-price { font-size:1.05em; font-weight:bold; }
.old-price { color:#605a5a; text-decoration:line-through;}
.special-price {
	color:#5f8a58;
	font-weight:bold; 
	font-size:1.3em;
	}
.special-price .label {
	font-weight:normal;
	font-size:.9em;
	}




/****************** [TABLE TYPES] ********************/

/* Data Table */
.data-table { 
	border:1px solid #d9dde3;
	width:100%; }
.data-table th {
	padding:5px 8px;
	color:#fff;
	white-space:nowrap;
	}
.data-table th a, .data-table th a:hover { color:#fff;}
.data-table td { padding:3px 8px; }
.data-table thead tr { background:url(../images/head_bg.gif) repeat-x 0 100% #7db0e3; }
.data-table tfoot tr { background:#f0f0f0; }
.data-table tfoot td { border-top:1px solid #d9dde3; border-right:1px solid #d9dde3; }
.data-table tbody td { border-bottom:1px solid #d9dde3; border-right:1px solid #d9dde3; }
.data-table td.last { border-right:0; }
.data-table tr.last td { border-bottom:0; }

.box-table td { padding:10px; }


/* Generic Product Grid */
.generic-product-grid { width:100%; }
.generic-product-grid td {
	border-bottom:1px solid #d9dde3;
	border-right:1px solid #d9dde3;
	padding:12px 10px;
	text-align:center;
	line-height:1.6em;
	}
.generic-product-grid tr.last td { border-bottom:0; }
.generic-product-grid td.last { border-right:0; }
.generic-product-grid .rating-box { float:none; margin:3px auto; }




/*************** [PRODUCT LISTING BOXES]****************/

/* Listing page - type LIST */
.listing-type-list .listing-item {
	border-bottom:1px solid #D9DDE3;
	padding:25px 10px;
	}
.listing-type-list .last { border-bottom:0; }
.listing-type-list .product-image { float:left; width:135px; }
.listing-type-list .product-info { float:right; width:345px; }
.listing-type-list .product-info h5 { margin-bottom:.6em; font-size:1.2em; }
.listing-type-list .product-info .description { margin:.5em 0 1.2em 0; }
.listing-type-list .product-info .price-box { float:left; width:45%; text-align:left; }
.listing-type-list .product-info .actions { float:right; width:53%; }
.listing-type-list .product-info .actions li { margin:6px 0; background:url(../images/add_to_btn.gif) no-repeat 0 .15em; padding-left:20px; }
.listing-type-list .product-info .product-reviews { margin:15px 0; font-size:.95em; }
.listing-type-list .product-info .product-reviews a, 
.listing-type-list .product-info .product-reviews a:hover { color:#6e6969; }


/* Listing page - type CELLS */
.listing-type-grid td {
	width:33%;
	text-align:left;
	}
.listing-type-grid td.empty-product { background:#f5f6f6 }
.listing-type-grid .product-image {
	text-align:center;
	}
.listing-type-grid .add-to-compare {
	display:block;
	margin:5px 0;
	background:url(../images/icon_add_to_compare.gif) no-repeat 0 50%;
	padding-left:22px;
	color:#6e6969;
	font-weight:bold;
	}
.listing-type-grid .rating-box {
	float:left;
	margin-left:0;
	margin-right:5px;
	}
.listing-type-grid .actions { margin:10px 0;text-align:center; }




/*********** [FOOTER] ************/
.footer { margin-top:6em; text-align:center; }
.footer .informational { 
	border-width:1px 0;
	border-style:solid;
	border-color:#b5b3b3;
	background:url(../images/footer_informational_bg.gif) repeat-x #4b4646; 
	padding:8px 10px; 
	}
.footer .informational li { 
	display:inline; 
	background:url(../images/footer_info_separator.gif) no-repeat 100% 50%;
	padding-right:8px;
	padding-left:4px;
	}
.footer .informational a, .footer .informational a:hover { color:#fff; }
.footer .informational a { text-decoration:none; }
.footer .legality { 
	padding:13px 0; 
	background:url(../images/footer_legality_bg.gif) repeat-x;
	}



/*********** [PAGE SPECIFIC] ************/

/* Product Information */
.product-images { float:left; width:43%; }
.product-images h4 { border-bottom:1px solid #ccc; }
.product-images .product-image { border:1px solid #ccc; }
.product-images img { display:block; }
#track1 { position:relative; width:284px; height:27px; margin:0 auto 13px auto; background:url(../images/slider_bg.gif) no-repeat;}
.zoom-in { position:absolute; left:10px; top:7px; }
.zoom-out { position:absolute; right:10px; top:7px;}
#track2 { position:relative; left:28px; width:228px; height:27px;}
#handle1 { position:absolute; left:30px; top:5px; width:9px; height:19px;background:url(../images/magnifier_handle.gif) no-repeat ;  }

.product-shop { float:right; width:55%; }
.product-attributes, .product-pricing {
	margin:10px 0;
	border:1px solid #d9dde3;
	padding:8px 13px;
	background:#e9f3ff;
	}
.product-attributes td {padding:5px 0; }
.product-attributes td.label { padding-right:10px;}

.add-to-box table td { padding-right:5px; vertical-align:middle; }
.add-to-box label { font-size:1.2em; font-weight:bold; }

.product-images .more-views li {
	float:left;
	margin-right:7px;
	}
.product-images .more-views li.last { margin-right:0; }

.info-block { margin:20px 0; }
.info-block h3, .info-block .head { border-bottom:1px solid #ccc; }
.info-block .head h3 { width:80%; border:0; text-align:left; }
#customer-reviews li {
	margin:15px 0;
	}
.tags-list li {
	display:inline;
	background:url(../images/separator.gif) no-repeat 100% .4em;
	padding:0 8px 0 4px;
	}
.tags-list li.first { padding-left:0; }
.tags-list li.last { background:none; }








/* Shopping Cart */
.shopping-cart  { margin-bottom:0; } 
.shopping-cart th, .shopping-cart td {
	padding-left:13px;
	padding-right:13px;
	}
.shopping-cart-totals {
	width:308px;
	float:right;
	background:#e9f3ff;
	text-align:right;
	}
.shopping-cart-totals table { width:100%; margin-top:10px; }
.shopping-cart-totals td { padding:2px 15px; }
.shopping-cart-totals tr.last td { padding-bottom:12px; }
.shopping-cart-totals tfoot td {
	padding-top:10px;
	border-top:1px solid #e0dfdf;
	font-size:1.4em;
	}
.shopping-cart-totals .checkout-types { margin:15px; }
.shopping-cart-totals .checkout-types li { margin:10px 0; }
.shopping-cart-collaterals {
	float:left;
	width:560px;
	padding:25px 15px 15px 15px;
	}


/* Customer Account */
.account-nav ul { font-size:1.05em; }
.account-nav li { border-bottom:1px solid #d9dde3; padding:6px 7px; }
.account-nav li.on { background:#fff; border-bottom:1px solid #d9dde3; font-weight:bold; }
.account-nav a, .account-nav a:hover { display:block; text-decoration:none; }

.account-main { width:675px !important; }
.account-side { width:220px !important; padding:10px 15px; border-left:1px solid #d9dde3; background:#f6faff; }
.account-box { margin-bottom:20px; }
.account-box .head { margin-bottom:10px; border-bottom:1px solid #d9dde3; }
.account-box .bar-head { background:url(../images/head_bg.gif) repeat-x 0 100% #7db0e3; padding:3px 10px; color:#fff; }
.account-box .bar-head a, .account-box .bar-head a:hover { color:#fff; }
.account-box h4 { font-size:1.1em; }
.account-box h5 { color:#fff; font-size:1.1em; }
.account-main .account-box ol li { padding:8px; }
.account-box ol .count { 
	float:left; 
	width:13px;
	height:12px;
	margin-top:3px; 
	background:url(../images/ol_count_bg.gif) no-repeat; 
	padding:1px 0 2px 3px; 
	font-size:9px; 
	font-weight:bold; 
	color:#fff; 
	line-height:1em; 
	}
.account-box ol .content { margin-left:23px; padding:0; }
.account-box ol.recent-reviews small { 
	float:left; 
	margin-right:3px; 
	font-weight:bold; 
	}
.account-box .product-images { width:65px; }
.account-box .product-images img { border:1px solid #ccc;}
.account-box .product-details { margin:0 0 10px 70px; }
.account-box .content { padding:0; }
.account-side .actions { border-top:1px solid #ccc; padding-top:4px; }
.account-side .actions .form-button { float:right; }


.primary-address-list li { 
	margin-bottom:10px;
	background:#e9f3ff; 
	border:1px solid #d9dde3;
	padding:10px 13px 8px 13px;
	}
.primary-address-list li .head { margin:0; }
.address-list li {
	padding:10px 13px 8px 13px;
	}
.address-list li.even {
	background:#f5f5f5;
	}
.address-list .actions {
	float:right;
	margin:0 0 10px 10px;
	}


.login-box td { border-bottom:1px solid #d9dde3;  background:#e9f3ff; }
.login-box .head { 
	position:relative;
	margin:0;
	padding:5px 8px 5px 13px; 
	background:url(../images/side_col_box_head_bg.gif) no-repeat #7db0e3;
	}
.login-box h3 { color:#fff;}
.login-box td.spacer { width:3%; border:none; background:none; }
.login-box .form-buttons { border:none; background:url(../images/dotted_divider.gif) repeat-x; }

/************** CLEARS ***************/
.account-box li:after,
.product-box:after,
.address-list li:after,
.page-head:after,
.page-head-alt:after,
.group-select li:after,
.head:after,
.clear:after, 
.col2-set:after,
.col3-set:after,
.col4-set:after,
.account-access:after,
#nav:after,
.header-sub:after,
#main:after,
.pager:after,
.view-by:after,
.widget-selection-list li:after, 
.listing-type-list .listing-item:after,
.listing-type-list .product-info .product-reviews:after,
.box:after,
.box .content:after,
.box li:after,
.box .actions:after,
.mini-cart .sales-value:after,
.ratings:after {
	content:".";
	display:block;
	clear:both;
	height:0;
	font-size:0;
	line-height:0;
	visibility:hidden;
	}



.v-top { vertical-align:top; }
.v-middle { vertical-align:middle; }
.v-bottom { vertical-align:bottom; }

.a-left { text-align:left; }
.a-center { text-align:center; }
.a-right { text-align:right; }

.left { float:left; }
.right { float:right; }