
.clear,
.col2-set,
.col2-alt-set
.col3-set,
.col4-set,
.head,
.tabs,
.header-top,
.quick-access,
.header-nav,
.header-sub,
#nav,
#nav ul a,
#main,
.product-essential,
.form-buttons,
.actions,
.form-list li,
.group-select li,
.checkout-progress,
.my-review-detail,
.account-box li,
.listing-type-list .listing-item,
.listing-type-list .product-info .product-reviews { zoom:1; }

.clear {
	display:block;
	clear:both;
	height:0;
	font-size:0;
	line-height:0;
	}