.page-head,
.page-head-alt,
.col2-set,
.col3-set,
.col4-set,
.head,
.tabs,
.header-top,
.quick-access,
.header-nav,
.header-sub,
#nav,
#nav li,
#nav a,
#main,
.product-essential,
.form-buttons,
.actions,
.form-list li,
.button-container,
.ratings,
.page-head,
.page-head-alt,
.group-select li,
.search-autocomplete li,
.side-col li,
.account-box li,
.address-list li,
.listing-type-list .listing-item,
.listing-type-list .product-info .product-reviews,
.account-nav a,
.account-box,
my-review-detail { zoom:1; }

.clear {
	display:block;
	clear:both;
	height:0;
	font-size:0;
	line-height:0;
	}
.quick-access li { padding-right:4px; padding-left:6px;}
.search-autocomplete { left:39px !important; }
.mini-search  { padding-top:-1px; line-height:1em;}