
.page-head,
.page-head-alt,
.col2-set,
.col3-set,
.col4-set,
.head,
.tabs,
.header-top,
.quick-access,
.header-nav,
.header-sub,
#nav,
#main,
.product-essential,
.form-buttons,
.actions,
.form-list li,
.button-container,
.ratings,
.page-head,
.page-head-alt,
.group-select li,
.search-autocomplete li,
.side-col li,
.account-box li,
.address-list li { zoom:1; }

.clear {
	display:block;
	clear:both;
	height:0;
	font-size:0;
	line-height:0;
	}