/******************************************/
/***************** BASE *******************/
/******************************************/

* { margin:0; padding:0; }

body {
	background:#fff;
	color:#605a5a;
	font:12px/1.55em arial, helvetica, sans-serif;
	}

a { color:#2976c9; text-decoration:underline; }
a:hover { color:#2976c9; text-decoration:underline; }
a img { border:0;}

/* Heading */
h1, h2, h3, h4, h5, h6, .head {
	margin-bottom:.5em;
	line-height:1.35em;
	color:#2f2f2f;
	}
h2 { font-size:1.5em; }
h3 { font-size:1.25em; }
h3.alt { margin-top:1.2em; border-bottom:1px solid #ccc; }
h4 { font-size:1em; }
h5 { font-size:1em; }
h6 { font-size:1em; }
h1 a, h1 a:hover, h2 a, h2 a:hover, h3 a, h3 a:hover,h4 a, h4 a:hover { font-weight:normal; }

/* Table */
th { padding:0; text-align:left; vertical-align:top; }
td {padding:0;vertical-align:top;}

/* Paragraph */
p { margin-bottom:.8em; }
address { margin-bottom:.4em; }
address { font-style:normal; line-height:1.4em;}
cite { font-style:normal; font-size:10px;}
q:before, q:after{content:'';}

/* Form */
form { display:inline;}
fieldset { border:none; }
legend {display:none;}
label { color:#505050; font-size:.95em; font-weight:bold; }
input, select, button { vertical-align:middle; }

/* Lists */
dt { display:block; }
li { list-style:none; }

/* Size */
small { font-size:.95em; }
big { font-size:1.1em; }

hr { height:0; margin:8px 0; overflow:hidden; visibility:hidden; }
.nowrap { white-space:nowrap; }
:focus { outline: 0; }
.bold { font-weight:bold; }
