<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Mage
 * @package     Mage_SalesRule
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <acl>
        <resources>
            <resource id="Mage_Adminhtml::admin">
                <resource id="Mage_Adminhtml::marketing">
                    <resource id="Mage_CatalogRule::promo">
                        <resource id="Mage_SalesRule::quote" module="Mage_SalesRule" sortOrder="30" title="Cart Price Rules" />
                    </resource>
                </resource>
            </resource>

            <resource id="Old_Mage_Adminhtml::admin">
                <resource id="Old_Mage_CatalogRule::promo">
                    <resource id="Old_Mage_SalesRule::quote" module="Mage_SalesRule" title="Shopping Cart Price Rules" />
                </resource>
                <resource id="Old_Mage_Adminhtml::system">
                    <resource id="Old_Mage_Adminhtml::config">
                        <resource id="Old_Mage_SalesRule::config_promo" module="Mage_SalesRule" title="Promotion" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
