<?xml version="1.0"?>
<!--
/**
* {license_notice}
*
* @category    Mage
* @package     Mage_Cms
* @copyright   {copyright}
* @license     {license_link}
*/
-->
<config>
    <acl>
        <resources>
            <resource id="Mage_Adminhtml::admin">
                <resource id="Mage_Cms::cms" title="CMS" sortOrder="70">
                    <resource id="Mage_Cms::block" title="Static Blocks" sortOrder="10" />
                    <resource id="Mage_Cms::page" title="Pages" sortOrder="0">
                        <resource id="Mage_Cms::save" title="Save Page" sortOrder="0" />
                        <resource id="Mage_Cms::delete" title="Delete Page" sortOrder="10" />
                    </resource>
                    <resource id="Mage_Cms::media_gallery" title="Media Gallery" sortOrder="20" />
                </resource>
                <resource id="Mage_Adminhtml::system">
                    <resource id="Mage_Adminhtml::config">
                        <resource id="Mage_Cms::cms" title="Content Management" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
