<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <!-- TODO: this prefence should be check -->
    <preference for="Magento_Wishlist_Helper_Data" type="Magento_MultipleWishlist_Helper_Data"/>
    <type name="Magento_MultipleWishlist_Model_Item_Collection">
        <param name="resource">
            <instance type="Magento_MultipleWishlist_Model_Resource_Item" />
        </param>
    </type>
    <type name="Magento_MultipleWishlist_Controller_Index">
        <param name="wishlistSession">
            <instance type="Magento_Wishlist_Model_Session" />
        </param>
    </type>
</config>
