<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento
 * @subpackage  unit_tests
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<phpunit bootstrap="./framework/bootstrap.php" colors="true">
    <testsuite name="Magento PaaS/Appstore Unit Tests">
        <directory suffix="Test.php">tests</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">../../../app/code</directory>
            <exclude>
                <directory suffix=".php">../../../app/code/*/*/*/sql</directory>
                <directory suffix=".php">../../../app/code/*/*/*/data</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
