<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_DesignEditor
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <designeditor_setup>
                <setup>
                    <module>Magento_DesignEditor</module>
                    <class>Magento\Core\Model\Resource\Setup</class>
                </setup>
            </designeditor_setup>
        </resources>
    </global>
    <default>
        <theme>
            <customization>
                <quick_style_css>\Magento\DesignEditor\Model\Theme\Customization\File\QuickStyleCss</quick_style_css>
            </customization>
        </theme>
    </default>
    <vde>
        <design_editor>
            <frontName>vde</frontName>
            <disabledCacheTypes>
                <block_html />
                <config />
            </disabledCacheTypes>
        </design_editor>
    </vde>
</config>
