<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\DesignEditor\Controller\Varien\Router\Standard">
        <param name="routerId">
            <value>vde</value>
        </param>
    </type>
    <type name="Magento\Theme\Model\CopyService">
        <plugin name="design_editor_theme_copy_service_plugin" type="Magento\DesignEditor\Model\Plugin\ThemeCopyService"/>
    </type>
    <type name="Magento\DesignEditor\Helper\Data">
        <param name="frontName">
            <value>vde</value>
        </param>
        <param name="disabledCacheTypes">
            <array>
                <item key="block_html"><value>block_html</value></item>
                <item key="configType"><value>config</value></item>
            </array>
        </param>
    </type>
</config>
