<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Saas
 * @package     Saas_Pbridge
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <modules>
        <Saas_Pbridge>
            <version>1.8.0.0.0</version>
            <active>false</active>
            <depends>
                <Enterprise_Pbridge/>
                <Saas_Paypal/>
            </depends>
        </Saas_Pbridge>
    </modules>
    <global>
        <payment>
            <cc>
                <types>
                    <DICL translate="name">
                        <code>DICL</code>
                        <name>Diners Club</name>
                        <order>102</order>
                    </DICL>
                    <CBCB translate="name">
                        <code>CBCB</code>
                        <name>Carte Bancaire CB</name>
                        <order>103</order>
                    </CBCB>
                    <MSE translate="name">
                        <code>MSE</code>
                        <name>Maestro</name>
                        <order>104</order>
                    </MSE>
                    <ECB translate="name">
                        <code>ECB</code>
                        <name>e-Carte Bleue</name>
                        <order>105</order>
                    </ECB>
                    <AURORE translate="name">
                        <code>AURORE</code>
                        <name>Aurore</name>
                        <order>106</order>
                    </AURORE>
                </types>
            </cc>
        </payment>
    </global>
    <frontend>
        <translate>
            <modules>
                <Saas_Pbridge>
                    <files>
                        <default>Saas_Pbridge.csv</default>
                    </files>
                </Saas_Pbridge>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Saas_Pbridge>
                    <files>
                        <default>Saas_Pbridge.csv</default>
                    </files>
                </Saas_Pbridge>
            </modules>
        </translate>
        <events>
            <admin_system_config_changed_section_payment>
                <observers>
                    <saas_pbridge>
                        <class>Saas_Pbridge_Model_Pbridge_Merchant</class>
                        <method>updatePbridgePaymentConfiguration</method>
                    </saas_pbridge>
                </observers>
            </admin_system_config_changed_section_payment>
            <admin_system_config_changed_section_payment_services>
                <observers>
                    <saas_pbridge>
                        <class>Saas_Pbridge_Model_Pbridge_Merchant</class>
                        <method>updatePbridgePaymentServicesConfiguration</method>
                    </saas_pbridge>
                </observers>
            </admin_system_config_changed_section_payment_services>
            <paypal_onboarding_activation_success>
                <observers>
                    <enterprise_pbridge>
                        <class>Saas_Pbridge_Model_Pbridge_Merchant</class>
                        <method>updatePbridgePaypalBoardingConfiguration</method>
                    </enterprise_pbridge>
                </observers>
            </paypal_onboarding_activation_success>
        </events>
    </adminhtml>
    <default>
        <payment>
            <pbridge>
                <active>1</active>
            </pbridge>
            <authorizenet>
                <using_pbridge>1</using_pbridge>
            </authorizenet>
            <paypal_direct>
                <title>Website Payment Pro (API Credential)</title>
                <using_pbridge>1</using_pbridge>
            </paypal_direct>
            <paypaluk_direct>
                <title>Website Payments Pro Payflow Edition</title>
                <using_pbridge>1</using_pbridge>
            </paypaluk_direct>
            <verisign>
                <using_pbridge>1</using_pbridge>
            </verisign>
            <pbridge_paypal_direct_boarding>
                <model>Saas_Pbridge_Model_Payment_Method_Paypal_Boarding</model>
                <active>1</active>
                <group>paypal</group>
            </pbridge_paypal_direct_boarding>
            <pbridge_paypal_direct>
                <group>paypal</group>
            </pbridge_paypal_direct>
            <pbridge_paypaluk_direct>
                <group>paypal</group>
            </pbridge_paypaluk_direct>
            <pbridge_verisign>
                <group>paypal</group>
            </pbridge_verisign>
            <paypal_direct_boarding>
                <using_pbridge>1</using_pbridge>
            </paypal_direct_boarding>
        </payment>
        <payment_services>
            <pbridge_styling>
                <use_theme>1</use_theme>
            </pbridge_styling>
        </payment_services>
    </default>
</config>
