<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Saas
 * @package     Saas_Pbridge
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <sections>
        <payment>
            <groups>
                <authorizenet translate="comment">
                    <comment><![CDATA[<a href="http://golinks.magento.com/authorize_netRegistration" target="_blank">Sign up for Authorize.net</a>]]></comment>
                    <fields>
                        <payment_profiles_enabled translate="label comment" module="saas_pbridge">
                            <label>Enable CIM</label>
                            <comment>3D Secure Check will be unavailable if CIM enabled.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </payment_profiles_enabled>
                        <title>
                            <sort_order>3</sort_order>
                        </title>
                        <payment_action>
                            <show_in_website>0</show_in_website>
                            <sort_order>4</sort_order>
                        </payment_action>
                        <login>
                            <show_in_website>0</show_in_website>
                            <sort_order>5</sort_order>
                        </login>
                        <trans_key>
                            <show_in_website>0</show_in_website>
                            <sort_order>6</sort_order>
                        </trans_key>
                        <currency>
                            <show_in_website>0</show_in_website>
                            <sort_order>7</sort_order>
                        </currency>
                        <email_customer>
                            <show_in_website>0</show_in_website>
                            <sort_order>8</sort_order>
                        </email_customer>
                        <merchant_email>
                            <show_in_website>0</show_in_website>
                            <sort_order>9</sort_order>
                        </merchant_email>
                        <cctypes>
                            <show_in_website>0</show_in_website>
                            <sort_order>10</sort_order>
                        </cctypes>
                        <useccv>
                            <show_in_website>0</show_in_website>
                            <sort_order>11</sort_order>
                        </useccv>
                        <allowspecific>
                            <show_in_website>0</show_in_website>
                            <sort_order>12</sort_order>
                        </allowspecific>
                        <specificcountry>
                            <show_in_website>0</show_in_website>
                            <sort_order>13</sort_order>
                        </specificcountry>
                        <min_order_total>
                            <sort_order>150</sort_order>
                        </min_order_total>
                        <max_order_total>
                            <sort_order>151</sort_order>
                        </max_order_total>
                        <centinel translate="label">
                            <label>Enable 3D Secure Card Validation on Frontend</label>
                            <show_in_website>0</show_in_website>
                        </centinel>
                        <centinel_backend translate="label">
                            <label>Enable 3D Secure Card Validation in Admin</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>126</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <depends><centinel>1</centinel></depends>
                        </centinel_backend>
                        <test>
                            <show_in_website>0</show_in_website>
                            <sort_order>200</sort_order>
                        </test>
                        <sort_order>
                            <sort_order>201</sort_order>
                        </sort_order>
                        <heading_3dsecure>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                        </heading_3dsecure>
                        <order_status>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                        </order_status>
                        <debug>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                        </debug>
                        <cgi_url>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                        </cgi_url>
                        <allow_partial_authorization>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                        </allow_partial_authorization>
                    </fields>
                </authorizenet>
                <paypal_payments>
                    <wpp>
                        <fields>
                            <wpp_settings>
                                <fields>
                                    <wpp_settings_advanced>
                                        <fields>
                                            <centinel translate="label">
                                                <label>Enable 3D Secure Card Validation on Frontend</label>
                                            </centinel>
                                            <centinel_backend translate="label">
                                                <label>Enable 3D Secure Card Validation in Admin</label>
                                                <frontend_type>select</frontend_type>
                                                <config_path>payment/paypal_direct/centinel_backend</config_path>
                                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                                <sort_order>61</sort_order>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>0</show_in_website>
                                                <depends><centinel>1</centinel></depends>
                                            </centinel_backend>
                                            <direct_boarding_centinel translate="label">
                                                <label>Enable 3D Secure Card Validation on Frontend</label>
                                                <show_in_website>0</show_in_website>
                                            </direct_boarding_centinel>
                                            <direct_boarding_centinel_backend translate="label">
                                                <label>Enable 3D Secure Card Validation in Admin</label>
                                                <frontend_type>select</frontend_type>
                                                <config_path>payment/paypal_direct_boarding/centinel_backend</config_path>
                                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                                <sort_order>61</sort_order>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>0</show_in_website>
                                                <depends><direct_boarding_centinel>1</direct_boarding_centinel></depends>
                                            </direct_boarding_centinel_backend>
                                        </fields>
                                    </wpp_settings_advanced>
                                </fields>
                            </wpp_settings>
                            <wpp_required_settings>
                                <fields>
                                    <wpp_and_express_checkout>
                                        <fields>
                                            <using_pbridge>
                                                <show_in_default>0</show_in_default>
                                                <show_in_website>0</show_in_website>
                                                <show_in_store>0</show_in_store>
                                            </using_pbridge>
                                        </fields>
                                    </wpp_and_express_checkout>
                                </fields>
                            </wpp_required_settings>
                        </fields>
                    </wpp>
                    <payments_pro_payflow_edition>
                        <fields>
                            <pp_pe_required_settings>
                                <fields>
                                    <pp_pe_api_settings>
                                        <fields>
                                            <using_pbridge>
                                                <show_in_default>0</show_in_default>
                                                <show_in_website>0</show_in_website>
                                            </using_pbridge>
                                        </fields>
                                    </pp_pe_api_settings>
                                </fields>
                            </pp_pe_required_settings>
                            <settings_pp_pe>
                                <fields>
                                    <settings_pp_pe_advanced>
                                        <fields>
                                            <centinel translate="label">
                                                <label>Enable 3D Secure Card Validation on Frontend</label>
                                                <show_in_website>0</show_in_website>
                                            </centinel>
                                            <centinel_backend translate="label">
                                                <label>Enable 3D Secure Card Validation in Admin</label>
                                                <frontend_type>select</frontend_type>
                                                <config_path>payment/paypaluk_direct/centinel_backend</config_path>
                                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                                <sort_order>61</sort_order>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>0</show_in_website>
                                                <depends><centinel>1</centinel></depends>
                                            </centinel_backend>
                                        </fields>
                                    </settings_pp_pe_advanced>
                                </fields>
                            </settings_pp_pe>
                        </fields>
                    </payments_pro_payflow_edition>
                    <paypal_verisign>
                        <fields>
                            <settings_paypal_payflow>
                                <fields>
                                    <settings_paypal_payflow_advanced>
                                        <fields>
                                            <centinel translate="label">
                                                <label>Enable 3D Secure Card Validation on Frontend</label>
                                                <show_in_website>0</show_in_website>
                                            </centinel>
                                            <centinel_backend translate="label">
                                                <label>Enable 3D Secure Card Validation in Admin</label>
                                                <frontend_type>select</frontend_type>
                                                <config_path>payment/verisign/centinel_backend</config_path>
                                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                                <sort_order>61</sort_order>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>0</show_in_website>
                                                <depends><centinel>1</centinel></depends>
                                            </centinel_backend>
                                        </fields>
                                    </settings_paypal_payflow_advanced>
                                </fields>
                            </settings_paypal_payflow>
                            <paypal_payflow_required>
                                <fields>
                                    <paypal_payflow_api_settings>
                                        <fields>
                                            <using_pbridge>
                                                <show_in_default>0</show_in_default>
                                                <show_in_website>0</show_in_website>
                                                <show_in_store>0</show_in_store>
                                            </using_pbridge>
                                        </fields>
                                    </paypal_payflow_api_settings>
                                </fields>
                            </paypal_payflow_required>
                        </fields>
                    </paypal_verisign>
                </paypal_payments>
            </groups>
        </payment>
        <payment_services>
            <groups>
                <centinel>
                    <fields>
                        <processor_id>
                            <show_in_website>0</show_in_website>
                        </processor_id>
                        <merchant_id>
                            <show_in_website>0</show_in_website>
                        </merchant_id>
                        <password>
                            <show_in_website>0</show_in_website>
                        </password>
                        <test_mode>
                            <show_in_website>0</show_in_website>
                        </test_mode>
                        <debug>
                            <show_in_website>0</show_in_website>
                        </debug>
                    </fields>
                </centinel>
                <pbridge_styling translate="label">
                    <label>Payment Bridge Styling</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <css translate="label">
                            <label>Inline CSS styles</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </css>
                        <use_theme translate="label">
                            <label>Use Current Design</label>
                            <!-- <comment>If "No" default PBridge CSS will be used</comment> -->
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </use_theme>
                    </fields>
                </pbridge_styling>
            </groups>
        </payment_services>
    </sections>
</config>
