<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\Theme\Model\Config">
        <param name="configCache">
            <instance type="Magento\App\Cache\Type\Config" />
        </param>
        <param name="layoutCache">
            <instance type="Magento\App\Cache\Type\Layout" />
        </param>
    </type>
    <type name="Magento\Theme\Model\Uploader\Service">
        <param name="uploadLimits">
            <value>
                <css>2M</css>
                <js>2M</js>
            </value>
        </param>
    </type>
    <type name="Magento\Theme\Model\Layout\Config\Reader">
        <param name="fileName">
            <value>page_layouts.xml</value>
        </param>
        <param name="converter">
            <instance type="Magento\Theme\Model\Layout\Config\Converter" />
        </param>
        <param name="schemaLocator">
            <instance type="Magento\Theme\Model\Layout\Config\SchemaLocator" />
        </param>
    </type>
    <virtualType name="Magento\Theme\Model\Layout\Config\Data" type="Magento\Config\Data">
        <param name='reader'>
            <instance type="Magento\Theme\Model\Layout\Config\Reader" />
        </param>
        <param name="cacheId">
            <value>page_layouts_config</value>
        </param>
    </virtualType>
    <type name="Magento\Theme\Model\Layout\Config">
        <param name="dataStorage">
            <instance type="Magento\Theme\Model\Layout\Config\Data" />
        </param>
    </type>
    <type name="Magento\Theme\Model\Wysiwyg\Storage">
        <param name="helper">
            <instance type="Magento\Theme\Helper\Storage\Proxy" />
        </param>
    </type>
</config>
