<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <preference for="Magento\Core\Model\Resource\Setup\Migration" type="Magento\Enterprise\Model\Resource\Setup\Migration" />
    <type name="Magento\Core\Model\View\Design">
        <arguments>
            <argument name="themes" xsi:type="array">
                <item name="frontend" xsi:type="string">magento_plushe</item>
                <item name="adminhtml" xsi:type="string">magento_backend</item>
                <item name="install" xsi:type="string">magento_enterprise</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Install\Block\Begin">
        <arguments>
            <argument name="eulaFile" xsi:type="string">LICENSE_EE.html</argument>
        </arguments>
    </type>
    <type name="Magento\Module\Updater\SetupFactory">
        <arguments>
            <argument name="resourceTypes" xsi:type="array">
                <item name="enterprise_setup" xsi:type="string">Magento\Enterprise\Model\Resource\Setup</item>
            </argument>
        </arguments>
    </type>
</config>
