<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <preference for="Magento\Core\Model\Resource\Setup\Migration" type="Magento\Enterprise\Model\Resource\Setup\Migration" />
    <type name="Magento\Core\Model\View\Design">
        <param name="themes">
            <array>
                <item key="frontend"><value>magento_plushe</value></item>
                <item key="adminhtml"><value>magento_backend</value></item>
                <item key="install"><value>magento_enterprise</value></item>
            </array>
        </param>
    </type>
    <type name="Magento\Install\Block\Begin">
        <param name="eulaFile">
            <value>LICENSE_EE.html</value>
        </param>
    </type>
    <type name="Magento\Module\Updater\SetupFactory">
        <param name="resourceTypes">
            <array>
                <item key="enterprise_setup"><value>Magento\Enterprise\Model\Resource\Setup</value></item>
            </array>
        </param>
    </type>
</config>
