<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_Rss
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <adminhtml>
        <translate>
            <modules>
                <Magento_Rss>
                    <files>
                        <default>Magento_Rss.csv</default>
                    </files>
                </Magento_Rss>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Magento_Rss>
                    <files>
                        <default>Magento_Rss.csv</default>
                    </files>
                </Magento_Rss>
            </modules>
        </translate>
    </frontend>
</config>
