<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_Cardgate
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <payment>
            <cc>
                <types>
                    <DICL translate="name">
                        <code>DICL</code>
                        <name>Diners Club</name>
                        <order>60</order>
                    </DICL>
                    <VPAY translate="name">
                        <code>VPAY</code>
                        <name>V-Pay</name>
                        <order>70</order>
                    </VPAY>
                </types>
            </cc>
            <groups>
                <cardgate>Card Gate Plus</cardgate>
            </groups>
        </payment>
    </global>
    <frontend>
        <routers>
            <cardgate>
                <use>standard</use>
                <args>
                    <module>Magento_Cardgate</module>
                    <frontName>cardgate</frontName>
                </args>
            </cardgate>
        </routers>
    </frontend>
    <default>
        <payment>
            <cardgate>
                <lang>nl</lang>
                <initialized_status>pending</initialized_status>
                <complete_status>processing</complete_status>
                <failed_status>canceled</failed_status>
                <fraud_status>canceled</fraud_status>
                <autocreate_invoice>1</autocreate_invoice>
                <mail_invoice>1</mail_invoice>
                <order_description>Order %id%</order_description>
                <test_mode>1</test_mode>
                <debug>0</debug>
                <disabled>1</disabled>
                <model>Magento_Cardgate_Model_Gateway_Dummy</model>
            </cardgate>
            <cardgate_creditcard>
                <active>0</active>
                <model>Magento_Cardgate_Model_Gateway_Creditcard</model>
                <cctypes>VI,MC,AE</cctypes>
                <title>Credit Card</title>
                <group>cardgate</group>
            </cardgate_creditcard>
            <cardgate_sofortbanking>
                <active>0</active>
                <model>Magento_Cardgate_Model_Gateway_Sofortbanking</model>
                <title>SofortBanking</title>
                <group>cardgate</group>
            </cardgate_sofortbanking>
            <cardgate_ideal>
                <active>0</active>
                <model>Magento_Cardgate_Model_Gateway_Ideal</model>
                <title>iDEAL</title>
                <group>cardgate</group>
            </cardgate_ideal>
            <cardgate_mistercash>
                <active>0</active>
                <model>Magento_Cardgate_Model_Gateway_Mistercash</model>
                <title>MisterCash</title>
                <group>cardgate</group>
            </cardgate_mistercash>
        </payment>
    </default>
</config>
