<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Enterprise_GiftCardAccount_Model_History">
        <param name="adminSession">
            <instance type="Magento_Backend_Model_Auth_Session_Proxy" />
        </param>
    </type>
</config>
