<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\Authorizenet\Model\Directpost\Observer">
        <param name="authorizenetData">
            <instance type="Magento\Authorizenet\Helper\Data_Proxy" />
        </param>
        <param name="coreData">
            <instance type="Magento\Core\Helper\Data_Proxy" />
        </param>
    </type>
</config>
