<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <event name="sales_order_load_after">
        <observer name="magento_salesarchive" instance="Magento_SalesArchive_Model_Observer" method="salesObjectAfterLoad" />
    </event>
    <event name="sales_order_invoice_load_after">
        <observer name="magento_salesarchive" instance="Magento_SalesArchive_Model_Observer" method="salesObjectAfterLoad" />
    </event>
    <event name="sales_order_shipment_load_after">
        <observer name="magento_salesarchive" instance="Magento_SalesArchive_Model_Observer" method="salesObjectAfterLoad" />
    </event>
    <event name="sales_order_creditmemo_load_after">
        <observer name="magento_salesarchive" instance="Magento_SalesArchive_Model_Observer" method="salesObjectAfterLoad" />
    </event>
    <event name="sales_order_grid_collection_load_before">
        <observer name="magento_salesarchive" instance="Magento_SalesArchive_Model_Observer" method="appendGridCollection" />
    </event>
</config>