<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_Oauth
 * @copyright  {copyright}
 * @license    {license_link}
 */
-->
<config>
    <global>
    </global>
    <default>
        <oauth>
            <cleanup>
                <cleanup_probability>100</cleanup_probability>
                <expiration_period>120</expiration_period>
            </cleanup>
            <consumer>
                <expiration_period>300</expiration_period>
            </consumer>
        </oauth>
    </default>
</config>
