<?xml version="1.0"?>
<!--
/**
* {license_notice}
*
* @category    Mage
* @package     Mage_Api2
* @copyright   {copyright}
* @license     {license_link}
*/
-->
<config>
    <acl>
        <resources>
            <resource id="Mage_Adminhtml::admin">
                <resource id="Mage_Adminhtml::system">
                    <resource id="Mage_Api::api">
                        <resource id="Mage_Api2::rest_roles" title="REST - Roles" module="Mage_Api2" sortOrder="30">
                            <resource id="Mage_Api2::rest_roles_add" title="Add" module="Mage_Api2" sortOrder="10" />
                            <resource id="Mage_Api2::rest_roles_edit" title="Edit" module="Mage_Api2" sortOrder="20" />
                            <resource id="Mage_Api2::delete" title="Delete" module="Mage_Api2" sortOrder="30" />
                        </resource>
                        <resource id="Mage_Api2::rest_attributes" title="REST - Attributes" module="Mage_Api2" sortOrder="40">
                            <resource id="Mage_Api2::rest_attributes_edit" title="Edit" module="Mage_Api2" sortOrder="10" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
