<?xml version="1.0"?>
<config>
   <modules>
      <Mage_Paygate>
         <version>0.1.0</version>
         <depends>
            <Mage_Sales />
         </depends>
      </Mage_Paygate>
   </modules>
   <global>
      <models>
         <paygate>
            <class>Mage_Paygate_Model</class>
            <resourceModel>paygate_mysql4</resourceModel>
         </paygate>
         <paygate_mysql4>
            <class>Mage_Paygate_Model_Mysql4</class>
            <entities> </entities>
         </paygate_mysql4>
      </models>
      <resources>
         <paygate_setup>
            <setup>
               <module>Mage_Paygate</module>
            </setup>
            <connection>
               <use>core_setup</use>
            </connection>
         </paygate_setup>
         <paygate_write>
            <connection>
               <use>core_write</use>
            </connection>
         </paygate_write>
         <paygate_read>
            <connection>
               <use>core_read</use>
            </connection>
         </paygate_read>
      </resources>
      <sales>
         <payment>
            <methods>
               <authorizenet>
                  <class>Mage_Paygate_Model_Authorizenet</class>
                  <orderStatus>pending</orderStatus>
                  <test>True</test>
                  <login>irub782</login>
                  <transKey>3Ryyz3x99mZ68Z94</transKey>
                  <cgi>
                     <protocol>https</protocol>
                     <host>secure.authorize.net</host>
                     <port>443</port>
                     <url>/gateway/transact.dll</url>
                  </cgi>
               </authorizenet>
               <paypal>
                  <class>Mage_Paygate_Model_Paypal</class>
                  <orderStatus>pending</orderStatus>
               </paypal>
               <verisign>
                  <class>Mage_Paygate_Model_Verisign</class>
                  <orderStatus>pending</orderStatus>
               </verisign>
            </methods>
         </payment>

      </sales>
   </global>
</config>
