<?xml version="1.0"?>
<config>
   <modules>
      <Mage_Paygate>
         <version>0.1.0</version>
         <depends>
            <Mage_Sales />
         </depends>
      </Mage_Paygate>
   </modules>
   <global>
      <models>
         <paygate>
            <class>Mage_Paygate_Model</class>
            <resourceModel>paygate_mysql4</resourceModel>
         </paygate>
         <paygate_mysql4>
            <class>Mage_Paygate_Model_Mysql4</class>
            <entities> 
            	<authorizenet_debug><table>paygate_authorizenet_debug</table></authorizenet_debug>
            </entities>
         </paygate_mysql4>
      </models>
      <resources>
         <paygate_setup>
            <setup>
               <module>Mage_Paygate</module>
            </setup>
            <connection>
               <use>core_setup</use>
            </connection>
         </paygate_setup>
         <paygate_write>
            <connection>
               <use>core_write</use>
            </connection>
         </paygate_write>
         <paygate_read>
            <connection>
               <use>core_read</use>
            </connection>
         </paygate_read>
      </resources>
   </global>
</config>
