<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Mage
 * @package     Mage_Newsletter
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <menu>
        <add id="newsletter" title="Newsletter" module="Mage_Newsletter" sortOrder="60" parent="root" />
        <add id="newsletter_template" title="Newsletter Templates" module="Mage_Newsletter" sortOrder="" parent="newsletter" action="adminhtml/newsletter_template/" />
        <add id="newsletter_queue" title="Newsletter Queue" module="Mage_Newsletter" sortOrder="" parent="newsletter" action="adminhtml/newsletter_queue/" />
        <add id="newsletter_subscriber" title="Newsletter Subscribers" module="Mage_Newsletter" sortOrder="" parent="newsletter" action="adminhtml/newsletter_subscriber/" />
        <add id="newsletter_problem" title="Newsletter Problem Reports" module="Mage_Newsletter" sortOrder="" parent="newsletter" action="adminhtml/newsletter_problem/" />
    </menu>
</config>
