<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Mage
 * @package     Mage_Api
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <modules>
        <Mage_Api>
            <version>1.6.0.0</version>
            <active>true</active>
            <depends>
                <Mage_Core/>
                <Mage_Adminhtml/>
                <Mage_Backend/>
            </depends>
            <sequence>
                <Mage_Core />
            </sequence>
        </Mage_Api>
    </modules>
    <global>
        <ignoredModules>
            <entities>
                <api/>
            </entities>
        </ignoredModules>
        <cache>
            <types>
                <config_api translate="label,description" module="Mage_Api">
                    <label>Legacy API Configuration</label>
                    <description>Web Services definition files (api.xml).</description>
                    <class>Mage_Api_Model_Cache_Type</class>
                </config_api>
            </types>
        </cache>
        <resources>
            <api_setup>
                <setup>
                    <module>Mage_Api</module>
                </setup>
            </api_setup>
        </resources>
        <request>
            <direct_front_name>
                <api/>
            </direct_front_name>
        </request>
    </global>
    <frontend>
        <routers>
            <api>
                <use>standard</use>
                <args>
                    <module>Mage_Api</module>
                    <frontName>api</frontName>
                </args>
            </api>
        </routers>
        <translate>
            <modules>
                <Mage_Api>
                    <files>
                        <default>Mage_Api.csv</default>
                    </files>
                </Mage_Api>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Mage_Api>
                    <files>
                        <default>Mage_Api.csv</default>
                    </files>
                </Mage_Api>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <api>
            <config>
                <charset>UTF-8</charset>
                <session_timeout>3600</session_timeout>
                <wsdl_cache_enabled>0</wsdl_cache_enabled>
            </config>
        </api>
    </default>
</config>
