<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <modules>
        <Saas_Sales>
            <version>2.0.0.0</version>
            <active>false</active>
            <depends>
                <Mage_Backend />
                <Mage_Sales />
                <Saas_Saas />
            </depends>
        </Saas_Sales>
    </modules>
    <global>
        <resources>
            <saas_sales_setup>
                <setup>
                    <module>Saas_Sales</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </saas_sales_setup>
        </resources>
    </global>
</config>
