<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_SalesArchive
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <salesarchive_setup>
                <setup>
                    <module>Magento_SalesArchive</module>
                    <class>Magento_SalesArchive_Model_Resource_Setup</class>
                </setup>
            </salesarchive_setup>
        </resources>
        <events>
            <sales_order_resource_update_grid_records>
                <observers>
                    <magento_salesarchive>
                        <type>singleton</type>
                        <class>Magento_SalesArchive_Model_Observer</class>
                        <method>salesUpdateGridRecords</method>
                    </magento_salesarchive>
                </observers>
            </sales_order_resource_update_grid_records>
            <sales_order_invoice_resource_update_grid_records>
                <observers>
                    <magento_salesarchive>
                        <type>singleton</type>
                        <class>Magento_SalesArchive_Model_Observer</class>
                        <method>salesUpdateGridRecords</method>
                    </magento_salesarchive>
                </observers>
            </sales_order_invoice_resource_update_grid_records>
            <sales_order_shipment_resource_update_grid_records>
                <observers>
                    <magento_salesarchive>
                        <type>singleton</type>
                        <class>Magento_SalesArchive_Model_Observer</class>
                        <method>salesUpdateGridRecords</method>
                    </magento_salesarchive>
                </observers>
            </sales_order_shipment_resource_update_grid_records>
            <sales_order_creditmemo_resource_update_grid_records>
                <observers>
                    <magento_salesarchive>
                        <type>singleton</type>
                        <class>Magento_SalesArchive_Model_Observer</class>
                        <method>salesUpdateGridRecords</method>
                    </magento_salesarchive>
                </observers>
            </sales_order_creditmemo_resource_update_grid_records>
            <controller_action_postdispatch_adminhtml_sales_order_shipment_massPrintShippingLabel>
                <observers>
                    <magento_salesarchive>
                        <class>Magento_SalesArchive_Model_Observer</class>
                        <method>replaceSalesOrderRedirect</method>
                    </magento_salesarchive>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_shipment_massPrintShippingLabel>
            <controller_action_postdispatch_adminhtml_sales_order_pdfshipments>
                <observers>
                    <magento_salesarchive>
                        <class>Magento_SalesArchive_Model_Observer</class>
                        <method>replaceSalesOrderRedirect</method>
                    </magento_salesarchive>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_pdfshipments>
            <controller_action_postdispatch_adminhtml_sales_order_pdfinvoices>
                <observers>
                    <magento_salesarchive>
                        <class>Magento_SalesArchive_Model_Observer</class>
                        <method>replaceSalesOrderRedirect</method>
                    </magento_salesarchive>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_pdfinvoices>
            <controller_action_postdispatch_adminhtml_sales_order_pdfcreditmemos>
                <observers>
                    <magento_salesarchive>
                        <class>Magento_SalesArchive_Model_Observer</class>
                        <method>replaceSalesOrderRedirect</method>
                    </magento_salesarchive>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_pdfcreditmemos>
            <controller_action_postdispatch_adminhtml_sales_order_pdfdocs>
                <observers>
                    <magento_salesarchive>
                        <class>Magento_SalesArchive_Model_Observer</class>
                        <method>replaceSalesOrderRedirect</method>
                    </magento_salesarchive>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_pdfdocs>
            <controller_action_postdispatch_adminhtml_sales_order_massHold>
                <observers>
                    <magento_salesarchive>
                        <class>Magento_SalesArchive_Model_Observer</class>
                        <method>replaceSalesOrderRedirect</method>
                    </magento_salesarchive>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_massHold>
            <controller_action_postdispatch_adminhtml_sales_order_massUnhold>
                <observers>
                    <magento_salesarchive>
                        <class>Magento_SalesArchive_Model_Observer</class>
                        <method>replaceSalesOrderRedirect</method>
                    </magento_salesarchive>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_massUnhold>
            <controller_action_postdispatch_adminhtml_sales_order_massCancel>
                <observers>
                    <magento_salesarchive>
                        <class>Magento_SalesArchive_Model_Observer</class>
                        <method>replaceSalesOrderRedirect</method>
                    </magento_salesarchive>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_massCancel>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <magento_salesarchive before="Magento_Adminhtml">Magento_SalesArchive_Adminhtml</magento_salesarchive>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <sales_order_load_after>
                <observers>
                    <magento_salesarchive>
                        <type>singleton</type>
                        <class>Magento_SalesArchive_Model_Observer</class>
                        <method>salesObjectAfterLoad</method>
                    </magento_salesarchive>
                </observers>
            </sales_order_load_after>
            <sales_order_invoice_load_after>
                <observers>
                    <magento_salesarchive>
                        <type>singleton</type>
                        <class>Magento_SalesArchive_Model_Observer</class>
                        <method>salesObjectAfterLoad</method>
                    </magento_salesarchive>
                </observers>
            </sales_order_invoice_load_after>
            <sales_order_shipment_load_after>
                <observers>
                    <magento_salesarchive>
                        <type>singleton</type>
                        <class>Magento_SalesArchive_Model_Observer</class>
                        <method>salesObjectAfterLoad</method>
                    </magento_salesarchive>
                </observers>
            </sales_order_shipment_load_after>
            <sales_order_creditmemo_load_after>
                <observers>
                    <magento_salesarchive>
                        <type>singleton</type>
                        <class>Magento_SalesArchive_Model_Observer</class>
                        <method>salesObjectAfterLoad</method>
                    </magento_salesarchive>
                </observers>
            </sales_order_creditmemo_load_after>
            <sales_order_grid_collection_load_before>
                <observers>
                    <magento_salesarchive>
                        <type>singleton</type>
                        <class>Magento_SalesArchive_Model_Observer</class>
                        <method>appendGridCollection</method>
                    </magento_salesarchive>
                </observers>
            </sales_order_grid_collection_load_before>
        </events>
        <translate>
            <modules>
                <Magento_SalesArchive>
                    <files>
                        <default>Magento_SalesArchive.csv</default>
                    </files>
                </Magento_SalesArchive>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <sales>
            <magento_salesarchive>
                <active>0</active>
                <age>30</age>
                <order_statuses>closed,complete</order_statuses>
            </magento_salesarchive>
        </sales>
    </default>
    <crontab>
        <jobs>
            <magento_salesarchive_archive_orders>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>Magento_SalesArchive_Model_Observer::archiveOrdersByCron</model>
                </run>
            </magento_salesarchive_archive_orders>
        </jobs>
    </crontab>
</config>
