<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\SalesArchive\Model\Observer">
        <param name="config">
            <instance type="Magento\SalesArchive\Model\Config\Proxy" />
        </param>
        <param name="backendData">
            <instance type="Magento\Backend\Helper\Data\Proxy" />
        </param>
    </type>
    <type name="Magento\Module\Updater\SetupFactory">
        <param name="resourceTypes">
            <array>
                <item key="salesarchive_setup"><value>Magento\SalesArchive\Model\Resource\Setup</value></item>
            </array>
        </param>
    </type>
</config>
