<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\SalesArchive\Model\Archive">
        <param name="eventManager">
            <instance type="Magento\Core\Model\Event\Manager\Proxy" />
        </param>
    </type>
    <type name="Magento\SalesArchive\Model\Observer">
        <param name="config">
            <instance type="Magento\SalesArchive\Model\Config\Proxy" />
        </param>
        <param name="backendData">
            <instance type="Magento\Backend\Helper\Data\Proxy" />
        </param>
    </type>
    <type name="Magento\Core\Model\Db\Updater">
        <param name="resourceList">
            <value>
                <salesarchive_setup>Magento\SalesArchive\Model\Resource\Setup</salesarchive_setup>
            </value>
        </param>
    </type>
</config>
