<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <modules>
        <Enterprise_BannerCustomerSegment>
            <version>1.0.0.0</version>
            <active>false</active>
            <depends>
                <Mage_Core/>
                <Enterprise_Banner />
                <Enterprise_CustomerSegment />
            </depends>
            <sequence>
                <Enterprise_Banner />
                <Enterprise_CustomerSegment />
            </sequence>
        </Enterprise_BannerCustomerSegment>
    </modules>
    <global>
        <resources>
            <enterprise_bannercustomersegment_setup>
                <setup>
                    <module>Enterprise_BannerCustomerSegment</module>
                </setup>
            </enterprise_bannercustomersegment_setup>
        </resources>
        <events>
            <enterprise_banner_load_after>
                <observers>
                    <enterprise_bannercustomersegment>
                        <class>Enterprise_BannerCustomerSegment_Model_Observer</class>
                        <method>loadCustomerSegmentRelations</method>
                    </enterprise_bannercustomersegment>
                </observers>
            </enterprise_banner_load_after>
            <enterprise_banner_save_after>
                <observers>
                    <enterprise_bannercustomersegment>
                        <class>Enterprise_BannerCustomerSegment_Model_Observer</class>
                        <method>saveCustomerSegmentRelations</method>
                    </enterprise_bannercustomersegment>
                </observers>
            </enterprise_banner_save_after>
            <enterprise_banner_catalogrule_collection_load_before>
                <observers>
                    <enterprise_bannercustomersegment>
                        <class>Enterprise_BannerCustomerSegment_Model_Observer</class>
                        <method>addCustomerSegmentFilterToCollection</method>
                    </enterprise_bannercustomersegment>
                </observers>
            </enterprise_banner_catalogrule_collection_load_before>
            <enterprise_banner_salesrule_collection_load_before>
                <observers>
                    <enterprise_bannercustomersegment>
                        <class>Enterprise_BannerCustomerSegment_Model_Observer</class>
                        <method>addCustomerSegmentFilterToCollection</method>
                    </enterprise_bannercustomersegment>
                </observers>
            </enterprise_banner_salesrule_collection_load_before>
            <enterprise_banner_resource_banner_content_select_init>
                <observers>
                    <enterprise_bannercustomersegment>
                        <class>Enterprise_BannerCustomerSegment_Model_Observer</class>
                        <method>addCustomerSegmentFilterToSelect</method>
                    </enterprise_bannercustomersegment>
                </observers>
            </enterprise_banner_resource_banner_content_select_init>
        </events>
    </global>
    <adminhtml>
        <events>
            <banner_edit_tab_properties_after_prepare_form>
                <observers>
                    <enterprise_bannercustomersegment>
                        <class>Enterprise_BannerCustomerSegment_Model_Observer</class>
                        <method>addFieldsToBannerForm</method>
                    </enterprise_bannercustomersegment>
                </observers>
            </banner_edit_tab_properties_after_prepare_form>
        </events>
    </adminhtml>
</config>
