<table data-template-extend="Magento_Ui.templates.listing.grid">
    <thead>
        <tr data-part-prepend="head.row">
            <th class="col-select col-massaction">
                <div class="mass-select">
                    <div class="field choice mass-select-field">
                        <input type="checkbox" id="mass-select-checkbox" data-bind="checked: isAllVisibleSelected()"> <label for="mass-checkbox" class="label"><span data-bind="text: $t('Select')"></span></label>
                    </div>
                    <button class="mass-select-toggle" data-toggle="dropdown">
                        <span data-bind="text: $t('Options')"></span>
                    </button>
                    <ul class="mass-select-menu" data-bind="foreach: { data: massActions, as: 'action' }, on: { 'click li': 'applyMassAction', data: 'action' }"></ul>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr data-part-prepend="body.row">
            <td class="col-select col-massaction">
                <input data-bind="checkedValue: row.id, checked: $parent.checkedIds" type="checkbox" class="massaction-checkbox">
            </td>
        </tr>
    </tbody>
</table>