<span data-part="actions">
    <div title="Select Items" class="actions-split">
        <button title="Actions" class="action-default scalable  add">
            <span>Actions</span>
        </button>
        <button title="" class="action-toggle scalable  add" data-toggle="dropdown">
            <span>|</span>
        </button>

        <ul class="dropdown-menu">
            <li><span title="Delete" class="item item-default">Delete</span></li>
            <li><span title="Update" class="item item-default">Update</span></li>
        </ul>
    </div>
</span>