<table data-template-extend="Magento_Ui/templates/listing/grid">
    <thead data-part-replace="head" data-bind="scope: 'cms.pages:sorting'">
        <tr class="headings">
            <!-- ko foreach: { data: $parent.fields, as: 'field' } -->
            <th>
                <!-- ko if: field.sortable -->
                <span>
                    <a href="#" data-bind="text: field.title, css: $parent.setClass(field.id), click: $parent.onClick(field)"></a>
                </span>
                <!-- /ko -->
                
                <!-- ko ifnot: field.sortable -->
                <span data-bind="text: field.title"></span>
                <!-- /ko -->
            </th>
            <!-- /ko -->
        </tr>
    </thead>
</table>