<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <event name="catalog_category_save_after">
        <observer name="magento_catalogpermissions" instance="Magento\CatalogPermissions\Model\Adminhtml\Observer" method="saveCategoryPermissions" />
    </event>
    <event name="category_move">
        <observer name="magento_catalogpermissions" instance="Magento\CatalogPermissions\Model\Adminhtml\Observer" method="reindexCategoryPermissionOnMove" />
    </event>
    <event name="controller_action_postdispatch">
        <observer name="magento_catalogpermissions" instance="Magento\CatalogPermissions\Model\Adminhtml\Observer" method="reindexPermissions" />
    </event>
    <event name="adminhtml_catalog_category_tabs">
        <observer name="magento_catalogpermissions" instance="Magento\CatalogPermissions\Model\Adminhtml\Observer" method="addCategoryPermissionTab" />
    </event>
    <event name="admin_system_config_changed_section_magento_catalogpermissions">
        <observer name="magento_catalogpermissions" instance="Magento\CatalogPermissions\Model\Adminhtml\Observer" method="cleanCacheOnConfigChange" />
    </event>
</config>
