<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <preference for="Magento\Indexer\Model\ConfigInterface" type="Magento\Indexer\Model\Config" />
    <type name="Magento\Indexer\Model\Indexer">
        <arguments>
            <argument name="view" xsi:type="object" shared="false">Magento\Mview\View</argument>
        </arguments>
    </type>
</config>
