<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\Directory\Model\Resource\Country\Collection" shared="false" />
    <type name="Magento\Directory\Model\Currency\Import\Config">
        <param name="servicesConfig">
            <value>
                <webservicex>
                    <label>Webservicex</label>
                    <class>Magento\Directory\Model\Currency\Import\Webservicex</class>
                </webservicex>
            </value>
        </param>
    </type>
    <type name="Magento\Directory\Model\Currency\Import\Factory">
        <param name="coreConfig">
            <instance type="Magento\Core\Model\Config\Proxy" />
        </param>
    </type>
    <type name="Magento\Core\Model\Db\Updater">
        <param name="resourceList">
            <value>
                <directory_setup>Magento\Directory\Model\Resource\Setup</directory_setup>
            </value>
        </param>
    </type>
</config>
