<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Mage
 * @package    Mage_Core
 * @copyright  Copyright (c) 2004-2007 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <global>
        <install>
            <date></date>
        </install>

        <resources>
            <default_setup>
                <connection>
                    <host>localhost</host>
                    <username></username>
                    <password/>
                    <dbname>magento</dbname>

                    <model>mysql4</model>
                    <initStatements>SET NAMES utf8</initStatements>
                    <type>pdo_mysql</type>
                    <active>0</active>
                </connection>
            </default_setup>
            <default_write>
                <connection>
                    <host>localhost</host>
                    <username></username>
                    <password/>
                    <dbname>magento</dbname>

                    <model>mysql4</model>
                    <initStatements>SET NAMES utf8</initStatements>
                    <type>pdo_mysql</type>
                    <active>0</active>
                </connection>
            </default_write>
            <default_read>
                <connection>
                    <use>default_write</use>
                </connection>
            </default_read>

            <core_setup>
                <setup>
                    <module>Mage_Core</module>
                </setup>
                <connection>
                    <use>default_setup</use>
                </connection>
            </core_setup>
            <core_write>
                <connection>
                    <use>default_write</use>
                </connection>
            </core_write>
            <core_read>
                <connection>
                    <use>default_read</use>
                </connection>
            </core_read>
        </resources>

        <resource>

            <connection>
                <types>
                    <pdo_mysql>
                        <class>Mage_Core_Model_Resource_Type_Db_Pdo_Mysql</class>
                    </pdo_mysql>
                    <mysqli>
                        <class>Mage_Core_Model_Resource_Type_Db_Mysqli</class>
                    </mysqli>
                    <mysqli_setup>
                        <class>Mage_Core_Model_Resource_Type_Db_Mysqli_Setup</class>
                    </mysqli_setup>
                </types>
            </connection>
        </resource>
        <models>
            <core>
                <class>Mage_Core_Model</class>
                <resourceModel>core_mysql4</resourceModel>
            </core>

            <core_mysql4>
                <class>Mage_Core_Model_Mysql4</class>
                <entities>
                    <config_data>
                        <table>core_config_data</table>
                    </config_data>
                    <website>
                        <table>core_website</table>
                    </website>
                    <store>
                        <table>core_store</table>
                    </store>
                    <resource>
                        <table>core_resource</table>
                    </resource>
                </entities>
            </core_mysql4>
        </models>
    </global>

    <modules>
        <Mage_Core>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Core>
        <Mage_Eav>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Eav>
        <Mage_Page>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Page>
        <Mage_Install>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Install>
        <Mage_Admin>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Admin>
        <Mage_Rule>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Rule>
        <Mage_Adminhtml>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Adminhtml>
        <Mage_Cron>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Cron>
        <Mage_Directory>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Directory>
        <Mage_Customer>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Customer>
        <Mage_Catalog>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Catalog>        
        <Mage_CatalogSearch>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_CatalogSearch>   
        <Mage_CatalogExcel>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_CatalogExcel>   
        <Mage_CatalogRule>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_CatalogRule>
        <Mage_Giftcert>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Giftcert>
        <Mage_Sales>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Sales>
        <Mage_SalesRule>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_SalesRule>
        <Mage_Checkout>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Checkout>
        <Mage_Shipping>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Shipping>
        <Mage_Payment>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Payment>
        <Mage_Usa>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Usa>
        <Mage_Paygate>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Paygate>
        <Mage_Reports>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Reports>
        <Mage_Datafeed>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Datafeed>
        <Mage_Log>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Log>
        <Mage_Backup>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Backup>
        <Mage_Poll>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Poll>
        <Mage_Review>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Review>
        <Mage_Rating>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Rating>
        <Mage_SearchLucene>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_SearchLucene>
        <Mage_Tag>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Tag>
        <Mage_Permissions>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Permissions>
        <Mage_Cms>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Cms>
        <Mage_Newsletter>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Newsletter>
        <Mage_Tax>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Tax>
        <Mage_Wishlist>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_Wishlist>
        <Mage_GoogleAnalytics>
            <active>true</active>
            <codePool>core</codePool>
        </Mage_GoogleAnalytics>
    </modules>
</config> 
