<?xml version="1.0"?>
<config>

   <global>
      <install>
        <date><![CDATA[Mon, 25 Jun 2007 22:45:44 -0700]]></date>
      </install>
      
      <resources>
         <dev_setup>
            <connection>
               <model>mysql4</model>
               <initStatements>SET NAMES utf8</initStatements>
               <type>mysqli_setup</type>
               <active>{{db_active}}</active>
               <host>{{db_host}}</host>
               <username>{{db_user}}</username>
               <password>{{db_pass}}</password>
               <dbname>{{db_name}}</dbname>
            </connection>
         </dev_setup>
         <dev_write>
            <connection extends="//dev_setup/connection">
               <type>pdo_mysql</type>
            </connection>
         </dev_write>
         <dev_read>
            <connection>
               <use>dev_write</use>
            </connection>
         </dev_read>
         <core_setup>
            <connection>
               <use>dev_setup</use>
            </connection>
         </core_setup>
         <core_write>
            <connection>
               <use>dev_write</use>
            </connection>
         </core_write>
         <core_read>
            <connection>
               <use>dev_read</use>
            </connection>
         </core_read>
      </resources>
   </global>
   
    <stores>
        <base>
            <general>
                <currency>
                    <base>USD</base>
                    <default>USD</default>
                    <allow>USD,CAD,UAH,RUB</allow>
                </currency>
                <country>
                    <default>US</default>
                    <allow>US,CA,UA</allow>
                </country> 
                <local>
                    <language>en</language>
                    <date_format>%a, %b %e %Y</date_format>
                </local>
                <default>
                    <front>catalog</front>
                    <no_route>core/index/noRoute</no_route>
                </default>
            </general>
            
            <system>
                <store>
                    <id>1</id>
                </store>
                
                <website>
                    <id>1</id>
                </website>
                
                <filesystem>
                    <etc>{{root_dir}}/app/etc</etc>
                    <code>{{root_dir}}/app/code</code>
                    <upload>{{root_dir}}/media/upload</upload>
                    <var>{{var_dir}}</var>
                    <session>{{var_dir}}/session</session>
                    <cache_config>{{var_dir}}/cache/config</cache_config>
                    <cache_layout>{{var_dir}}/cache/layout</cache_layout>
            
                    <layout>{{root_dir}}/app/view/layout</layout>
                    <template>{{root_dir}}/app/view/template</template>
                    <translate>{{root_dir}}/app/view/translate</translate>
                    <base>{{root_dir}}</base>
                    <media>{{root_dir}}/media</media>
                    <skin>{{root_dir}}/skins/default</skin>
                </filesystem>
            </system>
            
            <webserver>
                <unsecure>
                   <protocol>{{protocol}}</protocol>
                   <host>{{host}}</host>
                   <port>{{port}}</port>
                   <base_path>{{base_path}}</base_path>
                </unsecure>
                
                <secure>
                   <protocol>{{secure_protocol}}</protocol>
                   <host>{{secure_host}}</host>
                   <port>{{secure_port}}</port>
                   <base_path>{{secure_base_path}}</base_path>
                </secure>
                
                <url>
                    <media>{{base_path}}media/</media>
                    <skin>{{base_path}}skins/default/</skin>
                    <js>/{{base_path}}js/</js>
                </url>
            </webserver>
            
            <advanced>
                <datashare>
                    <customer>1</customer>
                    <customer_address>1</customer_address>
                    <quote>1</quote>
                    <quote_address>1</quote_address>
                    <order>1</order>
                    <order_address>1</order_address>
                    <wishlist>1</wishlist>
                </datashare>
            </advanced>
        </base>
        
        <russian>
            <general>
                <currency>
                    <base>USD</base>
                    <default>USD</default>
                    <allow>USD,CAD,UAH,RUB</allow>
                </currency>
                <country>
                    <default>US</default>
                    <allow>US,CA,UA</allow>
                </country> 
                <local>
                    <language>en</language>
                    <date_format>%a, %b %e %Y</date_format>
                </local>
                <default>
                    <front>catalog</front>
                    <no_route>core/index/noRoute</no_route>
                </default>
            </general>
            
            <system>
                <store>
                    <id>1</id>
                </store>
                
                <website>
                    <id>1</id>
                </website>
                
                <filesystem>
                    <etc>{{root_dir}}/app/etc</etc>
                    <code>{{root_dir}}/app/code</code>
                    <upload>{{root_dir}}/media/upload</upload>
                    <var>{{var_dir}}</var>
                    <session>{{var_dir}}/session</session>
                    <cache_config>{{var_dir}}/cache/config</cache_config>
                    <cache_layout>{{var_dir}}/cache/layout</cache_layout>
            
                    <layout>{{root_dir}}/app/view/layout</layout>
                    <template>{{root_dir}}/app/view/template</template>
                    <translate>{{root_dir}}/app/view/translate</translate>
                    <base>{{root_dir}}</base>
                    <media>{{root_dir}}/media</media>
                    <skin>{{root_dir}}/skins/default</skin>
                </filesystem>
            </system>
            
            <webserver>
                <unsecure>
                   <protocol>{{protocol}}</protocol>
                   <host>{{host}}</host>
                   <port>{{port}}</port>
                   <base_path>{{base_path}}ru/</base_path>
                </unsecure>
                
                <secure>
                   <protocol>{{secure_protocol}}</protocol>
                   <host>{{secure_host}}</host>
                   <port>{{secure_port}}</port>
                   <base_path>{{secure_base_path}}ru/</base_path>
                </secure>
                
                <url>
                    <media>{{base_path}}media/</media>
                    <skin>{{base_path}}skins/default/</skin>
                    <js>{{base_path}}js/</js>
                </url>
            </webserver>
            
            <advanced>
                <datashare>
                    <customer>1</customer>
                    <customer_address>1</customer_address>
                    <quote>1</quote>
                    <quote_address>1</quote_address>
                    <order>1</order>
                    <order_address>1</order_address>
                    <wishlist>1</wishlist>
                </datashare>
            </advanced>
        </russian>
    </stores>
</config>

