<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <preference for="Mage_Core_Model_Db_UpdaterInterface" type="Mage_Core_Model_Db_Updater" />
    <preference for="Mage_Core_Model_AppInterface" type="Mage_Core_Model_App_Proxy" />
    <preference for="Mage_Core_Model_Config_InvalidatorInterface" type="Mage_Core_Model_Config_Invalidator_Proxy" />
    <preference for="Mage_Core_Model_CacheInterface" type="Mage_Core_Model_Cache_Proxy" />
    <preference for="Mage_Core_Model_Store_ConfigInterface" type="Mage_Core_Model_Store_Config" />
    <preference for="Mage_Core_Model_StoreManagerInterface" type="Mage_Core_Model_StoreManager" />
    <preference for="Mage_Core_Model_View_DesignInterface" type="Mage_Core_Model_View_Design" />
    <preference for="Mage_Core_Model_LocaleInterface" type="Mage_Core_Model_Locale" />
    <preference for="Mage_Core_Model_UrlInterface" type="Mage_Core_Model_Url" />
    <preference for="Mage_Core_Model_Event_InvokerInterface" type="Mage_Core_Model_Event_Invoker_InvokerDefault" />
    <preference for="Magento_Data_Collection_Db_FetchStrategyInterface" type="Magento_Data_Collection_Db_FetchStrategy_Query" />
    <type name="Mage_Core_Model_App_State">
        <param name="mode">
            <value type="argument">Mage::PARAM_MODE</value>
        </param>
    </type>
    <type name="Mage_Core_Model_Config_Loader_Local">
        <param name="customFile">
            <value type="argument">Mage::PARAM_CUSTOM_LOCAL_FILE</value>
        </param>
        <param name="customConfig">
            <value type="argument">Mage::PARAM_CUSTOM_LOCAL_CONFIG</value>
        </param>
    </type>
    <type name="Mage_Core_Model_Config_Loader_Modules">
        <param name="allowedModules">
            <value type="argument">Mage::PARAM_ALLOWED_MODULES</value>
        </param>
    </type>
    <type name="Mage_Core_Model_Cache_Frontend_Factory">
        <param name="enforcedOptions">
            <value type="argument">Mage::PARAM_CACHE_OPTIONS</value>
        </param>
    </type>
    <type name="Mage_Core_Model_Cache_Types">
        <param name="banAll">
            <value type="argument">Mage::PARAM_BAN_CACHE</value>
        </param>
    </type>
    <type name="Mage_Core_Model_StoreManager">
        <param name="scopeCode">
            <value type="argument">Mage::PARAM_RUN_CODE</value>
        </param>
        <param name="scopeType">
            <value type="argument">Mage::PARAM_RUN_TYPE</value>
        </param>
    </type>
    <type name="Mage_Core_Model_Cache">
        <param name="cacheTypes">
            <instance type="Mage_Core_Model_Cache_Types_Proxy" />
        </param>
        <param name="config">
            <instance type="Mage_Core_Model_Config_Proxy" />
        </param>
    </type>
    <type name="Mage_Core_Model_Config">
        <param name="storage">
            <instance type="Mage_Core_Model_Config_Storage" />
        </param>
    </type>
    <type name="Mage_Core_Model_Config_Container">
        <param name="configCache">
            <instance type="Mage_Core_Model_Config_Cache_Proxy" />
        </param>
    </type>
    <type name="Mage_Core_Model_Config_Resource">
        <param name="config">
            <instance type="Mage_Core_Model_Config_Primary" />
        </param>
    </type>
    <type name="Mage_Core_Model_Config_Locales">
        <param name="storage">
            <instance type="Mage_Core_Model_Config_Storage_Locales" />
        </param>
    </type>
    <type name="Mage_Core_Model_Config_Modules">
        <param name="storage">
            <instance type="Mage_Core_Model_Config_Storage_Modules" />
        </param>
    </type>
    <type name="Mage_Core_Model_Config_Storage">
        <param name="loader">
            <instance type="Mage_Core_Model_Config_Loader_Proxy" />
        </param>
    </type>
    <type name="Mage_Core_Model_Config_Storage_Modules">
        <param name="loader">
            <instance type="Mage_Core_Model_Config_Loader_Modules_Proxy" />
        </param>
    </type>
    <type name="Mage_Core_Model_Config_Storage_Locales">
        <param name="loader">
            <instance type="Mage_Core_Model_Config_Loader_Locales_Proxy" />
        </param>
    </type>
    <type name="Mage_Core_Model_Event_Config">
        <param name="config">
            <instance type="Mage_Core_Model_Config_Modules_Proxy" />
        </param>
    </type>
    <type name="Mage_Core_Model_Translate">
        <param name="cache">
            <instance type="Mage_Core_Model_Cache_Type_Translate" />
        </param>
    </type>
    <type name="Mage_Install_Model_Installer">
        <param name="config">
            <instance type="Mage_Core_Model_Config_Proxy" />
        </param>
    </type>
    <type name="Mage_Core_Model_Config_Invalidator">
        <param name="primaryConfig">
            <instance type="Mage_Core_Model_Config_Primary" />
        </param>
        <param name="modulesConfig">
            <instance type="Mage_Core_Model_Config_Modules" />
        </param>
        <param name="localesConfig">
            <instance type="Mage_Core_Model_Config_Locales" />
        </param>
    </type>
    <type name="Mage_Core_Model_Store_StorageFactory">
        <param name="config">
            <instance type="Mage_Core_Model_Config_Proxy" />
        </param>
    </type>
    <type name="Magento_Filesystem" shared="false">
        <param name="adapter">
            <instance type="Magento_Filesystem_Adapter_Local" />
        </param>
    </type>
    <type name="Magento_Data_Structure" shared="false" />
    <type name="Magento_HTTP_Handler_Composite">
        <param name="handlers">
            <value>
                <app>
                    <sortOrder>50</sortOrder>
                    <class>Mage_Core_Model_App_Handler</class>
                </app>
            </value>
        </param>
    </type>
    <type name="Mage_Core_Model_DataService_Path_Composite">
        <param name="items">
            <value>
                <data>Mage_Core_Model_DataService_Repository</data>
                <request>Mage_Core_Model_DataService_Path_Request</request>
            </value>
        </param>
    </type>
    <type name="Mage_Core_Helper_Url">
        <param name="translate">
            <instance type="Mage_Core_Model_Translate_Proxy" />
        </param>
    </type>
    <type name="Mage_Core_Model_Design">
        <param name="eventDispatcher">
            <instance type="Mage_Core_Model_Event_Manager_Proxy" />
        </param>
    </type>
    <type name="Mage_Core_Model_View_Design">
        <param name="storeManager">
            <instance type="Mage_Core_Model_StoreManager_Proxy" />
        </param>
    </type>
    <type name="Magento_Acl" shared="false" />
    <type name="Mage_Core_Model_Context">
        <param name="eventDispatcher">
            <instance type="Mage_Core_Model_Event_Manager_Proxy" />
        </param>
    </type>
    <type name="Mage_Core_Model_ModuleManager">
        <param name="config">
            <instance type="Mage_Core_Model_Config_Proxy" />
        </param>
    </type>
    <type name="Mage_Core_Model_ObjectManager_ConfigLoader">
        <param name="cache">
            <instance type="Mage_Core_Model_Cache_Type_Config"/>
        </param>
        <param name="modulesReader">
            <instance type="Mage_Core_Model_Config_Modules_Reader_Proxy" />
        </param>
        <param name="mode">
            <value type="argument">Mage::PARAM_MODE</value>
        </param>
    </type>
    <type name="Mage_Core_Model_ObjectManager_ConfigCache">
        <param name="cacheFrontend">
            <instance type="Mage_Core_Model_Cache_Type_Config"/>
        </param>
    </type>
</config>
