<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2014 X.commerce, Inc. (http://www.magentocommerce.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Core/etc/config.xsd">
    <default>
        <admin>
            <security>
                <session_lifetime>900</session_lifetime>
                <lockout_failures>6</lockout_failures>
                <lockout_threshold>30</lockout_threshold>
                <password_lifetime>90</password_lifetime>
                <password_is_forced>1</password_is_forced>
            </security>
        </admin>
    </default>
</config>
