<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Saas_Saas_Model_Limitation_Specification_Composite">
        <param name="specificationNames">
            <value>
                <frontend_recurring>Saas_Sales_Model_Limitation_Specification_Frontend_Recurring</frontend_recurring>
            </value>
        </param>
    </type>
</config>
