<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Mage
 * @package     Mage_Media
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <adminhtml>
        <translate>
            <modules>
                <Mage_Media>
                    <files>
                        <default>Mage_Media.csv</default>
                    </files>
                </Mage_Media>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Mage_Media>
                    <files>
                        <default>Mage_Media.csv</default>
                    </files>
                </Mage_Media>
            </modules>
        </translate>
    </frontend>
</config>