<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Enterprise
 * @package     Enterprise_Reward
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <acl>
        <resources>
            <resource id="Mage_Adminhtml::admin">
                <resource id="Mage_Customer::customer">
                    <resource id="Mage_Customer::manage" module="Enterprise_Reward">
                        <resource id="Enterprise_Reward::reward_balance" module="Enterprise_Reward" title="Manage Reward Points Balances" sortOrder="10" />
                    </resource>
                    <resource id="Enterprise_Reward::rates" title="Reward Exchange Rates" sortOrder="80" />
                </resource>
                <resource id="Mage_Sales::sales">
                    <resource id="Mage_Sales::sales_order">
                        <resource id="Mage_Sales::actions">
                            <resource id="Mage_Sales::create">
                                <resource id="Enterprise_Reward::reward_spend" module="Enterprise_Reward" title="Can Spend Reward Points" sortOrder="30" />
                            </resource>
                        </resource>
                    </resource>
                </resource>
                <resource id="Mage_Adminhtml::system">
                    <resource id="Mage_Adminhtml::config">
                        <resource id="Enterprise_Reward::enterprise_reward" module="Enterprise_Reward" title="Reward Points" sortOrder="10" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
