<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <module name="Enterprise_PromotionPermissions" version="1.11.0.0" active="false">
        <sequence>
            <module name="Magento_CatalogRule"/>
            <module name="Magento_SalesRule"/>
        </sequence>
        <depends>
            <module name="Enterprise_Banner" type="hard"/>
            <module name="Enterprise_Reminder" type="hard"/>
            <module name="Magento_Adminhtml" type="hard"/>
            <module name="Magento_Core" type="hard"/>
        </depends>
    </module>
</config>
