<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento_Core_Model_ModuleManager">
        <param name="outputConfigPaths">
            <value>
                <Enterprise_Reward>Enterprise_Reward_Helper_Data::XML_PATH_ENABLED</Enterprise_Reward>
            </value>
        </param>
    </type>
    <type name="Enterprise_Reward_Model_Observer">
        <param name="authorization">
            <instance type="Magento_Authorization_Proxy" />
        </param>
    </type>
</config>
