<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Saas
 * @package     Saas_UnitPrice
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <saas_unitprice_setup>
                <setup>
                    <module>Saas_UnitPrice</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>default_setup</use>
                </connection>
            </saas_unitprice_setup>
            <saas_unitprice_write>
                <connection>
                    <use>default_write</use>
                </connection>
            </saas_unitprice_write>
            <saas_unitprice_read>
                <connection>
                    <use>default_read</use>
                </connection>
            </saas_unitprice_read>
        </resources>
        <bcp>
            <update_selector_list>
                <unitprice />
            </update_selector_list>
        </bcp>
    </global>
    <frontend>
        <events>
            <bcp_update_defaults_on_configurable_product>
                <observers>
                    <unitprice>
                        <type>singleton</type>
                        <class>Saas_UnitPrice_Model_Observer</class>
                        <method>bcpUpdateDefaultsOnConfigurableProduct</method>
                    </unitprice>
                </observers>
            </bcp_update_defaults_on_configurable_product>
        </events>
        <translate>
            <modules>
                <Saas_UnitPrice>
                    <files>
                        <default>Saas_UnitPrice.csv</default>
                    </files>
                </Saas_UnitPrice>
            </modules>
        </translate>
        <product>
            <collection>
                <attributes>
                    <unit_price_amount />
                    <unit_price_unit />
                    <unit_price_base_amount />
                    <unit_price_base_unit />
                </attributes>
            </collection>
        </product>
    </frontend>
    <adminhtml>
        <events>
            <catalog_product_load_after>
                <observers>
                    <unitprice>
                        <type>singleton</type>
                        <class>Saas_UnitPrice_Model_Observer</class>
                        <method>catalogProductLoadAfter</method>
                    </unitprice>
                </observers>
            </catalog_product_load_after>
        </events>
        <translate>
            <modules>
                <Saas_UnitPrice>
                    <files>
                        <default>Saas_UnitPrice.csv</default>
                    </files>
                </Saas_UnitPrice>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <catalog>
            <unitprice>
                <enable_ext>0</enable_ext>
                <unit_price_incl_tax>0</unit_price_incl_tax>
                <auto_append_unit_price>1</auto_append_unit_price>
                <frontend_label>{{unitprice}} / {{reference_amount}} {{reference_unit}}</frontend_label>
                <default_unit_price_unit>KG</default_unit_price_unit>
                <default_unit_price_amount />
                <default_unit_price_base_unit>KG</default_unit_price_base_unit>
                <default_unit_price_base_amount>1</default_unit_price_base_amount>
                <units>KG,LBS,L,ML,M,IN,CM,MM,PCS</units>
                <!-- conversion tables -->
                <convert>
                    <!-- weight -->
                    <LBS>
                        <to>
                            <KG>0.453592379</KG>
                        </to>
                    </LBS>
                    <KG>
                        <to>
                            <LBS>2.20462257811</LBS>
                        </to>
                    </KG>
                    <!-- fluids -->
                    <ML>
                        <to>
                            <L>0.001</L>
                        </to>
                    </ML>
                    <L>
                        <to>
                            <ML>1000</ML>
                        </to>
                    </L>
                    <!--  distance -->
                    <MM>
                        <to>
                            <CM>0.1</CM>
                            <IN>0.0393700787402</IN>
                            <M>0.001</M>
                        </to>
                    </MM>
                    <CM>
                        <to>
                            <MM>10</MM>
                            <IN>0.393700787402</IN>
                            <M>0.01</M>
                        </to>
                    </CM>
                    <IN>
                        <to>
                            <MM>25.4</MM>
                            <CM>2.54</CM>
                            <M>0.0254</M>
                        </to>
                    </IN>
                    <M>
                        <to>
                            <MM>1000</MM>
                            <CM>100</CM>
                            <IN>39.3700787402</IN>
                        </to>
                    </M>
                    <!-- misc -->
                    <PCS>
                        <to>
                            <PCS>1</PCS>
                        </to>
                    </PCS>
                </convert>
            </unitprice>
        </catalog>
        <unitprice_bcp>
            <bcp>
                <update_unitprice_dom_xpath_default><![CDATA[//div[@class="product-essential"]//div[@class="unitprice-box"]]]></update_unitprice_dom_xpath_default>
                <update_unitprice_dom_csspath_default><![CDATA[.product-essential .unitprice-box]]></update_unitprice_dom_csspath_default>
                <!-- use the price settings to decide if the unitprice block should be updated -->
                <update_unitprice_handle>price</update_unitprice_handle>
            </bcp>
        </unitprice_bcp>
    </default>
</config>
