<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <event name="controller_action_noroute">
        <observer name="cms" instance="Magento_Cms_Model_Observer" method="noRoute" />
    </event>
    <event name="controller_action_nocookies">
        <observer name="cms" instance="Magento_Cms_Model_Observer" method="noCookies" />
    </event>
</config>