<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <acl>
        <resources>
            <resource id="Mage_Adminhtml::admin">
                <resource id="Mage_Adminhtml::system">
                    <resource id="Mage_Adminhtml::system_other_settings">
                        <resource id="Saas_JobNotification::notification_grid" title="Task notifications" sortOrder="10" module="Saas_JobNotification">
                            <resource id="Saas_JobNotification::notification_action_markread" title="Mark as read notifications" sortOrder="10" module="Saas_JobNotification" />
                            <resource id="Saas_JobNotification::notification_action_remove" title="Remove notifications" sortOrder="20" module="Saas_JobNotification" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
