/.buildpath
/.cache
/.htaccess
/.metadata
/.project
/.settings
/index.php
/nbproject
/sitemap
/staging
/.htaccess.orig
/.idea
/app/config_sandbox
/app/code/core/Enterprise/Search/Block/Layer.php
/app/code/core/Enterprise/Search/Model/CatalogSearch
/app/code/core/Enterprise/Search/Model/Adapter/Solr/Solr.php
/app/code/core/Enterprise/Search/Model/Resource/Facets
/app/etc/local.xml
/app/etc/use_cache.ser
/app/etc/local.xml.*
/app/etc/modules/XEnterprise_Enabler.xml
/app/locale/en_US_org
/downloader/.cache
/js/tiny_mce
/lib/flex/uploader/.actionScriptProperties
/lib/flex/uploader/.flexProperties
/lib/flex/uploader/.project
/lib/flex/uploader/.settings
/lib/flex/varien/.actionScriptProperties
/lib/flex/varien/.flexLibProperties
/lib/flex/varien/.project
/lib/flex/varien/.settings
/media/*
/media/customer/*
/media/downloadable/*
/media/xmlconnect/*
/skin/frontend/default/blank/images/Thumbs.db
/skin/frontend/default/blue/images/Thumbs.db
/skin/frontend/default/default/images/Thumbs.db
/skin/frontend/pro/default/images/Thumbs.db
/var/*
