php_flag magic_quotes_gpc off
php_value include_path ".:{PWD}/app/code/core:{PWD}/lib:/usr/local/php5/lib/php:/usr/local/php4/lib/php"

DirectoryIndex index.php

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php

