#Action php5-cgi /cgi-bin/php-cgi 
#AddHandler php5-cgi .php

<IfModule mod_php5.c>
    php_flag magic_quotes_gpc off
    php_flag short_open_tag on
</IfModule>

<IfModule mod_ssl.c>
    SSLOptions StdEnvVars
</IfModule>

DirectoryIndex index.php

RewriteEngine on

#RewriteBase /dev/magento/

RewriteCond %{REQUEST_URI} !^/media/
RewriteCond %{REQUEST_URI} !^/skin/
RewriteCond %{REQUEST_URI} !^/js/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule .* index.php
