<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\Module\Updater\SetupFactory">
        <param name="resourceTypes">
            <array>
                <item key="paypal_setup"><value>Magento\Sales\Model\Resource\Setup</value></item>
            </array>
        </param>
    </type>
    <type name="Magento\Checkout\Model\Session">
        <plugin name="paypal_billing_agreement" type="Magento\Paypal\Model\Checkout\SessionPlugin"/>
    </type>
</config>
