<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\Core\Model\Db\Updater">
        <param name="resourceList">
            <value>
                <paypal_setup>Magento\Sales\Model\Resource\Setup</paypal_setup>
            </value>
        </param>
    </type>
</config>
