<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <module name="Magento_Paypal" version="1.6.0.3" active="true">
        <sequence>
            <module name="Magento_Paygate"/>
            <module name="Magento_Checkout"/>
            <module name="Magento_Sales"/>
        </sequence>
        <depends>
            <module name="Magento_Checkout" type="hard"/>
            <module name="Magento_Sales" type="hard"/>
            <module name="Magento_Core" type="hard"/>
            <module name="Magento_Customer" type="hard"/>
            <module name="Magento_Adminhtml" type="hard"/>
            <module name="Magento_Payment" type="hard"/>
            <module name="Magento_Backend" type="hard"/>
            <module name="Magento_Tax" type="hard"/>
            <module name="Magento_Directory" type="hard"/>
            <module name="Magento_Page" type="hard"/>
            <module name="Magento_Catalog" type="soft"/>
        </depends>
    </module>
</config>
