<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\CatalogEvent\Model\Event" shared="false" />
    <type name="Magento\Module\Updater\SetupFactory">
        <param name="resourceTypes">
            <array>
                <item key="catalogevent_setup"><value>Magento\CatalogEvent\Model\Resource\Setup</value></item>
            </array>
        </param>
    </type>
</config>
