<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento_CatalogEvent_Model_Event" shared="false" />
    <type name="Magento_Core_Model_Db_Updater">
        <param name="resourceList">
            <value>
                <catalogevent_setup>Magento_CatalogEvent_Model_Resource_Setup</catalogevent_setup>
            </value>
        </param>
    </type>
</config>
