<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_GiftCardAccount
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <giftcardaccount_setup>
                <setup>
                    <module>Magento_GiftCardAccount</module>
                    <class>Magento_GiftCardAccount_Model_Resource_Setup</class>
                </setup>
            </giftcardaccount_setup>
        </resources>
    </global>
    <default>
        <giftcard>
            <giftcardaccount_email>
                <identity>general</identity>
                <template>giftcard_giftcardaccount_email_template</template>
            </giftcardaccount_email>
            <giftcardaccount_general>
                <code_length>12</code_length>
                <code_format>alphanum</code_format>
                <code_split>0</code_split>
                <pool_size>1000</pool_size>
                <pool_threshold>100</pool_threshold>
            </giftcardaccount_general>
        </giftcard>
        <sales>
            <totals_sort>
                <giftcardaccount>90</giftcardaccount>
            </totals_sort>
        </sales>
    </default>
</config>
