<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_GiftCardAccount
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <giftcardaccount_setup>
                <setup>
                    <module>Magento_GiftCardAccount</module>
                    <class>Magento_GiftCardAccount_Model_Resource_Setup</class>
                </setup>
            </giftcardaccount_setup>
        </resources>
        <sales>
            <quote>
                <totals>
                    <giftcardaccount>
                        <class>Magento_GiftCardAccount_Model_Total_Quote_Giftcardaccount</class>
                        <after>weee,discount,tax,tax_subtotal,grand_total</after>
                        <before>customerbalance</before>
                        <renderer>Magento_GiftCardAccount_Block_Checkout_Cart_Total</renderer>
                    </giftcardaccount>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <giftcardaccount>
                        <class>Magento_GiftCardAccount_Model_Total_Invoice_Giftcardaccount</class>
                        <after>discount,tax,grand_total</after>
                        <before>customerbalance</before>
                    </giftcardaccount>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <giftcardaccount>
                        <class>Magento_GiftCardAccount_Model_Total_Creditmemo_Giftcardaccount</class>
                        <after>weee,discount,tax,grand_total,customerbalance</after>
                    </giftcardaccount>
                </totals>
            </order_creditmemo>
        </sales>
    </global>
    <default>
        <giftcard>
            <giftcardaccount_email>
                <identity>general</identity>
                <template>giftcard_giftcardaccount_email_template</template>
            </giftcardaccount_email>
            <giftcardaccount_general>
                <code_length>12</code_length>
                <code_format>alphanum</code_format>
                <code_split>0</code_split>
                <pool_size>1000</pool_size>
                <pool_threshold>100</pool_threshold>
            </giftcardaccount_general>
        </giftcard>
        <sales>
            <totals_sort>
                <giftcardaccount>90</giftcardaccount>
            </totals_sort>
        </sales>
    </default>
</config>
