<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\GiftCardAccount\Model\Pool">
        <param name="giftCardCodeParams">
            <array>
                <item key="separator"><value>-</value></item>
                <item key="charset">
                    <array>
                        <item key="alphanum"><value>ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789</value></item>
                        <item key="alpha"><value>ABCDEFGHIJKLMNOPQRSTUVWXYZ</value></item>
                        <item key="num"><value>0123456789</value></item>
                    </array>
                </item>
            </array>
        </param>
    </type>
    <type name="Magento\Module\Updater\SetupFactory">
        <param name="resourceTypes">
            <array>
                <item key="giftcardaccount_setup"><value>Magento\Sales\Model\Resource\Setup</value></item>
            </array>
        </param>
    </type>
</config>
