<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Mage
 * @package     Mage_Review
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <review_setup>
                <setup>
                    <module>Mage_Review</module>
                </setup>
            </review_setup>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Mage_Review>
                    <files>
                        <default>Mage_Review.csv</default>
                    </files>
                </Mage_Review>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Mage_Review>
                    <files>
                        <default>Mage_Review.csv</default>
                    </files>
                </Mage_Review>
            </modules>
        </translate>
        <secure_url>
            <review_customer>/review/customer/</review_customer>
        </secure_url>
    </frontend>
    <default>
        <catalog>
            <review>
                <allow_guest>1</allow_guest>
            </review>
        </catalog>
    </default>
</config>