<?xml version="1.0"?>
<config>
   <modules>
      <Mage_Catalog>
         <version>0.1.21</version>
         <depends>
            <Mage_Page />
         </depends>

         <admin>
            <controller>
               <active>true</active>
            </controller>
         </admin>
      </Mage_Catalog>
   </modules>

   <global>
      <models>
         <catalog>
            <class>Mage_Catalog_Model</class>
         </catalog>

         <catalog_resource>
            <class>Mage_Catalog_Model_Mysql4</class>

            <entities>
               <category>
                  <table>catalog_category</table>
               </category>

               <category_attribute>
                  <table>catalog_category_attribute</table>
               </category_attribute>

               <category_attribute_value>
                  <table>catalog_category_attribute_value</table>
               </category_attribute_value>

               <category_attribute_set>
                  <table>catalog_category_attribute_set</table>
               </category_attribute_set>

               <category_attribute_in_set>
                  <table>catalog_category_attribute_in_set</table>
               </category_attribute_in_set>

               <category_filter>
                  <table>catalog_category_filter</table>
               </category_filter>

               <category_filter_value>
                  <table>catalog_category_filter_value</table>
               </category_filter_value>

               <category_product>
                  <table>catalog_category_product</table>
               </category_product>

               <product>
                  <table>catalog_product</table>
               </product>

               <product_attribute>
                  <table>catalog_product_attribute</table>
               </product_attribute>

               <product_attribute_set>
                  <table>catalog_product_attribute_set</table>
               </product_attribute_set>

               <product_attribute_in_set>
                  <table>catalog_product_attribute_in_set</table>
               </product_attribute_in_set>

               <product_attribute_group>
                  <table>catalog_product_attribute_group</table>
               </product_attribute_group>

               <product_attribute_in_group>
                  <table>catalog_product_attribute_in_group</table>
               </product_attribute_in_group>

               <product_attribute_int>
                  <table>catalog_product_attribute_int</table>
               </product_attribute_int>

               <product_attribute_decimal>
                  <table>catalog_product_attribute_decimal</table>
               </product_attribute_decimal>

               <product_attribute_varchar>
                  <table>catalog_product_attribute_varchar</table>
               </product_attribute_varchar>

               <product_attribute_text>
                  <table>catalog_product_attribute_text</table>
               </product_attribute_text>

               <product_attribute_date>
                  <table>catalog_product_attribute_date</table>
               </product_attribute_date>

               <product_attribute_option>
                  <table>catalog_product_attribute_option</table>
               </product_attribute_option>

               <product_link>
                  <table>catalog_product_link</table>
               </product_link>

               <product_link_type>
                  <table>catalog_product_link_type</table>
               </product_link_type>

               <product_link_attribute>
                  <table>catalog_product_link_attribute</table>
               </product_link_attribute>

               <product_link_attribute_decimal>
                  <table>catalog_product_link_attribute_decimal</table>
               </product_link_attribute_decimal>

               <product_link_attribute_varchar>
                  <table>catalog_product_link_attribute_varchar</table>
               </product_link_attribute_varchar>
            </entities>
         </catalog_resource>
      </models>
      
      <catalog>
        <product>
            <types>
                <default></default>
                <bundle></bundle>
                <super></super>
            </types>
        </product>
        <!-- TODO: move atributes in this section -->
      </catalog>

      <category_attributes>
        <inputs>
            <text></text>
            <textarea></textarea>
            <imagefile></imagefile>
        </inputs>
        
        <savers>
            <default>
                <name>Default</name>
                <module>catalog</module>
                <model>category_attribute_saver</model>
            </default>
        </savers>
      </category_attributes>

      <product_attributes>
        <inputs>
            <text></text>
            <textarea></textarea>
            <select></select>
            <imagefile></imagefile>
            <hidden></hidden>
        </inputs>
        <sources>
            <type>
                <module>catalog</module>
                <model>product_attribute_source</model>
            </type>
            <status>
                <module>catalog</module>
                <model>product_attribute_source</model>
            </status>
            <manufacturer>
                <module>catalog</module>
                <model>product_attribute_source</model>
            </manufacturer>
            <category>
                <module>catalog</module>
                <model>product_attribute_source_category</model>
            </category>
        </sources>
        <types>
        <!-- define table names as XPATH -->
            <varchar>
                <table>catalog_product_attribute_varchar</table>
            </varchar>
            <decimal>
                <table>catalog_product_attribute_decimal</table>
            </decimal>
            <date>
                <table>catalog_product_attribute_date</table>
            </date>
            <text>
                <table>catalog_product_attribute_text</table>
            </text>
            <int>
                <table>catalog_product_attribute_int</table>
            </int>
        </types>
        <savers>
            <default>
                <module>catalog</module>
                <model>product_attribute_saver</model>
            </default>
            <image>
                <module>catalog</module>
                <model>product_attribute_saver_image</model>
            </image>
            <date>
                <module>catalog</module>
                <model>product_attribute_saver_date</model>
            </date>
        </savers>
      </product_attributes>
      
      <resources>
         <catalog_setup>
            <setup>
                <module>Mage_Catalog</module>
            </setup>
            <connection><use>core_setup</use></connection>
         </catalog_setup>

         <catalog_write>
            <connection><use>core_write</use></connection>
         </catalog_write>

         <catalog_read>
            <connection><use>core_read</use></connection>
         </catalog_read>
      </resources>

      <priceRuleConditions>
         <attribute>
            <class>Mage_Catalog_Price_Rule_Condition_Attribute</class>
         </attribute>

         <category>
            <class>Mage_Catalog_Price_Rule_Condition_Category</class>
         </category>
      </priceRuleConditions>

      <priceRuleActions>
         <subtotal_percent>
            <class>Mage_Catalog_Price_Rule_Action_Percent</class>
         </subtotal_percent>

         <subtotal_fixed>
            <class>Mage_Catalog_Price_Rule_Action_Fixed</class>
         </subtotal_fixed>
      </priceRuleActions>

      <blockTypes>
         <admin_catalog_category_form>
            <class>Mage_Catalog_Block_Admin_Category_Form</class>
         </admin_catalog_category_form>

         <admin_catalog_product_create_option>
            <class>Mage_Catalog_Block_Admin_Product_CreateOption</class>
         </admin_catalog_product_create_option>

         <admin_catalog_product_form>
            <class>Mage_Catalog_Block_Admin_Product_Form</class>
         </admin_catalog_product_form>

         <admin_catalog_product_card>
            <class>Mage_Catalog_Block_Admin_Product_Card</class>
         </admin_catalog_product_card>

         <catalog_category_tree>
            <class>Mage_Catalog_Block_Category_Tree</class>
         </catalog_category_tree>

         <catalog_category_list>
            <class>Mage_Catalog_Block_Category_List</class>
         </catalog_category_list>

         <catalog_navigation>
            <class>Mage_Catalog_Block_Navigation</class>
         </catalog_navigation>

         <catalog_breadcrumbs>
            <class>Mage_Catalog_Block_Breadcrumbs</class>
         </catalog_breadcrumbs>

         <catalog_category_view>
            <class>Mage_Catalog_Block_Category_View</class>
         </catalog_category_view>

         <catalog_product_view>
            <class>Mage_Catalog_Block_Product_View</class>
         </catalog_product_view>

         <catalog_search_result>
            <class>Mage_Catalog_Block_Product_Search</class>
         </catalog_search_result>
      </blockTypes>
   </global>

   <front>
      <layouts>
         <default>
            <updates>
               <catalog>
                  <file>catalog/initLayout.xml</file>
               </catalog>
            </updates>
         </default>
      </layouts>
      
      <routers>
         <catalog>
            <default>true</default>
            <class>Mage_Catalog_Router</class>
            <args>
                <module>Mage_Catalog</module>
                <frontName>catalog</frontName>
            </args>
         </catalog>
      </routers>
   </front>

   <admin>
      <acl>
         <resources>
            <catalog>
               <categories_products />

               <categories_attributes />

               <products_attributes />

               <products_datafeeds />
            </catalog>
         </resources>
      </acl>

      <layouts>
         <default>
            <updates>
               <catalog>
                  <file>catalog/initLayout.xml</file>
               </catalog>
            </updates>
         </default>
      </layouts>
      
      <globalSearch>
         <products>
            <class>Mage_Catalog_Model_Admin_Search</class>
         </products>
      </globalSearch>
   </admin>
</config>

