<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Mage
 * @package     Mage_GoogleAnalytics
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <frontend>
        <translate>
            <modules>
                <Mage_GoogleAnalytics>
                    <files>
                        <default>Mage_GoogleAnalytics.csv</default>
                    </files>
                </Mage_GoogleAnalytics>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Mage_GoogleAnalytics>
                    <files>
                        <default>Mage_GoogleAnalytics.csv</default>
                    </files>
                </Mage_GoogleAnalytics>
            </modules>
        </translate>
    </adminhtml>
</config>