<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <module name="Enterprise_AdminGws" version="1.11.0.0" active="false">
        <sequence>
            <module name="Mage_Adminhtml"/>
            <module name="Mage_Sales"/>
        </sequence>
        <depends>
            <module name="Mage_Adminhtml" type="hard"/>
            <module name="Mage_Sales" type="hard"/>
            <module name="Mage_Core" type="hard"/>
            <module name="Mage_Backend" type="hard"/>
            <module name="Mage_Catalog" type="hard"/>
            <module name="Mage_Review" type="hard"/>
            <module name="Mage_Customer" type="hard"/>
            <module name="Enterprise_CatalogEvent" type="hard"/>
            <module name="Mage_Checkout" type="hard"/>
            <module name="Enterprise_GiftRegistry" type="hard"/>
            <module name="Mage_CatalogRule" type="hard"/>
            <module name="Mage_SalesRule" type="hard"/>
            <module name="Enterprise_Reminder" type="hard"/>
            <module name="Enterprise_CustomerSegment" type="hard"/>
            <module name="Mage_Cms" type="hard"/>
            <module name="Mage_User" type="hard"/>
        </depends>
    </module>
</config>
