<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <module name="Enterprise_AdminGws" version="1.11.0.0" active="false">
        <sequence>
            <module name="Magento_Adminhtml"/>
            <module name="Magento_Sales"/>
            <module name="Magento_User"/>
        </sequence>
        <depends>
            <module name="Magento_Adminhtml" type="hard"/>
            <module name="Magento_Sales" type="hard"/>
            <module name="Magento_Core" type="hard"/>
            <module name="Magento_Backend" type="hard"/>
            <module name="Magento_Catalog" type="hard"/>
            <module name="Magento_Review" type="hard"/>
            <module name="Magento_Customer" type="hard"/>
            <module name="Enterprise_CatalogEvent" type="hard"/>
            <module name="Magento_Checkout" type="hard"/>
            <module name="Enterprise_GiftRegistry" type="hard"/>
            <module name="Magento_CatalogRule" type="hard"/>
            <module name="Magento_SalesRule" type="hard"/>
            <module name="Enterprise_Reminder" type="hard"/>
            <module name="Enterprise_CustomerSegment" type="hard"/>
            <module name="Magento_Cms" type="hard"/>
            <module name="Magento_User" type="hard"/>
        </depends>
    </module>
</config>
