<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Mage
 * @package     Mage_Rating
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <modules>
        <Mage_Rating>
            <version>1.6.0.1</version>
            <active>true</active>
            <depends>
                <Mage_Core/>
                <Mage_Review/>
                <Mage_Customer/>
            </depends>
            <sequence>
                <Mage_Core/>
                <Mage_Review/>
            </sequence>
        </Mage_Rating>
    </modules>
    <global>
        <resources>
            <rating_setup>
                <setup>
                    <module>Mage_Rating</module>
                </setup>
            </rating_setup>
        </resources>
    </global>
    <frontend>
        <translate>
            <modules>
                <Mage_Rating>
                    <files>
                        <default>Mage_Rating.csv</default>
                    </files>
                </Mage_Rating>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Mage_Rating>
                    <files>
                        <default>Mage_Rating.csv</default>
                    </files>
                </Mage_Rating>
            </modules>
        </translate>
        <events>
            <catalog_product_delete_after_done>
                <observers>
                    <rating>
                        <class>Mage_Rating_Model_Observer</class>
                        <method>processProductAfterDeleteEvent</method>
                    </rating>
                </observers>
            </catalog_product_delete_after_done>
        </events>
    </adminhtml>
</config>
