<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2014 X.commerce, Inc. (http://www.magentocommerce.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/system_file.xsd">
    <system>
        <section id="payment_all_paypal">
            <group id="wpp">
                <group id="wpp_required_settings">
                    <group id="wpp_and_express_checkout">
                        <field id="using_pbridge" type="select" translate="label comment" showInDefault="1" showInWebsite="1" sortOrder="3">
                            <label>Use via Payment Bridge</label>
                            <comment>Gives effect only when payment bridge is active.</comment>
                            <config_path>payment/paypal_direct/using_pbridge</config_path>
                            <source_model>Magento\Backend\Model\Config\Source\Yesno</source_model>
                        </field>
                    </group>
                </group>
                <group id="wpp_settings">
                    <field id="heading_cc">
                        <depends>
                            <field id="*/*/*/wpp_required_settings/wpp_and_express_checkout/using_pbridge">0</field>
                        </depends>
                    </field>
                    <field id="cctypes">
                        <depends>
                            <field id="*/*/*/wpp_required_settings/wpp_and_express_checkout/using_pbridge">0</field>
                        </depends>
                    </field>
                    <group id="wpp_settings_advanced">
                        <field id="verify_peer">
                            <depends>
                                <field id="*/*/*/wpp_required_settings/wpp_and_express_checkout/using_pbridge">0</field>
                            </depends>
                        </field>
                        <field id="centinel">
                            <depends>
                                <field id="*/*/*/wpp_required_settings/wpp_and_express_checkout/using_pbridge">0</field>
                            </depends>
                        </field>
                        <field id="heading_3dsecure">
                            <depends>
                                <field id="*/*/*/wpp_required_settings/wpp_and_express_checkout/using_pbridge">0</field>
                            </depends>
                        </field>
                        <field id="centinel_is_mode_strict">
                            <depends>
                                <field id="*/*/*/wpp_required_settings/wpp_and_express_checkout/using_pbridge">0</field>
                            </depends>
                        </field>
                        <field id="centinel_api_url">
                            <depends>
                                <field id="*/*/*/wpp_required_settings/wpp_and_express_checkout/using_pbridge">0</field>
                            </depends>
                        </field>
                        <field id="line_items_enabled">
                            <depends>
                                <field id="*/*/*/wpp_required_settings/wpp_and_express_checkout/using_pbridge">0</field>
                            </depends>
                        </field>
                        <field id="useccv">
                            <depends>
                                <field id="*/*/*/wpp_required_settings/wpp_and_express_checkout/using_pbridge">0</field>
                            </depends>
                        </field>
                    </group>
                </group>
            </group>
            <group id="paypal_payflowpro">
                <group id="paypal_payflow_required">
                    <group id="paypal_payflow_api_settings">
                        <field id="using_pbridge" type="select" translate="label comment" showInDefault="1" showInWebsite="1" sortOrder="3">
                            <label>Use via Payment Bridge</label>
                            <comment>Gives effect only when payment bridge is active.</comment>
                            <config_path>payment/payflowpro/using_pbridge</config_path>
                            <source_model>Magento\Backend\Model\Config\Source\Yesno</source_model>
                        </field>
                    </group>
                </group>
                <group id="settings_paypal_payflow">
                    <field id="heading_cc">
                        <depends>
                            <field id="*/*/*/paypal_payflow_required/paypal_payflow_api_settings/using_pbridge">0</field>
                        </depends>
                    </field>
                    <field id="cctypes">
                        <depends>
                            <field id="*/*/*/paypal_payflow_required/paypal_payflow_api_settings/using_pbridge">0</field>
                        </depends>
                    </field>
                    <group id="settings_paypal_payflow_advanced">
                        <field id="verify_peer">
                            <depends>
                                <field id="*/*/*/paypal_payflow_required/paypal_payflow_api_settings/using_pbridge">0</field>
                            </depends>
                        </field>
                        <field id="centinel">
                            <depends>
                                <field id="*/*/*/paypal_payflow_required/paypal_payflow_api_settings/using_pbridge">0</field>
                            </depends>
                        </field>
                        <field id="heading_3dsecure">
                            <depends>
                                <field id="*/*/*/paypal_payflow_required/paypal_payflow_api_settings/using_pbridge">0</field>
                            </depends>
                        </field>
                        <field id="centinel_is_mode_strict">
                            <depends>
                                <field id="*/*/*/paypal_payflow_required/paypal_payflow_api_settings/using_pbridge">0</field>
                            </depends>
                        </field>
                        <field id="centinel_api_url">
                            <depends>
                                <field id="*/*/*/paypal_payflow_required/paypal_payflow_api_settings/using_pbridge">0</field>
                            </depends>
                        </field>
                        <field id="useccv">
                            <depends>
                                <field id="*/*/*/paypal_payflow_required/paypal_payflow_api_settings/using_pbridge">0</field>
                            </depends>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>
