<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Enterprise
 * @package     Enterprise_Cms
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <enterprise_cms_setup>
                <setup>
                    <module>Enterprise_Cms</module>
                    <class>Magento_Core_Model_Resource_Setup</class>
                </setup>
            </enterprise_cms_setup>
        </resources>
        <events>
            <cms_controller_router_match_before>
                <observers>
                    <enterprise_cms>
                        <class>Enterprise_Cms_Model_Observer</class>
                        <method>cmsControllerRouterMatchBefore</method>
                    </enterprise_cms>
                </observers>
            </cms_controller_router_match_before>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <enterprise_cms_add_topmenu_items>
                        <class>Enterprise_Cms_Model_Observer</class>
                        <method>addCmsToTopmenuItems</method>
                    </enterprise_cms_add_topmenu_items>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
        <enterprise_cms>
            <hierarchy>
                <menu>
                    <layouts>
                        <content translate="label">
                            <label>Content</label>
                            <layout_handle>enterprise_cms_hierarchy_menu_content</layout_handle>
                            <is_default>1</is_default>
                        </content>
                        <left_column translate="label">
                            <label>Left Column</label>
                            <layout_handle>enterprise_cms_hierarchy_menu_left_column</layout_handle>
                            <page_layout_handles>
                                <page_two_columns_left />
                                <page_three_columns />
                            </page_layout_handles>
                        </left_column>
                        <right_column translate="label">
                            <label>Right Column</label>
                            <layout_handle>enterprise_cms_hierarchy_menu_right_column</layout_handle>
                            <page_layout_handles>
                                <page_two_columns_right />
                                <page_three_columns />
                            </page_layout_handles>
                        </right_column>
                    </layouts>
                </menu>
            </hierarchy>
        </enterprise_cms>
    </global>
    <frontend>
        <events>
            <cms_page_render>
                <observers>
                    <enterprise_cms>
                        <class>Enterprise_Cms_Model_Observer</class>
                        <method>affectCmsPageRender</method>
                    </enterprise_cms>
                </observers>
            </cms_page_render>
        </events>
    </frontend>
    <adminhtml>
        <events>
            <adminhtml_cms_page_edit_tab_main_prepare_form>
                <observers>
                    <enterprise_cms>
                        <class>Enterprise_Cms_Model_Observer</class>
                        <method>onMainTabPrepareForm</method>
                    </enterprise_cms>
                </observers>
            </adminhtml_cms_page_edit_tab_main_prepare_form>
            <cms_page_save_before>
                <observers>
                    <enterprise_cms>
                        <class>Enterprise_Cms_Model_Observer</class>
                        <method>cmsPageSaveBefore</method>
                    </enterprise_cms>
                </observers>
            </cms_page_save_before>
            <cms_page_save_after>
                <observers>
                    <enterprise_cms>
                        <class>Enterprise_Cms_Model_Observer</class>
                        <method>cmsPageSaveAfter</method>
                    </enterprise_cms>
                </observers>
            </cms_page_save_after>
            <admin_user_delete_after>
                <observers>
                    <enterprise_cms>
                        <class>Enterprise_Cms_Model_Observer</class>
                        <method>adminUserDeleteAfter</method>
                    </enterprise_cms>
                </observers>
            </admin_user_delete_after>
            <website_delete_after>
                <observers>
                    <enterprise_cms>
                        <class>Enterprise_Cms_Model_Observer</class>
                        <method>deleteWebsite</method>
                    </enterprise_cms>
                </observers>
            </website_delete_after>
            <store_delete_after>
                <observers>
                    <enterprise_cms>
                        <class>Enterprise_Cms_Model_Observer</class>
                        <method>deleteStore</method>
                    </enterprise_cms>
                </observers>
            </store_delete_after>
            <cms_page_get_available_statuses>
                <observers>
                    <enterprise_cms>
                        <class>Enterprise_Cms_Model_Observer</class>
                        <method>modifyPageStatuses</method>
                    </enterprise_cms>
                </observers>
            </cms_page_get_available_statuses>
            <cms_page_delete_after>
                <observers>
                    <enterprise_cms>
                        <class>Enterprise_Cms_Model_Observer</class>
                        <method>cmsPageDeleteAfter</method>
                    </enterprise_cms>
                </observers>
            </cms_page_delete_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <enterprise_cms before="Magento_Adminhtml">Enterprise_Cms_Adminhtml</enterprise_cms>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <cms>
            <hierarchy>
                <enabled>1</enabled>
                <metadata_enabled>1</metadata_enabled>
                <menu_layout>content</menu_layout>
            </hierarchy>
            <content>
                <versioning>1</versioning>
            </content>
        </cms>
    </default>
</config>
