<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento_Checkout_Model_Session">
        <param name="sessionName">
            <value>frontend</value>
        </param>
    </type>
    <type name="Magento_Core_Model_Url_SecurityInfo">
        <param name="secureUrlList">
            <value>
                <checkout_onepage>/checkout/onepage</checkout_onepage>
                <checkout_multishipping>/checkout/multishipping</checkout_multishipping>
            </value>
        </param>
    </type>
</config>
