<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <preference for="Enterprise_Customer_Helper_Data" type="Saas_Customer_Helper_Data" />
    <type name="Saas_Saas_Model_Limitation_Specification_Composite">
        <param name="specificationNames">
            <value>
                <backend_customer_online>Saas_Customer_Model_Limitation_Specification_Backend_CustomerOnline</backend_customer_online>
            </value>
        </param>
    </type>
</config>
