<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <system>
        <section id="customer">
            <group id="online_customers" translate="label" type="text" sortOrder="10" showInDefault="0"
                   showInWebsite="0" showInStore="0"></group>
        </section>
    </system>
</config>
