<?xml version="1.0"?>
<config>
    <modules>
        <Mage_Poll>
            <version>0.1.2</version>
        </Mage_Poll>
    </modules>
    <front>
        <layouts>
            <default>
                <updates>
                    <poll>
                        <file>poll/initLayout.xml</file>
                    </poll>
                </updates>
            </default>
        </layouts>
        <routers>
            <poll>
                <args>
                    <module>Mage_Poll</module>
                    <frontName>poll</frontName>
                </args>
            </poll>
        </routers>
    </front> 
    <global>
        <models>
            <poll>
                <class>Mage_Poll_Model</class>
            </poll>
            <poll_resource>
                <class>Mage_Poll_Model_Mysql4</class>
                <entities>
                    <poll>
                        <table>poll</table>
                    </poll>
                    <poll_answer>
                        <table>poll_answer</table>
                    </poll_answer>
                    <poll_vote>
                        <table>poll_vote</table>
                    </poll_vote>
                </entities>
            </poll_resource>
        </models>
        <resources>
            <poll_setup>
                <setup>
                    <module>Mage_Poll</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </poll_setup>
            <poll_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </poll_write>
            <poll_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </poll_read>
        </resources>
        <block>
            <groups>
                <poll>
                    <class>Mage_Poll_Block</class>
                </poll>
            </groups>
        </block>
    </global>
</config>
