<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Mage
 * @package     Mage_Eav
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <modules>
        <Mage_Eav>
            <version>1.6.0.2</version>
            <active>true</active>
            <depends>
                <Mage_Core/>
                <Mage_Adminhtml/>
                <Mage_Backend/>
                <Mage_Catalog/>
                <Mage_Customer/>
            </depends>
            <sequence>
                <Mage_Core/>
            </sequence>
        </Mage_Eav>
    </modules>
    <global>
        <resources>
            <eav_setup>
                <setup>
                    <module>Mage_Eav</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </eav_setup>
        </resources>
        <cache>
            <types>
                <eav translate="label,description" module="Mage_Eav">
                    <label>EAV types and attributes</label>
                    <description>Entity types declaration cache.</description>
                    <class>Mage_Eav_Model_Cache_Type</class>
                </eav>
            </types>
        </cache>
        <eav_frontendclasses>
        </eav_frontendclasses>
        <eav_attributes>
        </eav_attributes>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Mage_Eav>
                    <files>
                        <default>Mage_Eav.csv</default>
                    </files>
                </Mage_Eav>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Mage_Eav>
                    <files>
                        <default>Mage_Eav.csv</default>
                    </files>
                </Mage_Eav>
            </modules>
        </translate>
    </frontend>
    <default>
        <general>
            <validator_data>
                <input_types>
                    <text>text</text>
                    <textarea>textarea</textarea>
                    <date>date</date>
                    <boolean>boolean</boolean>
                    <multiselect>multiselect</multiselect>
                    <select>select</select>
                </input_types>
            </validator_data>
        </general>
    </default>
</config>
