<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Enterprise
 * @package     Enterprise_Pci
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <menu>
        <add id="Enterprise_Pci::system_crypt_key" title="Manage Encryption Key" module="Enterprise_Pci" sortOrder="75" parent="Mage_Adminhtml::system" action="adminhtml/crypt_key" dependsOnModule="Enterprise_Pci" />
        <add id="Enterprise_Pci::system_acl_locks" title="Locked Users" module="Enterprise_Pci" parent="Mage_User::system_acl" action="adminhtml/locks" />
    </menu>
</config>
