<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <event name="clean_cache_by_tags">
        <observer name="invalidate_varnish" instance="Magento\CacheInvalidate\Model\Observer" method="invalidateVarnish" />
    </event>
    <event name="adminhtml_cache_flush_system">
        <observer name="flush_varnish_pagecache" instance="Magento\CacheInvalidate\Model\Observer" method="flushAllCache" />
    </event>
    <event name="adminhtml_cache_flush_all">
        <observer name="flush_all_varnish_pagecache" instance="Magento\PageCache\Model\Observer" method="flushAllCache" />
    </event>
</config>
