<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Saas
 * @package     Saas_Core
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <default>
        <web>
            <session>
                <use_remote_addr>1</use_remote_addr>
            </session>
        </web>
    </default>
</config>
