<?xml version="1.0"?>
<config>
    <modules>
        <Mage_Core>
             <version>0.3.0</version>
        </Mage_Core>
    </modules>

    <global>
        <resource>
            <connection>
                <types>
                    <pdo_mysql>
                        <class>Mage_Core_Model_Resource_Type_Db_Pdo_Mysql</class>
                    </pdo_mysql>
                    <mysqli>
                        <class>Mage_Core_Model_Resource_Type_Db_Mysqli</class>
                    </mysqli>
                    <mysqli_setup>
                        <class>Mage_Core_Model_Resource_Type_Db_Mysqli_Setup</class>
                    </mysqli_setup>
                </types>
            </connection>
        </resource>

        <resources>
            <core_setup>
                <setup>
                    <module>Mage_Core</module>
                </setup>
            </core_setup>
        </resources>

        <models>
            <core>
                <class>Mage_Core_Model</class>
                <resourceModel>core_mysql4</resourceModel>
            </core>

            <core_mysql4>
                <class>Mage_Core_Model_Mysql4</class>
                <entities>
                    <resource>
                        <table>core_resource</table>
                    </resource>
                    <language>
                        <table>core_language</table>
                    </language>
                    <website>
                        <table>core_website</table>
                    </website>
                    <store>
                        <table>core_store</table>
                    </store>
                    <session>
                        <table>core_session</table>
                    </session>
                    <entity_type>
                        <table>core_entity_type</table>
                    </entity_type>
                    <entity>
                        <table>core_entity</table>
                    </entity>
                    <attribute>
                        <table>core_attribute</table>
                    </attribute>
                    <attribute_int>
                        <table>core_attribute_int</table>
                    </attribute_int>
                    <attribute_date>
                        <table>core_attribute_date</table>
                    </attribute_date>
                    <attribute_text>
                        <table>core_attribute_text</table>
                    </attribute_text>
                    <attribute_decimal>
                        <table>core_attribute_decimal</table>
                    </attribute_decimal>
                    <attribute_varchar>
                        <table>core_attribute_varchar</table>
                    </attribute_varchar>
                </entities>
            </core_mysql4>
        </models>

        <block>
            <groups><core><class>Mage_Core_Block</class></core></groups>
        </block>
    </global>
    <front>
        <layouts>
            <noRoute>
                <updates>
                    <core>
                        <file>core/noRoute.xml</file>
                    </core>
                </updates>
            </noRoute>
        <default>
            <updates>
                <page>
                    <file>core/default.xml</file>
                </page>
            </updates>
        </default>
        </layouts>
    </front>
    <translate></translate>
</config>