<?xml version="1.0"?>
<config>
    <modules>
        <Mage_Rating>
            <version>0.1.2</version>
            <depends>
                <Mage_Core />
            </depends>
        </Mage_Rating>
    </modules>
    <global>
        <models>
            <rating>
                <class>Mage_Rating_Model</class>
            </rating>
            <rating_resource>
                <class>Mage_Rating_Model_Mysql4</class>
                <entities>
                    <rating>
                        <table>rating</table>
                    </rating>
                    <rating_entity>
                        <table>rating_entity</table>
                    </rating_entity>
                    <rating_option>
                        <table>rating_option</table>
                    </rating_option>
                    <rating_vote>
                        <table>rating_option_vote</table>
                    </rating_vote>
                </entities>
            </rating_resource>
        </models>
        <resources>
            <rating_setup>
                <setup>
                    <module>Mage_Rating</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rating_setup>
            <rating_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rating_write>
            <rating_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rating_read>
        </resources>
        <block>
            <groups>
                <rating>
                    <class>Mage_Rating_Block</class>
                </rating>
            </groups>
        </block>
    </global>
</config>