<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\Customer\Helper\Data">
        <plugin name="websiterestriction_customer_registration_plugin" type="Magento\WebsiteRestriction\Model\Plugin\CustomerRegistration"/>
    </type>
    <type name="Magento\View\Action\LayoutServiceInterface">
        <plugin name="websiteRestriction" type="Magento\WebsiteRestriction\Model\View\Action\LayoutService\Plugin\WebsiteRestriction" sortOrder="20"/>
    </type>
</config>
