<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <module name="Enterprise_Invitation" version="1.11.0.0" active="false">
        <sequence>
            <module name="Magento_Adminhtml"/>
            <module name="Magento_Customer"/>
            <module name="Magento_Reports"/>
            <module name="Enterprise_WebsiteRestriction"/>
        </sequence>
        <depends>
            <module name="Magento_Adminhtml"/>
            <module name="Magento_Customer"/>
            <module name="Magento_Reports"/>
            <module name="Magento_Core"/>
            <module name="Magento_Backend"/>
            <module name="Magento_Page" type="soft"/>
            <module name="Enterprise_Logging"/>
        </depends>
    </module>
</config>
