<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_PricePermissions
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <system>
        <section id="catalog">
            <group id="price">
                <field id="default_product_price" translate="label comment" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default Product Price</label>
                    <comment>
                        <![CDATA[Defines the default product price]]>
                    </comment>
                    <backend_model>Magento_PricePermissions_Model_System_Config_Backend_Catalog_Product_Price_Default</backend_model>
                    <frontend_model>Magento_PricePermissions_Block_Adminhtml_Catalog_Product_Price_Default</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
