<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Saas
 * @package     Saas_Queue
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <modules>
        <Saas_Queue>
            <version>2.0.0.0</version>
            <active>false</active>
            <depends>
                <Enterprise_Queue/>
            </depends>
        </Saas_Queue>
    </modules>
    <global>
        <queue>
            <adapter>
                <gearman>
                    <title>Gearman</title>
                    <servers>127.0.0.1:4730</servers>
                    <task>
                        <params>
                        </params>
                    </task>
                </gearman>
            </adapter>
        </queue>
        <di>
            <preferences>
                <Enterprise_Queue_Model_Event_HandlerInterface>Saas_Queue_Model_Event_Handler</Enterprise_Queue_Model_Event_HandlerInterface>
            </preferences>
            <Saas_Queue_Model_Observer_Config>
                <parameters>
                    <config>Mage_Core_Model_Config</config>
                </parameters>
            </Saas_Queue_Model_Observer_Config>
        </di>
        <events>
            <application_process_refresh_cache>
                <observers>
                    <saas_queue>
                        <asynchronous>true</asynchronous>
                        <class>Saas_Queue_Model_Observer_Cache</class>
                        <method>processRefreshCache</method>
                        <params>
                            <task_name>refresh_cache</task_name>
                        </params>
                    </saas_queue>
                </observers>
            </application_process_refresh_cache>
            <application_process_refresh_catalog>
                <observers>
                    <saas_queue>
                        <asynchronous>true</asynchronous>
                        <class>Saas_Queue_Model_Observer_Catalog</class>
                        <method>processRefreshCatalog</method>
                        <params>
                            <task_name>refresh_catalog</task_name>
                        </params>
                    </saas_queue>
                </observers>
            </application_process_refresh_catalog>
            <!--<application_process_reinit_config>-->
                <!--<observers>-->
                    <!--<reinit_config_observer>-->
                        <!--<asynchronous>true</asynchronous>-->
                        <!--<priority>10</priority>-->
                        <!--<class>Saas_Queue_Model_Observer_Config</class>-->
                        <!--<method>processReinitConfig</method>-->
                        <!--<params>-->
                            <!--<task_name>regenerate_config</task_name>-->
                        <!--</params>-->
                    <!--</reinit_config_observer>-->
                <!--</observers>-->
            <!--</application_process_reinit_config>-->
        </events>
    </global>
    <workers>
        <events>
        </events>
    </workers>
</config>
