<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Saas
 * @package     Saas_Queue
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <queue>
            <adapter>
                <gearman>
                    <title>Gearman</title>
                    <servers>127.0.0.1:4730</servers>
                    <task>
                        <params />
                    </task>
                </gearman>
            </adapter>
        </queue>
    </global>
</config>