<?xml version="1.0" encoding="UTF-8"?>
<config>
    <browser>*chrome</browser>
	<frontend>
		<baseUrl>http://kq.varien.com/enterprise/1.8.0.0/smoke/index.php/</baseUrl>
		<auth>
			<firstname>Smoke</firstname>
			<lastname>Test</lastname>
			<email>st1-user@varein.com</email>
			<password>123123</password>
		</auth>	
		<checkout>
				<productUrl>http://kq.varien.com/enterprise/1.8.0.0/smoke/st-01.html</productUrl>
				<qty>1</qty>
				<company>The Smokers</company>
				<street1>Address Line1</street1>
				<street2>Address Line2</street2>
				<city>City</city>
				<region>California</region>
				<country>United States</country>
				<postcode>900034</postcode>
				<telephone>555-55-55</telephone>
				<fax>555-55-57</fax>
			<guest>
				<firstName>Guest First Name</firstName>
				<lastName>Guest Last Name</lastName>
				<email>st2-user@varien.com</email>
			</guest>
			<register>
				<firstName>SigIn First Name</firstName>
				<lastName>SigIn Last Name</lastName>
				<email>st10-user@varien.com</email>
				<password>123123</password>
			</register>
			<login>
				<email>st8-user@varien.com</email>
				<password>123123</password>
			</login>
			<mulitiShippingRegister>
				<firstName>MS-Register First Name</firstName>
				<lastName>MS-Last Name</lastName>
				<email>st16-user@varien.com</email>
				<password>123123</password>
				<productUrl>http://kq.varien.com/enterprise/1.8.0.0/smoke/st-01.html</productUrl>
				<qty>2</qty>
			</mulitiShippingRegister>
		</checkout>
	</frontend>
	<backend>
		<baseUrl>http://kq.varien.com/enterprise/1.8.0.0/index.php/control/index/</baseUrl>
		<auth>
			<username>admin</username>
			<password>123123q</password>
		</auth>
		<customer>
			<id>102</id>
		</customer>
		<createproduct>
			<sku>st-01</sku>
			<duplicatedSku>st-01d</duplicatedSku>
			<productname>st-01</productname>
			<price>10</price>
		</createproduct>
		<managestores>
			<site>
				<name>SmokeTestSite</name>
				<code>smoke</code>
				<sortorder>1</sortorder>
			</site>
			<store>
				<storename>smokestore</storename>               
			</store>
			<storeview>
				<name>SmokeTestStoreView</name>
				<code>smokestoreview</code>
				<order>1</order>
				<status>label=Enabled</status>
			</storeview>
		</managestores>
		<managecategories>
				<rootname>st-rootcat</rootname>
				<subcategoryname>st-subcat</subcategoryname>
				<parentsubcategoryname>st-rootcat</parentsubcategoryname>
		</managecategories>
		
	</backend>
</config>
