<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/Magento/Framework/Event/etc/events.xsd">
    <event name="customer_login">
        <observer name="catalog" instance="Magento\Catalog\Model\Product\Compare\Item" method="bindCustomerLogin" shared="false" />
    </event>
    <event name="customer_logout">
        <observer name="catalog" instance="Magento\Catalog\Model\Product\Compare\Item" method="bindCustomerLogout" shared="false" />
    </event>
</config>
