<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <module name="Mage_Authorizenet" version="1.5.0.0" active="true">
        <depends>
            <module name="Mage_Paygate" />
            <module name="Mage_Sales" />
            <module name="Mage_Checkout" />
        </depends>
    </module>
</config>
