<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <preference for="Magento\Translate\InlineInterface" type="Magento\Translate\Inline" />
    <preference for="Magento\Translate\Inline\ProviderInterface" type="Magento\Translate\Inline\Provider" />
    <preference for="Magento\Translate\Inline\ParserInterface" type="Magento\Translation\Model\Inline\Parser" />
    <preference for="Magento\Translate\ResourceInterface" type="Magento\Translation\Model\Resource\Translate" />
    <preference for="Magento\Translate\Inline\StateInterface" type="Magento\Translate\Inline\State" />
    <type name="Magento\Translate\Inline">
        <arguments>
            <argument name="templateFileName" xsi:type="string">Magento_Translation::translate_inline.phtml</argument>
            <argument name="translatorRoute" xsi:type="string">translation/ajax/index</argument>
            <argument name="layout" xsi:type="object">Magento\View\LayoutInterface\Proxy</argument>
            <argument name="config" xsi:type="object">Magento\Translate\Inline\ConfigInterface\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Translation\Model\Inline\Parser">
        <arguments>
            <argument name="inputFilter" xsi:type="object">Magento\Filter\Input\MaliciousCode</argument>
        </arguments>
    </type>
    <type name="Magento\Translate\Inline\Provider">
        <arguments>
            <argument name="inlineTranslate" xsi:type="object">Magento\Translate\Inline\Proxy</argument>
        </arguments>
    </type>
</config>
