.step-controls {
    padding: 10px;
    margin: 20px;
    text-align: right;
}

.required {
    color: red;
}
.web-config > div.row > div {
    padding: 10px;
}
.advanced-opt > div {
    padding: 20px;
}
.advanced-opt-label {
    float: left;
    width: 20%;
}
.advanced-opt-content {
    display: inline-block;
    width: 80%;
}
.web-conf-control {
    width: 200px;
    display: inline;
    margin-left: 20px;
}
.web-conf-label {
    width: 200px;
}


.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin: 20px 0;
    padding: 20px;
}
.bs-callout h4 {
    margin-bottom: 5px;
    margin-top: 0;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}