<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Enterprise
 * @package     Enterprise_Staging
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <menu>
        <add id="Enterprise_Staging::system_enterprise_staging" title="Content Staging" module="Enterprise_Staging" sortOrder="21" parent="Mage_Adminhtml::system" />
        <add id="Enterprise_Staging::system_enterprise_staging_staging_grid" title="Staging Websites" module="Enterprise_Staging" sortOrder="10" parent="Enterprise_Staging::system_enterprise_staging" action="adminhtml/staging_manage/index" />
        <add id="Enterprise_Staging::system_enterprise_staging_staging_backup" title="Backups" module="Enterprise_Staging" sortOrder="20" parent="Enterprise_Staging::system_enterprise_staging" action="adminhtml/staging_backup/index" />
        <add id="Enterprise_Staging::system_enterprise_staging_staging_log" title="Log" module="Enterprise_Staging" sortOrder="30" parent="Enterprise_Staging::system_enterprise_staging" action="adminhtml/staging_log/index" />
    </menu>
</config>
