<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Mage
 * @package     Mage_Centinel
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <frontend>
        <translate>
            <modules>
                <Mage_Centinel>
                    <files>
                        <default>Mage_Centinel.csv</default>
                    </files>
                </Mage_Centinel>
            </modules>
        </translate>
        <secure_url>
            <centinel>/centinel/</centinel>
        </secure_url>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Mage_Centinel>
                    <files>
                        <default>Mage_Centinel.csv</default>
                    </files>
                </Mage_Centinel>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <payment>
            <cc>
                <types>
                    <VI>
                        <validator>
                            <centinel>
                                <state>Mage_Centinel_Model_State_Visa</state>
                            </centinel>
                        </validator>
                    </VI>
                    <MC>
                        <validator>
                            <centinel>
                                <state>Mage_Centinel_Model_State_Mastercard</state>
                            </centinel>
                        </validator>
                    </MC>
                    <JCB>
                        <validator>
                            <centinel>
                                <state>Mage_Centinel_Model_State_Jcb</state>
                            </centinel>
                        </validator>
                    </JCB>
                    <SM>
                        <validator>
                            <centinel>
                                <state>Mage_Centinel_Model_State_Mastercard</state>
                            </centinel>
                        </validator>
                    </SM>
                </types>
            </cc>
        </payment>
    </global>
</config>