<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <event name="product_option_renderer_init">
        <observer name="giftcard_observer" instance="Magento_GiftCard_Model_Observer" method="initOptionRenderer" />
    </event>
</config>