<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_FullPageCache
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <adminhtml>
        <cache>
            <dependency>
                <change>
                    <catalog_product>Magento\Catalog\Model\Product</catalog_product>
                    <catalog_category>Magento\Catalog\Model\Category</catalog_category>
                    <catalog_eav_attribute>Magento\Catalog\Model\Resource\Eav\Attribute</catalog_eav_attribute>
                    <review>Magento\Review\Model\Review</review>
                    <cms_hierarchy_node>Magento\VersionsCms\Model\Hierarchy\Node</cms_hierarchy_node>
                    <banner>Magento\Banner\Model\Banner</banner>
                    <core_store_group>Magento\Core\Model\Store\Group</core_store_group>
                    <poll>Magento\Poll\Model\Poll</poll>
                </change>
                <delete>
                    <catalog_category>Magento\Catalog\Model\Category</catalog_category>
                    <catalog_eav_attribute>Magento\Catalog\Model\Resource\Eav\Attribute</catalog_eav_attribute>
                    <review>Magento\Review\Model\Review</review>
                    <cms_hierarchy_node>Magento\VersionsCms\Model\Hierarchy\Node</cms_hierarchy_node>
                    <banner>Magento\Banner\Model\Banner</banner>
                    <core_store_group>Magento\Core\Model\Store\Group</core_store_group>
                    <poll>Magento\Poll\Model\Poll</poll>
                </delete>
            </dependency>
        </cache>
    </adminhtml>
    <frontend>
        <cache>
            <requests>
                <cms>Magento\FullPageCache\Model\Processor\DefaultProcessor</cms>
                <catalog>
                    <category>
                        <view>Magento\FullPageCache\Model\Processor\Category</view>
                    </category>
                </catalog>
                <catalog>
                    <product>
                        <view>Magento\FullPageCache\Model\Processor\Product</view>
                    </product>
                </catalog>
            </requests>
        </cache>
    </frontend>
    <default>
        <system>
            <page_cache>
                <allowed_depth>1</allowed_depth>
                <multicurrency>1</multicurrency>
                <max_cache_size>1024</max_cache_size>
            </page_cache>
            <page_crawl>
                <enable>0</enable>
                <threads>1</threads>
                <multicurrency>1</multicurrency>
            </page_crawl>
        </system>
        <dev>
            <translate_inline>
                <invalid_caches>
                    <full_page />
                </invalid_caches>
            </translate_inline>
        </dev>
    </default>
</config>
