<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_FullPageCache
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <fullpagecache_setup>
                <setup>
                    <module>Magento_FullPageCache</module>
                </setup>
            </fullpagecache_setup>
        </resources>
        <ignore_user_agents>
            <cache_crawler>MagentoCrawler</cache_crawler>
        </ignore_user_agents>
        <widget>
            <related_cache_types>
                <full_page />
            </related_cache_types>
        </widget>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Magento_FullPageCache>
                    <files>
                        <default>Magento_FullPageCache.csv</default>
                    </files>
                </Magento_FullPageCache>
            </modules>
        </translate>
        <cache>
            <dependency>
                <change>
                    <catalog_product>Magento_Catalog_Model_Product</catalog_product>
                    <catalog_category>Magento_Catalog_Model_Category</catalog_category>
                    <catalog_eav_attribute>Magento_Catalog_Model_Resource_Eav_Attribute</catalog_eav_attribute>
                    <review>Magento_Review_Model_Review</review>
                    <cms_hierarchy_node>Magento_VersionsCms_Model_Hierarchy_Node</cms_hierarchy_node>
                    <banner>Magento_Banner_Model_Banner</banner>
                    <core_store_group>Magento_Core_Model_Store_Group</core_store_group>
                    <poll>Magento_Poll_Model_Poll</poll>
                </change>
                <delete>
                    <catalog_category>Magento_Catalog_Model_Category</catalog_category>
                    <catalog_eav_attribute>Magento_Catalog_Model_Resource_Eav_Attribute</catalog_eav_attribute>
                    <review>Magento_Review_Model_Review</review>
                    <cms_hierarchy_node>Magento_VersionsCms_Model_Hierarchy_Node</cms_hierarchy_node>
                    <banner>Magento_Banner_Model_Banner</banner>
                    <core_store_group>Magento_Core_Model_Store_Group</core_store_group>
                    <poll>Magento_Poll_Model_Poll</poll>
                </delete>
            </dependency>
        </cache>
    </adminhtml>
    <frontend>
        <cache>
            <requests>
                <cms>Magento_FullPageCache_Model_Processor_Default</cms>
                <catalog>
                    <category>
                        <view>Magento_FullPageCache_Model_Processor_Category</view>
                    </category>
                </catalog>
                <catalog>
                    <product>
                        <view>Magento_FullPageCache_Model_Processor_Product</view>
                    </product>
                </catalog>
            </requests>
        </cache>
    </frontend>
    <default>
        <system>
            <page_cache>
                <allowed_depth>1</allowed_depth>
                <multicurrency>1</multicurrency>
                <max_cache_size>1024</max_cache_size>
            </page_cache>
            <page_crawl>
                <enable>0</enable>
                <threads>1</threads>
                <multicurrency>1</multicurrency>
            </page_crawl>
        </system>
        <dev>
            <translate_inline>
                <invalid_caches>
                    <full_page />
                </invalid_caches>
            </translate_inline>
        </dev>
    </default>
    <crontab>
        <jobs>
            <enterprise_page_cache_crawler>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>Magento_FullPageCache_Model_Crawler::crawl</model>
                </run>
            </enterprise_page_cache_crawler>
        </jobs>
    </crontab>
</config>