<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_FullPageCache
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <fullpagecache_setup>
                <setup>
                    <module>Magento_FullPageCache</module>
                </setup>
            </fullpagecache_setup>
        </resources>
        <ignore_user_agents>
            <cache_crawler>MagentoCrawler</cache_crawler>
        </ignore_user_agents>
        <widget>
            <related_cache_types>
                <full_page />
            </related_cache_types>
        </widget>
        <events>
            <design_editor_activate>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>setNoCacheCookie</method>
                    </magento_fullpagecache>
                </observers>
            </design_editor_activate>
            <design_editor_deactivate>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>deleteNoCacheCookie</method>
                    </magento_fullpagecache>
                </observers>
            </design_editor_deactivate>
        </events>
    </global>
    <adminhtml>
        <events>
            <clean_media_cache_after>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>cleanCache</method>
                    </magento_fullpagecache>
                </observers>
            </clean_media_cache_after>
            <clean_catalog_images_cache_after>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>cleanCache</method>
                    </magento_fullpagecache>
                </observers>
            </clean_catalog_images_cache_after>
            <model_save_commit_after>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>validateDataChanges</method>
                    </magento_fullpagecache>
                </observers>
            </model_save_commit_after>
            <model_delete_commit_after>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>validateDataDelete</method>
                    </magento_fullpagecache>
                </observers>
            </model_delete_commit_after>
            <core_design_save_after>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>invalidateDesignChange</method>
                    </magento_fullpagecache>
                </observers>
            </core_design_save_after>
            <core_design_delete_after>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>invalidateDesignChange</method>
                    </magento_fullpagecache>
                </observers>
            </core_design_delete_after>
            <controller_action_postdispatch_adminhtml_system_currency_saveRates>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>invalidateCache</method>
                    </magento_fullpagecache>
                </observers>
            </controller_action_postdispatch_adminhtml_system_currency_saveRates>
            <controller_action_postdispatch_adminhtml_system_config_save_index>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>invalidateCache</method>
                    </magento_fullpagecache>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save_index>
            <controller_action_postdispatch_adminhtml_catalog_product_action_attribute_save>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>invalidateCache</method>
                    </magento_fullpagecache>
                </observers>
            </controller_action_postdispatch_adminhtml_catalog_product_action_attribute_save>
            <controller_action_postdispatch_adminhtml_catalog_product_massStatus>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>invalidateCache</method>
                    </magento_fullpagecache>
                </observers>
            </controller_action_postdispatch_adminhtml_catalog_product_massStatus>
            <controller_action_postdispatch_adminhtml_system_currencysymbol_save>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>invalidateCache</method>
                    </magento_fullpagecache>
                </observers>
            </controller_action_postdispatch_adminhtml_system_currencysymbol_save>
            <assigned_theme_changed>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>invalidateCache</method>
                    </magento_fullpagecache>
                </observers>
            </assigned_theme_changed>
            <catalogrule_after_apply>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>cleanCache</method>
                    </magento_fullpagecache>
                </observers>
            </catalogrule_after_apply>
            <core_config_backend_design_exception_save_after>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>registerDesignExceptionsChange</method>
                    </magento_fullpagecache>
                </observers>
            </core_config_backend_design_exception_save_after>
            <adminhtml_system_config_backend_cookie_save_after>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>invalidateCache</method>
                    </magento_fullpagecache>
                </observers>
            </adminhtml_system_config_backend_cookie_save_after>
            <adminhtml_cache_refresh_type>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>cleanCache</method>
                    </magento_fullpagecache>
                </observers>
            </adminhtml_cache_refresh_type>
            <adminhtml_cache_flush_system>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>cleanCache</method>
                    </magento_fullpagecache>
                </observers>
            </adminhtml_cache_flush_system>
            <adminhtml_cache_flush_all>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>cleanCache</method>
                    </magento_fullpagecache>
                </observers>
            </adminhtml_cache_flush_all>
            <assign_theme_to_stores_after>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>cleanCache</method>
                    </magento_fullpagecache>
                </observers>
            </assign_theme_to_stores_after>
        </events>
        <translate>
            <modules>
                <Magento_FullPageCache>
                    <files>
                        <default>Magento_FullPageCache.csv</default>
                    </files>
                </Magento_FullPageCache>
            </modules>
        </translate>
        <cache>
            <dependency>
                <change>
                    <catalog_product>Magento_Catalog_Model_Product</catalog_product>
                    <catalog_category>Magento_Catalog_Model_Category</catalog_category>
                    <catalog_eav_attribute>Magento_Catalog_Model_Resource_Eav_Attribute</catalog_eav_attribute>
                    <review>Magento_Review_Model_Review</review>
                    <cms_hierarchy_node>Magento_VersionsCms_Model_Hierarchy_Node</cms_hierarchy_node>
                    <banner>Magento_Banner_Model_Banner</banner>
                    <core_store_group>Magento_Core_Model_Store_Group</core_store_group>
                    <poll>Magento_Poll_Model_Poll</poll>
                </change>
                <delete>
                    <catalog_category>Magento_Catalog_Model_Category</catalog_category>
                    <catalog_eav_attribute>Magento_Catalog_Model_Resource_Eav_Attribute</catalog_eav_attribute>
                    <review>Magento_Review_Model_Review</review>
                    <cms_hierarchy_node>Magento_VersionsCms_Model_Hierarchy_Node</cms_hierarchy_node>
                    <banner>Magento_Banner_Model_Banner</banner>
                    <core_store_group>Magento_Core_Model_Store_Group</core_store_group>
                    <poll>Magento_Poll_Model_Poll</poll>
                </delete>
            </dependency>
        </cache>
    </adminhtml>
    <frontend>
        <routers>
            <magento_fullpagecache>
                <use>standard</use>
                <args>
                    <module>Magento_FullPageCache</module>
                    <frontName>pagecache</frontName>
                </args>
            </magento_fullpagecache>
        </routers>
        <events>
            <controller_response_redirect>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>checkMessages</method>
                    </magento_fullpagecache>
                </observers>
            </controller_response_redirect>
            <model_load_after>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>registerModelTag</method>
                    </magento_fullpagecache>
                </observers>
            </model_load_after>
            <controller_action_predispatch>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>processPreDispatch</method>
                    </magento_fullpagecache>
                </observers>
            </controller_action_predispatch>
            <controller_action_postdispatch_catalog_product_view>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>checkProductState</method>
                    </magento_fullpagecache>
                </observers>
            </controller_action_postdispatch_catalog_product_view>
            <controller_action_postdispatch_catalog_category_view>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>checkCategoryState</method>
                    </magento_fullpagecache>
                </observers>
            </controller_action_postdispatch_catalog_category_view>
            <controller_front_send_response_before>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>cacheResponse</method>
                    </magento_fullpagecache>
                </observers>
            </controller_front_send_response_before>
            <core_layout_render_element>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>renderBlockPlaceholder</method>
                    </magento_fullpagecache>
                </observers>
            </core_layout_render_element>
            <core_message_block_render_grouped_html_after>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>renderBlockPlaceholder</method>
                    </magento_fullpagecache>
                </observers>
            </core_message_block_render_grouped_html_after>
            <customer_login>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>customerLogin</method>
                    </magento_fullpagecache>
                    <magento_fullpagecache_compare_list_change>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>registerCompareListChange</method>
                    </magento_fullpagecache_compare_list_change>
                </observers>
            </customer_login>
            <controller_action_postdispatch_customer_account_logoutSuccess>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>customerLogout</method>
                    </magento_fullpagecache>
                </observers>
            </controller_action_postdispatch_customer_account_logoutSuccess>
            <sales_quote_save_after>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>registerQuoteChange</method>
                    </magento_fullpagecache>
                </observers>
            </sales_quote_save_after>
            <sales_quote_remove_item>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>registerQuoteChange</method>
                    </magento_fullpagecache>
                </observers>
            </sales_quote_remove_item>
            <catalog_product_compare_add_product>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>registerCompareListChange</method>
                    </magento_fullpagecache>
                </observers>
            </catalog_product_compare_add_product>
            <catalog_product_compare_remove_product>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>registerCompareListChange</method>
                    </magento_fullpagecache>
                </observers>
            </catalog_product_compare_remove_product>
            <catalog_product_compare_item_collection_clear>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>registerCompareListChange</method>
                    </magento_fullpagecache>
                </observers>
            </catalog_product_compare_item_collection_clear>
            <core_session_abstract_add_message>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>processNewMessage</method>
                    </magento_fullpagecache>
                </observers>
            </core_session_abstract_add_message>
            <core_session_abstract_clear_messages>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>processMessageClearing</method>
                    </magento_fullpagecache>
                </observers>
            </core_session_abstract_clear_messages>
            <wishlist_add_product>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>registerWishlistChange</method>
                    </magento_fullpagecache>
                </observers>
            </wishlist_add_product>
            <wishlist_item_delete_commit_after>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>registerWishlistChange</method>
                    </magento_fullpagecache>
                </observers>
            </wishlist_item_delete_commit_after>
            <sales_order_place_after>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>registerNewOrder</method>
                    </magento_fullpagecache>
                </observers>
            </sales_order_place_after>
            <poll_vote_add>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>registerPollChange</method>
                    </magento_fullpagecache>
                </observers>
            </poll_vote_add>
            <catalog_controller_product_init_before>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>updateProductInfo</method>
                    </magento_fullpagecache>
                </observers>
            </catalog_controller_product_init_before>
            <magento_customersegment_ids_changed>
                <observers>
                    <magento_fullpagecache>
                        <class>Magento_FullPageCache_Model_Observer</class>
                        <method>changedCustomerSegmentIds</method>
                    </magento_fullpagecache>
                </observers>
            </magento_customersegment_ids_changed>
        </events>
        <cache>
            <requests>
                <cms>Magento_FullPageCache_Model_Processor_Default</cms>
                <catalog>
                    <category>
                        <view>Magento_FullPageCache_Model_Processor_Category</view>
                    </category>
                </catalog>
                <catalog>
                    <product>
                        <view>Magento_FullPageCache_Model_Processor_Product</view>
                    </product>
                </catalog>
            </requests>
        </cache>
    </frontend>
    <default>
        <system>
            <page_cache>
                <allowed_depth>1</allowed_depth>
                <multicurrency>1</multicurrency>
                <max_cache_size>1024</max_cache_size>
            </page_cache>
            <page_crawl>
                <enable>0</enable>
                <threads>1</threads>
                <multicurrency>1</multicurrency>
            </page_crawl>
        </system>
        <dev>
            <translate_inline>
                <invalid_caches>
                    <full_page />
                </invalid_caches>
            </translate_inline>
        </dev>
    </default>
    <crontab>
        <jobs>
            <enterprise_page_cache_crawler>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>Magento_FullPageCache_Model_Crawler::crawl</model>
                </run>
            </enterprise_page_cache_crawler>
        </jobs>
    </crontab>
</config>
