<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <preference for="Magento\FullPageCache\Model\Processor\RestrictionInterface" type="Magento\FullPageCache\Model\Processor\Restriction" />
    <type name="Magento\FullPageCache\Model\Request\Identifier">
        <param name="scopeCode">
            <value type="argument">Magento\Core\Model\App::PARAM_RUN_CODE</value>
        </param>
    </type>
    <type name="Magento\FullPageCache\Model\Processor">
        <param name="storeManager">
            <instance type="Magento\Core\Model\StoreManager\Proxy" />
        </param>
        <param name="metadata">
            <instance type="Magento\FullPageCache\Model\Metadata\Proxy" />
        </param>
        <param name="requestIdentifier">
            <instance type="Magento\FullPageCache\Model\Request\Identifier\Proxy" />
        </param>
        <param name="allowedCache">
            <array>
                <item key="cms"><value>Magento\FullPageCache\Model\Processor\DefaultProcessor</value></item>
                <item key="catalog">
                    <array>
                        <item key="category">
                            <array>
                                <item key="view"><value>Magento\FullPageCache\Model\Processor\Category</value></item>
                            </array>
                        </item>
                        <item key="product">
                            <array>
                                <item key="view"><value>Magento\FullPageCache\Model\Processor\Product</value></item>
                            </array>
                        </item>
                    </array>
                </item>
            </array>
        </param>
    </type>
    <type name="Magento\FullPageCache\Model\DesignPackage\Rules">
        <param name="designChange">
            <instance type="Magento\Core\Model\Design\Proxy" />
        </param>
    </type>
    <type name="Magento\Log\Model\Visitor">
        <param name="ignoredUserAgents">
            <array>
                <item key="cache_crawler"><value>MagentoCrawler</value></item>
            </array>
        </param>
    </type>
    <type name="Magento\App\Response\Http">
        <plugin name="pageCache" type="Magento\FullPageCache\Model\Response\Plugin" />
    </type>
    <type name="Magento\FullPageCache\Model\Observer">
        <param name="ctlgProdCompare">
            <instance type="Magento\Catalog\Helper\Product\Compare\Proxy" />
        </param>
        <param name="processor">
            <instance type="Magento\FullPageCache\Model\Processor\Proxy" />
        </param>
        <param name="cookie">
            <instance type="Magento\FullPageCache\Model\Cookie\Proxy" />
        </param>
    </type>
    <type name="Magento\FullPageCache\Model\Validator">
        <param name="changeDependencies">
            <array>
                <item key="catalog_product"><value>Magento\Catalog\Model\Product</value></item>
                <item key="catalog_category"><value>Magento\Catalog\Model\Category</value></item>
                <item key="catalog_eav_attribute"><value>Magento\Catalog\Model\Resource\Eav\Attribute</value></item>
                <item key="review"><value>Magento\Review\Model\Review</value></item>
                <item key="cms_hierarchy_node"><value>Magento\VersionsCms\Model\Hierarchy\Node</value></item>
                <item key="banner"><value>Magento\Banner\Model\Banner</value></item>
                <item key="core_store_group"><value>Magento\Core\Model\Store\Group</value></item>
            </array>
        </param>
        <param name="deleteDependencies">
            <array>
                <item key="catalog_category"><value>Magento\Catalog\Model\Category</value></item>
                <item key="catalog_eav_attribute"><value>Magento\Catalog\Model\Resource\Eav\Attribute</value></item>
                <item key="review"><value>Magento\Review\Model\Review</value></item>
                <item key="cms_hierarchy_node"><value>Magento\VersionsCms\Model\Hierarchy\Node</value></item>
                <item key="banner"><value>Magento\Banner\Model\Banner</value></item>
                <item key="core_store_group"><value>Magento\Core\Model\Store\Group</value></item>
            </array>
        </param>
    </type>
</config>
