.listing-tiles {
  overflow: hidden;
  margin-top: -10px;
  margin-left: -10px;

  .listing-tile {
    background-color: #f2ebde;
    display: block;
    width: 250px;
    height: 200px;
    float: left;
    border: 1px solid #676056;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 4px;
    text-align: center;

    &.disabled {
      border-color: red;
    }

    &.enabled {
      border-color: green;
    }
  }
}

.listing {
  .disabled {
    color: red;
  }
  .enabled {
    color: green;
  }
}

.pager {
    text-align: left;

    [data-part=left] {
        display: inline-block;
        width: 45%;
        text-align: left;
    }

    [data-part=right] {
        display: inline-block;
        width: 45%;
        text-align: right;
        float: right;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
}