.listing-tiles {
  overflow: hidden;
  margin-top: -10px;
  margin-left: -10px;

  .listing-tile {
    background-color: #f2ebde;
    display: block;
    width: 238px;
    height: 200px;
    float: left;
    border: 1px solid #676056;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 4px;
    text-align: center;

    &.disabled {
      border-color: red;
    }

    &.enabled {
      border-color: green;
    }
  }
}

.listing {
  .disabled {
    color: red;
  }
  .enabled {
    color: green;
  }
}

.pager {
    text-align: left;

    [data-part=left] {
        display: inline-block;
        width: 45%;
        text-align: left;
    }

    [data-part=right] {
        display: inline-block;
        width: 45%;
        text-align: right;
        float: right;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
}

.listing-massaction {
  position: relative;

  &.active {
    select {
      display: block;
    }
  }

  select {
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
  }
}




.pager.pager.pager {
  text-align: left;
}
.pager [data-part=left] {
  display: inline-block;
  width: 45%;
  text-align: left;
}
.pager [data-part=right] {
  display: inline-block;
  width: 45%;
  text-align: right;
  float: right;
}
.grid .col-title {
  min-width: 90px;
  text-align: center;
}
.grid-actions [data-part=search] {
  display: inline-block;
  margin: 0 30px;
}
.grid-actions [data-part=search] input[type=text] {
  vertical-align: bottom;
  width: 460px;
}

[data-part=filter-form] .actions {
  /*display: inline-block;*/
  text-align: right;
}

.ko-grid {
  .actions-split .dropdown-menu {
    right: auto;
    left: auto;
    text-align: left;

    &:after  {
      right: auto;
      left: 9px;
    }
    &:before {
      right: auto;
      left: 10px;
    }
  }
}
[data-part=filter-form] {
  width: 650px;
  left: 150px;

  background: #ffffff;
  border: 1px solid #bbbbbb;
  position: absolute;
  z-index: 100;
  display: none;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  margin-top: 4px;

  .title {
    position: relative;
    padding: 5px 18px;

    .close {
      position: absolute;
      font-size: 0.8em;
      right: 10px;
      top: 12px;
      cursor: pointer;

      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
  }
  
  > .actions {
    padding: 5px 18px 36px;
  }
}