<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Mage
 * @package    Mage_Adminhtml
 * @copyright  Copyright (c) 2004-2007 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
   <modules>
      <Mage_Adminhtml>
         <version>0.2.0</version>
         <depends>
            <Mage_Admin />
         </depends>
      </Mage_Adminhtml>
   </modules>

   <global>
        <models>
            <adminhtml>
                <class>Mage_Adminhtml_Model</class>
                <resourceModel>adminhtml_mysql4</resourceModel>
            </adminhtml>
            <adminhtml_mysql4>
                <class>Mage_Adminhtml_Model_Mysql4</class>
            </adminhtml_mysql4>
        </models>
        <blocks>
            <adminhtml><class>Mage_Adminhtml_Block</class></adminhtml>
        </blocks>
   </global>

   <admin>
      <routers>
         <adminhtml>
            <use>admin</use>
            <args>
               <module>Mage_Adminhtml</module>
               <frontName>admin</frontName>
            </args>
         </adminhtml>
      </routers>
   </admin>

   <frontend>
        <secure_url>
            <admin>/admin</admin>
        </secure_url>
   </frontend>

   <adminhtml>
      <events>
         <controller_action_predispatch_admin>
            <observers>
               <auth>
                  <type>singleton</type>
                  <class>admin/observer</class>
                  <method>actionPreDispatchAdmin</method>
               </auth>
               <store>
                  <type>singleton</type>
                  <class>adminhtml/observer</class>
                  <method>bindStore</method>
               </store>
            </observers>
         </controller_action_predispatch_admin>
         <core_locale_set_locale>
            <observers>
               <bind_locale>
                  <type>singleton</type>
                  <class>adminhtml/observer</class>
                  <method>bindLocale</method>
               </bind_locale>
            </observers>
         </core_locale_set_locale>
      </events>
      <global_search>
           <products>
              <class>adminhtml/search_catalog</class>
           </products>
           <customers>
              <class>adminhtml/search_customer</class>
           </customers>
           <sales>
              <class>adminhtml/search_order</class>
           </sales>
      </global_search>
      <translate>
        <modules>
            <Mage_Adminhtml>
                <files>
                    <default>Mage_Adminhtml.csv</default>
                </files>
            </Mage_Adminhtml>
        </modules>
      </translate>
      <menu>
            <dashboard>
                <title>Dashboard</title>
                <sort_order>10</sort_order>
                <action>*/dashboard</action>
             </dashboard>
             <system>
                <title>System</title>
                <sort_order>90</sort_order>
                <!-- action>adminhtml/system</action -->
                <children>
                    <myaccount>
                        <title>My Account</title>
                        <action>*/system_account</action>
                    </myaccount>
                    <tools>
                        <title>Tools</title>
                    </tools>
                    <convert>
                        <title>Import/Export</title>
                        <children>
                            <gui>
                                <title>Profiles</title>
                                <action>*/system_convert_gui</action>
                            </gui>
                            <profiles>
                                <title>Advanced Profiles</title>
                                <action>*/system_convert_profile</action>
                            </profiles>
                        </children>
                    </convert>
                    <currency>
                        <title>Manage Currency</title>
                        <action>*/system_currency</action>
                    </currency>
                    <email_template>
                        <title>Transactional Emails</title>
                        <action>*/system_email_template</action>
                    </email_template>
                    <acl>
                        <title>Permissions</title>
                        <children>
                            <users>
                                <title>Users</title>
                                <action>*/permissions_user</action>
                            </users>
                            <roles>
                                <title>Roles</title>
                                <action>*/permissions_role</action>
                            </roles>
                        </children>
                    </acl>
                    <extensions>
                        <title>Extensions</title>
                        <children>
                            <local>
                                <title>Locally Installed</title>
                                <action>*/extensions_local</action>
                            </local>
                            <remote>
                                <title>Available Remote</title>
                                <action>*/extensions_remote</action>
                            </remote>
                            <custom>
                                <title>Custom Local</title>
                                <action>*/extensions_custom</action>
                            </custom>
                        </children>
                    </extensions>
                    <cache>
                        <title>Cache management</title>
                        <action>*/system_cache</action>
                    </cache>
                    <config>
                        <title>Configuration</title>
                        <action>*/system_config</action>
                    </config>
                </children>
             </system>
        </menu>
        <acl>
                 <resources>
            <admin title="Magento Admin" >
                <dashboard title="Dashboard" />
                
                
                <system title="System" >
                    <acl title="Permissions" >
                        <roles title="Roles" />
                        <users title="Users" />
                    </acl>
                    <config title="Configuration" >
                        <website title="Website Section" />
                        <store title="Store Section" />
                        <general title="General Section" />
                        <web title="Web Section" />
                        <design title="Design Section" />
                        <customer title="Customers Section" />
                        <sales title="Sales Section" />
                        <newsletter title="Newsletter Section" />
                        <web_track title="Web Tracking Section" />
                        <catalog title="Catalog Section" />
                        <wishlist title="Wishlist Section" />
                        <shipping title="Shipping Section" />
                        <carriers title="Shipping Methods Section" />
                        <payment title="Payment Methods Section" />
                        <system title="System Section" />
                        <advanced title="Advanced Section" />
                        <trans_email title="Store Email Addresses Section" />
                        <paypal title="PayPal Section" />
                        <dev title="Developer Section" />
                        <currency title="Currency Setup Section" />
                        <allow title="Allowed Settings" />
                        <sendfriend title="Email to a Friend" />
                        <cataloginventory title="Inventory" />
                    </config>
                    <currency title="Manage Currency" />
                    <email_template title="Transactional Emails" />
                    <myaccount title="My Account" />
                    <tools title="Tools" >
                        <backup title="Backups" />
                    </tools>
                    <convert title="Import/Export">
                        <gui title="GUI Profiles">
                            <edit title="Create/Edit/Delete profiles"/>
                            <run title="Run profiles"/>
                        </gui>
                        <profiles title="Advanced Profiles">
                            <edit title="Create/Edit/Delete profiles"/>
                            <run title="Run profiles"/>
                        </profiles>
                    </convert>
                    <cache title="Cache Management"/>
                    <extensions title="Extensions">
                        <local title="Locally Installed"/>
                        <remote title="Available Remote"/>
                        <custom title="Custom Local"/>
                    </extensions>
                </system>
                <global_search title="Global Search" />
            </admin>
         </resources>

         <privilegeSets>
            <default>
               <view descr="View entity"/>
               <edit descr="Edit entity"/>
               <delete descr=""/>
               <create descr=""/>
            </default>
         </privilegeSets>
        </acl>
        <layout>
            <updates>
                <adminhtml>
                    <file>main.xml</file>
                </adminhtml>
            </updates>
        </layout>
   </adminhtml>
</config>
