<?xml version="1.0"?>
<config>
   <modules>
      <Mage_Adminhtml>
         <version>0.2.0</version>
         <depends>
            <Mage_Admin />
         </depends>
      </Mage_Adminhtml>
   </modules>

   <global>
        <models>
            <adminhtml>
            	<class>Mage_Adminhtml_Model</class>
            	<resourceModel>adminhtml_mysql4</resourceModel>
           	</adminhtml>
            <adminhtml_mysql4>
            	<class>Mage_Adminhtml_Model_Mysql4</class>
            </adminhtml_mysql4>
        </models>
        <block>
            <groups><adminhtml><class>Mage_Adminhtml_Block</class></adminhtml></groups>
        </block>
   </global>
   <front>
      <layouts>
         <adminhtml>
            <updates>
               <adminhtml>
                  <file>init.xml</file>
               </adminhtml>
            </updates>
         </adminhtml>
         <baseframe>
            <updates>
               <baseframe>
                  <file>baseframe.xml</file>
               </baseframe>
            </updates>
         </baseframe>
         <preview>
            <updates>
               <baseframe>
                  <file>preview.xml</file>
               </baseframe>
            </updates>
         </preview>
      </layouts>
      <events>
         <action_preDispatch_adminhtml>
            <observers>
               <auth>
                  <type>singleton</type>
                  <class>admin/observer</class>
                  <method>actionPreDispatchAdmin</method>
               </auth>
            </observers>
         </action_preDispatch_adminhtml>
      </events>
      <routers>
         <adminhtml>
            <use>standard</use>
            <args>
               <module>Mage_Adminhtml</module>
               <frontName>adminhtml</frontName>
            </args>
         </adminhtml>
      </routers>
   </front>
</config>
