<?xml version="1.0"?>
<config>
    <configuration>
        <global>
            <sections>
                <filesystem>
                    <block>adminhtml/system_config_form</block>
                    <fields>
                        <upload label="Upload path" title="" xpath="global/default/filesystem/upload" type="text" class="required-entry"/>
                        <var label="Var path" title="" xpath="global/default/filesystem/var" type="text" class="required-entry"/>
                    </fields>
                </filesystem>
                <database>
                    <block>adminhtml/system_config_form</block>
                    <fields>
                        <host label="DB host" title="" xpath="global/resources/dev_setup/connection/host" type="text" class="required-entry"/>
                        <username label="DB user" title="" xpath="global/resources/dev_setup/connection/username" type="text" class="required-entry"/>
                        <password label="DB pass" title="" xpath="global/resources/dev_setup/connection/password" type="password" class="required-entry"/>
                        <dbname label="DB name" title="" xpath="global/resources/dev_setup/connection/dbname" type="text" class="required-entry"/>
                    </fields>
                </database>
                <templates>
                    <block>adminhtml/system_config_form</block>
                    <fields>
                        <skin label="Default skin" title="" xpath="" type="text" class="required-entry"/>
                    </fields>
                </templates>
            </sections>
        </global>
        <website>
            <sections>
                <general>
                    <block>adminhtml/system_config_form</block>
                    <fields>
                         <skin label="Default skin" title="" xpath="" type="text" class="required-entry"/>
                    </fields>
                </general>
            </sections>
        </website>
        <store>
            <sections>
                <general>
                    <block>adminhtml/system_config_form</block>
                    <fields>
                        <skin label="Default skin" title="" xpath="" type="text" class="required-entry"/>
                    </fields>
                </general>
                <sharing>
                    <block>adminhtml/system_config_form</block>
                </sharing>
            </sections>
        </store>
    </configuration>
</config>