<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Saas
 * @package     Saas_Shipping
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <default>
        <shipping>
            <option>
                <checkout_multiple>0</checkout_multiple>
            </option>
        </shipping>
    </default>
</config>
