<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_Connect
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <adminhtml>
        <translate>
            <modules>
                <Magento_Connect>
                    <files>
                        <default>Magento_Connect.csv</default>
                    </files>
                </Magento_Connect>
            </modules>
        </translate>
    </adminhtml>
</config>