<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_PersistentHistory
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <default>
        <persistent>
            <options>
                <wishlist>1</wishlist>
                <recently_ordered>1</recently_ordered>
                <compare_current>1</compare_current>
                <compare_history>1</compare_history>
                <recently_viewed>1</recently_viewed>
                <customer>1</customer>
            </options>
        </persistent>
    </default>
    <global>
        <events>
            <clear_expired_quotes_before>
                <observers>
                    <magento_persistenthistory>
                        <class>Magento_PersistentHistory_Model_Observer</class>
                        <method>modifyExpiredQuotesCleanup</method>
                    </magento_persistenthistory>
                </observers>
            </clear_expired_quotes_before>
        </events>
    </global>
    <adminhtml>
        <events>
            <magento_persistenthistory_options_shopping_cart_save_after>
                <observers>
                    <magento_persistenthistory>
                        <class>Magento_PersistentHistory_Model_Observer</class>
                        <method>updateOptionCustomerSegmentation</method>
                    </magento_persistenthistory>
                </observers>
            </magento_persistenthistory_options_shopping_cart_save_after>
        </events>
        <translate>
            <modules>
                <Magento_PersistentHistory>
                    <files>
                        <default>Magento_PersistentHistory.csv</default>
                    </files>
                </Magento_PersistentHistory>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <events>
            <websiterestriction_frontend>
                <observers>
                    <magento_persistenthistory>
                        <class>Magento_PersistentHistory_Model_Observer</class>
                        <method>skipWebsiteRestriction</method>
                    </magento_persistenthistory>
                </observers>
            </websiterestriction_frontend>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <magento_persistenthistory>
                        <class>Magento_PersistentHistory_Model_Observer</class>
                        <method>applyPersistentData</method>
                    </magento_persistenthistory>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <controller_action_predispatch_catalog_product_compare_clear>
                <observers>
                    <magento_persistenthistory>
                        <class>Magento_PersistentHistory_Model_Observer</class>
                        <method>applyCustomerId</method>
                    </magento_persistenthistory>
                </observers>
            </controller_action_predispatch_catalog_product_compare_clear>
            <controller_action_predispatch_catalog_product_compare_remove>
                <observers>
                    <magento_persistenthistory>
                        <class>Magento_PersistentHistory_Model_Observer</class>
                        <method>applyCustomerId</method>
                    </magento_persistenthistory>
                </observers>
            </controller_action_predispatch_catalog_product_compare_remove>
            <controller_action_predispatch>
                <observers>
                    <magento_persistenthistory>
                        <class>Magento_PersistentHistory_Model_Observer</class>
                        <method>emulateCustomer</method>
                    </magento_persistenthistory>
                    <persistent_customer>
                        <type>disabled</type>
                    </persistent_customer>
                </observers>
            </controller_action_predispatch>
            <controller_action_predispatch_wishlist_index_index>
                <observers>
                    <magento_persistenthistory>
                        <class>Magento_PersistentHistory_Model_Observer</class>
                        <method>emulateWishlist</method>
                    </magento_persistenthistory>
                </observers>
            </controller_action_predispatch_wishlist_index_index>
            <controller_action_predispatch_wishlist_index_remove>
                <observers>
                    <magento_persistenthistory>
                        <class>Magento_PersistentHistory_Model_Observer</class>
                        <method>emulateWishlist</method>
                    </magento_persistenthistory>
                </observers>
            </controller_action_predispatch_wishlist_index_remove>
            <controller_action_predispatch_wishlist_index_add>
                <observers>
                    <magento_persistenthistory>
                        <class>Magento_PersistentHistory_Model_Observer</class>
                        <method>emulateWishlist</method>
                    </magento_persistenthistory>
                </observers>
            </controller_action_predispatch_wishlist_index_add>
            <controller_action_predispatch_wishlist_index_cart>
                <observers>
                    <magento_persistenthistory>
                        <class>Magento_PersistentHistory_Model_Observer</class>
                        <method>emulateWishlist</method>
                    </magento_persistenthistory>
                </observers>
            </controller_action_predispatch_wishlist_index_cart>
            <controller_action_predispatch_wishlist_index_allcart>
                <observers>
                    <magento_persistenthistory>
                        <class>Magento_PersistentHistory_Model_Observer</class>
                        <method>emulateWishlist</method>
                    </magento_persistenthistory>
                </observers>
            </controller_action_predispatch_wishlist_index_allcart>
            <controller_action_predispatch_wishlist_index_configure>
                <observers>
                    <magento_persistenthistory>
                        <class>Magento_PersistentHistory_Model_Observer</class>
                        <method>emulateWishlist</method>
                    </magento_persistenthistory>
                </observers>
            </controller_action_predispatch_wishlist_index_configure>
            <controller_action_predispatch_wishlist_index_update>
                <observers>
                    <magento_persistenthistory>
                        <class>Magento_PersistentHistory_Model_Observer</class>
                        <method>emulateWishlist</method>
                    </magento_persistenthistory>
                </observers>
            </controller_action_predispatch_wishlist_index_update>
            <controller_action_predispatch_wishlist_index_updateItemOptions>
                <observers>
                    <magento_persistenthistory>
                        <class>Magento_PersistentHistory_Model_Observer</class>
                        <method>emulateWishlist</method>
                    </magento_persistenthistory>
                </observers>
            </controller_action_predispatch_wishlist_index_updateItemOptions>
            <controller_action_predispatch_wishlist_index_createwishlist>
                <observers>
                    <magento_persistenthistory>
                        <class>Magento_PersistentHistory_Model_Observer</class>
                        <method>emulateWishlist</method>
                    </magento_persistenthistory>
                </observers>
            </controller_action_predispatch_wishlist_index_createwishlist>
            <controller_action_predispatch_wishlist_index_editwishlist>
                <observers>
                    <magento_persistenthistory>
                        <class>Magento_PersistentHistory_Model_Observer</class>
                        <method>emulateWishlist</method>
                    </magento_persistenthistory>
                </observers>
            </controller_action_predispatch_wishlist_index_editwishlist>
            <controller_action_predispatch_wishlist_index_deletewishlist>
                <observers>
                    <magento_persistenthistory>
                        <class>Magento_PersistentHistory_Model_Observer</class>
                        <method>emulateWishlist</method>
                    </magento_persistenthistory>
                </observers>
            </controller_action_predispatch_wishlist_index_deletewishlist>
            <controller_action_predispatch_wishlist_index_copyitem>
                <observers>
                    <magento_persistenthistory>
                        <class>Magento_PersistentHistory_Model_Observer</class>
                        <method>emulateWishlist</method>
                    </magento_persistenthistory>
                </observers>
            </controller_action_predispatch_wishlist_index_copyitem>
            <controller_action_predispatch_wishlist_index_copyitems>
                <observers>
                    <magento_persistenthistory>
                        <class>Magento_PersistentHistory_Model_Observer</class>
                        <method>emulateWishlist</method>
                    </magento_persistenthistory>
                </observers>
            </controller_action_predispatch_wishlist_index_copyitems>
            <controller_action_predispatch_wishlist_index_moveitems>
                <observers>
                    <magento_persistenthistory>
                        <class>Magento_PersistentHistory_Model_Observer</class>
                        <method>emulateWishlist</method>
                    </magento_persistenthistory>
                </observers>
            </controller_action_predispatch_wishlist_index_moveitems>
            <controller_action_predispatch_wishlist_index_moveitem>
                <observers>
                    <magento_persistenthistory>
                        <class>Magento_PersistentHistory_Model_Observer</class>
                        <method>emulateWishlist</method>
                    </magento_persistenthistory>
                </observers>
            </controller_action_predispatch_wishlist_index_moveitem>
            <sales_quote_save_before>
                <observers>
                    <magento_persistenthistory>
                        <class>Magento_PersistentHistory_Model_Observer</class>
                        <method>setQuotePersistentData</method>
                    </magento_persistenthistory>
                </observers>
            </sales_quote_save_before>
            <controller_action_predispatch_checkout_onepage_saveMethod>
                <observers>
                    <magento_persistenthistory>
                        <class>Magento_PersistentHistory_Model_Observer</class>
                        <method>preventSettingQuotePersistent</method>
                    </magento_persistenthistory>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveMethod>
            <controller_action_predispatch_checkout_onepage_saveOrder>
                <observers>
                    <magento_persistenthistory>
                        <class>Magento_PersistentHistory_Model_Observer</class>
                        <method>preventSettingQuotePersistent</method>
                    </magento_persistenthistory>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveOrder>
            <render_block>
                <observers>
                    <magento_persistenthistory>
                        <class>Magento_PersistentHistory_Model_Observer</class>
                        <method>applyBlockPersistentData</method>
                    </magento_persistenthistory>
                </observers>
            </render_block>
            <persistent_session_expired>
                <observers>
                    <magento_persistenthistory>
                        <class>Magento_PersistentHistory_Model_Observer</class>
                        <method>expireSidebars</method>
                    </magento_persistenthistory>
                </observers>
            </persistent_session_expired>
        </events>
    </frontend>
</config>
