/* BASE */
/* Block */
body, div, ul, ol, li, p, dt, dd, dl, h1, h2, h3, h4, h5, form, fieldset, tr, td, legend  { 
    margin: 0;
    padding : 0;
}
body { background:#efeadc; color:#393939; font: 11px/1.55em Verdana, sans-serif; }
h1 { font-size:1.6em; }
h2 { font-size:1.3em; }
h3 { font-size:1.2em; }
h4 { font-size:1.05em; }
h5 { font-size:1em; }
h1, h2, h3, h4 { line-height:1.4em; font-weight:bold; margin-bottom:.6em; }
th, td { vertical-align:top; text-align:left; }
th { font-weight:bold;}
p, address { margin-bottom:1em; }
address { font-style:normal; }
li { list-style-type:none; }
form { display:inline; }

/**************** In-line ******************/
input, select { vertical-align:middle; }
label { color:#393939; }
a img { border:0; }
a { color:#611b06; }
a:hover { color:#611b06; text-decoration:underline; }


/* Positioning */
.float-left {float:left;}
.float-right {float:right;}
.align-left {text-align:left;}
.align-center {text-align:center;}
.align-right {text-align:right;}
.vtop {vertical-align:top;}
.vmiddle {vertical-align:middle;}
.vbottom {vertical-align:bottom;}

.width100{width:100%}

/* Clearfix */
.clearfix {display:block; clear:both; height:0; font-size:0; line-height:0px; overflow:hidden;}

/* Forms */
fieldset { border:none; }
	fieldset li { margin:5px 0; }
fieldset.highlight { background-color:#faf9f4; }
legend {display:none;}
.input-list li { clear:both;  margin-bottom:6px;}
.input-text, textarea, select {
    padding:2px 3px; 
    border-width:1px; 
    border-style:solid; 
    border-color:#979797 #e0e0e0 #e0e0e0 #979797;
    font:13px Verdana, Helvetica, sans-serif;
    }
.input-left { width:50%; float:left; }    /* Column left of two column form */
.input-right { width:50%; float:right; }    /* Column right of two column form */
.input-single {}
.input-button { 
	width:auto;
	padding:2px;
	background-color:#c55867; 
	border:none; 
	color:#fff; 
	font:bold 11px Verdana, sans-serif; 
	cursor:pointer;
	overflow:visible;
	}
.input-button-sub { 
	width:auto;
	padding:2px;
	background-color:#bcb08d; 
	border:none; 
	color:#fff; 
	font:bold 11px Verdana, sans-serif; 
	cursor:pointer;
	overflow:visible;
	}

.buttons-container { border-top:1px dotted #bcb08d; padding-top:5px; margin-top:30px; font-size:1.1em; text-align:right;}
	.buttons-container a { text-decoration:none;}
    .button-left { float:left; width:50%; text-align:left;}
    .button-right { float:left; width:50%; text-align:left;}

/* Form Validation */
.validation-advice {
    margin-left:5px; 
    color:#d40707;
    font-weight:bold;
    margin-right:20px;
}
input.validation-failed, textarea.validation-failed {
    border: 1px solid #d40707;
}
.spacer { margin:10px 0; border-top:1px dotted #a7cbd7; height:1px; font-size:1px; line-height:1em; overflow:hidden;}

/* messages */
.error {font-weight:bold;color:#d40707;border:1px solid #cf3f3f; margin:8px 0; padding:10px; background:#fdfbfb; }
.warning {}
.notice {}
.success {font-weight:bold;color:#50926f;border:1px solid green; margin:8px 0; padding:10px; background:#fbfdfc; }

.required, .error-text  { color:#cf3f3f; font-weight:bold; font-size:11px; }
.separator { color:#eae1c5; }