/* Breadcrumbs */
.breadcrumbs { margin-bottom:10px; padding:3px 3px 3px 0; border-bottom:1px solid #deebeb; }
.breadcrumbs ul, .breadcrumbs ul li { display:inline; }
.breadcrumbs ul li { margin-right:4px; padding-left: 10px; background: url(../images/arrow_breadcrumbs.gif) no-repeat 0 60%; }
.breadcrumbs ul li.home { padding:0; background: none; }
.breadcrumbs a { color:#611b06; text-decoration:underline; }
.breadcrumbs a:hover { text-decoration:none; }

.catalog-spacer { margin:0; border-top:1px dotted #a7cbd7; height:1px; font-size:1px; line-height:1em; overflow:hidden;}
/*Category intro*/
.category-intro {padding:10px;}
.category-intro h1 {font-size:1.45em;}
.category-intro p {width:290px;}

/*Pager*/
.category-pager {padding:5px 10px; border:none; vertical-align:middle;background:#f1f8f8;}
.category-pager a {color:#d0396b;}
.category-pager ul { float:left; width:70%;}
.category-pager ul li { display:inline }
.category-pager .previous { padding:0 5px 0 0px; }
.category-pager .next { padding:0 15px 0 5px; }
.category-pager .sort-by { float:right; width:30%; text-align:right;}
.category-pager .sort-by select { font:1em Verdana, sans-serif;margin-right:10px}

.catalog .catalog-filters{ padding:5px 10px;}
.catalog .catalog-filters h3 {margin:0; }

/*Categoty items collection*/
.catalog-collection { border-left:1px dotted #a7cbd7;}
.catalog-collection .item { width:150px;padding:10px 11px 10px 10px;border-right:1px dotted #a7cbd7;border-bottom:1px dotted #a7cbd7;}
.catalog-collection .product-name a{color:#393939;font-weight:bold; text-decoration:underline; }
.catalog-collection .product-price{color:#2c92bc;font-weight:bold}
.catalog-collection .item-image{text-align:center}


/*Image block*/
.product-image {width:245px; float:left; display:inline;}
.product-image a {font-weight:bold;color:#015e67;}
.product-image p { text-align:right; }
.product-image .product-look-inside { width:49%; float:left; }
.product-image .product-zoom{ width:50%; float:right;text-align:right; }

/*Information block*/
.product-info { width:248px; margin: 15px 0 15px 20px; float:left; display:inline; }
.product-info h1 { margin-bottom:5px; background:none; font-size:1.45em; }
.product-info .qty-list { margin:10px 0; background-color:#e3e2b6; text-align:right;}
.product-info .qty-list td, .product-info .qty-list th { padding: 1px 10px 1px 0; }
.product-info .qty-list th { border-bottom:1px solid #c8e4e7; padding:4px 8px; background:#d5eaec; }
.product-info .qty-list tbody td { padding:4px 8px; background:#f2f7f7; }
.product-info .qty-list td.price { color:#c13f18; font-weight:bold; padding-right:55px;}
.product-info .qty-list th.price { padding-right:55px;}
.product-info .qty-list tfoot td { padding:5px 10px; text-align:left; }
.product-info .qty-list tfoot td a { color:#015e67;}
.product-info .qty-list th.top-left { background:url(../images/bg_radius_qty_tl.gif) no-repeat; }
.product-info .qty-list th.top-right {background:url(../images/bg_radius_qty_tr.gif) no-repeat 100% 0; }
.product-info .qty-list td.bottom { padding:0; background:url(../images/bg_radius_qty_bl.gif) no-repeat 0 100%; }
.product-info .qty-list td.bottom div { padding:4px 10px; background:url(../images/bg_radius_qty_br.gif) no-repeat 100% 100%;}

.product-info .product-options { margin-right:120px; }
.product-info .product-options li { margin-bottom:5px;}
.product-info .product-options li img { margin-right:6px; vertical-align:middle;}

.product-info .float-left {float:left}

.product-description ul, .product-info ol { margin:10px 0;}
.product-description ul li, .product-info ol li { margin-left:25px; }
.product-description ul li { list-style-type:disc; }
.product-description ol li { list-style-type:decimal; }

