.loading-process {position:fixed;right:0;top:0;width:60px;height:60px;text-align:center}


.container { width:780px; margin: 0 auto; }

/* Header */

.header {position:relative; height:90px; padding:0 20px; background:url(../images/header_bg.gif) repeat-x;}
	.header-top { height:46px; padding:5px 0; text-align:right;}
		#logo { float:left; }
			#logo a { float:left; width:145px; height:43px; background:url(../images/logo.gif) no-repeat; }
				#logo span { display:none; }
		.header-top ul { float:right; margin-top:20px;}
			.header-top ul li { display:inline; padding-left:10px; font-weight:bold;}
				.header-top ul li a, .header-top ul li a:hover { color:#ecf5f7; }
	.header-bottom { padding-top:5px; }
		.header-bottom fieldset { float:right; width:272px; padding-left:73px; background:url(../images/title_search.gif) no-repeat 0 50%; }
			.header-bottom legend span { display:none; }
		.header-bottom .input-text { width:200px; }
		.header-bottom .input-button { margin:3px 5px 3px 3px; padding:2px; }


/* Header */
.middle { background:#fff; padding:25px 20px 35px 20px; }
		.column-left {width:220px;float:left;}
			.column-left li, .column-left li a { height:1%; }
		.column-right{width:506px;background:#fff;float:right}


/* Footer */
.footer { padding:10px 15px 80px 15px; background:#eae1c5; }
	.footer li{display:inline;margin-right:15px;}


.catalog-nav select {width:160px; margin-bottom:8px;}
.catalog-nav h2 { margin:5px 0; color:#3293a9; font-size:13px; }
.category-nav {padding:0px 10px 10px 0;}
.category-nav a {display:block; background:url(../images/catalog_list_bg.gif) repeat-x 0 100%; padding:5px 0; line-height:1.3em; font-size:1em; color:#666}
.category-nav a:hover, .category-nav a.active {text-decoration:none; background-color:#ecf4f6; color:#666; }
.newsletter { margin:10px 0; border:2px solid #eae1c5; padding:10px; background:#faf9f4; }
.newsletter h2 { background:url(../images/title_newsletter.gif) no-repeat; height:13px; text-indent:-2000px; }
.newsletter label {color:#754D24}
.newsletter .input-text{width:148px;margin-bottom:5px}


.home-spot img { margin-bottom:8px;  padding:6px; border:1px solid #d4d4d4; }
.home-callout { margin-bottom:15px; }
	.home-callout li { float:left; margin-right:14px; padding:6px; border:1px solid #d4d4d4; }
		.home-callout li img { display:block; }
	.home-callout li.last { margin:0;  }
.home-left { float:left; width:236px; margin-right:14px; padding-left:10px; }
.home-right { float:right; width:236px; padding-left:10px; }

.home-left h2 { height:13px; background:url(../images/title_recent_news.gif) no-repeat; text-indent:-2000px; }
.home-right h2 { height:13px; background:url(../images/title_about_us.gif) no-repeat; text-indent:-2000px; }


.content{padding:20px;}
.content fieldset.group-single{padding:10px;}
.content fieldset { margin-bottom:10px; }
.content fieldset .input-text, #page-oscom fieldset .input-text { width:518px; }
.content fieldset select, #page-oscom fieldset select { width:532px; }
.content fieldset .input-left .input-text, #page-oscom fieldset .input-left .input-text,
.content fieldset .input-right .input-text, #page-oscom fieldset .input-right .input-text {width:250px; } 
.content fieldset .input-left select, #page-oscom fieldset  .input-left select, 
.content fieldset .input-right select, #page-oscom fieldset  .input-right select{width:256px; } 

.data-table td, .data-table th { background-color:#fff; padding:2px 3px;}
.data-table { background-color:#f2f3ce;}


.page-heading {font-size:1.35em; padding-bottom:4px; border-bottom: 1px solid #754D24; } 

.accent { color:#e66c00; }

/* Clears */
.container:after, .home-callout:after, .header-top:after, .middle:after {
	clear:both;
	display:block;
	content:".";
	height:0;
	font-size:0;
	line-height:0em;
	visibility:hidden;
	}