.page {width:780px; margin: 0 auto; border-right:2px solid #FFF4DE;}
.header {position:relative; height:86px;}

.top-menu-line{height:45px; background:url(../images/hori_gradient_baige.gif) bottom repeat-x}
.top-menu-nav{text-align:right;padding:10px;background:url(../images/free_shipping.gif) 0 50% no-repeat}
.top-menu-nav li{display:inline;margin-left:15px}

.top-form, .top-links{width:50%}
.top-form form {padding-left:40px;margin:8px;background:url(../images/search_for.gif) 0 50% no-repeat}
.top-form form input {margin-left:10px;}
    .top-form .input-text { width:165px; background-color:#f2f3ca; }
    .top-form .input-button { margin:3px 5px 3px 3px; padding:2px; }


.top-links-line{height:40px;background:#EEDDBA;border-bottom:1px solid #FFF4DE}
.top-links-line ul{text-align:right;padding:10px;}
.top-links-line li{display:inline;margin-left:10px}
.top-links-line a{color:#754D24}

.container{width:780px;background:url(../images/bg_left_col.gif) 0 0 repeat-y;}
.column-left{width:184px;float:left;}
.column-left li, .column-left li a { height:1%; }
.column-right{width:596px;background:#fff;float:right}

h2#title-department {height:23px;background:url(../images/tit_shop_department.gif) no-repeat;}
h2#title-brand {height:23px;background:url(../images/tit_shop_brand.gif) no-repeat;margin:0}
h2#title-shoe-type {height:23px;background:url(../images/tit_shop_shoe_type.gif.jpg) no-repeat;margin:0}
h2#title-newsletter {height:22px;background:url(../images/tit_newsletter.jpg) no-repeat;margin:10px 0px 0px 0px}

.catalog-nav {background:#C68D19;width:182px;}
.catalog-nav select {width:160px;margin:10px}
.category-nav {padding:0px 10px 10px 10px;}
.category-nav a {display:block;margin-bottom:5px;font-size:1.2em;font-weight:bold;color:#fff}
.category-nav a:hover, .category-nav a.active {text-decoration:none;color:#4A0C71}
.newsletter{padding:0px 10px 10px 10px}        
.newsletter label {color:#754D24}
.newsletter .input-text{width:148px;margin-bottom:5px}

.content{padding:20px;}
.content fieldset.group-single, #page-oscom fieldset.group-single { padding:10px; }
.content fieldset, #page-oscom fieldset { margin-bottom:10px; }
.content fieldset .input-text, #page-oscom fieldset .input-text { width:526px; }
.content fieldset select, #page-oscom fieldset select { width:532px; }
.content fieldset .input-left .input-text, #page-oscom fieldset .input-left .input-text,
.content fieldset .input-right .input-text, #page-oscom fieldset .input-right .input-text {width:250px; } 
.content fieldset .input-left select, #page-oscom fieldset  .input-left select, 
.content fieldset .input-right select, #page-oscom fieldset  .input-right select{width:256px; } 

.page-heading {font-size:1.45em; padding-bottom:4px; border-bottom: 1px solid #754D24; } 

.footer {background:#FFF4DE;padding:15px}
.footer li{display:inline;margin-right:15px;}
.footer li a{color:#C68D19}