<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento
 * @subpackage  all_tests
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<phpunit>
    <testsuites>
        <testsuite name="Magento 2 All Tests Batch Tool">
            <directory suffix="Test.php">testsuite</directory>
        </testsuite>
    </testsuites>
</phpunit>
