<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento_Core_Model_Url_SecurityInfo">
        <param name="secureUrlList">
            <value>
                <googlecheckout_redirect>/googlecheckout/redirect/</googlecheckout_redirect>
                <googlecheckout_beacon>/googlecheckout/api/beacon/</googlecheckout_beacon>
                <googlecheckout_api>/googlecheckout/api/</googlecheckout_api>
            </value>
        </param>
    </type>
</config>
