<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <module name="Enterprise_AdminGws" active="true" />
    <module name="Enterprise_Banner" active="true" />
    <module name="Enterprise_BannerCustomerSegment" active="true" />
    <module name="Enterprise_CatalogEvent" active="true" />
    <module name="Enterprise_CatalogPermissions" active="true" />
    <module name="Enterprise_Checkout" active="true" />
    <module name="Enterprise_Cms" active="true" />
    <module name="Enterprise_Customer" active="true" />
    <module name="Enterprise_CustomerBalance" active="true" />
    <module name="Enterprise_CustomerSegment" active="true" />
    <module name="Enterprise_Eav" active="true" />
    <module name="Enterprise_Enterprise" active="true" />
    <module name="Enterprise_GiftCard" active="true" />
    <module name="Enterprise_GiftCardAccount" active="true" />
    <module name="Enterprise_GiftRegistry" active="true" />
    <module name="Enterprise_GiftWrapping" active="true" />
    <module name="Enterprise_ImportExport" active="true" />
    <module name="Enterprise_Invitation" active="true" />
    <module name="Enterprise_License" active="true" />
    <module name="Enterprise_Logging" active="true" />
    <module name="Enterprise_PageCache" active="true" />
    <module name="Enterprise_Pbridge" active="true" />
    <module name="Enterprise_Pci" active="true" />
    <module name="Enterprise_Persistent" active="true" />
    <module name="Enterprise_PricePermissions" active="true" />
    <module name="Enterprise_PromotionPermissions" active="true" />
    <module name="Enterprise_Reminder" active="true" />
    <module name="Enterprise_Reward" active="true" />
    <module name="Enterprise_Rma" active="true" />
    <module name="Enterprise_SalesArchive" active="true" />
    <module name="Enterprise_Search" active="true" />
    <module name="Enterprise_Tag" active="false" />
    <module name="Enterprise_TargetRule" active="true" />
    <module name="Enterprise_WebsiteRestriction" active="true" />
    <module name="Enterprise_Wishlist" active="true" />
</config>
