<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <event name="admin_system_config_changed_section_payment">
        <observer name="enterprise_pbridge" instance="Enterprise_Pbridge_Model_Observer" method="updatePaymentProfileStatus" />
    </event>
</config>