<?xml version="1.0" encoding="utf-8"?>
<config>
  <modules>
    <Mage_Sales>
      <version>0.5.3</version>
      <depends>
        <Mage_Catalog />
        <Mage_Customer />
      </depends>
    </Mage_Sales>
  </modules>
  <global>
    <models>
      <sales>
        <class>Mage_Sales_Model</class>
        <resourceModel>sales_entity</resourceModel>
      </sales>
      <sales_entity>
        <class>Mage_Sales_Model_Entity</class>
        <entities>
          <quote>
            <table>sales_quote_entity</table>
          </quote>
          <order>
            <table>sales_order_entity</table>
          </order>
          <invoice>
            <table>sales_invoice_entity</table>
          </invoice>
        </entities>
      </sales_entity>
      <sales_mysql4>
        <class>Mage_Sales_Model_Mysql4</class>
        <entities>
          <discount_coupon>
            <table>sales_discount_coupon</table>
          </discount_coupon>
          <giftcert>
            <table>sales_giftcert</table>
          </giftcert>
          <counter>
            <table>sales_counter</table>
          </counter>
        </entities>
      </sales_mysql4>
    </models>
    <resources>
      <sales_setup>
        <setup>
          <module>Mage_Sales</module>
          <class>Mage_Sales_Model_Entity_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </sales_setup>
      <sales_write>
        <connection>
          <use>core_write</use>
        </connection>
      </sales_write>
      <sales_read>
        <connection>
          <use>core_read</use>
        </connection>
      </sales_read>
    </resources>
    <block>
        <groups><sales><class>Mage_Sales_Block</class></sales></groups>
    </block>
    <sales>
      <shipping>
        <carriers>
          <pickup>
            <active>true</active>
            <class>sales/shipping_carrier_pickup</class>
            <title>Pickup</title>
          </pickup>
        </carriers>
        <rule>
          <conditions>
            <dest_country>
              <class>Mage_Sales_Model_Shipping_Rule_Condition_Dest_Country</class>
            </dest_country>
            <dest_region>
              <class>Mage_Sales_Model_Shipping_Rule_Condition_Dest_Region</class>
            </dest_region>
            <dest_zip>
              <class>Mage_Sales_Model_Shipping_Rule_Condition_Dest_Zip</class>
            </dest_zip>
            <package_weight>
              <class>Mage_Sales_Model_Shipping_Rule_Condition_Package_Weight</class>
            </package_weight>
            <order_subtotal>
              <class>Mage_Sales_Model_Shipping_Rule_Condition_Order_Subtotal</class>
            </order_subtotal>
            <order_totalqty>
              <class>Mage_Sales_Model_Shipping_Rule_Condition_Order_Totalqty</class>
            </order_totalqty>
          </conditions>
          <actions>
            <carrier>
              <class>Mage_Sales_Model_Shipping_Rule_Action_Carrier</class>
            </carrier>
            <method>
              <class>Mage_Sales_Model_Shipping_Rule_Action_Method</class>
            </method>
          </actions>
        </rule>
      </shipping>
      <payment>
        <methods>
          <checkmo>
            <class>Mage_Sales_Model_Payment_Checkmo</class>
            <orderStatus>pending</orderStatus>
          </checkmo>
          <ccsave>
            <class>Mage_Sales_Model_Payment_Ccsave</class>
            <orderStatus>pending</orderStatus>
          </ccsave>
          <purchaseorder>
            <class>Mage_Sales_Model_Payment_Purchaseorder</class>
            <orderStatus>pending</orderStatus>
          </purchaseorder>
        </methods>
      </payment>
      <discount>
        <methods>
          <coupon>
            <class>Mage_Sales_Model_Discount_Coupon</class>
          </coupon>
        </methods>
      </discount>
      <tax>
        <methods>
          <rule>
            <class>Mage_Sales_Model_Tax_Rule</class>
          </rule>
        </methods>
      </tax>
      <quote>
        <rule>
          <conditions>
            <combine>
              <class>rule/condition_combine</class>
            </combine>
            <system>
              <class>rule/condition_system</class>
            </system>
            <customer>
              <class>sales/quote_rule_condition_customer</class>
            </customer>
            <quote>
              <class>sales/quote_rule_condition_quote</class>
            </quote>
            <quote_item>
              <class>sales/quote_rule_condition_quote_item</class>
            </quote_item>
            <quote_item_combine>
              <class>sales/quote_rule_condition_quote_item_combine</class>
            </quote_item_combine>
            <quote_address>
              <class>sales/quote_rule_condition_quote_address</class>
            </quote_address>
            <quote_address_combine>
              <class>sales/quote_rule_condition_quote_address_combine</class>
            </quote_address_combine>
          </conditions>
          <actions>
            <quote>
              <class>sales/quote_rule_action_quote</class>
            </quote>
            <quote_item>
              <class>sales/quote_rule_action_quote_item</class>
            </quote_item>
            <quote_item_add>
              <class>sales/quote_rule_action_quote_item_add</class>
            </quote_item_add>
            <quote_address>
              <class>sales/quote_rule_action_quote_address</class>
            </quote_address>
            <stop>
              <class>rule/action_stop</class>
            </stop>
          </actions>
        </rule>
      </quote>
      <order>
        <statuses>
          <pending>
            <title>Pending</title>
          </pending>
          <backordered>
            <title>Backordered</title>
          </backordered>
          <part_back>
            <title>Partially Backordered</title>
          </part_back>
          <cancelled>
            <title>Cancelled</title>
          </cancelled>
          <void>
            <title>Void</title>
          </void>
          <shipped>
            <title>Shipped</title>
          </shipped>
        </statuses>
      </order>
      <invoice>
      </invoice>
    </sales>
  </global>
</config>