<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_Catalog
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <acl>
        <resources>
            <resource id="Magento_Adminhtml::admin">
                <resource id="Magento_Catalog::catalog" module="Magento_Catalog" title="Products" sortOrder="30">
                    <resource id="Magento_Catalog::catalog_inventory" module="Magento_Catalog" title="Inventory" sortOrder="10">
                        <resource id="Magento_Catalog::products" title="Catalog" module="Magento_Catalog" sortOrder="10" />
                        <resource id="Magento_Catalog::categories" title="Categories" module="Magento_Catalog" sortOrder="20" />
                    </resource>
                </resource>
                <resource id="Magento_Adminhtml::marketing">
                    <resource id="Magento_Adminhtml::marketing_seo">
                        <resource id="Magento_Catalog::urlrewrite" title="URL Redirects" module="Magento_Catalog" sortOrder="20" />
                    </resource>
                </resource>
                <resource id="Magento_Adminhtml::stores">
                    <resource id="Magento_Adminhtml::stores_settings">
                        <resource id="Magento_Adminhtml::config">
                            <resource id="Magento_Catalog::config_catalog" module="Magento_Catalog" title="Catalog Section" />
                        </resource>
                    </resource>
                    <resource id="Magento_Adminhtml::stores_attributes">
                        <resource id="Magento_Catalog::attributes_attributes" title="Product" module="Magento_Catalog" sortOrder="30" />
                        <resource id="Magento_Catalog::update_attributes" title="Update Attributes" sortOrder="35" />
                        <resource id="Magento_Catalog::sets" title="Product Template" module="Magento_Catalog" sortOrder="40"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
