<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <module name="Mage_SalesRule" version="1.6.0.4" active="true">
        <depends>
            <module name="Mage_Rule" />
            <module name="Mage_Catalog" />
            <module name="Mage_Sales" />
        </depends>
    </module>
</config>
