<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\Customer\Model\Session">
        <param name="configShare">
            <instance type="Magento\Customer\Model\Config\Share\Proxy" />
        </param>
        <param name="customerData">
            <instance type="Magento\Customer\Helper\Data\Proxy" />
        </param>
        <param name="customerResource">
            <instance type="Magento\Customer\Model\Resource\Customer\Proxy" />
        </param>
        <param name="storage">
            <instance type="Magento\Customer\Model\Session\Storage" />
        </param>
    </type>
    <type name="Magento\Module\Updater\SetupFactory">
        <param name="resourceTypes">
            <array>
                <item key="customer_setup"><value>Magento\Customer\Model\Resource\Setup</value></item>
            </array>
        </param>
    </type>
    <type name="Magento\Customer\Helper\Address">
        <param name="addressConfig">
            <instance type="Magento\Customer\Model\Address\Config\Proxy" />
        </param>
    </type>
    <type name="Magento\Customer\Model\Config\Share">
        <param name="customerResource">
            <instance type="Magento\Customer\Model\Resource\Customer\Proxy" />
        </param>
    </type>
    <type name="Magento\Customer\Model\Customer">
        <param name="customerData">
            <instance type="Magento\Customer\Helper\Data\Proxy" />
        </param>
    </type>
</config>
