<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\Customer\Model\Session">
        <param name="configShare">
            <instance type="Magento\Customer\Model\Config\Share\Proxy" />
        </param>
    </type>
    <type name="Magento\App\Updater\SetupFactory">
        <param name="resourceTypes">
            <value>
                <customer_setup>Magento\Customer\Model\Resource\Setup</customer_setup>
            </value>
        </param>
    </type>
</config>
