<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Mage
 * @package     Magento_Wishlist
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <wishlist_setup>
                <setup>
                    <module>Magento_Wishlist</module>
                </setup>
            </wishlist_setup>
        </resources>
    </global>
    <default>
        <wishlist>
            <general>
                <active>1</active>
            </general>
            <email>
                <email_identity>general</email_identity>
                <email_template>wishlist_email_email_template</email_template>
                <number_limit>10</number_limit>
                <text_limit>255</text_limit>
            </email>
        </wishlist>
    </default>
</config>
