<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\Wishlist\Model\Resource\Item\Collection\Grid">
        <param name="resource">
            <instance type="Magento\Wishlist\Model\Resource\Item" />
        </param>
    </type>
</config>
