<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Doc\Document\Filter" shared="false" />
    <type name="Magento\Framework\App\AreaList">
        <arguments>
            <argument name="areas" xsi:type="array">
                <item name="doc" xsi:type="array">
                    <item name="frontNameResolver" xsi:type="string">Magento\Doc\App\Area\FrontNameResolver</item>
                    <item name="router" xsi:type="string">doc</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="doc" xsi:type="array">
                    <item name="class" xsi:type="string">Magento\Doc\App\Router</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">10</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\TemplateEngineFactory">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="xhtml" xsi:type="string">Magento\Doc\TemplateEngine\Xhtml</item>
                <item name="html" xsi:type="string">Magento\Doc\TemplateEngine\Html</item>
                <item name="md" xsi:type="string">Magento\Doc\TemplateEngine\Md</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Doc\DocumentReader\Collector">
        <arguments>
            <argument name="baseFiles" xsi:type="object">templateFileSourceBaseSorted</argument>
        </arguments>
    </type>
    <virtualType name="templateFileSourceBaseSorted" type="Magento\Framework\View\File\Collector\Decorator\ModuleDependency">
        <arguments>
            <argument name="subject" xsi:type="object">templateFileSourceBaseFiltered</argument>
        </arguments>
    </virtualType>
    <virtualType name="templateFileSourceBaseFiltered" type="Magento\Framework\View\File\Collector\Decorator\ModuleOutput">
        <arguments>
            <argument name="subject" xsi:type="object">templateFileSourceBase</argument>
        </arguments>
    </virtualType>
    <virtualType name="templateFileSourceBase" type="Magento\Doc\DocumentReader\Collector\Base">
        <arguments>
            <argument name="subDir" xsi:type="string">docs</argument>
        </arguments>
    </virtualType>
</config>
