<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\CustomerSegment\Model\Observer">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session</argument>
            <argument name="customer" xsi:type="object">Magento\CustomerSegment\Model\Customer</argument>
            <argument name="configSourceYesno" xsi:type="object">Magento\Backend\Model\Config\Source\Yesno</argument>
            <argument name="segmentHelper" xsi:type="object">Magento\CustomerSegment\Helper\Data</argument>
            <argument name="coreRegistry" xsi:type="object">Magento\Framework\Registry</argument>
        </arguments>
    </type>
    <type name="Magento\CustomerSegment\Helper\Data">
        <arguments>
            <argument name="segmentCollection" xsi:type="object">Magento\CustomerSegment\Model\Resource\Segment\Collection</argument>
        </arguments>
    </type>
    <type name="Magento\CustomerSegment\Model\Customer">
        <arguments>
            <argument name="visitor" xsi:type="object">Magento\Customer\Model\Visitor\Proxy</argument>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Module\Updater\SetupFactory">
        <arguments>
            <argument name="resourceTypes" xsi:type="array">
                <item name="customersegment_setup" xsi:type="string">Magento\CustomerSegment\Model\Resource\Setup</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Module\Setup\Migration">
        <arguments>
            <argument name="compositeModules" xsi:type="array">
                <item name="magento_customersegment" xsi:type="string">Magento_CustomerSegment</item>
            </argument>
        </arguments>
    </type>
</config>
