<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2014 X.commerce, Inc. (http://www.magentocommerce.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="customer_save_commit_after">
        <observer name="magento_customersegment" instance="Magento\CustomerSegment\Model\Observer" method="processCustomerEvent" />
    </event>
    <event name="customer_address_save_commit_after">
        <observer name="magento_customersegment" instance="Magento\CustomerSegment\Model\Observer" method="processCustomerEvent" />
    </event>
    <event name="customer_address_delete_commit_after">
        <observer name="magento_customersegment" instance="Magento\CustomerSegment\Model\Observer" method="processCustomerEvent" />
    </event>
    <event name="customer_balance_save_commit_after">
        <observer name="magento_customersegment" instance="Magento\CustomerSegment\Model\Observer" method="processCustomerEvent" />
    </event>
</config>
