<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <module name="Magento_CustomerSegment" version="1.11.0.0.4" active="false">
        <sequence>
            <module name="Magento_Customer"/>
            <module name="Magento_CustomerCustomAttributes"/>
            <module name="Magento_Adminhtml"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_CatalogRule"/>
            <module name="Magento_Rule"/>
            <module name="Magento_Log"/>
        </sequence>
        <depends>
            <module name="Magento_Catalog"/>
            <module name="Magento_Customer"/>
            <module name="Magento_Adminhtml"/>
            <module name="Magento_Rule"/>
            <module name="Magento_Log"/>
            <module name="Magento_Core"/>
            <module name="Magento_Backend"/>
            <module name="Magento_Logging"/>
            <module name="Magento_Sales"/>
            <module name="Magento_Eav"/>
            <module name="Magento_Directory"/>
            <module name="Magento_Newsletter"/>
            <module name="Magento_Enterprise"/>
        </depends>
    </module>
</config>
