<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <preference for="Magento_Authorization_Policy" type="Magento_Authorization_Policy_Acl" />
    <preference for="Magento_Authorization_RoleLocator" type="Magento_Backend_Model_Authorization_RoleLocator" />
    <preference for="Magento_Core_Model_LocaleInterface" type="Magento_Backend_Model_Locale" />
    <preference for="Magento_Core_Model_UrlInterface" type="Magento_Backend_Model_Url" />
    <preference for="Magento_Backend_Model_Auth_StorageInterface" type="Magento_Backend_Model_Auth_Session" />
    <preference for="Magento_Backend_Model_Config_Structure_SearchInterface" type="Magento_Backend_Model_Config_Structure" />
    <preference for="Magento_Backend_Model_Config_Backend_File_RequestData_Interface" type="Magento_Backend_Model_Config_Backend_File_RequestData" />
    <preference for="Magento_Acl_Resource_ProviderInterface" type="Magento_Acl_Resource_Provider"/>
    <type name="Magento_Acl_Resource_Config_Reader_Filesystem">
        <param name="converter">
            <instance type="Magento_Acl_Resource_Config_Converter_Dom"/>
        </param>
    </type>
    <type name="Magento_Acl_Resource_Provider">
        <param name="configReader">
            <instance type="Magento_Acl_Resource_Config_Reader_Filesystem"/>
        </param>
    </type>
    <type name="Magento_Acl_Builder">
        <param name="resourceLoader">
            <instance type="Magento_Acl_Loader_Resource" />
        </param>
    </type>
    <type name="Magento_Core_Model_Acl_Cache">
        <param name="cacheKey">
            <value>backend_acl_resources</value>
        </param>
    </type>
    <type name="Magento_Core_Model_Acl_RootResource">
        <param name="identifier">
            <value>Magento_Adminhtml::all</value>
        </param>
    </type>
    <type name="Magento_Core_Model_Session">
        <param name="sessionName">
            <value>adminhtml</value>
        </param>
    </type>
    <type name="Magento_Backend_Model_Config_Structure_Data">
        <param name="cacheId">
            <value>backend_system_configuration_structure</value>
        </param>
    </type>
    <type name="Magento_Backend_Model_Config_Structure_Element_Iterator_Tab" shared="false" />
    <type name="Magento_Backend_Model_Config_Structure_Element_Iterator_Section" shared="false" />
    <type name="Magento_Backend_Model_Config_Structure_Element_Iterator_Group" shared="false" />
    <type name="Magento_Backend_Model_Config_Structure_Element_Iterator_Field" shared="false">
        <param name="groupFlyweight">
            <instance type="Magento_Backend_Model_Config_Structure_Element_Group_Proxy" />
        </param>
    </type>
    <type name="Magento_Backend_Model_Config_Structure_Element_Dependency_Mapper" shared="false">
        <param name="fieldLocator">
            <instance type="Magento_Backend_Model_Config_Structure_Search_Proxy" />
        </param>
    </type>
    <type name="Magento_Backend_Model_Config_Structure_Element_Tab" shared="false">
        <param name="childrenIterator">
            <instance type="Magento_Backend_Model_Config_Structure_Element_Iterator_Section" />
        </param>
    </type>
    <type name="Magento_Backend_Model_Config_Structure_Element_Section" shared="false">
        <param name="childrenIterator">
            <instance type="Magento_Backend_Model_Config_Structure_Element_Iterator_Group" />
        </param>
    </type>
    <type name="Magento_Backend_Model_Config_Structure_Element_Group" shared="false">
        <param name="childrenIterator">
            <instance type="Magento_Backend_Model_Config_Structure_Element_Iterator_Field" />
        </param>
    </type>
    <type name="Magento_Backend_Model_Config_Structure_Element_Group_Proxy" shared="false" />
    <type name="Magento_Core_Model_Layout">
        <param name="area">
            <value>adminhtml</value>
        </param>
    </type>
</config>
