<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <event name="translate_initialization_before">
        <observer name="initialize_translation" instance="Magento\Backend\Model\Observer" method="initializeTranslation" />
    </event>
</config>
