<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/Magento/Event/etc/events.xsd">
    <event name="translate_initialization_before">
        <observer name="initialize_translation" instance="Magento\Backend\Model\Observer" method="initializeTranslation" />
    </event>
    <event name="admin_system_config_changed_section_admin">
        <observer name="bind_locale" instance="Magento\Backend\Model\Config\Backend\Admin\Observer" method="afterCustomUrlChanged" />
    </event>
</config>
