<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <event name="checkout_controller_onepage_save_shipping_method">
        <observer name="enterprise_giftwrapping" instance="Enterprise_GiftWrapping_Model_Observer" method="checkoutProcessWrappingInfo" />
    </event>
    <event name="checkout_controller_multishipping_shipping_post">
        <observer name="enterprise_giftwrapping" instance="Enterprise_GiftWrapping_Model_Observer" method="checkoutProcessWrappingInfo" />
    </event>
    <event name="gift_options_prepare_items">
        <observer name="enterprise_giftwrapping" instance="Enterprise_GiftWrapping_Model_Observer" method="prepareGiftOptpionsItems" />
    </event>
</config>