<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento_Core_Model_ModuleManager">
        <param name="outputConfigPaths">
            <value>
                <Magento_CustomerBalance>Magento_CustomerBalance_Helper_Data::XML_PATH_ENABLED</Magento_CustomerBalance>
            </value>
        </param>
    </type>
    <type name="Magento_CustomerBalance_Model_Observer">
        <param name="onePageCheckout">
            <instance type="Magento_Checkout_Model_Type_Onepage_Proxy"/>
        </param>
    </type>
    <type name="Magento_Core_Model_Db_Updater">
        <param name="resourceList">
            <value>
                <customerbalance_setup>Magento_Sales_Model_Resource_Setup</customerbalance_setup>
            </value>
        </param>
    </type>
</config>
