
/* body { width:expression(document.body.clientWidth < 800 ? "800px" : "100%" ); }  Sets the minimum width */


/* Clearing */
dl.accordion dt,
.entry-edit fieldset li,
#nav,
.main,
.middle,
.clear,
.container,
dl.accordion dt,
.grid thead th a,
.content,
.box-head,
.header-top,
ul.tabs,
ul.tabs li span,
ul.tabs li a,
ul.tabs li { height:1%; } /* IE version of clearing */

.clear {
    clear:both;
    height:0;
    font-size:0;
    line-height:0;
    overflow:hidden;
    }

/* Set min-height */
.icon-head { height:18px;}
.footer .powered-by { height:19px;}
.simple-container { height:350px; }


/* Scalable Button Override */
button.scalable {
    width:auto;
    margin-left:5px;
    overflow:visible;
    }
button.scalable td.mr, button.scalable td.br { width:7px;}
.grid tr.filter th {
    padding-right: 8px;
}

/* Grid Filter Override */
.grid tr.filter th {
    padding-top:3px;
    padding-bottom:3px;
    }
.grid tr.filter th input { margin-right: -10px; }
.grid tr.filter th .range input { margin-right: 2px; }


.nested-content .content-header {
    position:relative;
    zoom:1;
    }

dl.accordion dt a {
    width:99%;
}

.no-breadcrumbs {
    font-size: 3px;
    line-height: 3px;
    }



#nav ul li { background:none !important; padding:0 !important; }
#nav ul { top:34px !important; margin-top:1px; border:1px solid #b6b6b6; border-top:none !imporant; padding-top:0 !important; padding-bottom:0; }
#nav ul ul { top:13px !important; border:1px solid #b6b6b6;}
#nav ul li a { background:#e5edef;}
#nav ul li a:hover  { background:#d0dfe2;}
#nav ul, #nav ul li, #nav ul a, #nav ul a span { zoom:1; }
#nav ul li.last { margin-bottom:-3px; }
#nav ul li.parent { margin-bottom:-3px; }