<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_AdminNotification
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <acl>
        <resources>
            <resource id="Magento_Adminhtml::admin">
                <resource id="Magento_Adminhtml::system">
                    <resource id="Magento_Adminhtml::system_other_settings">
                        <resource id="Magento_AdminNotification::adminnotification" title="Notifications" sortOrder="10">
                            <resource id="Magento_AdminNotification::show_toolbar" title="Show Toolbar" sortOrder="10" />
                            <resource id="Magento_AdminNotification::show_list" title="Show List" sortOrder="20" />
                            <resource id="Magento_AdminNotification::mark_as_read" title="Mark as Read" sortOrder="30" />
                            <resource id="Magento_AdminNotification::adminnotification_remove" title="Remove" sortOrder="40" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
