<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\AdminNotification\Model\System\MessageList">
        <param name="messages">
            <array>
                <item key="baseurl"><value>Magento\AdminNotification\Model\System\Message\Baseurl</value></item>
                <item key="security"><value>Magento\AdminNotification\Model\System\Message\Security</value></item>
                <item key="cacheOutdated"><value>Magento\AdminNotification\Model\System\Message\CacheOutdated</value></item>
                <item key="survey"><value>Magento\AdminNotification\Model\System\Message\Survey</value></item>
                <item key="media_synchronization_error"><value>Magento\AdminNotification\Model\System\Message\Media\Synchronization\Error</value></item>
                <item key="media_synchronization_success"><value>Magento\AdminNotification\Model\System\Message\Media\Synchronization\Success</value></item>
            </array>
        </param>
    </type>
</config>
