<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\CatalogInventory\Model\Quote\Item\QuantityValidator\Initializer\Option">
        <plugin name="configurable_product" type="Magento\ConfigurableProduct\Model\Quote\Item\QuantityValidator\Initializer\Option\Plugin\ConfigurableProduct" sortOrder="50" />
    </type>
    <type name="Magento\Catalog\Model\Product\CartConfiguration">
        <plugin name="configurable_product" type="Magento\ConfigurableProduct\Model\Product\CartConfiguration\Plugin\Configurable" sortOrder="50" />
    </type>
    <type name="Magento\Sales\Model\Order\Admin\Item">
        <plugin name="configurable_product" type="Magento\ConfigurableProduct\Model\Order\Admin\Item\Plugin\Configurable" sortOrder="50" />
    </type>
    <type name="Magento\Catalog\Helper\Product\Configuration">
        <plugin name="confiburable_product" type="Magento\ConfigurableProduct\Helper\Product\Configuration\Plugin" sortOrder="50" />
    </type>
    <type name="Magento\Catalog\Model\Entity\Product\Attribute\Group\AttributeMapperInterface">
        <plugin name="configurable_product" type="Magento\ConfigurableProduct\Model\Entity\Product\Attribute\Group\AttributeMapper\Plugin" sortOrder="50" />
    </type>
    <type name="Magento\Catalog\Model\Product\TypeTransitionManager">
        <plugin name="configurable_product_transition" type="Magento\ConfigurableProduct\Model\Product\TypeTransitionManager\Plugin\Configurable" sortOrder="50" />
        <param name="compatibleTypes">
            <array>
                <item key="configurable"><value type="const">Magento\ConfigurableProduct\Model\Product\Type\Configurable::TYPE_CODE</value></item>
            </array>
        </param>
    </type>
    <type name="Magento\Sales\Model\Resource\Report\Bestsellers">
        <param name="ignoredProductTypes">
            <array>
                <item key="configurable"><value type="const">\Magento\ConfigurableProduct\Model\Product\Type\Configurable::TYPE_CODE</value></item>
            </array>
        </param>
    </type>
    <type name="Magento\Module\Updater\SetupFactory">
        <param name="resourceTypes">
            <array>
                <item key="configurableproduct_setup"><value>Magento\Catalog\Model\Resource\Setup</value></item>
            </array>
        </param>
    </type>
    <type name="Magento\ImportExport\Model\Export\RowCustomizer\Composite">
        <param name="customizers">
            <array>
                <item key="configurableProduct"><value>Magento\ConfigurableProduct\Model\Export\RowCustomizer</value></item>
            </array>
        </param>
    </type>
    <type name="Magento\Eav\Model\Entity\Setup\PropertyMapper\Composite">
        <param name="propertyMappers">
            <array>
                <item key="configurable"><value>Magento\ConfigurableProduct\Model\Resource\Setup\PropertyMapper</value></item>
            </array>
        </param>
    </type>
</config>
