<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento_CatalogRule_Model_Rule">
        <param name="relatedCacheTypes">
            <value>
                <block_html />
            </value>
        </param>
    </type>
</config>
