<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Enterprise
 * @package     Enterprise_Rma
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <acl>
        <resources>
            <resource id="Mage_Adminhtml::admin">
                <resource id="Mage_Sales::sales">
                    <resource id="Enterprise_Rma::enterprise_rma" module="Enterprise_Rma" title="RMA" sortOrder="35">
                        <resource id="Enterprise_Rma::rma_manage" module="Enterprise_Rma" title="Manage RMA" sortOrder="10" />
                        <resource id="Enterprise_Rma::rma_attribute" module="Enterprise_Rma" title="Manage RMA Items Attributes" sortOrder="20" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
