<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento_Pbridge_Model_Session">
        <param name="sessionName">
            <value>frontend</value>
        </param>
    </type>
    <type name="Magento_Core_Model_Url_SecurityInfo">
        <param name="secureUrlList">
            <magento_pbridge_pbridge>/magento_pbridge/pbridge/</magento_pbridge_pbridge>
            <magento_pbridge_payment_profile>/magento_pbridge/payment_profile/</magento_pbridge_payment_profile>
        </param>
    </type>
</config>
