<?xml version="1.0"?>
<config>
	<page>
        <head>
            <title>Magento Commerce</title>
            <media_type>text/html</media_type>
            <charset>utf8</charset>
            <description>Default Description</description>
            <keywords>Magento, Varien, E-commerce</keywords>
            <robots>*</robots>
        </head>
		<header>
			<logo_src></logo_src>
			<logo_alt>Magento Commerce</logo_alt>
            <welcome>Welcome to our site, dear visitor! (default welcome message for guests)</welcome>
		</header>
        <footer>
            <copyright>Copyright goes here</copyright>
        </footer>
	</page>
</config>
