<?php

return array(
    'loadOrder' => array(
      '/pub/lib/globalize/globalize.js',
      '/pub/lib/jquery/jquery.js',
      '/pub/lib/jquery/ui/jquery-ui.js',
      '/pub/lib/jquery/head.js',
      '/pub/lib/mage/mage.js',
      '/pub/lib/mage/decorate.js',
      '/pub/lib/jquery/jquery.validate.js',
      '/pub/lib/jquery/jquery.metadata.js',
      '/pub/lib/jquery/additional-methods.js'
    )
);
