<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2014 X.commerce, Inc. (http://www.magentocommerce.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\CustomerCustomAttributes\Helper\Data">
        <arguments>
            <argument name="customerAddress" xsi:type="object">Magento\CustomerCustomAttributes\Helper\Address\Proxy</argument>
            <argument name="customerCustomer" xsi:type="object">Magento\CustomerCustomAttributes\Helper\Customer\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\CustomerCustomAttributes\Model\Observer">
        <arguments>
            <argument name="customerData" xsi:type="object">Magento\CustomerCustomAttributes\Helper\Data\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Module\Updater\SetupFactory">
        <arguments>
            <argument name="resourceTypes" xsi:type="array">
                <item name="customercustomattributes_setup" xsi:type="string">Magento\Customer\Model\Resource\Setup</item>
            </argument>
        </arguments>
    </type>
</config>
