<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Mage_Wishlist_Model_Resource_Item_Collection_Grid">
        <param name="resource">
            <instance type="Mage_Wishlist_Model_Resource_Item" />
        </param>
    </type>
</config>
