<?xml version="1.0"?>
<config>
   <modules>
      <Mage_Checkout>
         <version>0.2.0</version>
         <depends>
            <Mage_Sales />
         </depends>
      </Mage_Checkout>
   </modules>
   <global>
      <block>
	     <groups><checkout><class>Mage_Checkout_Block</class></checkout></groups>
      </block>
      <models>
         <checkout>
            <class>Mage_Checkout_Model</class>
         </checkout>
      </models>
   </global>
   <frontend>
      <layouts>
         <default>
            <updates>
               <checkout>
                  <file>checkout/initLayout.xml</file>
               </checkout>
            </updates>
         </default>
         <onepage>
            <updates>
               <default>
                  <file>checkout/onepage.xml</file>
               </default>
            </updates>
         </onepage>
      </layouts>
      <events>
         <customerLogin>
            <observers>
               <loadCustomerQuote>
                  <type>singleton</type>
                  <class>checkout/observer</class>
                  <method>loadCustomerQuote</method>
               </loadCustomerQuote>
            </observers>
         </customerLogin>
         <customerLogout>
            <observers>
               <unsetAll>
                  <type>singleton</type>
                  <class>checkout/observer</class>
                  <method>unsetAll</method>
               </unsetAll>
            </observers>
         </customerLogout>
      </events>
      <routers>
         <checkout>
            <use>standard</use>
            <args>
               <module>Mage_Checkout</module>
               <frontName>checkout</frontName>
            </args>
         </checkout>
      </routers>
   </frontend>
</config>
