<?xml version="1.0"?>
<config>
   <modules>
      <Mage_Checkout>
         <version>0.2.0</version>
         <depends>
            <Mage_Sales />
         </depends>
      </Mage_Checkout>
   </modules>
   <global>
      <block>
	     <groups><checkout><class>Mage_Checkout_Block</class></checkout></groups>
      </block>
      <models>
         <checkout>
            <class>Mage_Checkout_Model</class>
         </checkout>
      </models>
      <resources>
         <checkout_setup>
            <setup>
               <module>Mage_Checkout</module>
            </setup>
            <connection>
               <use>core_setup</use>
            </connection>
         </checkout_setup>
         <checkout_write>
            <connection>
               <use>core_write</use>
            </connection>
         </checkout_write>
         <checkout_read>
            <connection>
               <use>core_read</use>
            </connection>
         </checkout_read>
      </resources>
      <sales>
         <quote>
            <entities>
               <self>
                 <attributes>
                  <method>
                     <type>varchar</type>
                  </method>
                  <password_hash>
                     <type>varchar</type>
                  </password_hash>
                 </attributes>
               </self>
               <address>
                 <attributes>
                  <same_as_billing>
                    <type>int</type>
                  </same_as_billing>
                 </attributes>
               </address>
            </entities>
         </quote>
      </sales>
   </global>
   <front>
      <layouts>
         <default>
            <updates>
               <checkout>
                  <file>checkout/initLayout.xml</file>
               </checkout>
            </updates>
         </default>
         <checkout>
            <updates>
               <checkout>
                  <file>checkout/page.xml</file>
               </checkout>
            </updates>
         </checkout>
      </layouts>
      <events>
         <customerLogin>
            <observers>
               <loadCustomerQuote>
                  <type>singleton</type>
                  <model>checkout</model>
                  <class>observer</class>
                  <method>loadCustomerQuote</method>
               </loadCustomerQuote>
            </observers>
         </customerLogin>
         <customerLogout>
            <observers>
               <unsetAll>
                  <type>singleton</type>
                  <model>checkout</model>
                  <class>observer</class>
                  <method>unsetAll</method>
               </unsetAll>
            </observers>
         </customerLogout>
      </events>
      <urls>
         <cart_view>checkout/cart</cart_view>
         <checkout_start>checkout</checkout_start>
      </urls>
      <routers>
         <checkout>
            <class>Mage_Core_Controller_Front_Router</class>
            <args>
               <module>Mage_Checkout</module>
               <frontName>checkout</frontName>
            </args>
         </checkout>
      </routers>
   </front>
</config>
