<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Mage
 * @package     Mage_Backup
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <menu>
        <add id="system_tools_backup" title="Backups" module="Mage_Backup" parent="system_tools" action="adminhtml/system_backup" />
    </menu>
</config>
