<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_Sitemap
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <sitemap_setup>
                <setup>
                    <module>Magento_Sitemap</module>
                </setup>
            </sitemap_setup>
        </resources>
        <template>
            <email>
                <sitemap_generate_error_email_template translate="label" module="Magento_Sitemap">
                    <label>Sitemap Generation Warnings</label>
                    <file>email/generate_warnings.html</file>
                    <type>text</type>
                </sitemap_generate_error_email_template>
            </email>
        </template>
    </global>
    <default>
        <sitemap>
            <limit>
                <max_lines>50000</max_lines>
                <max_file_size>10485760</max_file_size>
            </limit>
            <page>
                <priority>0.25</priority>
                <changefreq>daily</changefreq>
            </page>
            <category>
                <priority>0.5</priority>
                <changefreq>daily</changefreq>
            </category>
            <product>
                <priority>1</priority>
                <changefreq>daily</changefreq>
                <image_include>all</image_include>
            </product>
            <generate>
                <enabled>0</enabled>
                <error_email />
                <error_email_template>sitemap_generate_error_email_template</error_email_template>
                <error_email_identity>general</error_email_identity>
            </generate>
            <search_engines>
                <submission_robots>0</submission_robots>
            </search_engines>
        </sitemap>
    </default>
    <crontab>
        <jobs>
            <sitemap_generate>
                <run>
                    <model>Magento_Sitemap_Model_Observer::scheduledGenerateSitemaps</model>
                </run>
            </sitemap_generate>
        </jobs>
    </crontab>
</config>
