<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Magento_Sales" schema_version="1.6.0.12" active="true">
        <sequence>
            <module name="Magento_Rule"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_Customer"/>
            <module name="Magento_Payment"/>
        </sequence>
        <depends>
            <module name="Magento_Store"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_Customer"/>
            <module name="Magento_Payment"/>
            <module name="Magento_Core"/>
            <module name="Magento_Checkout"/>
            <module name="Magento_Theme"/>
            <module name="Magento_SalesRule"/>
            <module name="Magento_Backend"/>
            <module name="Magento_Widget"/>
            <module name="Magento_Directory"/>
            <module name="Magento_Eav"/>
            <module name="Magento_Tax"/>
            <module name="Magento_GiftMessage"/>
            <module name="Magento_Reports"/>
            <module name="Magento_CatalogInventory"/>
            <module name="Magento_Wishlist"/>
            <module name="Magento_Email"/>
            <module name="Magento_Shipping"/>
        </depends>
    </module>
</config>
