<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\Module\Updater\SetupFactory">
        <param name="resourceTypes">
            <value>
                <groupedproduct_setup>Magento\Catalog\Model\Resource\Setup</groupedproduct_setup>
            </value>
        </param>
    </type>
    <type name="Magento\Sales\Model\Quote\Item\RelatedProducts">
        <param name="relatedProductTypes">
            <value>
                <grouped type="const">\Magento\GroupedProduct\Model\Product\Type\Grouped::TYPE_CODE</grouped>
            </value>
        </param>
    </type>
    <type name="Magento\Catalog\Model\Product\LinkTypeProvider">
        <param name="linkTypes">
            <value>
                <associated type="const">Magento\GroupedProduct\Model\Resource\Product\Link::LINK_TYPE_GROUPED</associated>
            </value>
        </param>
    </type>
    <type name="Magento\Sales\Model\Resource\Report\Bestsellers">
        <param name="ignoredProductTypes">
            <value>
                <grouped type="const">\Magento\GroupedProduct\Model\Product\Type\Grouped::TYPE_CODE</grouped>
            </value>
        </param>
    </type>
    <type name="Magento\Catalog\Model\Product\CatalogPrice">
        <param name="typePool">
            <value>
                <grouped>\Magento\GroupedProduct\Model\Product\CatalogPrice</grouped>
            </value>
        </param>
    </type>
</config>


