<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\TargetRule\Model\Index">
        <param name="session">
            <instance type="Magento\Customer\Model\Session\Proxy" />
        </param>
    </type>
    <type name="Magento\TargetRule\Model\Resource\Index">
        <param name="session">
            <instance type="Magento\Customer\Model\Session\Proxy" />
        </param>
    </type>
    <type name="Magento\Module\Updater\SetupFactory">
        <param name="resourceTypes">
            <array>
                <item key="targetrule_setup"><value>Magento\TargetRule\Model\Resource\Setup</value></item>
            </array>
        </param>
    </type>
</config>
