/*Image block*/
.product-image {width:245px;float:left;}
.product-image a {font-weight:bold;color:#015e67;}
.product-image p { text-align:right; }
.product-image .product-look-inside { width:49%; float:left; }
.product-image .product-zoom{ width:50%; float:right;text-align:right; }

/*Information block*/
.product-info { width:300px; margin: 15px 0 15px 15px; float:left; }
.product-info h1 {font-size:1.45em;}
.product-info .qty-list { margin:10px 0; background-color:#e3e2b6; text-align:right;}
.product-info .qty-list td, .product-info .qty-list th { padding: 1px 10px 1px 0; }
.product-info .qty-list th { padding-top:6px; padding-bottom:3px; }
.product-info .qty-list tbody td { background-color:#eeeed3; border-bottom:1px solid #e3e2b6;}
.product-info .qty-list td.price { color:#c13f18; font-weight:bold; padding-right:55px;}
.product-info .qty-list th.price { padding-right:55px;}
.product-info .qty-list tfoot td { padding:5px 10px; text-align:left; }
.product-info .qty-list tfoot td a { color:#015e67;}
.product-info .qty-list th.top-left { background:url(images/bg_radius_qty_tl.gif) no-repeat; }
.product-info .qty-list th.top-right {background:url(images/bg_radius_qty_tr.gif) no-repeat 100% 0; }
.product-info .qty-list td.bottom { padding:0; background:url(images/bg_radius_qty_bl.gif) no-repeat 0 100%; }
.product-info .qty-list td.bottom div { padding:4px 10px; background:url(images/bg_radius_qty_br.gif) no-repeat 100% 100%;}

.product-info .product-options { margin-left:133px; }
.product-info .product-options li { margin-bottom:5px;}
.product-info .product-options li img { margin-right:6px; vertical-align:middle;}

.product-info .float-left {float:left}

.product-description ul, .product-info ol { margin:10px 0;}
.product-description ul li, .product-info ol li { margin-left:25px; }
.product-description ul li { list-style-type:disc; }
.product-description ol li { list-style-type:decimal; }

.red{color:#c7460b;}
