<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento_Payment_Model_Method_Abstract">
        <param name="eventManager">
            <instance type="Magento_Core_Model_Event_Manager_Proxy" />
        </param>
    </type>
    <type name="Magento_Paypal_Model_Cart">
        <param name="eventManager">
            <instance type="Magento_Core_Model_Event_Manager_Proxy" />
        </param>
    </type>
    <type name="Magento_Paypal_Model_Payment_Transaction">
        <param name="eventManager">
            <instance type="Magento_Core_Model_Event_Manager_Proxy" />
        </param>
    </type>
</config>
