<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <module name="Magento_Payment" version="1.6.0.0" active="true">
        <sequence>
            <module name="Magento_Core"/>
            <module name="Magento_Catalog"/>
        </sequence>
        <depends>
            <module name="Magento_Core"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_Sales"/>
            <module name="Magento_Centinel"/>
            <module name="Magento_Checkout" type="soft"/>
        </depends>
    </module>
</config>
