<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\PageCache\Model\Observer">
        <param name="allowedCache">
            <value>
                <cms>true</cms>
                <catalog>
                    <category>
                        <view>true</view>
                    </category>
                    <product>
                        <view>true</view>
                    </product>
                </catalog>
            </value>
        </param>
    </type>
</config>