<?xml version="1.0"?>
<config>
    <modules>
        <Mage_Acl>
            
            <depends>
                <Mage_Core/>
            </depends>

            <load>
                <all>
                    <resources>
                        <acl_setup>
                            <version>0.1.2</version>
                            <connection extends="//core_setup/connection"/>
                        </acl_setup>

                        <acl_write>
                            <connection extends="//core_write/connection"/>
                        </acl_write>

                        <acl_read>
                            <connection extends="//core_read/connection"/>
                        </acl_read>
                    </resources>
                    
                    <models>
                        <acl>
                            <class>Mage_Acl_Model_Mysql4</class>
                        </acl>
                    </models>
                </all>
                
                <admin>
                    <controller>
                        <active>true</active>
                    </controller>
                    
                    <layouts>
                        <default><updates><acl><module>Mage_Acl</module><file>Admin/initLayout.xml</file></acl></updates></default>
                    </layouts>
                </admin>
            </load>
        </Mage_Acl>
    </modules>
</config>