<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <modules>
        <Mage_TestModule1>
            <version>1.0</version>
            <current_api_version>1</current_api_version>
            <active>true</active>
        </Mage_TestModule1>
    </modules>
    <global>
        <di>
            <preferences>
                <Mage_TestModule1_Service_AllSoapAndRestV1Interface>Mage_TestModule1_Service_AllSoapAndRestV1</Mage_TestModule1_Service_AllSoapAndRestV1Interface>
                <Mage_TestModule1_Service_AllSoapAndRestV2Interface>Mage_TestModule1_Service_AllSoapAndRestV2</Mage_TestModule1_Service_AllSoapAndRestV2Interface>
            </preferences>
        </di>
    </global>
</config>
