<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <module name="Enterprise_WebsiteRestriction" version="1.11.0.0.1" active="false">
        <sequence>
            <module name="Mage_Core"/>
            <module name="Mage_Customer"/>
            <module name="Mage_Cms"/>
        </sequence>
        <depends>
            <module name="Mage_Core" type="hard"/>
            <module name="Mage_Customer" type="hard"/>
            <module name="Mage_Cms" type="hard"/>
            <module name="Mage_Page" type="hard"/>
        </depends>
    </module>
</config>
