<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2014 X.commerce, Inc. (http://www.magentocommerce.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Banner\Model\Config">
        <arguments>
            <argument name="bannerTypes" xsi:type="array">
                <item name="content" xsi:type="string">Content Area</item>
                <item name="footer" xsi:type="string">Footer</item>
                <item name="header" xsi:type="string">Header</item>
                <item name="leftcol" xsi:type="string">Left Column</item>
                <item name="rightcol" xsi:type="string">Right Column</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Module\Updater\SetupFactory">
        <arguments>
            <argument name="resourceTypes" xsi:type="array">
                <item name="banner_setup" xsi:type="string">Magento\Banner\Model\Resource\Setup</item>
            </argument>
        </arguments>
    </type>
</config>
