.translate-inline { /* background:black; font-weight:bold; color:red; */ border:dotted 1px red;}
.translate-inline-script, .translate-inline-title { background:yellow; color:black; font-weight:bold; }
#translate-inline-trig { position:absolute; display:none; opacity:.8; filter:alpha(opacity=80); cursor:pointer; margin-top:10px;}
