<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Enterprise
 * @package     Enterprise_TargetRule
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <menu>
        <add id="Enterprise_TargetRule::catalog_targetrule" title="Rule-Based Product Relations" module="Enterprise_TargetRule" sortOrder="35" parent="Mage_Catalog::catalog" action="adminhtml/targetrule/" />
    </menu>
</config>
