<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <virtualType name="Magento_Centinel_Model_Session" type="Magento_Core_Model_Session_Generic">
        <param name="sessionNamespace">
            <value>centinel_validator</value>
        </param>
        <param name="sessionName">
            <value>frontend</value>
        </param>
    </virtualType>
    <type name="Magento_Core_Model_Url_SecurityInfo">
        <param name="secureUrlList">
            <centinel>/centinel/</centinel>
        </param>
    </type>
</config>
