<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\Catalog\Controller\Adminhtml\Product\Initialization\Helper">
        <plugin name="configurable" type="Magento\ConfigurableProduct\Controller\Adminhtml\Product\Initialization\Helper\Plugin\Configurable" sortOrder="50" />
    </type>
    <type name="Magento\Catalog\Controller\Adminhtml\Product\Builder">
        <plugin name="configurable" type="Magento\ConfigurableProduct\Controller\Adminhtml\Product\Builder\Plugin" sortOrder="50" />
    </type>
    <type name="Magento\Catalog\Model\Product\Validator">
        <plugin name="configurable" type="Magento\ConfigurableProduct\Model\Product\Validator\Plugin" sortOrder="50" />
    </type>
    <type name="Magento\CatalogInventory\Block\Adminhtml\Form\Field\Stock">
        <param name="disablerConditions">
            <array>
                <item key="configurable">
                    <value>(productType == 'configurable' &amp;&amp; hasVariation)</value>
                </item>
            </array>
        </param>
    </type>
    <type name="Magento\Catalog\Controller\Adminhtml\Product\Initialization\Helper\Plugin\Handler\Composite">
        <param name="handlers">
            <array>
                <item key="configurableProducts"><value>Magento\ConfigurableProduct\Controller\Adminhtml\Product\Initialization\Helper\Plugin\Handler\ProductType\Configurable</value></item>
            </array>
        </param>
    </type>
    <type name="Magento\Catalog\Model\Attribute\Tree\Leaf">
        <plugin name="treeLeaf" type="Magento\ConfigurableProduct\Model\Attribute\Tree\Plugin\Leaf" />
    </type>
</config>
