<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Enterprise
 * @package     Enterprise_Customer
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <enterprise_customer_setup>
                <setup>
                    <module>Enterprise_Customer</module>
                    <class>Enterprise_Customer_Model_Resource_Setup</class>
                </setup>
            </enterprise_customer_setup>
        </resources>
        <events>
            <sales_quote_load_after>
                <observers>
                    <enterprise_customer>
                        <class>Enterprise_Customer_Model_Observer</class>
                        <method>salesQuoteAfterLoad</method>
                    </enterprise_customer>
                </observers>
            </sales_quote_load_after>
            <sales_quote_address_collection_load_after>
                <observers>
                    <enterprise_customer>
                        <class>Enterprise_Customer_Model_Observer</class>
                        <method>salesQuoteAddressCollectionAfterLoad</method>
                    </enterprise_customer>
                </observers>
            </sales_quote_address_collection_load_after>
            <sales_quote_save_after>
                <observers>
                    <enterprise_customer>
                        <class>Enterprise_Customer_Model_Observer</class>
                        <method>salesQuoteAfterSave</method>
                    </enterprise_customer>
                </observers>
            </sales_quote_save_after>
            <sales_quote_address_save_after>
                <observers>
                    <enterprise_customer>
                        <class>Enterprise_Customer_Model_Observer</class>
                        <method>salesQuoteAddressAfterSave</method>
                    </enterprise_customer>
                </observers>
            </sales_quote_address_save_after>
            <sales_order_load_after>
                <observers>
                    <enterprise_customer>
                        <class>Enterprise_Customer_Model_Observer</class>
                        <method>salesOrderAfterLoad</method>
                    </enterprise_customer>
                </observers>
            </sales_order_load_after>
            <sales_order_address_load_after>
                <observers>
                    <enterprise_customer>
                        <class>Enterprise_Customer_Model_Observer</class>
                        <method>salesOrderAddressAfterLoad</method>
                    </enterprise_customer>
                </observers>
            </sales_order_address_load_after>
            <sales_order_address_collection_load_after>
                <observers>
                    <enterprise_customer>
                        <class>Enterprise_Customer_Model_Observer</class>
                        <method>salesOrderAddressCollectionAfterLoad</method>
                    </enterprise_customer>
                </observers>
            </sales_order_address_collection_load_after>
            <sales_order_save_after>
                <observers>
                    <enterprise_customer>
                        <class>Enterprise_Customer_Model_Observer</class>
                        <method>salesOrderAfterSave</method>
                    </enterprise_customer>
                </observers>
            </sales_order_save_after>
            <sales_order_address_save_after>
                <observers>
                    <enterprise_customer>
                        <class>Enterprise_Customer_Model_Observer</class>
                        <method>salesOrderAddressAfterSave</method>
                    </enterprise_customer>
                </observers>
            </sales_order_address_save_after>
            <enterprise_customer_attribute_before_save>
                <observers>
                    <enterprise_customer>
                        <class>Enterprise_Customer_Model_Observer</class>
                        <method>enterpriseCustomerAttributeBeforeSave</method>
                    </enterprise_customer>
                </observers>
            </enterprise_customer_attribute_before_save>
            <enterprise_customer_attribute_save>
                <observers>
                    <enterprise_customer>
                        <class>Enterprise_Customer_Model_Observer</class>
                        <method>enterpriseCustomerAttributeSave</method>
                    </enterprise_customer>
                </observers>
            </enterprise_customer_attribute_save>
            <enterprise_customer_attribute_delete>
                <observers>
                    <enterprise_customer>
                        <class>Enterprise_Customer_Model_Observer</class>
                        <method>enterpriseCustomerAttributeDelete</method>
                    </enterprise_customer>
                </observers>
            </enterprise_customer_attribute_delete>
            <customer_entity_attribute_save_commit_after>
                <observers>
                    <enterprise_customer>
                        <class>Enterprise_Customer_Model_Observer</class>
                        <method>enterpriseCustomerAddressAttributeSave</method>
                    </enterprise_customer>
                </observers>
            </customer_entity_attribute_save_commit_after>
            <customer_entity_attribute_delete_commit_after>
                <observers>
                    <enterprise_customer>
                        <class>Enterprise_Customer_Model_Observer</class>
                        <method>enterpriseCustomerAddressAttributeDelete</method>
                    </enterprise_customer>
                </observers>
            </customer_entity_attribute_delete_commit_after>
            <core_copy_fieldset_sales_convert_quote_to_order>
                <observers>
                    <enterprise_customer>
                        <class>Enterprise_Customer_Model_Observer</class>
                        <method>coreCopyFieldsetSalesConvertQuoteToOrder</method>
                    </enterprise_customer>
                </observers>
            </core_copy_fieldset_sales_convert_quote_to_order>
            <core_copy_fieldset_sales_convert_quote_address_to_order_address>
                <observers>
                    <enterprise_customer>
                        <class>Enterprise_Customer_Model_Observer</class>
                        <method>coreCopyFieldsetSalesConvertQuoteAddressToOrderAddress</method>
                    </enterprise_customer>
                </observers>
            </core_copy_fieldset_sales_convert_quote_address_to_order_address>
            <core_copy_fieldset_sales_copy_order_to_edit>
                <observers>
                    <enterprise_customer>
                        <class>Enterprise_Customer_Model_Observer</class>
                        <method>coreCopyFieldsetSalesCopyOrderToEdit</method>
                    </enterprise_customer>
                </observers>
            </core_copy_fieldset_sales_copy_order_to_edit>
            <core_copy_fieldset_sales_copy_order_billing_address_to_order>
                <observers>
                    <enterprise_customer>
                        <class>Enterprise_Customer_Model_Observer</class>
                        <method>coreCopyFieldsetSalesCopyOrderBillingAddressToOrder</method>
                    </enterprise_customer>
                </observers>
            </core_copy_fieldset_sales_copy_order_billing_address_to_order>
            <core_copy_fieldset_sales_copy_order_shipping_address_to_order>
                <observers>
                    <enterprise_customer>
                        <class>Enterprise_Customer_Model_Observer</class>
                        <method>coreCopyFieldsetSalesCopyOrderShippingAddressToOrder</method>
                    </enterprise_customer>
                </observers>
            </core_copy_fieldset_sales_copy_order_shipping_address_to_order>
            <core_copy_fieldset_customer_account_to_quote>
                <observers>
                    <enterprise_customer>
                        <class>Enterprise_Customer_Model_Observer</class>
                        <method>coreCopyFieldsetCustomerAccountToQuote</method>
                    </enterprise_customer>
                </observers>
            </core_copy_fieldset_customer_account_to_quote>
            <core_copy_fieldset_customer_address_to_quote_address>
                <observers>
                    <enterprise_customer>
                        <class>Enterprise_Customer_Model_Observer</class>
                        <method>coreCopyFieldsetCustomerAddressToQuoteAddress</method>
                    </enterprise_customer>
                </observers>
            </core_copy_fieldset_customer_address_to_quote_address>
            <core_copy_fieldset_checkout_onepage_quote_to_customer>
                <observers>
                    <enterprise_customer>
                        <class>Enterprise_Customer_Model_Observer</class>
                        <method>coreCopyFieldsetCheckoutOnepageQuoteToCustomer</method>
                    </enterprise_customer>
                </observers>
            </core_copy_fieldset_checkout_onepage_quote_to_customer>
            <core_copy_fieldset_sales_convert_quote_address_to_customer_address>
                <observers>
                    <enterprise_customer>
                        <class>Enterprise_Customer_Model_Observer</class>
                        <method>coreCopyFieldsetQuoteAddressToCustomerAddress</method>
                    </enterprise_customer>
                </observers>
            </core_copy_fieldset_sales_convert_quote_address_to_customer_address>
        </events>
    </global>
    <frontend></frontend>
    <adminhtml>
        <events></events>
        <translate>
            <modules>
                <Enterprise_Customer>
                    <files>
                        <default>Enterprise_Customer.csv</default>
                    </files>
                </Enterprise_Customer>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <enterprise_customer before="Magento_Adminhtml">Enterprise_Customer_Adminhtml</enterprise_customer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
