<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Enterprise
 * @package     Enterprise_Customer
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <enterprise_customer_setup>
                <setup>
                    <module>Enterprise_Customer</module>
                    <class>Enterprise_Customer_Model_Resource_Setup</class>
                </setup>
            </enterprise_customer_setup>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Enterprise_Customer>
                    <files>
                        <default>Enterprise_Customer.csv</default>
                    </files>
                </Enterprise_Customer>
            </modules>
        </translate>
    </adminhtml>
</config>