* {
	margin:0;
	padding:0;
}

html, body {
	width:100%;
	height:100%;
}

body {
	font-size: 0.8em; /* Resets 1em to 10px */
	font-family: Arial, Verdana, sans-serif;
	background: #502A15;
	color: #111;
}

h1, h2, h3, h4, h5, h6 { 
	padding:0; 
	color: #366AB3; 
	font-family: Times, Georgia, serif;
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1.1em; }
h4 { font-size: 1.0em; }
h5 { font-size: 0.9em; }
h6 { font-size: 0.8em; }

p { padding:0.4em 0 0.6em 0; }
ul { margin:0.4em 1.6em }


a img{border:0}