.controls-list{
    padding:1px;
}
.controls-list a{
    border:1px solid white;
    display:block;
    -moz-outline:none;
    margin-bottom:2px;
    text-decoration:none;
}
.controls-list a .body{
    padding:5px 2px 5px 22px;
    background-image:url(images/rss.gif);
    background-position: 2px 5px;
    background-repeat: no-repeat;
    font:bold 12px tahoma, verdana, helvetica;
    color: #2d5593;
    display:block;
    -moz-outline:none;
}
.controls-list a .desc{
    font:normal 11px tahoma, verdana, helvetica;
    color: #222222;
}
.controls-list a:hover, .controls-list .selected{
    text-decoration: none;
    border:1px solid #c3daf9;
    background-color:#ddecfe;
}
.controls-list .selected{
    background-image: url('images/post-bg.gif');
    border:1px solid #c3daf9;
}

.paging-info {
    position:absolute;
    top:8px;
    right: 8px;
    color:#15428b;
}
