.x-toolbar {border-left:0px;}

.left-menu-toolbar {border-right:0px;}

.right-menu-toolbar {float:right;width:400px;text-align:right;border-left:0px;}
.choose-theme{font-weight:bold;margin:5px 5px 10px 27px}
#loading{
    position:absolute;
    left:45%;
    top:40%;
    border:3px solid #B2D0F7;
    background:white url(block-bg.gif) repeat-x;
    padding:10px;
    font:bold 14px verdana,tahoma,helvetica;
    color:#003366;
    width:150px;
    text-align:center;
}

.x-view-selected{background: #c3daf9;border: 2px solid #6593cf;padding: 5px;}
.address-view {cursor:pointer;padding: 5px 3px;font:normal 11px tahoma,verdana,helvetica;background:#efefef;margin-bottom:5px}


/*                                                                                     
* Menu Buttons
*/

.btn-add    .x-btn-text {background-image:url(./ico/fam/add.png);}
.btn-cross  .x-btn-text {background-image:url(./ico/fam/cross.png);}
.btn-delete .x-btn-text {background-image:url(./ico/fam/delete.png);}
.btn-bin-closed .x-btn-text {background-image:url(./ico/fam/bin_closed.png);}
.btn-cancel .x-btn-text {background-image:url(./ico/fam/cancel.png);}
.btn-package-add .x-btn-text {background-image:url(./ico/fam/package_add.png);}
.btn-application-form-edit .x-btn-text {background-image:url(./ico/fam/application_form_edit.png);}
.btn-accept .x-btn-text {background-image:url(./ico/fam/accept.png);}
.btn-arrow-refresh .x-btn-text {background-image:url(./ico/fam/arrow_refresh.png);}
.btn-arrow-undo .x-btn-text {background-image:url(./ico/fam/arrow_undo.png);}
.btn-folder-edit .x-btn-text {background-image:url(./ico/fam/folder_edit.png);}
.btn-add-user .x-btn-text {background-image:url(./ico/fam/user_add.png);}
.btn-logout .x-btn-text {background-image:url(./ico/fam/key_go.png);}
.btn-sales  .x-btn-text {background-image:url(./ico/fam/basket.png);}
.btn-theme  .x-btn-text {background-image:url(./ico/fam/eye.png);}
.btn-sales  .x-btn-text {background-image:url(./ico/fam/basket.png);}
.btn-customer .x-btn-text {background-image:url(./ico/fam/user.png);}

.bok .x-btn-text {background-image:url(./ico/button_ok.gif);}


.search-input {
    background-color : #FFFFFF;
    background-image : url(./icon/magnifier_desat.gif);
    background-repeat : no-repeat;
    background-attachment : scroll;
    opacity : 1;
    padding-leff : 23px;
}

.search-item {
    font:normal 11px tahoma, arial, helvetica, sans-serif;
    padding:3px 10px 3px 10px;
    border:1px solid #fff;
    border-bottom:1px solid #eeeeee;
    white-space:normal;
}
.search-item h3 {
    display:block;
    font:inherit;
    font-weight:bold;
}

.search-item h3 span {
    float: right;
    font-weight:normal;
    margin:0 0 5px 5px;
    width:100px;
    display:block;
    clear:none;
}

/*
* Product Attributes
*/

.x-tree-node .sroot{
    background:#c3daf9;
}
.x-tree-node img.set{
    background-image:url(./ico/fam/plugin.png);
}
.x-tree-node div.set{
    background:#eee url(./images/set-bg.gif) repeat-x;
    margin-top:1px;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ccc;
    padding-top:2px;
    padding-bottom:1px;
}

.x-tree-node div.deleted {
    color:#888;
    font-style:italic;
}