.x-toolbar{
    border-left:0px;
}

.left-menu-toolbar{
    border-right:0px;
}

.right-menu-toolbar{
    float:right;
    width:170px;    
    text-align:right;
    border-left:0px;
}

#loading{
	position:absolute;
	left:45%;
	top:40%;
	border:3px solid #B2D0F7;
	background:white url(block-bg.gif) repeat-x;
	padding:10px;
	font:bold 14px verdana,tahoma,helvetica;
	color:#003366;
	width:150px;
	text-align:center;
}

.x-view-selected{
	background: #c3daf9;
	border: 2px solid #6593cf;
	padding: 3px;
}

.address-view {
	cursor : pointer
}