<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2014 X.commerce, Inc. (http://www.magentocommerce.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\AdminGws\Model\ConfigInterface" type="Magento\AdminGws\Model\Config" />
    <type name="Magento\Catalog\Model\Resource\Category">
        <plugin name="admingws_category_resource_plugin" type="Magento\AdminGws\Model\Plugin\CategoryResource"/>
    </type>
    <type name="Magento\Catalog\Model\Product\Action">
        <plugin name="admingws_product_action_plugin" type="Magento\AdminGws\Model\Plugin\ProductAction"/>
    </type>
    <type name="Magento\Backend\Block\Widget\ContainerInterface">
        <plugin name="admin_gws" type="Magento\AdminGws\Model\Block\Container\Plugin" />
    </type>
</config>

