<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Mage
 * @package     Mage_Webhook
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <acl>
        <resources>
            <resource id="Magento_Adminhtml::admin">
                <resource id="Magento_Adminhtml::system">
                    <resource id="Mage_Webapi::webapi">
                        <resource id="Mage_Webhook::webhook" title="WebHook Subscriptions" sortOrder="15" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
