<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Enterprise
 * @package     Enterprise_Tag
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <modules>
        <Enterprise_Tag>
            <version>1.0.0.0</version>
            <active>false</active>
            <depends>
                <Mage_Tag/>
                <Enterprise_Reward/>
                <Enterprise_AdminGws/>
            </depends>
        </Enterprise_Tag>
    </modules>
    <frontend>
        <events>
            <controller_action_predispatch_enterprise_reward_customer_info>
                <observers>
                    <add_reward_action>
                        <class>Enterprise_Tag_Model_Observer</class>
                        <method>addActionClassToRewardModel</method>
                    </add_reward_action>
                </observers>
            </controller_action_predispatch_enterprise_reward_customer_info>
        </events>
    </frontend>
    <adminhtml>
        <cache>
            <dependency>
                <change>
                    <tag>Mage_Tag_Model_Tag</tag>
                </change>
                <delete>
                    <tag>Mage_Tag_Model_Tag</tag>
                </delete>
            </dependency>
        </cache>
        <events>
            <tag_save_commit_after>
                <observers>
                    <update_reward_points>
                        <class>Enterprise_Tag_Model_Observer</class>
                        <method>updateRewardPointsWhenTagSubmit</method>
                    </update_reward_points>
                </observers>
            </tag_save_commit_after>
            <controller_action_predispatch_adminhtml_customer_reward_history>
                <observers>
                    <add_reward_action>
                        <class>Enterprise_Tag_Model_Observer</class>
                        <method>addActionClassToRewardModel</method>
                    </add_reward_action>
                </observers>
            </controller_action_predispatch_adminhtml_customer_reward_history>
            <controller_action_predispatch_adminhtml_customer_reward_historyGrid>
                <observers>
                    <add_reward_action>
                        <class>Enterprise_Tag_Model_Observer</class>
                        <method>addActionClassToRewardModel</method>
                    </add_reward_action>
                </observers>
            </controller_action_predispatch_adminhtml_customer_reward_historyGrid>
        </events>
        <enterprise>
            <admingws>
                <collection_load_before>
                    <mage_tag_model_resource_reports_product_collection>addStoreFilter</mage_tag_model_resource_reports_product_collection>
                    <mage_tag_model_resource_reports_customer_collection>addStoreFilter</mage_tag_model_resource_reports_customer_collection>
                </collection_load_before>
                <model_save_before>
                    <mage_tag_model_tag>Enterprise_Tag_Model_AdminGws_Models::tagSaveBefore</mage_tag_model_tag>
                </model_save_before>
                <model_delete_before>
                    <mage_tag_model_tag>Enterprise_Tag_Model_AdminGws_Models::tagDeleteBefore</mage_tag_model_tag>
                </model_delete_before>
                <block_html_before>
                    <mage_tag_block_adminhtml_tag_grid>Enterprise_Tag_Model_AdminGws_Blocks::removeTagGridActions</mage_tag_block_adminhtml_tag_grid>
                    <mage_tag_block_adminhtml_edit>Enterprise_Tag_Model_AdminGws_Blocks::removeTagButtons</mage_tag_block_adminhtml_edit>
                    <mage_tag_block_adminhtml_edit_form>Enterprise_Tag_Model_AdminGws_Blocks::disableTagEditFormFields</mage_tag_block_adminhtml_edit_form>
                </block_html_before>
            </admingws>
        </enterprise>
    </adminhtml>
    <crontab>
        <jobs>
            <enterprise_reward_balance_warning_notification>
                <run>
                    <model>Enterprise_Tag_Model_Reward_Observer::scheduledBalanceExpireNotification</model>
                </run>
            </enterprise_reward_balance_warning_notification>
        </jobs>
    </crontab>
</config>
