<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <preference for="Magento\Search\Helper\ClientInterface" type="Magento\Search\Helper\Data" />
    <type name="Magento\CatalogSearch\Model\Fulltext">
        <plugin name="fulltextIndexRebuild" type="Magento\Search\Model\Plugin\FulltextIndexRebuild" />
    </type>
    <type name="Magento\Search\Block\Suggestions">
        <param name="suggestions">
            <instance type="Magento\Search\Model\Suggestions\Proxy" />
        </param>
    </type>
    <type name="Magento\Search\Block\Catalog\Layer\View">
        <param name="searchLayer">
            <instance type="Magento\Search\Model\Search\Layer\Proxy" />
        </param>
    </type>
    <type name="Magento\Search\Block\Catalogsearch\Layer">
        <param name="searchLayer">
            <instance type="Magento\Search\Model\Search\Layer\Proxy" />
        </param>
    </type>
    <type name="Magento\Search\Model\Catalog\Layer\Filter\Price">
        <param name="resourceEngine">
            <instance type="Magento\Search\Model\Resource\Engine\Proxy" />
        </param>
    </type>
    <type name="Magento\Search\Model\Observer">
        <param name="searchSearchLayer">
            <instance type="Magento\Search\Model\Search\Layer\Proxy" />
        </param>
        <param name="searchCatalogLayer">
            <instance type="Magento\Search\Model\Catalog\Layer\Proxy" />
        </param>
        <param name="indexer">
            <instance type="Magento\Index\Model\Indexer\Proxy" />
        </param>
        <param name="searchData">
            <instance type="Magento\Search\Helper\Data\Proxy" />
        </param>
        <param name="coreRegistry">
            <instance type="Magento\Core\Model\Registry\Proxy" />
        </param>
    </type>
</config>
