<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <preference for="Magento\Search\Helper\ClientInterface" type="Magento\Search\Helper\Data" />
    <type name="Magento_CatalogSearch_Model_Fulltext">
        <plugin name="fulltextIndexRebuild" type="Magento_Search_Model_Plugin_FulltextIndexRebuild" />
    </type>
</config>
