<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <preference for="Magento\Search\Helper\ClientInterface" type="Magento\Search\Helper\Data" />
    <type name="Magento\CatalogSearch\Model\Fulltext">
        <plugin name="fulltextIndexRebuild" type="Magento\Search\Model\Plugin\FulltextIndexRebuild" />
    </type>
</config>
