<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\SalesRule\Helper\Coupon">
        <param name="couponParameters">
            <array>
                <item key="separator"><value>-</value></item>
                <item key="charset">
                    <array>
                        <item key="alphanum"><value>ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789</value></item>
                        <item key="alpha"><value>ABCDEFGHIJKLMNOPQRSTUVWXYZ</value></item>
                        <item key="num"><value>0123456789</value></item>
                    </array>
                </item>
            </array>
        </param>
    </type>
</config>
