/******************************************/
/************** UBIQUITOUS ****************/
/******************************************/
.emph {
    color:#e66f20;
    }
.separator {
    padding:0 .6em;
    }
.box-left, .box-right {
    width:49.25%;
    }
.box-left {
    float:left;
    }
.box-right {
    float:right;
    }


/* Forms */
.input-text, textarea, select {
    border:1px solid #acacac;
    }
.input-text, textarea {
    padding:2px;
    }



/* autocomplete */
div.autocomplete {
  z-index:10000;
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
div.autocomplete ul li.selected {
    background-color: #dcebf0;
    }
div.autocomplete ul li {
  list-style-type:none;
  padding:.5em .7em;
  min-height:32px;
  cursor:pointer;
  text-align:left;
    color:#2f2f2f;
    line-height:1.3em;
}


/* Tabular Data */
table.content_table {
    width:100%;
    }
.data {
    border-width:1px;
    border-style:solid;
    }
.data th, .data td {
    padding:4px 10px 3px 10px;
    }
.data td {
    border-width:0 0 1px 0;
    border-style:solid;
    }
.grid {
    position:relative;
    }
.grid table {
    width:100%;
    border:none;
        border-collapse:collapse;
    }
.grid table th {
    background:#d7d8d9;
    /*  border:1px solid #d6cebf; */
    }
.grid table td {
    border-width:1px 0 1px 0;
    border-color:#E3E3E3;
    border-style:solid;
    }
.grid table td.product {
    text-align:right;
    }
.grid table tr.even {
    background:#f7f7f7;
    }
.grid table tfoot tr {
    background:#D7E5EF;
    }
.grid .filter th {
        padding-top:5px;
        padding-bottom:5px;
        background:#dbf5ff;
    /*  border-style:solid;
        border-color:#d6cebf #E3E3E3;
        border-width:1px; */
        }
.grid tfoot td {
    border-top:1px solid #9babb9;
        background:#e5ecf2;
        line-height:1.7em;
    }
table.actions {
    width:100%;
    margin:.5em 0;
}
table.actions td {
    vertical-align:top;
    }
.pager .spacer {
    padding:0 .6em;
    color:#cfcfcf;
    }
.pager select {
    margin:0 4px;
    }
/* Accordion */
dl.accordion dt {
    border-left:1px solid #C6C5C3;
    border-bottom:1px solid #C6C5C3;
    background:#797674;
    color:#fff;
    }

dl.accordion dt a {
    color:#fff;
    text-decoration:none;
    display:block;
    padding:3px 5px 3px 10px;
    font-weight:bold;
    background: url(images/accordion_open.gif) 99% 60% no-repeat;
}

dl.accordion dt.open a {
    background: url(images/accordion_close.gif) 99% 60% no-repeat;
}

dl.accordion dd {
    display:none;
    border-top:0;
    }

dl.accordion dd.open {
    display:block;
    }
img.accordion-btn {
    float:right;
    margin-top:1px;
    }

/******************************************/
/***************** BOXES ******************/
/******************************************/

/* Layout */
.header {
        background:url(images/header_bg.gif) repeat-x #516f78;
    z-index:9;
    text-align:right;
    }
.middle {
    background:#fff;
    padding:0 1em 3em 1em;
    }
.container {
    border-left:17.48em solid #fff;
    padding:1.8em 1.2em 1.8em 1em;
        padding-top:0;
    }
.simple-container {
    padding:1.8em;
    }
.main {
    float:left;
    width:100%;
    }
.section-menu {
    float:left;
    position:relative;
    margin-left:-17.08em;
    width:17.08em;
        background:url(image/section_menu_bg.gif) repeat-y 100% 0;
    }
.content-container {
    position:relative;
    width:100%;
    float:right;
    margin-left:-1px;
    }
.content {
    margin-left:2em;
        padding-top:1.5em;
    }
.footer {
        background:url(images/footer_bg.gif) repeat-x #e6e6e6;
    padding:1em 2.8em 1.2em 2.8em;
    text-align:right;
    }


/* Header */
.logo {
    float:left;
    margin:5px 15px;
    }
.header-right {
    padding:10px 15px;
    color:#fff;
    font-size:.95em;
    }
.header-right a, .header-right a:hover {
    color:#F5FCFF;
    }
.header-right fieldset {
    display:inline;
    }
.header-right fieldset .input-text {
    width:18em;
    text-align:left;
    }
.header-right .super {
    float:right;
    margin-left:1.3em;
    line-height:2.2em;
    }

.topnav-container {
    background:#91afba url(images/nav_bg.gif) repeat-x;
    padding:3px 1.8em .33em 1.8em;
    z-index:9;
}

/* Middle */
.breadcrumbs {
    border-bottom:1px solid #bebebe;
    padding:.5em 1em;
    font-size:1.08em;
    }
.breadcrumbs, .breadcrumbs a {
    color:#453F46;
    }
.breadcrumbs li {
    list-style-type:none;
    display:inline;
    }
.section-menu {
    background:url(images/section_menu_bg.gif) repeat-y 100% 0;
    padding-top:1.3em;
    }
.section-menu .bottom {
    height:217px;
    background:url(images/section_menu_bottom.gif) no-repeat 100% 100%;
    }
.section-menu ul.tabs {
    margin-top:.7em;
    border-top:1px solid #bebebe;
    background:url(images/section_menu_ul_bg.gif) repeat-y 100% 0 #e8f8fe;
    }
.section-menu ul.tabs li {
    list-style-type:none;
    }
.section-menu ul.tabs li a {
    display:block;
    background:url(images/section_menu_link_bg.gif) repeat-x 0 100%;
    padding-bottom:1px;
    }
.section-menu ul.tabs li a, .section-menu ul.tabs li a:hover {
    color:#000;
    text-decoration:none;
    }
.section-menu ul.tabs li a.active {
    padding:0;
    border-bottom:1px solid #bebebe;
    background:none;
    }
.section-menu ul.tabs li a:hover.active {
    padding:0;
    }
.section-menu ul.tabs li span {
    display:block;
    padding:.3em 1.5em .28em 1.5em;
    cursor:pointer;
    }
.section-menu ul.tabs li a:hover span {
    background:url(images/section_menu_link_over_bg.gif) repeat-y 100% 100%;
    }
.section-menu ul.tabs li a.active span, .section-menu ul.tabs li a:hover.active span {
    background:#fff;
    font-weight:bold;
    }

.content-left-nav ul.tabs {
    float:left;
    width:200px;
    margin-top:.7em;
    margin-right:1em;
    border-top:1px solid #bebebe;
    background:#DEF;
    }
.content-left-nav ul.tabs li {
    list-style-type:none;
    }
.content-left-nav ul.tabs li a {
    text-decoration:none;
    display:block;
    background:url(images/section_menu_link_bg.gif) repeat-x 0 100%;
    padding-bottom:1px;
    color:#000;
    }
.content-left-nav ul.tabs li a:hover span {
    background:#69F;
    }
.content-left-nav ul.tabs li a.active {
    padding:0;
    border-bottom:1px solid #bebebe;
    background:none;
    }
.content-left-nav ul.tabs li span {
    display:block;
    padding:.3em 1.5em .28em 1.5em;
    cursor:pointer;
    }
.content-left-nav ul.tabs li a.active span, .content-left-nav ul.tabs li a:hover.active span {
    background:#8BF;
    font-weight:bold;
    }
.content-left-nav a.default {
    }
.content-left-nav a.website {
    padding-left:16px;
    }
.content-left-nav a.store {
    padding-left:32px;
    }

.content-header {
    margin-bottom:1em;
    border-bottom:3px solid #dfdfdf;
    padding-bottom:.25em;
    }
.content-header h3 {
    margin:0;
        color:#000;
        font-size:1.25em;
        line-height:1.2em;
    }
.content-header table.grid-header { width:100%; }
.content-header .form-buttons {
    text-align:right;
    }


/* Customer View */
.box {
    border:1px solid #b0c1d0;
    background:#e5ecf2;
    padding:10px;
    }


/* Customer - Addresses */
.content-left-nav {
    width:30%;
    padding-right:1.75em;
    }
.address-list li {
    list-style:none;
    margin-bottom:.7em;
    padding:.7em 1em;
    cursor:pointer;
    border:1px solid #fff;
    background:url(images/dotted_divider_dark.gif) repeat-x 0 100%;
    }
.address-list li.over {
    background:url(images/address_list_over_bg.gif) repeat-x 0 100% #fff;
    }
.address-list li.on {
    border:1px solid #b0c1d0;
    background:#e5ecf2;
    }
.address-list li table {
    width:100%;
    }
.delete-address {
    float:right;
    margin: 0 0 10px 10px;
    }

table.form-edit {
    width:100%;
    }
.entry-edit {
    /*float:right;
    width:65.25%;
    border-left:1px solid #BCBCBC;
    padding-left:2.25%;*/
    }
.entry-edit fieldset {
    margin-bottom:.9em;
    border:1px solid #b0c1d0;
    background:#e5ecf2;
    padding:1.2em 1.5em;
    }
.entry-edit fieldset li {
    list-style:none;
    margin:.7em 0;
    }
.entry-edit fieldset span.form_row, .entry-edit fieldset span.field-row {
    display:block;
    margin:.7em 0;
}
.entry-edit fieldset label {
    float:left;
    width:10em;
    }
.entry-edit fieldset label.normal {
    float:none;
    width:10em;
    }
label.inline{
    float:none !important;
    width:auto !important;
}
.entry-edit fieldset .input-text,
.entry-edit fieldset .textarea {
    width:216px;
    }
.entry-edit fieldset .textarea {
    height:6em;
    }
.entry-edit fieldset .select { width:220px; }

/* Headings */
.icon-head {
    min-height:18px;
    background-repeat:no-repeat;
    background-position:0 50%;
    }
.head-customer-address-list {
    background-image:url(images/fam_house.gif);
    padding-left:22px;
    }
.head-edit-form {
    background-image:url(images/fam_page_white_edit.gif);
    padding-left:22px;
    }
.head-customer-view {
    background-image:url(images/fam_status_online.gif);
    padding-left:18px;
    }

/********************* CONFIG ************************/
fieldset.config table {
    }
fieldset.config th {
    border-bottom:dotted 1px #888;
    }
fieldset.config th, fieldset.config td {
    border-right:dotted 1px #888;
    padding:2px 5px;
    }
fieldset.config col.default, fieldset.config col.old {
    width:150px;
    }
fieldset.config col.custom {
    white-space:nowrap;
    }
fieldset.config label {
    float:none;
    }
fieldset.config input.input-radio {
    margin-right:5px;
    }
fieldset.config input.input-text, fieldset.config select.select {
    width:150px;
    }

.footer .powered-by {
    float:left;
    min-height:19px;
    background:url(images/varien_logo.gif) no-repeat 0 50%;
    padding-left:22px;
    }
/* Overrides */
.left {float:left; }
.right {float:right; }
.v-top { vertical-align:top; }
.v-middle { vertical-align:middle; }
.v-bottom { vertical-align:bottom; }
.a-left { text-align:left; }
.a-center { text-align:center; }
.a-right { text-align:right; }


/* Clear */
dl.accordion dt:after,
.entry-edit fieldset li:after,
.entry-edit fieldset span:after,
.content:after,
#topnav:after,
.main:after,
.container:after,
.footer:after,
.header:after,
.clear:after {
    clear:both;
    content:".";
    display:block;
    height:0;
    font-size:0;
    line-height:0;
    visibility:hidden;
    }

div.tree_item, div.tree_item_last{
    background-position: left;
    background-repeat: no-repeat;
    padding-left:20px;
}

div.tree_item {
    background-image:url(images/tree_icons/join.gif);
}

div.tree_item_last {
    background-image:url(images/tree_icons/joinbottom.gif);
}

div.tree_line {
    position:absolute;
    left:0;
    background-image:url(images/tree_icons/line.gif);
}
.address-type{
    clear:both
}
.no-active-category a span{
    color:#AAA !important; 
}