/******************************************/
/************** UBIQUITOUS ****************/
/******************************************/

.separator {
    padding:0 .6em;
    }
.box-left, .box-right {
    width:49.25%;
    }
.box-left {
    float:left;
    }
.box-right {
    float:right;
    }
    
    
/* Forms */
.input-text, textarea, select {
    border:1px solid #acacac;
    }
.input-text, textarea {
    padding:2px;
    }


.form-button {
	width:auto;
	display:inline;
	margin-left:2px;
	}
.form-button-left {
	width:4px;
	overflow:hidden;
	font-size:0;
	background:url(images/btn_bg.gif) no-repeat;
	}
.form-button-right a, .form-button-right a:hover {
	display:block;
	padding:5px 11px 6px 7px;
	color:#fff;
	background:url(images/btn_bg.gif) no-repeat 100% -23px;
	font-weight:bold;
	font-size:12px;
	text-decoration:none;
	line-height:12px;
	}


/* autocomplete */
div.autocomplete {
  z-index:10000;
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
div.autocomplete ul li.selected { 
	background-color: #dcebf0;
	}
div.autocomplete ul li {
  list-style-type:none;
  padding:.5em .7em;
  min-height:32px;
  cursor:pointer;
  text-align:left;
	color:#2f2f2f;
	line-height:1.3em;
}


/* Tabular Data */
table.content_table {
	width:100%; 
	}
.data {
    border-width:1px;
    border-style:solid;
    }
.data th, .data td {
    padding:2px 7px;
    }
.data td {
    border-width:0 0 1px 0;
    border-style:solid;
    }
.data tfoot td {
    border:none;
    }
.grid {
    position:relative;
    }
.grid table {
	width:100%;
    border:none;
		border-collapse:collapse;
    }
.grid table th {
    background:#d7d8d9;
		border:1px solid #d6cebf;
    }
.grid table td {    
    border-width:1px;
    border-color:#E3E3E3;
    }
.grid table td.product {
    text-align:right;
    }
.grid table tr.even {
    background:#F1F1EF;
    }
.grid table tfoot tr {
    background:#D7E5EF;
    }
.grid .filter th {
		padding-top:.5em;
		padding-bottom:.5em;
		background:#dbf5ff;
		border-style:solid;
		border-color:#d6cebf #E3E3E3;
		border-width:1px;
		}
table.actions {
	width:100%;
	margin-bottom:.5em;
	}
.pager .spacer { 
	padding:0 .6em;
	color:#cfcfcf; 
	}
/* Accordion */
dl.accordion dt {
    border-bottom:1px solid #C6C5C3;
    background:#A1A09C;
    padding:3px 10px;
    color:#fff;
    }
dl.accordion dt img {
    margin-right:5px;
    }
dl.accordion dd {
    display:none;
    border:1px solid #E3E3E3;
    border-top:0;
    }
dl.accordion dd.open {
    display:block;
    }
    
    
/******************************************/
/***************** BOXES ******************/
/******************************************/

/* Layout */
.header { 
		background:url(images/header_bg.gif) repeat-x #516f78;
    z-index:9;
    text-align:right;
    }
.middle {
    background:#fff;
    padding:0 1em 3em 1em;
    }
.container {
    border-left:17.48em solid #fff;
    padding:1.8em 1.2em 1.8em 1em;
		padding-top:0;
    }
.simple-container {
    padding:1.8em;
    }
.main {
    float:left;
    width:100%;
    }
.section-menu {
    float:left;
    position:relative;
    margin-left:-17.08em;
    width:17.08em;
		background:url(image/section_menu_bg.gif) repeat-y 100% 0;
    }
.content-container {
    position:relative;
    width:100%;
    float:right;
    margin-left:-1px;
    }
.content {
    margin-left:2em;
		padding-top:1.5em;
    }
.footer {
		background:url(images/footer_bg.gif) repeat-x #e6e6e6;
    padding:1em 2.8em 1.2em 2.8em;
    text-align:right;
    }


/* Header */
.logo { 
    float:left; 
    margin:5px 15px; 
    }
.header-right {
    padding:10px 15px;
    color:#fff;
    font-size:.95em;
    }
.header-right a, .header-right a:hover {
    color:#F5FCFF;
    }
.header-right fieldset { 
    display:inline;
    }
.header-right fieldset .input-text {
    width:18em;
    text-align:left;
    }
.header-right .super {
    float:right;
    margin-left:1.3em;
    line-height:2.2em; 
    }

.topnav-container {
    background:url(images/nav_bg.gif) repeat-x #91afba;
    padding:3px 1.8em .33em 1.8em;
    z-index:9;
}

/* Middle */
.breadcrumbs {
	border-bottom:1px solid #bebebe;
    padding:.5em 1em;
    font-size:1.08em;
    }
.breadcrumbs, .breadcrumbs a {
    color:#453F46;
    }
.breadcrumbs li {
    list-style-type:none;
    display:inline;
    }
.section-menu {
	background:url(images/section_menu_bg.gif) repeat-y 100% 0;
	padding-top:1.3em;
	}
.section-menu .bottom {
	height:217px;
	background:url(images/section_menu_bottom.gif) no-repeat 100% 100%;
	}
.section-menu ul {
	margin-top:.7em;
	border-top:1px solid #bebebe;
	background:url(images/section_menu_ul_bg.gif) repeat-y 100% 0 #e8f8fe;
	}
.section-menu li {
    list-style-type:none;
    }
.section-menu li a {
    display:block;
		background:url(images/section_menu_link_bg.gif) repeat-x 0 100%;
		padding-bottom:1px;
    color:#000;
    text-decoration:none;
    }
.section-menu li a.active {
	padding:0;
	background:none;
	}
.section-menu li span {
		display:block;
    padding:.3em 1.5em .28em 1.5em;
		}
.section-menu li a:hover span {
	background:url(images/section_menu_link_over_bg.gif) repeat-y 100% 100%;
    }
.section-menu li a.active span {
		background:#fff;
		border-bottom:1px solid #bebebe;
		font-weight:bold;
	}
.content-header {
    margin-bottom:.7em;
    border-bottom:3px solid #dfdfdf;
    padding-bottom:.25em;
    }
.content-header h3 {
    margin:0;
		color:#000; 
		font-size:1.25em;
		line-height:1.2em;
    }
.content-header table.grid-header { width:100%; }
.content-header .form-buttons {
    text-align:right;
    }
    

/* Customer - Dashboard */
.customer-personal .box {
    border:1px solid #b0c1d0;
    background:#e5ecf2;
    padding:10px;
    }
.sales-tally table {
    border:1px solid #B9C9CB;
    }
.sales-tally tr.even {
    background:#F1F9F9;
    }
.sales-tally table td {
    border-color:#CFD8D9;
    }
.sales-tally table td, .sales-tally table th {
    text-align:center;
    }
.sales-tally table th, .sales-tally td.label {
    color:#636363;
    }
.sales-tally table th, .sales-tally td.label, .sales-tally table tfoot td {
    font-weight:bold;
    }
.sales-tally table th, .sales-tally table tfoot td {
    background:#D8EEF0;
    }
.sales-tally td.label {
    text-align:right;
    }


/* Customer - Addresses */
.content-left-nav {
    float:left;
    width:30%;
    margin-right:1.5em;
    }
.address-list li {
    list-style:none;
    margin-bottom:.9em;
    padding:.7em 1em;
    cursor:pointer;
    }
.address-list li.over {
    border:3px solid #C4DBE1;
    background:#E9F2F5;
    }
.address-list li.on {
    border:1px solid #b0c1d0;
    background:#e5ecf2;
    }
.delete-address {
	text-align:right;
	}

.entry-edit {
    /*float:right;
    width:65.25%;
    border-left:1px solid #BCBCBC;
    padding-left:2.25%;*/
    }
.entry-edit fieldset {
    margin-bottom:.9em;
    border:1px solid #b0c1d0;
    background:#e5ecf2;
    padding:1.2em 1.5em;
    }
.entry-edit fieldset li {
    list-style:none;
    margin:.7em 0;
    }
.entry-edit fieldset span.form_row, .entry-edit fieldset span.field-row {
    display:block;
    margin:.7em 0;
}
.entry-edit fieldset label {
    float:left; 
    width:10em;
    }
label.inline{
    float:none !important;
    width:auto !important;
}
.entry-edit fieldset .input-text, 
.entry-edit fieldset .select, 
.entry-edit fieldset .textarea {
    width:18em;
    }



/* Overrides */
.left {float:left; }
.right {float:right; }
.v-top { vertical-align:top; }
.v-middle { vertical-align:middle; }
.v-bottom { vertical-align:bottom; }
.a-left { text-align:left; }
.a-center { text-align:center; }
.a-right { text-align:right; }


/* Clear */
.entry-edit fieldset li:after,
.entry-edit fieldset span:after,
.content:after,
#topnav:after,
.main:after,
.container:after,
.header:after,
.clear:after {
    clear:both;
    content:".";
    display:block;
    height:0;
    font-size:0;
    line-height:0;
    visibility:hidden;
    }