.entry-edit fieldset li,
#nav,
.main,
.middle,
.clear,
.container,
.section-menu a,
dl.accordion dt,
.content { zoom:1; }

.clear {
	clear:both;
	height:0;
	font-size:0;
	line-height:0;
	overflow:hidden;
	}
