dl.accordion dt,
.entry-edit fieldset li,
#nav,
.main,
.middle,
.clear,
.container,
.section-menu li a,
.section-menu li a span,
dl.accordion dt,
.grid thead th a,
.content,
.box-head { height:1%; }

.icon-head {
	height:18px;
	}

.clear {
	clear:both;
	height:0;
	font-size:0;
	line-height:0;
	overflow:hidden;
	}

/* widgets.css override */
button.scalable {
	width:auto;
	margin-left:5px;
	overflow:visible;
	}
button.scalable td.mr, button.scalable td.br { width:7px;}
.grid tr.filter th {
	padding-right: 8px;
}

.grid tr.filter th { 
	padding-top:3px;
	padding-bottom:3px;
	}
.grid tr.filter th input {
	margin-right: -10px;
}

.grid tr.filter th .range input {
	margin-right: 2px;
}
.footer .powered-by {
	height:19px;}