.entry-edit fieldset li,
#nav,
.main,
.middle,
.clear,
.container,
.section-menu li a,
.section-menu li a span,
dl.accordion dt,
.content { height:1%; }

.icon-head {
	height:18px; 
	}

.clear {
	clear:both;
	height:0;
	font-size:0;
	line-height:0;
	overflow:hidden;
	}

/* widgets.css override */
button.scalable {
	width:auto;
	margin-left:5px;
	overflow:visible;
	}
button.scalable td.mr, button.scalable td.br { width:7px;}
.grid tr.filter th {
	padding: 0px 8px 0px 0px;
}

.grid tr.filter th input {
	margin: 2px -8px 2px 2px;
}