#nav {
	height:34px;
	background:url(images/nav1_bg.gif) repeat-x;
	padding-left:20px;
	}
#nav, #nav ul { /* all lists */
	list-style: none;
	text-align:left;
}

/* All lists and links */
#nav li {	
	position:relative;
}
#nav a, #nav a:hover {
	display:block;
	text-decoration:none;
	font:normal 13px Arial, sans-serif;
}
#nav a.active, #nav a.active:hover {
	font-weight:bold;
}

/* 1st level lists and links */
#nav li {
	float:left;
	background:url(images/nav1_sep.gif) no-repeat 100% 50%;
	}
#nav li.sfhover, #nav li:hover {
	z-index:2050;
	}
#nav a {
	padding:9px 15px;
	color:#fff;
	}
#nav li:hover a, #nav li.sfhover a, #nav a:hover, #nav a.active  {
	background:url(images/nav1_on.gif) no-repeat;
	color:#fff;
	}
#nav li:hover a em, #nav li.sfhover a em, #nav a em, #nav a:hover em, #nav a.active em {
	display:block;
	position:absolute;
	top:0;
	right:-1px;
	height:34px;
	width:5px;
	background:url(images/nav1_on.gif) no-repeat 100% 0;
	}
#nav a em {
	background:none;
	}
/* Reset all lists and links for 2nd+ levels */
#nav ul li {
	float:none;
	background:none;
	}
#nav li:hover li a, #nav li.sfhover li a, #nav ul a, #nav ul a:hover, #nav ul a.active {
	padding:0;
	background:none;
	color:#2f2f2f;
	}


/* 2nd+ level lists and links */
#nav ul {
	position: absolute;
	width:200px;
	margin-top:-7px;
	margin-left: -1000em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
	border:1px solid #FBB368;
	background:#FFFAF4;
}
#nav li:hover li a, #nav li.sfhover li a, #nav ul a, #nav ul a.active, #nav ul a:hover {
	width:auto;
	border-bottom:1px solid #FDDCBB;
	padding:4px 15px;
	color:#2F2F2F;
	}
#nav li:hover li a:hover, #nav li.sfhover li a:hover {
	background:#fdeedf;
	}

#nav li ul ul { /* third-and-above-level lists */
	margin:-1em 0 0 -1000em;
}

#nav li:hover ul ul, #nav li.sfhover ul ul {
	margin-left: -1000em;
}

#nav li:hover ul, #nav li.sfhover ul { /* lists nested under hovered list items */
	margin-left:2px;
}
#nav li li:hover ul, #nav li li.sfhover ul {
	margin-left: 10em;
}

/* extra positioning rules for limited noscript keyboard accessibility */
#nav li a:focus + ul { margin-left: 0; }
#nav li li a:focus + ul { margin-left: 1010em; }
#nav li li a:focus { margin-left:1000em; width:auto; }
#nav li li li a:focus {margin-left: 2010em; width:auto; }
#nav li:hover a:focus, #nav li.sfhover a.sffocus { margin-left: 0; }
#nav li li:hover a:focus + ul, #nav li li.sfhover a.sffocus + ul { margin-left: 10em; }


#nav:after {
	content:".";
	display:block;
	clear:both;
	height:0;
	line-height:0;
	font-size:0;
	}


* html #nav ul li, * html #nav ul li a { zoom:1; }