.no-display{
    display:none;
    }

/********* Grid *********/
table.content_table {
    width:100%;
    }
.data {
    border-width:1px;
    border-style:solid;
    }
.data th, .data td {
    padding:2px 5px;
    }
.data td {
    border-width:0 0 1px 0;
    border-style:solid;
    }
.grid {
    position:relative;
    }
.grid table {
    width:100%;
    border:none;
        border-collapse:collapse;
    }
.grid table th {
    background:#d7d8d9;
    /*  border:1px solid #d6cebf; */
    }
.grid table td {
    border-width:1px 0 1px 0;
    border-color:#E3E3E3;
    border-style:solid;
    }
.grid table td.product {
    text-align:right;
    }
.grid table tr.even {
    background:#f7f7f7;
    }
.grid table tfoot tr {
    background:#D7E5EF;
    }
.grid .filter th {
        padding-top:5px;
        padding-bottom:5px;
        background:#dbf5ff;
    /*  border-style:solid;
        border-color:#d6cebf #E3E3E3;
        border-width:1px; */
        }
.grid tfoot td {
    border-top:1px solid #9babb9;
        background:#e5ecf2;
        line-height:1.7em;
    }
.grid .spacer {
	padding:0 5px;
	color:#b9b9b9;
	}
table.actions {
    width:100%;
    margin:.5em 0;
}
table.actions td {
    vertical-align:top;
    }
.pager .spacer {
    padding:0 .6em;
    color:#cfcfcf;
    }
.pager select {
    margin:0 4px;
    }
/* Accordion */
dl.accordion dt {
    border-left:1px solid #C6C5C3;
    border-bottom:1px solid #C6C5C3;
    background:#797674;
    color:#fff;
    }

dl.accordion dt a {
    color:#fff;
    text-decoration:none;
    display:block;
    padding:3px 0 3px 10px;
    font-weight:bold;
}

dl.accordion dt.open a {
    background: url(images/accordion_close.gif) 99% 60% no-repeat;
}

dl.accordion dd {
    display:none;
    border-top:0;
    }

dl.accordion dd.open {
    display:block;
    }
img.accordion-btn {
    float:right;
    margin-top:1px;
	margin-right:5px;
    }




.grid{
    border:0px;
    }
.pointer{
    cursor:pointer;
}
.grid thead th a, .grid thead th a:hover {
	display:block;
	color:#2f2f2f;
	text-decoration:underline;
	padding:3px 4px 2px 0;
	}
.grid thead th span.filter-title {
	display:block;
	padding:3px 12px 4px 0;
	line-height:1em;
	}
.grid thead th a:hover {
	text-decoration:underline;
	}
.grid .sort-arrow-desc, .grid .sort-arrow-asc {
	background:url(images/grid_th_onclick_bg.gif) no-repeat;
	border-bottom:1px solid #fff;
	border-right:1px solid #fff;
	padding-bottom:2px;
	text-decoration:none;
	}
.grid .sort-arrow-desc:hover, .grid .sort-arrow-asc:hover {
	text-decoration:none;
	}
.grid tr.headings th {
	padding-top:1px;
	padding-bottom:1px;
	}

/* No sort */

.grid tr.headings th.no-link {
	padding-top:4px;
	padding-bottom:4px;
	}

/* Sort arrows */
.grid th .sort-arrow-desc span.filter-title, .grid th .sort-arrow-asc span.filter-title {
	background-position: right 50%;
	background-repeat: no-repeat;
	padding:3px 26px 2px 8px;
	}
.grid .sort-arrow-desc span.filter-title { background-image: url(images/grid_sort_desc.gif); }
.grid .sort-arrow-asc span.filter-title { background-image: url(images/grid_sort_asc.gif); }

/* No sort arrow */
.grid .no-sort { }

/* Rows */
/*.grid tr.even { background:#f3f5f5; }*/
.grid table tr.on-mouse{ background:#fefad0; }

/* Pager */
.pager select{ width:4em; }

/* Filters */
.
.grid tr.filter { cursor: default; }
.grid tr.filter th { white-space:nowrap; }
.grid tr.filter input {
    width: 98%;
    font:normal 12px Arial;
    }
.grid tr.filter select {
    width:100%;
    font:normal 12px Arial;
    }
.grid tr.filter .range div {
    width: 10em;
    float: left;
    }
.grid tr.filter .range div.date {
    width: 12em;
		margin:2px 0;
    }
.grid tr.filter .range input {
    width: 5.5em;
    margin-bottom:-1px;
    margin-top:0;
    }
.grid tr.filter .range .label {
    display: block;
    width: 3em;
    float: left;
    padding-left: 2px;
    }

.grid tr.filter .date img {
    width: 15px;
    height: 15px;
    cursor: pointer;
    vertical-align: middle;
    }

.actions .filter-actions {
    margin-left: 30px;
    }
.actions .filter-actions .form-button { float: left; }


/********* Tabs ********/
/*
.tabs .active, .tabs a.active:hover{
    background: white;
}
*/

.tabs a.subitem{ padding-left:2.2em; }

/*
ul.tabs {
    }
ul.tabs li {
    list-style-type:none;
    }
ul.tabs li a {
    display:block;
    background:url(images/section_menu_link_bg.gif) repeat-x 0 100%;
    padding:.25em 1.5em;
    color:#2f2f2f;
    text-decoration:none;
    }
ul.tabs li a:hover {
    background:#ddd;
    }
*/

/********* Form Validation ********/
.validation-advice {
    margin:2px 0 0 10em;
    color:#d40707;
    font-style:italic;
    margin-right:20px;
    }

input.validation-failed, textarea.validation-failed { 
    background:#fbf2f4;
    border: 1px dashed #d40707;}

.left-col-block{width:190px}
.changed {
    color:#e26f03 !important;
    /*font-style:italic !important;*/
    }
.error {
    color:red !important;
    font-style:bold !important;
    }

select.countries option{
    background-repeat:no-repeat;
}


/* Form Button */
button.scalable {
    margin:0;
    border:none;
    padding:0;
    background:none;
    cursor:pointer;
    font:bold 12px Arial, sans-serif;
    vertical-align:middle;
    font-size:12px;
		width:auto;
		overflow:visible;
    }
button.scalable td {
    background-image:url(images/btn_bg.gif);
    }
button.scalable td.tl {
    height:5px;
    background-position:0 0;
    background-repeat:no-repeat;
    }
button.scalable td.tr {
    width:5px; 
    height:5px;
    background-position:100% 0;
    background-repeat:no-repeat;
    }
button.scalable td.ml {
    height:14px;
    background-position:0 -4px;
    background-repeat:no-repeat;
    padding:1px 7px 1px 11px;
    color:white;
    vertical-align:middle;
    line-height:12px;
    }
button.scalable td.mr {
    width:5px;
    background-position:100% -4px;
    background-repeat:no-repeat;
    }
button.scalable td.bl {
    height:5px;
    background-position:0 100%;
    background-repeat:no-repeat;
    }
button.scalable td.br {
    width:5px;
    height:5px;
    background-position:100% 100%;
    background-repeat:no-repeat;
    }


/* red "required" star */
.required {
    color:#ff0000;
}

#loading-process {
	position:absolute;
	top:10px;
	right:10px;
	background:#eee;
	padding:15px;
	border:1px solid #bbb;
	}