.no-display{
    display:none;
}
.grid{
    border:0px;
    cursor:pointer;
}

.grid thead tr{
    background:url(images/grid_th_bg.gif) repeat-x #DADBDD;
    border-right:1px solid #C1C1C1;
    border-bottom:1px solid #F6F6F6;
}

.grid tr.even {
    background:#F1F1EF;
}

.grid tr.on-mouse{
    background:#D7E5EF;
}

.pager{padding:5px;background:#F5F3CE}
.pager select{width:50px}

.tabs .active, .tabs a.active:hover{
    background: white;
}
.tabs a.subitem{
    padding-left:2.2em;
}

/* Form Validation */
.validation-advice {
    margin-left:10em; 
    color:#d40707;
    font-weight:bold;
    margin-right:20px;
}

input.validation-failed, textarea.validation-failed {
    border: 1px solid #d40707;
}

.left-col-field{
    margin:5px 0px;padding:2px;width:205px;
}

.changed {
    color:red !important;
    font-style:italic !important;
}