<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <googleoptimizer_setup>
                <setup>
                    <module>Magento_GoogleOptimizer</module>
                </setup>
            </googleoptimizer_setup>
        </resources>
        <events>
            <catalog_product_save_after>
                <observers>
                    <googleoptimizer_observer>
                        <class>Magento_GoogleOptimizer_Model_Observer_Product_Save</class>
                        <method>saveGoogleExperimentScript</method>
                    </googleoptimizer_observer>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_after>
                <observers>
                    <googleoptimizer_observer>
                        <class>Magento_GoogleOptimizer_Model_Observer_Product_Delete</class>
                        <method>deleteProductGoogleExperimentScript</method>
                    </googleoptimizer_observer>
                </observers>
            </catalog_product_delete_after>
            <catalog_category_save_after>
                <observers>
                    <googleoptimizer_observer>
                        <class>Magento_GoogleOptimizer_Model_Observer_Category_Save</class>
                        <method>saveGoogleExperimentScript</method>
                    </googleoptimizer_observer>
                </observers>
            </catalog_category_save_after>
            <catalog_category_delete_after>
                <observers>
                    <googleoptimizer_observer>
                        <class>Magento_GoogleOptimizer_Model_Observer_Category_Delete</class>
                        <method>deleteCategoryGoogleExperimentScript</method>
                    </googleoptimizer_observer>
                </observers>
            </catalog_category_delete_after>
            <cms_page_save_after>
                <observers>
                    <googleoptimizer_observer>
                        <class>Magento_GoogleOptimizer_Model_Observer_CmsPage_Save</class>
                        <method>saveGoogleExperimentScript</method>
                    </googleoptimizer_observer>
                </observers>
            </cms_page_save_after>
            <cms_page_delete_after>
                <observers>
                    <googleoptimizer_observer>
                        <class>Magento_GoogleOptimizer_Model_Observer_CmsPage_Delete</class>
                        <method>deleteCmsGoogleExperimentScript</method>
                    </googleoptimizer_observer>
                </observers>
            </cms_page_delete_after>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <googleoptimizer_observer>
                        <class>Magento_GoogleOptimizer_Model_Observer_Block_Category_Tab</class>
                        <method>addGoogleExperimentTab</method>
                    </googleoptimizer_observer>
                </observers>
            </adminhtml_catalog_category_tabs>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <Magento_GoogleOptimizer>
                    <files>
                        <default>Magento_GoogleOptimizer.csv</default>
                    </files>
                </Magento_GoogleOptimizer>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Magento_GoogleOptimizer>
                    <files>
                        <default>Magento_GoogleOptimizer.csv</default>
                    </files>
                </Magento_GoogleOptimizer>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <google>
            <optimizer>
                <active>0</active>
            </optimizer>
        </google>
    </default>
</config>
