<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <bannercustomersegment_setup>
                <setup>
                    <module>Magento_BannerCustomerSegment</module>
                </setup>
            </bannercustomersegment_setup>
        </resources>
        <events>
            <magento_banner_load_after>
                <observers>
                    <magento_bannercustomersegment>
                        <class>Magento_BannerCustomerSegment_Model_Observer</class>
                        <method>loadCustomerSegmentRelations</method>
                    </magento_bannercustomersegment>
                </observers>
            </magento_banner_load_after>
            <magento_banner_save_after>
                <observers>
                    <magento_bannercustomersegment>
                        <class>Magento_BannerCustomerSegment_Model_Observer</class>
                        <method>saveCustomerSegmentRelations</method>
                    </magento_bannercustomersegment>
                </observers>
            </magento_banner_save_after>
            <magento_banner_catalogrule_collection_load_before>
                <observers>
                    <magento_bannercustomersegment>
                        <class>Magento_BannerCustomerSegment_Model_Observer</class>
                        <method>addCustomerSegmentFilterToCollection</method>
                    </magento_bannercustomersegment>
                </observers>
            </magento_banner_catalogrule_collection_load_before>
            <magento_banner_salesrule_collection_load_before>
                <observers>
                    <magento_bannercustomersegment>
                        <class>Magento_BannerCustomerSegment_Model_Observer</class>
                        <method>addCustomerSegmentFilterToCollection</method>
                    </magento_bannercustomersegment>
                </observers>
            </magento_banner_salesrule_collection_load_before>
            <magento_banner_resource_banner_content_select_init>
                <observers>
                    <magento_bannercustomersegment>
                        <class>Magento_BannerCustomerSegment_Model_Observer</class>
                        <method>addCustomerSegmentFilterToSelect</method>
                    </magento_bannercustomersegment>
                </observers>
            </magento_banner_resource_banner_content_select_init>
        </events>
    </global>
    <adminhtml>
        <events>
            <banner_edit_tab_properties_after_prepare_form>
                <observers>
                    <magento_bannercustomersegment>
                        <class>Magento_BannerCustomerSegment_Model_Observer</class>
                        <method>addFieldsToBannerForm</method>
                    </magento_bannercustomersegment>
                </observers>
            </banner_edit_tab_properties_after_prepare_form>
        </events>
    </adminhtml>
</config>
