<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_Centinel
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <events>
            <sales_convert_quote_to_order>
                <observers>
                    <centinel>
                        <class>Magento_Centinel_Model_Observer</class>
                        <method>salesEventConvertQuoteToOrder</method>
                    </centinel>
                </observers>
            </sales_convert_quote_to_order>
            <checkout_submit_all_after>
                <observers>
                    <centinel>
                        <class>Magento_Centinel_Model_Observer</class>
                        <method>checkoutSubmitAllAfter</method>
                    </centinel>
                </observers>
            </checkout_submit_all_after>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <Magento_Centinel>
                    <files>
                        <default>Magento_Centinel.csv</default>
                    </files>
                </Magento_Centinel>
            </modules>
        </translate>
        <events>
            <payment_form_block_to_html_before>
                <observers>
                    <centinel>
                        <type>model</type>
                        <class>Magento_Centinel_Model_Observer</class>
                        <method>paymentFormBlockToHtmlBefore</method>
                    </centinel>
                </observers>
            </payment_form_block_to_html_before>
        </events>
        <routers>
            <centinel>
                <use>standard</use>
                <args>
                    <module>Magento_Centinel</module>
                    <frontName>centinel</frontName>
                </args>
            </centinel>
        </routers>
        <secure_url>
            <centinel>/centinel/</centinel>
        </secure_url>
    </frontend>
    <adminhtml>
        <events>
            <payment_info_block_prepare_specific_information>
                <observers>
                    <centinel>
                        <type>model</type>
                        <class>Magento_Centinel_Model_Observer</class>
                        <method>paymentInfoBlockPrepareSpecificInformation</method>
                    </centinel>
                </observers>
            </payment_info_block_prepare_specific_information>
        </events>
        <translate>
            <modules>
                <Magento_Centinel>
                    <files>
                        <default>Magento_Centinel.csv</default>
                    </files>
                </Magento_Centinel>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Magento_Centinel before="Magento_Adminhtml">Magento_Centinel_Adminhtml</Magento_Centinel>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <payment>
            <cc>
                <types>
                    <VI>
                        <validator>
                            <centinel>
                                <state>Magento_Centinel_Model_State_Visa</state>
                            </centinel>
                        </validator>
                    </VI>
                    <MC>
                        <validator>
                            <centinel>
                                <state>Magento_Centinel_Model_State_Mastercard</state>
                            </centinel>
                        </validator>
                    </MC>
                    <JCB>
                        <validator>
                            <centinel>
                                <state>Magento_Centinel_Model_State_Jcb</state>
                            </centinel>
                        </validator>
                    </JCB>
                    <SM>
                        <validator>
                            <centinel>
                                <state>Magento_Centinel_Model_State_Mastercard</state>
                            </centinel>
                        </validator>
                    </SM>
                </types>
            </cc>
        </payment>
    </global>
</config>
