<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Enterprise
 * @package     Enterprise_CustomerSegment
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <menu>
        <add id="customer_customersegment" title="Customer Segments" module="Enterprise_CustomerSegment" sortOrder="20" parent="customer" action="adminhtml/customersegment" dependsOnModule="Enterprise_CustomerSegment" dependsOnConfig="customer/enterprise_customersegment/is_enabled" />
        <add id="report_customers_segment" title="Customer Segments" module="Enterprise_CustomerSegment" sortOrder="100" parent="report_customers" action="adminhtml/report_customer_customersegment/segment" dependsOnModule="Enterprise_CustomerSegment" dependsOnConfig="customer/enterprise_customersegment/is_enabled" />
    </menu>
</config>
