<table data-template-extend="Magento_Ui.templates.listing.grid">
  <thead data-part-replace="grid.heading">
    <tr class="headings">
      <th class="col-select col-massaction listing-massaction" data-bind="click: toggleMassActions, css: { 'active': isMassActionVisible }">
        <input type="checkbox" id="massaction-checkbox">
        <select class="select" data-bind="options: massActions, optionsText: 'title', value: currentMassAction, optionsCaption: 'Mass Actions'"></select>  
      </th>
      <!-- ko foreach: { data: fields, as: 'field' } -->
      <th>
        <span>
          <a href="#" data-bind="css: $parent.getSortableClassFor(field)">
            <label for="" data-bind="text: title"></label>
          </a>
        </span>
      </th>
      <!-- /ko -->
    </tr>
  </thead>  
  <tbody data-part-replace="grid.body" data-bind="foreach: { data: rows, as: 'row' }">
    <tr class="even pointer">
      <td class="col-select col-massaction">
        <input data-bind="checkedValue: row.id, checked: $parent.checkedIds" type="checkbox" class="massaction-checkbox">
      </td>
      <td data-bind="text: row.title"></td>
      <td data-bind="text: row.url"></td>
      <td data-bind="text: row.layout"></td>
      <td data-bind="text: row.store_id"></td>
      <td data-bind="text: $parent.getStatusTextFor(row.status)"></td>
      <td data-bind="date: row.created"></td>
      <td data-bind="date: row.modified"></td>
      <td>
        <a href="#" data-bind="attr: { href: row.action.href }, text: row.action.title" target="_blank"></a>
      </td>
    </tr>
  </tbody>  
</table>