<table data-template-extend="Magento_Ui.templates.listing.grid">
  <thead data-part-replace="grid.heading">
    <tr class="headings">
      <th class="col-select col-massaction">
        <div title="Select Items" class="actions-split">
            <button title="Select All" class="action-default scalable  add">
                <span>[ ]</span>
            </button>
            <button title="" class="action-toggle scalable  add" data-toggle="dropdown">
                <span>|</span>
            </button>

            <ul class="dropdown-menu" data-bind="foreach: { data: massactions, as: 'action' }, on: { 'click li': 'applyMassaction', data: 'action' }">
                <li data-bind="attr: { 'data-action': action.type }"><span title="Select" class="item item-default" data-bind="text: action.title"></span></li>
            </ul>
        </div>
      </th>
      <!-- ko foreach: { data: fields, as: 'field' } -->
      <th>
        <span>
          <a href="#" data-bind="css: $parent.getSortableClassFor(field)">
            <label for="" data-bind="text: title"></label>
          </a>
        </span>
      </th>
      <!-- /ko -->
    </tr>
  </thead>  
  <tbody data-part-replace="grid.body" data-bind="foreach: { data: rows, as: 'row' }">
    <tr class="even pointer">
      <td class="col-select col-massaction">
        <input data-bind="checkedValue: row.id, checked: $parent.checkedIds" type="checkbox" class="massaction-checkbox">
      </td>
      <td data-bind="text: row.title"></td>
      <td data-bind="text: row.url"></td>
      <td data-bind="text: row.layout"></td>
      <td data-bind="text: row.store_id"></td>
      <td data-bind="text: $parent.getStatusTextFor(row.status)"></td>
      <td data-bind="date: row.created"></td>
      <td data-bind="date: row.modified"></td>
      <td>
        <a href="#" data-bind="attr: { href: row.action.href }, text: row.action.title" target="_blank"></a>
      </td>
    </tr>
  </tbody>  
</table>