<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_PageCache
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <system>
        <section id="system">
            <group id="external_page_cache" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="500">
                <label>External Full Page Cache Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable External Cache</label>
                    <source_model>\Magento\Backend\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cookie_lifetime" translate="label comment" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cookie Lifetime (seconds)</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment>If you leave this empty, we'll use the default value.</comment>
                </field>
                <field id="control" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>External Cache Control</label>
                    <source_model>\Magento\PageCache\Model\System\Config\Source\Controls</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
