<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="controller_action_layout_generate_blocks_before">
        <observer name="magento_advancedcheckout" instance="Magento\AdvancedCheckout\Model\Observer\CollectTotalsFailedItems" method="execute" />
    </event>
    <event name="view_block_abstract_to_html_before">
        <observer name="magento_advancedcheckout" instance="Magento\AdvancedCheckout\Model\Observer\AddCartLink" method="execute" />
    </event>
</config>
