<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_CatalogPermissions
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <preference for="Magento\CatalogPermissions\App\ConfigInterface" type="Magento\CatalogPermissions\App\Config" />
    <type name="Magento\CatalogPermissions\Helper\Data">
        <param name="customerSession">
            <instance type="Magento\Customer\Model\Session\Proxy" />
        </param>
    </type>
</config>
