<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <module name="Magento_Authz" version="1.0.0.0" active="true">
        <depends>
            <module name="Magento_Core"/>
            <!--TODO: Dependency on Magento_User is temporary and should be eliminated when ACL is made global-->
            <module name="Magento_User"/>
            <module name="Magento_Backend"/>
            <module name="Magento_Service"/>
        </depends>
    </module>
</config>
