<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <module name="Magento_Reminder" version="1.11.0.2" active="false">
        <depends>
            <module name="Magento_Customer" />
            <module name="Magento_Adminhtml" />
            <module name="Magento_Checkout" />
            <module name="Magento_Wishlist" />
            <module name="Magento_SalesRule" />
            <module name="Magento_Rule" />
        </depends>
    </module>
</config>
