<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Saas
 * @package     Saas_Pbridge
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <system>
        <section id="payment">
            <group id="authorizenet" translate="comment" module="Saas_Pbridge" showInDefault="1" showInWebsite="1" showInStore="1">
                <comment><![CDATA[<a href="http://golinks.magento.com/authorize_netRegistration" target="_blank">Sign up for Authorize.net</a>]]></comment>
                <field id="payment_profiles_enabled" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable CIM</label>
                    <comment>3D Secure Check will be unavailable if CIM enabled.</comment>
                    <source_model>Mage_Backend_Model_Config_Source_Yesno</source_model>
                </field>
                <field id="title" sortOrder="3"/>
                <field id="payment_action" sortOrder="4" showInWebsite="0"/>
                <field id="login" sortOrder="5" showInWebsite="0"/>
                <field id="trans_key" sortOrder="6" showInWebsite="0"/>
                <field id="currency" sortOrder="7" showInWebsite="0"/>
                <field id="email_customer" sortOrder="8" showInWebsite="0"/>
                <field id="merchant_email" sortOrder="9" showInWebsite="0"/>
                <field id="cctypes" sortOrder="10" showInWebsite="0"/>
                <field id="useccv" sortOrder="11" showInWebsite="0"/>
                <field id="allowspecific" sortOrder="12" showInWebsite="0"/>
                <field id="specificcountry" sortOrder="13" showInWebsite="0"/>
                <field id="min_order_total" sortOrder="150"/>
                <field id="max_order_total" sortOrder="151"/>
                <field id="centinel" translate="label" showInWebsite="0">
                    <label>Enable 3D Secure Card Validation on Frontend</label>
                </field>
                <field id="centinel_backend" translate="label" type="select" sortOrder="126" showInDefault="1" showInWebsite="0">
                    <label>Enable 3D Secure Card Validation in Admin</label>
                    <source_model>Mage_Backend_Model_Config_Source_Yesno</source_model>
                    <depends>
                        <field id="*/authorizenet/centinel">1</field>
                    </depends>
                </field>
                <field id="test" sortOrder="200" showInWebsite="0"/>
                <field id="sort_order" sortOrder="201"/>
                <field id="heading_3dsecure" showInDefault="0" showInWebsite="0"/>
                <field id="order_status" showInDefault="0" showInWebsite="0"/>
                <field id="debug" showInDefault="0" showInWebsite="0"/>
                <field id="cgi_url" showInDefault="0" showInWebsite="0"/>
                <field id="allow_partial_authorization" showInDefault="0" showInWebsite="0"/>
            </group>

            <group id="paypal_payments">
                <group id="wpp">
                    <group id="wpp_settings">
                        <group id="wpp_settings_advanced">
                            <field id="centinel" translate="label">
                                <label>Enable 3D Secure Card Validation on Frontend</label>
                            </field>
                            <field id="centinel_backend" translate="label" type="select" sortOrder="61" showInDefault="1" showInWebsite="0">
                                <label>Enable 3D Secure Card Validation in Admin</label>
                                <config_path>payment/paypal_direct/centinel_backend</config_path>
                                <source_model>Mage_Backend_Model_Config_Source_Yesno</source_model>
                                <depends>
                                    <field id="*/wpp_settings_advanced/centinel">1</field>
                                </depends>
                            </field>
                            <field id="direct_boarding_centinel" translate="label" showInWebsite="0">
                                <label>Enable 3D Secure Card Validation on Frontend</label>
                            </field>
                            <field id="direct_boarding_centinel_backend" translate="label" type="select" sortOrder="61" showInDefault="1" showInWebsite="0">
                                <label>Enable 3D Secure Card Validation in Admin</label>
                                <config_path>payment/paypal_direct_boarding/centinel_backend</config_path>
                                <source_model>Mage_Backend_Model_Config_Source_Yesno</source_model>
                                <depends>
                                    <field id="*/wpp_settings_advanced/direct_boarding_centinel">1</field>
                                </depends>
                            </field>
                        </group>
                    </group>
                    <!--<group id="wpp_required_settings">-->
                        <!--<group id="wpp_and_express_checkout">-->
                            <!--<field id="using_pbridge" showInDefault="0" showInWebsite="0" showInStore="0"/>-->
                        <!--</group>-->
                    <!--</group>-->
                </group>
                <group id="payments_pro_payflow_edition">
                    <group id="pp_pe_required_settings">
                        <group id="pp_pe_api_settings">
                            <field id="using_pbridge" showInDefault="0" showInWebsite="0" />
                        </group>
                    </group>
                    <group id="settings_pp_pe">
                        <group id="settings_pp_pe_advanced">
                            <field id="centinel" translate="label" showInWebsite="0">
                                <label>Enable 3D Secure Card Validation on Frontend</label>
                            </field>
                            <field id="centinel_backend" translate="label" type="select" sortOrder="61" showInDefault="1" showInWebsite="0" showInStore="1">
                                <label>Enable 3D Secure Card Validation in Admin</label>
                                <config_path>payment/paypaluk_direct/centinel_backend</config_path>
                                <source_model>Mage_Backend_Model_Config_Source_Yesno</source_model>
                                <depends>
                                    <field id="*/settings_pp_pe_advanced/centinel">1</field>
                                </depends>
                            </field>
                        </group>
                    </group>
                </group>
                <group id="paypal_verisign">
                    <group id="settings_paypal_payflow">
                        <group id="settings_paypal_payflow_advanced">
                            <field id="centinel" translate="label" showInWebsite="0">
                                <label>Enable 3D Secure Card Validation on Frontend</label>
                            </field>
                            <field id="centinel_backend" translate="label" type="select" sortOrder="61" showInDefault="1" showInWebsite="0" showInStore="1">
                                <label>Enable 3D Secure Card Validation in Admin</label>
                                <config_path>payment/verisign/centinel_backend</config_path>
                                <source_model>Mage_Backend_Model_Config_Source_Yesno</source_model>
                                <depends>
                                    <field id="*/settings_paypal_payflow_advanced/centinel">1</field>
                                </depends>
                            </field>
                        </group>
                    </group>
                    <group id="paypal_payflow_required">
                        <group id="paypal_payflow_api_settings">
                            <field id="using_pbridge" showInDefault="0" showInWebsite="0" showInStore="0"/>
                        </group>
                    </group>
                </group>
            </group>

        </section>
        <section id="payment_services">
            <group id="centinel">
                <field id="processor_id" showInWebsite="0"/>
                <field id="merchant_id" showInWebsite="0"/>
                <field id="password" showInWebsite="0"/>
                <field id="test_mode" showInWebsite="0"/>
                <field id="debug" showInWebsite="0"/>
            </group>
            <group id="pbridge_styling" translate="label" type="text" module="Saas_Pbridge" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Payment Bridge Styling</label>
                <field id="css" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Inline CSS styles</label>
                </field>
                <field id="use_theme" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Use Current Design</label>
                    <source_model>Mage_Backend_Model_Config_Source_Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
