<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Saas
 * @package     Saas_Pbridge
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <system>
        <section id="payment">
            <group id="authorizenet" translate="comment" module="Saas_Pbridge" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <comment><![CDATA[<a href="http://golinks.magento.com/authorize_netRegistration" target="_blank">Sign up for Authorize.net</a>]]></comment>
                <field id="payment_profiles_enabled" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable CIM</label>
                    <comment>3D Secure Check will be unavailable if CIM enabled.</comment>
                    <source_model>Mage_Backend_Model_Config_Source_Yesno</source_model>
                </field>
                <field id="title" sortOrder="3"/>
                <field id="payment_action" sortOrder="4" showInWebsite="0"/>
                <field id="login" sortOrder="5" showInWebsite="0"/>
                <field id="trans_key" sortOrder="6" showInWebsite="0"/>
                <field id="currency" sortOrder="7" showInWebsite="0"/>
                <field id="email_customer" sortOrder="8" showInWebsite="0"/>
                <field id="merchant_email" sortOrder="9" showInWebsite="0"/>
                <field id="cctypes" sortOrder="10" showInWebsite="0"/>
                <field id="useccv" sortOrder="11" showInWebsite="0"/>
                <field id="allowspecific" sortOrder="12" showInWebsite="0"/>
                <field id="specificcountry" sortOrder="13" showInWebsite="0"/>
                <field id="min_order_total" sortOrder="150"/>
                <field id="max_order_total" sortOrder="151"/>
                <field id="centinel" translate="label" showInWebsite="0">
                    <label>Enable 3D Secure Card Validation on Frontend</label>
                </field>
                <field id="centinel_backend" translate="label" type="select" sortOrder="126" showInDefault="1" showInWebsite="0">
                    <label>Enable 3D Secure Card Validation in Admin</label>
                    <source_model>Mage_Backend_Model_Config_Source_Yesno</source_model>
                    <depends>
                        <field id="*/authorizenet/centinel"/>
                    </depends>
                </field>
                <field id="test" sortOrder="200" showInWebsite="0"/>
                <field id="sort_order" sortOrder="201"/>
                <field id="heading_3dsecure" showInDefault="0" showInWebsite="0"/>
                <field id="order_status" showInDefault="0" showInWebsite="0"/>
                <field id="debug" showInDefault="0" showInWebsite="0"/>
                <field id="cgi_url" showInDefault="0" showInWebsite="0"/>
                <field id="allow_partial_authorization" showInDefault="0" showInWebsite="0"/>
            </group>
<!-- TODO: Changed when PayPal moved
                <paypal_payments>
                    <wpp>
                        <fields>
                            <wpp_settings>
                                <fields>
                                    <wpp_settings_advanced>
                                        <fields>
                                            <centinel translate="label">
                                                <label>Enable 3D Secure Card Validation on Frontend</label>
                                            </centinel>
                                            <centinel_backend translate="label">
                                                <label>Enable 3D Secure Card Validation in Admin</label>
                                                <frontend_type>select</frontend_type>
                                                <config_path>payment/paypal_direct/centinel_backend</config_path>
                                                <source_model>Mage_Backend_Model_Config_Source_Yesno</source_model>
                                                <sort_order>61</sort_order>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>0</show_in_website>
                                                <depends><centinel>1</centinel></depends>
                                            </centinel_backend>
                                            <direct_boarding_centinel translate="label">
                                                <label>Enable 3D Secure Card Validation on Frontend</label>
                                                <show_in_website>0</show_in_website>
                                            </direct_boarding_centinel>
                                            <direct_boarding_centinel_backend translate="label">
                                                <label>Enable 3D Secure Card Validation in Admin</label>
                                                <frontend_type>select</frontend_type>
                                                <config_path>payment/paypal_direct_boarding/centinel_backend</config_path>
                                                <source_model>Mage_Backend_Model_Config_Source_Yesno</source_model>
                                                <sort_order>61</sort_order>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>0</show_in_website>
                                                <depends><direct_boarding_centinel>1</direct_boarding_centinel></depends>
                                            </direct_boarding_centinel_backend>
                                        </fields>
                                    </wpp_settings_advanced>
                                </fields>
                            </wpp_settings>
                            <wpp_required_settings>
                                <fields>
                                    <wpp_and_express_checkout>
                                        <fields>
                                            <using_pbridge>
                                                <show_in_default>0</show_in_default>
                                                <show_in_website>0</show_in_website>
                                                <show_in_store>0</show_in_store>
                                            </using_pbridge>
                                        </fields>
                                    </wpp_and_express_checkout>
                                </fields>
                            </wpp_required_settings>
                        </fields>
                    </wpp>
                    <payments_pro_payflow_edition>
                        <fields>
                            <pp_pe_required_settings>
                                <fields>
                                    <pp_pe_api_settings>
                                        <fields>
                                            <using_pbridge>
                                                <show_in_default>0</show_in_default>
                                                <show_in_website>0</show_in_website>
                                            </using_pbridge>
                                        </fields>
                                    </pp_pe_api_settings>
                                </fields>
                            </pp_pe_required_settings>
                            <settings_pp_pe>
                                <fields>
                                    <settings_pp_pe_advanced>
                                        <fields>
                                            <centinel translate="label">
                                                <label>Enable 3D Secure Card Validation on Frontend</label>
                                                <show_in_website>0</show_in_website>
                                            </centinel>
                                            <centinel_backend translate="label">
                                                <label>Enable 3D Secure Card Validation in Admin</label>
                                                <frontend_type>select</frontend_type>
                                                <config_path>payment/paypaluk_direct/centinel_backend</config_path>
                                                <source_model>Mage_Backend_Model_Config_Source_Yesno</source_model>
                                                <sort_order>61</sort_order>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>0</show_in_website>
                                                <depends><centinel>1</centinel></depends>
                                            </centinel_backend>
                                        </fields>
                                    </settings_pp_pe_advanced>
                                </fields>
                            </settings_pp_pe>
                        </fields>
                    </payments_pro_payflow_edition>
                    <paypal_verisign>
                        <fields>
                            <settings_paypal_payflow>
                                <fields>
                                    <settings_paypal_payflow_advanced>
                                        <fields>
                                            <centinel translate="label">
                                                <label>Enable 3D Secure Card Validation on Frontend</label>
                                                <show_in_website>0</show_in_website>
                                            </centinel>
                                            <centinel_backend translate="label">
                                                <label>Enable 3D Secure Card Validation in Admin</label>
                                                <frontend_type>select</frontend_type>
                                                <config_path>payment/verisign/centinel_backend</config_path>
                                                <source_model>Mage_Backend_Model_Config_Source_Yesno</source_model>
                                                <sort_order>61</sort_order>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>0</show_in_website>
                                                <depends><centinel>1</centinel></depends>
                                            </centinel_backend>
                                        </fields>
                                    </settings_paypal_payflow_advanced>
                                </fields>
                            </settings_paypal_payflow>
                            <paypal_payflow_required>
                                <fields>
                                    <paypal_payflow_api_settings>
                                        <fields>
                                            <using_pbridge>
                                                <show_in_default>0</show_in_default>
                                                <show_in_website>0</show_in_website>
                                                <show_in_store>0</show_in_store>
                                            </using_pbridge>
                                        </fields>
                                    </paypal_payflow_api_settings>
                                </fields>
                            </paypal_payflow_required>
                        </fields>
                    </paypal_verisign>
                </paypal_payments>
-->
        </section>
        <section id="payment_services">
            <group id="centinel">
                <field id="processor_id" showInWebsite="0"/>
                <field id="merchant_id" showInWebsite="0"/>
                <field id="password" showInWebsite="0"/>
                <field id="test_mode" showInWebsite="0"/>
                <field id="debug" showInWebsite="0"/>
            </group>
            <group id="pbridge_styling" translate="label" type="text" module="Saas_Pbridge" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Payment Bridge Styling</label>
                <field id="css" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Inline CSS styles</label>
                </field>
                <field id="use_theme" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Use Current Design</label>
                    <source_model>Mage_Backend_Model_Config_Source_Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
