<?xml version="1.0" encoding="UTF-8"?>
<config>
    <browser>*chrome</browser>
    <host>127.0.0.1</host>
    <port>4444</port>
    <timeOut>60</timeOut>
    <sleepTime>0</sleepTime>
    <!-- Frontend section -->
    <frontend>
        <baseUrl>http://kq.varien.com/builds/ee-nightly/current/websites/smoke</baseUrl>
        <auth>
            <firstname>Smoke</firstname>
            <lastname>Test</lastname>
            <email>st1-user@varein.com</email>
            <password>123123</password>
        </auth>
        <checkout>
            <productUrl>http://kq.varien.com/builds/ee-nightly/current/websites/smoke/st-subcat/simple-product-01-required-fields.html</productUrl>
            <qty>1</qty>
            <company>The Smokers</company>
            <street1>Address Line1</street1>
            <street2>Address Line2</street2>
            <city>City</city>
            <region>California</region>
            <country>United States</country>
            <postcode>900034</postcode>
            <telephone>555-55-55</telephone>
            <fax>555-55-57</fax>
            <guest>
                <firstName>Guest First Name</firstName>
                <lastName>Guest Last Name</lastName>
                <email>st2-user@varien.com</email>
            </guest>
            <register>
                <firstName>Register First Name</firstName>
                <lastName>Register Last Name</lastName>
                <email>st3a-user@varien.com</email>
                <password>123123</password>
            </register>
            <mulitiShippingRegister>
                <firstName>MS-Register First Name</firstName>
                <lastName>MS-Last Name</lastName>
                <email>st4c-user@varien.com</email>
                <password>123123</password>
                <qty>2</qty>
            </mulitiShippingRegister>
        </checkout>
    </frontend>
    <!-- Backend section -->
    <backend>
        <baseUrl>https://kq.varien.com/builds/ee-nightly/current/index.php/control/</baseUrl>
        <auth>
            <username>admin</username>
            <password>123123q</password>
        </auth>
        <admin_user>
            <user_name>testAdmin</user_name>
            <user_first_name>FName</user_first_name>
            <user_last_name>LName</user_last_name>
            <user_email>test_admin@magento.com</user_email>
            <user_password>123123q</user_password>
            <user_confirmation>123123q</user_confirmation>
            <user_active>Active</user_active>
            <search_admin_role_name>Administrators</search_admin_role_name>
        </admin_user>
        <categories>
            <root_name>st-rootcat</root_name>
            <sub_category_name>st-subcat</sub_category_name>
        </categories>
        <attribute_set>
            <set_name>smoke_attrSet</set_name>
            <default_set>Default</default_set>
        </attribute_set>
        <simple_product>
            <type>Simple Product</type>
            <attribute_set>smoke_attrSet</attribute_set>
            <name>Simple Product 01.Required Fields</name>
            <description>Product description</description>
            <short_description>Product short description</short_description>
            <sku>SP-01</sku>
            <weight>65</weight>
            <status>Enabled</status>
            <price>176</price>
            <tax_class>None</tax_class>
            <manage_stock>Yes</manage_stock>
            <inventory_qty>100</inventory_qty>
            <stock_availability>In Stock</stock_availability>
            <website_name>SmokeTestSite</website_name>
            <category_name>st-subcat</category_name>
        </simple_product>
        <scope>
            <site>
                <name>SmokeTestSite</name>
                <code>smoke</code>
                <sortorder>1</sortorder>
            </site>
            <store>
                <name>ststorename</name>
            </store>
            <store_view>
                <name>SmokeTestStoreView</name>
                <code>stsvcode</code>
                <order>1</order>
                <status>label=Enabled</status>
            </store_view>
            <store_view_for_delete>
                <name>delSmokeTestStoreView</name>
                <code>delstsvcode</code>
                <order>1</order>
                <status>label=Enabled</status>
            </store_view_for_delete>
        </scope>
    </backend>
</config>
