<?xml version="1.0" encoding="UTF-8"?>
<config>
    <browser>*chrome</browser>
    <host>127.0.0.1</host>
    <port>4444</port>
    <timeOut>60</timeOut>
    <sleepTime>0</sleepTime>
    <!-- Frontend section -->
    <frontend>
        <baseUrl>http://kq.varien.com/builds/ee-nightly/current/websites/smoke</baseUrl>
        <auth>
            <firstname>Smoke</firstname>
            <lastname>Test</lastname>
            <email>st1-user@varein.com</email>
            <password>123123</password>
        </auth>
        <checkout>
            <productUrl>http://kq.varien.com/builds/ee-nightly/current/websites/smoke/st-subcat/st-01.html</productUrl>
            <qty>1</qty>
            <company>The Smokers</company>
            <street1>Address Line1</street1>
            <street2>Address Line2</street2>
            <city>City</city>
            <region>California</region>
            <country>United States</country>
            <postcode>900034</postcode>
            <telephone>555-55-55</telephone>
            <fax>555-55-57</fax>
            <guest>
                <firstName>Guest First Name</firstName>
                <lastName>Guest Last Name</lastName>
                <email>st2-user@varien.com</email>
            </guest>
            <register>
                <firstName>Register First Name</firstName>
                <lastName>Register Last Name</lastName>
                <email>st3a-user@varien.com</email>
                <password>123123</password>
            </register>
            <mulitiShippingRegister>
                <firstName>MS-Register First Name</firstName>
                <lastName>MS-Last Name</lastName>
                <email>st4c-user@varien.com</email>
                <password>123123</password>
                <qty>2</qty>
            </mulitiShippingRegister>
        </checkout>
    </frontend>
    <!-- Backend section -->
    <backend>
        <baseUrl>https://kq.varien.com/builds/ee-nightly/current/index.php/control/</baseUrl>
        <!-- <baseUrl>https://kq.varien.com/enterprise/1.8.0.0/index.php/control/</baseUrl> -->
        <auth>
            <username>admin</username>
            <password>123123q</password>
        </auth>
        <payment_method>
            <check>p_method_checkmo</check>
            <credit_card>p_method_ccsave</credit_card>
            <autorize>p_method_authorizenet</autorize>
            <paypal_direct_uk>p_method_paypal_direct</paypal_direct_uk>
        </payment_method>        
        <shipping_method>
            <flat_rate>s_method_flatrate_flatrate</flat_rate>
            <free_shipp>s_method_freeshipping_freeshipping</free_shipp>
        </shipping_method>
        <customer>
            <id>102</id>
            <email>st8-user@varien.com</email>
        </customer>
        <attribute_set>
            <set_name>smoke_attrSet</set_name>
            <default_set>label=Default</default_set>
        </attribute_set>        
        <create_product>
            <sku>st-01</sku>
            <duplicated_sku>st-03</duplicated_sku>
            <name>st-01</name>
            <price>11</price>
        </create_product>
        <user>
            <name>test</name>
        </user>
        <scope>
            <site>
                <name>SmokeTestSite</name>
                <code>smoke</code>
                <sortorder>1</sortorder>
            </site>
            <store>
                <name>ststorename</name>
            </store>
            <store_view>
                <name>SmokeTestStoreView</name>
                <code>stsvcode</code>
                <order>1</order>
                <status>label=Enabled</status>
            </store_view>
            <store_view_for_delete>
                <name>delSmokeTestStoreView</name>
                <code>delstsvcode</code>
                <order>1</order>
                <status>label=Enabled</status>
            </store_view_for_delete>
        </scope>
        <manage_categories>
            <rootname>st-rootcat</rootname>
            <subcategoryname>st-subcat</subcategoryname>
            <parentsubcategoryname>st-rootcat</parentsubcategoryname>
        </manage_categories>
        <tax>
            <product_tax_class_name>
                <ptc1>Test product tax class 1</ptc1>
                <ptc2>Test product tax class 2</ptc2>
                <ptc3>Test product tax class 3</ptc3>
            </product_tax_class_name>
            <customer_tax_class_name>
                <ctc1>Test customer tax class 1</ctc1>
                <ctc2>Test customer tax class 2</ctc2>
                <ctc3>Test customer tax class 3</ctc3>
            </customer_tax_class_name>
            <tax_rate_identifier>
                <tzr1>Test tax rate 1</tzr1>
                <tzr2>Test tax rate 2</tzr2>
                <tzr3>Test tax rate 3</tzr3>
            </tax_rate_identifier>
            <tax_rate_percent>12.7</tax_rate_percent>
            <tax_rule_name>Test tax rule</tax_rule_name>
            <tax_title>Test tax</tax_title>
            <country>United States</country>
            <state>California</state>
            <range_from>1</range_from>
            <range_to>10000</range_to>
            <zip_post_code>*</zip_post_code>
            <tax_rule_priority>1</tax_rule_priority>
            <tax_rule_sort_order>1</tax_rule_sort_order>
            <tax_store_view_title>Test tax</tax_store_view_title>
        </tax>
    </backend>
</config>
