<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_Downloadable
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <downloadable_setup>
                <setup>
                    <module>Magento_Downloadable</module>
                    <class>Magento_Catalog_Model_Resource_Setup</class>
                </setup>
            </downloadable_setup>
        </resources>
        <catalog>
            <product>
                <type>
                    <downloadable translate="label">
                        <label>Downloadable Product</label>
                        <model>Magento_Downloadable_Model_Product_Type</model>
                        <is_qty>1</is_qty>
                        <price_model>Magento_Downloadable_Model_Product_Price</price_model>
                        <composite>0</composite>
                        <price_indexer>Magento_Downloadable_Model_Resource_Indexer_Price</price_indexer>
                        <can_use_qty_decimals>0</can_use_qty_decimals>
                    </downloadable>
                    <configurable>
                        <allow_product_types>
                            <downloadable />
                        </allow_product_types>
                    </configurable>
                    <grouped>
                        <allow_product_types>
                            <downloadable />
                        </allow_product_types>
                    </grouped>
                </type>
                <attributes>
                    <weight>
                        <type_switcher translate="label">
                            <label>Virtual / Downloadable</label>
                        </type_switcher>
                    </weight>
                </attributes>
            </product>
        </catalog>
        <pdf>
            <invoice>
                <downloadable>Magento_Downloadable_Model_Sales_Order_Pdf_Items_Invoice</downloadable>
            </invoice>
            <creditmemo>
                <downloadable>Magento_Downloadable_Model_Sales_Order_Pdf_Items_Creditmemo</downloadable>
            </creditmemo>
        </pdf>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Magento_Downloadable>
                    <files>
                        <default>Magento_Downloadable.csv</default>
                    </files>
                </Magento_Downloadable>
            </modules>
        </translate>
        <sales>
            <order>
                <create>
                    <available_product_types>
                        <downloadable />
                    </available_product_types>
                </create>
            </order>
        </sales>
    </adminhtml>
    <frontend>
        <secure_url>
            <downloadable>/downloadable/customer/</downloadable>
            <downloadable_download>/downloadable/download/</downloadable_download>
        </secure_url>
        <translate>
            <modules>
                <Magento_Downloadable>
                    <files>
                        <default>Magento_Downloadable.csv</default>
                    </files>
                </Magento_Downloadable>
            </modules>
        </translate>
    </frontend>
    <default>
        <catalog>
            <downloadable>
                <downloads_number>0</downloads_number>
                <order_item_status>9</order_item_status>
                <samples_title>Samples</samples_title>
                <links_title>Links</links_title>
                <links_target_new_window>1</links_target_new_window>
                <content_disposition>inline</content_disposition>
                <disable_guest_checkout>1</disable_guest_checkout>
            </downloadable>
        </catalog>
    </default>
</config>
