<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_Downloadable
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <links_purchased_separately />
                        <links_title />
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <resources>
            <downloadable_setup>
                <setup>
                    <module>Magento_Downloadable</module>
                    <class>Magento_Catalog_Model_Resource_Setup</class>
                </setup>
            </downloadable_setup>
        </resources>
        <catalog>
            <product>
                <type>
                    <downloadable translate="label">
                        <label>Downloadable Product</label>
                        <model>Magento_Downloadable_Model_Product_Type</model>
                        <is_qty>1</is_qty>
                        <price_model>Magento_Downloadable_Model_Product_Price</price_model>
                        <composite>0</composite>
                        <price_indexer>Magento_Downloadable_Model_Resource_Indexer_Price</price_indexer>
                        <can_use_qty_decimals>0</can_use_qty_decimals>
                    </downloadable>
                    <configurable>
                        <allow_product_types>
                            <downloadable />
                        </allow_product_types>
                    </configurable>
                    <grouped>
                        <allow_product_types>
                            <downloadable />
                        </allow_product_types>
                    </grouped>
                </type>
                <attributes>
                    <weight>
                        <type_switcher translate="label">
                            <label>Virtual / Downloadable</label>
                        </type_switcher>
                    </weight>
                </attributes>
            </product>
        </catalog>
        <pdf>
            <invoice>
                <downloadable>Magento_Downloadable_Model_Sales_Order_Pdf_Items_Invoice</downloadable>
            </invoice>
            <creditmemo>
                <downloadable>Magento_Downloadable_Model_Sales_Order_Pdf_Items_Creditmemo</downloadable>
            </creditmemo>
        </pdf>
    </global>
    <adminhtml>
        <sales>
            <order>
                <create>
                    <available_product_types>
                        <downloadable />
                    </available_product_types>
                </create>
            </order>
        </sales>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <downloadable_observer>
                        <class>Magento_Downloadable_Model_Observer</class>
                        <method>prepareProductSave</method>
                    </downloadable_observer>
                </observers>
            </catalog_product_prepare_save>
            <catalog_model_product_duplicate>
                <observers>
                    <downloadable_observer>
                        <class>Magento_Downloadable_Model_Observer</class>
                        <method>duplicateProduct</method>
                    </downloadable_observer>
                </observers>
            </catalog_model_product_duplicate>
            <sales_order_item_save_commit_after>
                <observers>
                    <downloadable_observer>
                        <class>Magento_Downloadable_Model_Observer</class>
                        <method>saveDownloadableOrderItem</method>
                    </downloadable_observer>
                </observers>
            </sales_order_item_save_commit_after>
            <sales_order_save_commit_after>
                <observers>
                    <downloadable_observer>
                        <class>Magento_Downloadable_Model_Observer</class>
                        <method>setLinkStatus</method>
                    </downloadable_observer>
                </observers>
            </sales_order_save_commit_after>
            <catalog_product_transition_product_type>
                <observers>
                    <type_transition>
                        <class>Magento_Downloadable_Model_Observer</class>
                        <method>transitionProductType</method>
                    </type_transition>
                </observers>
            </catalog_product_transition_product_type>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <downloadable>
                <use>standard</use>
                <args>
                    <module>Magento_Downloadable</module>
                    <frontName>downloadable</frontName>
                </args>
            </downloadable>
        </routers>
        <secure_url>
            <downloadable>/downloadable/customer/</downloadable>
            <downloadable_download>/downloadable/download/</downloadable_download>
        </secure_url>
        <events>
            <sales_order_item_save_commit_after>
                <observers>
                    <downloadable_observer>
                        <class>Magento_Downloadable_Model_Observer</class>
                        <method>saveDownloadableOrderItem</method>
                    </downloadable_observer>
                </observers>
            </sales_order_item_save_commit_after>
            <sales_order_save_commit_after>
                <observers>
                    <downloadable_observer>
                        <class>Magento_Downloadable_Model_Observer</class>
                        <method>setLinkStatus</method>
                    </downloadable_observer>
                </observers>
            </sales_order_save_commit_after>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <checkout_type_onepage_save_order_after>
                        <class>Magento_Downloadable_Model_Observer</class>
                        <method>setHasDownloadableProducts</method>
                    </checkout_type_onepage_save_order_after>
                </observers>
            </checkout_type_onepage_save_order_after>
            <checkout_type_multishipping_create_orders_single>
                <observers>
                    <checkout_type_multishipping_create_orders_single>
                        <class>Magento_Downloadable_Model_Observer</class>
                        <method>setHasDownloadableProducts</method>
                    </checkout_type_multishipping_create_orders_single>
                </observers>
            </checkout_type_multishipping_create_orders_single>
            <checkout_allow_guest>
                <observers>
                    <checkout_allow_guest>
                        <class>Magento_Downloadable_Model_Observer</class>
                        <method>isAllowedGuestCheckout</method>
                    </checkout_allow_guest>
                </observers>
            </checkout_allow_guest>
            <product_option_renderer_init>
                <observers>
                    <downloadable_observer>
                        <class>Magento_Downloadable_Model_Observer</class>
                        <method>initOptionRenderer</method>
                    </downloadable_observer>
                </observers>
            </product_option_renderer_init>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Magento_Downloadable before="Magento_Adminhtml">Magento_Downloadable_Adminhtml</Magento_Downloadable>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <catalog>
            <downloadable>
                <downloads_number>0</downloads_number>
                <order_item_status>9</order_item_status>
                <samples_title>Samples</samples_title>
                <links_title>Links</links_title>
                <links_target_new_window>1</links_target_new_window>
                <content_disposition>inline</content_disposition>
                <disable_guest_checkout>1</disable_guest_checkout>
            </downloadable>
        </catalog>
    </default>
</config>
