<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <type name="Magento\Downloadable\Helper\Download">
        <arguments>
            <argument name="coreFileStorageDb" xsi:type="object">Magento\Core\Helper\File\Storage\Database\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Helper\Product">
        <arguments>
            <argument name="typeSwitcherLabel" xsi:type="string">Virtual / Downloadable</argument>
        </arguments>
    </type>
    <type name="Magento\Module\Updater\SetupFactory">
        <arguments>
            <argument name="resourceTypes" xsi:type="array">
                <item name="downloadable_setup" xsi:type="string">Magento\Catalog\Model\Resource\Setup</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product\CartConfiguration">
        <plugin name="Downloadable" type="Magento\Downloadable\Model\Product\CartConfiguration\Plugin\Downloadable" />
    </type>
    <type name="Magento\Catalog\Model\Product\TypeTransitionManager">
        <plugin name="downloadable_product_transition" type="Magento\Downloadable\Model\Product\TypeTransitionManager\Plugin\Downloadable" />
        <arguments>
            <argument name="compatibleTypes" xsi:type="array">
                <item name="downloadable" xsi:type="const">Magento\Downloadable\Model\Product\Type::TYPE_DOWNLOADABLE</item>
            </argument>
        </arguments>
    </type>
</config>
