<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <preference for="Magento\Checkout\Model\Session\SuccessValidator" type="Magento\RecurringPayment\Model\SuccessValidator" />
    <type name="Magento\Module\Updater\SetupFactory">
        <arguments>
            <argument name="resourceTypes" xsi:type="array">
                <item name="recurringpayment_setup" xsi:type="string">Magento\RecurringPayment\Model\Resource\Setup</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product\Type\AbstractType">
        <plugin name="recurringpayment_product_type" type="Magento\RecurringPayment\Model\ProductType\Plugin"/>
    </type>
    <type name="Magento\Downloadable\Model\Product\Type">
        <plugin name="recurringpayment_product_type" type="Magento\RecurringPayment\Model\ProductType\Plugin"/>
    </type>
    <type name="Magento\Checkout\Block\Onepage\Payment">
        <plugin name="recurringpayment" type="Magento\RecurringPayment\Block\Plugin\Payment" />
    </type>
    <type name="Magento\Checkout\Model\Session">
        <plugin name="recurringpayment" type="Magento\RecurringPayment\Model\Plugin\CheckoutSession" />
    </type>
    <type name="Magento\Payment\Model\Checks\ZeroTotal">
        <plugin name="recurringprofile" type="Magento\RecurringProfile\Model\Plugin\ZeroTotal" />
    </type>

</config>
