<?xml version="1.0"?>
<!--
/**
 * Configuration of Webapi module menu in Magento admin panel.
 *
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <menu>
        <add id="Mage_Webapi::system_webapi" title="Web Services" module="Mage_Webapi" sortOrder="26"
             parent="Mage_Adminhtml::system" resource="Mage_Webapi::webapi"/>
        <add id="Mage_Webapi::system_api_webapi_users" title="API Users" module="Mage_Webapi" sortOrder="1"
             parent="Mage_Webapi::system_webapi" action="adminhtml/webapi_user" resource="Mage_Webapi::webapi_users"/>
        <add id="Mage_Webapi::system_api_webapi_roles" title="API Roles" module="Mage_Webapi" sortOrder="2"
             parent="Mage_Webapi::system_webapi" action="adminhtml/webapi_role" resource="Mage_Webapi::webapi_roles"/>
    </menu>
</config>
