<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <event name="checkout_submit_all_after">
        <observer name="directpost_update_all_edit_increments" instance="Magento\Authorizenet\Model\Directpost\Observer" method="updateAllEditIncrements" />
    </event>
</config>
