<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <event name="banner_edit_tab_properties_after_prepare_form">
        <observer name="enterprise_bannercustomersegment" instance="Enterprise_BannerCustomerSegment_Model_Observer" method="addFieldsToBannerForm" />
    </event>
</config>