<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Model\Registration">
        <plugin name="invitation_customer_registration_plugin" type="Magento\Invitation\Model\Plugin\CustomerRegistration"/>
    </type>
    <type name="Magento\Core\Model\Url\SecurityInfo">
        <arguments>
            <argument name="secureUrlList" xsi:type="array">
                <item name="invitation" xsi:type="string">/invitation/</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Invitation\Controller\Customer\AccountInterface">
        <plugin name="invitation_enabled_check" type="\Magento\Invitation\Controller\Customer\Account\Plugin" sortOrder="10" />
    </type>
</config>
