<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <virtualType name="Magento\Review\Model\Session\Storage" type="Magento\Session\Storage">
        <arguments>
            <argument name="namespace" xsi:type="string">review</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Review\Model\Session" type="Magento\Session\Generic">
        <arguments>
            <argument name="storage" xsi:type="object">Magento\Review\Model\Session\Storage</argument>
            <argument name="sessionName" xsi:type="string">frontend</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Review\Block\Form">
        <arguments>
            <argument name="reviewSession" xsi:type="object">Magento\Review\Model\Session</argument>
        </arguments>
    </type>
    <type name="Magento\Review\Controller\Product">
        <param name="reviewSession">
            <instance type="Magento\Review\Model\Session" />
        </param>
    </type>
    <type name="Magento\Core\Model\Url\SecurityInfo">
        <arguments>
            <argument name="secureUrlList" xsi:type="array">
                <item name="review_customer" xsi:type="string">/review/customer/</item>
            </argument>
        </arguments>
    </type>
</config>
