<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\Catalog\Model\Product\Attribute\Api">
        <param name="attributeLabelCache">
            <instance type="Magento\Core\Model\Cache\Type\Translate" />
        </param>
    </type>
</config>
