<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento_Catalog_Model_Product_Attribute_Api">
        <param name="attributeLabelCache">
            <instance type="Magento_Core_Model_Cache_Type_Translate" />
        </param>
    </type>
    <type name="Magento_Log_Model_Resource_Log">
        <plugin name="catalogLog" type="Magento_Catalog_Model_Plugin_Log" />
    </type>
</config>
