<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Saas_Index before="Mage_Adminhtml">Saas_Index_Adminhtml</Saas_Index>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>