<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Enterprise
 * @package     Enterprise_SalesArchive
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <menu>
        <add id="Enterprise_SalesArchive::sales_archive" title="Archive" module="Enterprise_SalesArchive" sortOrder="15" parent="Mage_Sales::sales" dependsOnConfig="sales/enterprise_salesarchive/active" />
        <add id="Enterprise_SalesArchive::sales_archive_orders" title="Orders" module="Enterprise_SalesArchive" sortOrder="10" parent="Enterprise_SalesArchive::sales_archive" action="adminhtml/sales_archive/orders" />
        <add id="Enterprise_SalesArchive::sales_archive_invoices" title="Invoices" module="Enterprise_SalesArchive" sortOrder="20" parent="Enterprise_SalesArchive::sales_archive" action="adminhtml/sales_archive/invoices" />
        <add id="Enterprise_SalesArchive::sales_archive_shipments" title="Shipments" module="Enterprise_SalesArchive" sortOrder="30" parent="Enterprise_SalesArchive::sales_archive" action="adminhtml/sales_archive/shipments" />
        <add id="Enterprise_SalesArchive::sales_archive_creditmemos" title="Creditmemos" module="Enterprise_SalesArchive" sortOrder="40" parent="Enterprise_SalesArchive::sales_archive" action="adminhtml/sales_archive/creditmemos" />
    </menu>
</config>
