<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Mage
 * @package     Saas_Launcher
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <menu>
        <update id="Magento_Adminhtml::dashboard" title="Hub" module="Saas_Launcher" sortOrder="10" action="launcher/hub" resource="Saas_Launcher::hub"/>
    </menu>
</config>
