<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/ObjectManager/etc/config.xsd">
    <preference for="Magento\RecurringPayment\Model\ManagerInterface" type="Magento\PayPalRecurringPayment\Model\Express" />
    <preference for="Magento\Paypal\Model\Api\Nvp" type="Magento\PayPalRecurringPayment\Model\Api\Nvp" />
    <type name="Magento\Paypal\Model\IpnFactory">
        <arguments>
            <argument name="mapping" xsi:type="array">
                <item name="recurring_payment" xsi:type="string">Magento\PayPalRecurringPayment\Model\Ipn</item>
            </argument>
        </arguments>
    </type>
</config>
