<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <module name="Enterprise_CatalogPermissions" version="1.11.0.0" active="false">
        <depends>
            <module name="Mage_Adminhtml" />
            <module name="Mage_Catalog" />
            <module name="Mage_CatalogSearch" />
            <module name="Mage_Sales" />
            <module name="Mage_Checkout" />
            <module name="Enterprise_WebsiteRestriction" />
        </depends>
    </module>
</config>
