<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_Tax
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <tax_setup>
                <setup>
                    <module>Magento_Tax</module>
                    <class>Magento_Tax_Model_Resource_Setup</class>
                </setup>
            </tax_setup>
        </resources>
        <sales>
            <quote>
                <totals>
                    <tax_subtotal>
                        <class>Magento_Tax_Model_Sales_Total_Quote_Subtotal</class>
                        <after>freeshipping</after>
                        <before>tax,discount</before>
                    </tax_subtotal>
                    <tax_shipping>
                        <class>Magento_Tax_Model_Sales_Total_Quote_Shipping</class>
                        <after>shipping</after>
                        <before>tax,discount</before>
                    </tax_shipping>
                    <tax>
                        <class>Magento_Tax_Model_Sales_Total_Quote_Tax</class>
                        <after>subtotal,shipping</after>
                        <before>grand_total</before>
                        <renderer>Magento_Tax_Block_Checkout_Tax</renderer>
                        <admin_renderer>Magento_Adminhtml_Block_Sales_Order_Create_Totals_Tax</admin_renderer>
                    </tax>
                    <subtotal>
                        <renderer>Magento_Tax_Block_Checkout_Subtotal</renderer>
                        <admin_renderer>Magento_Adminhtml_Block_Sales_Order_Create_Totals_Subtotal</admin_renderer>
                    </subtotal>
                    <shipping>
                        <renderer>Magento_Tax_Block_Checkout_Shipping</renderer>
                        <admin_renderer>Magento_Adminhtml_Block_Sales_Order_Create_Totals_Shipping</admin_renderer>
                    </shipping>
                    <discount>
                        <renderer>Magento_Tax_Block_Checkout_Discount</renderer>
                        <admin_renderer>Magento_Adminhtml_Block_Sales_Order_Create_Totals_Discount</admin_renderer>
                    </discount>
                    <grand_total>
                        <renderer>Magento_Tax_Block_Checkout_Grandtotal</renderer>
                        <admin_renderer>Magento_Adminhtml_Block_Sales_Order_Create_Totals_Grandtotal</admin_renderer>
                    </grand_total>
                </totals>
                <nominal_totals>
                    <nominal_tax_subtotal>
                        <class>Magento_Tax_Model_Sales_Total_Quote_Nominal_Subtotal</class>
                        <sort_order>500</sort_order>
                    </nominal_tax_subtotal>
                    <nominal_tax>
                        <class>Magento_Tax_Model_Sales_Total_Quote_Nominal_Tax</class>
                        <sort_order>750</sort_order>
                    </nominal_tax>
                </nominal_totals>
            </quote>
        </sales>
        <pdf>
            <totals>
                <subtotal>
                    <model>Magento_Tax_Model_Sales_Pdf_Subtotal</model>
                </subtotal>
                <shipping>
                    <model>Magento_Tax_Model_Sales_Pdf_Shipping</model>
                </shipping>
                <grand_total>
                    <model>Magento_Tax_Model_Sales_Pdf_Grandtotal</model>
                </grand_total>
                <tax translate="title">
                    <title>Tax</title>
                    <source_field>tax_amount</source_field>
                    <model>Magento_Tax_Model_Sales_Pdf_Tax</model>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>300</sort_order>
                </tax>
            </totals>
        </pdf>
        <catalog>
            <product>
                <attributes>
                    <unassignable>
                        <tax_class_id />
                    </unassignable>
                </attributes>
            </product>
        </catalog>
    </global>
    <default>
        <tax>
            <classes>
                <shipping_tax_class />
            </classes>
            <calculation>
                <algorithm>TOTAL_BASE_CALCULATION</algorithm>
                <apply_after_discount>0</apply_after_discount>
                <discount_tax>0</discount_tax>
                <based_on>shipping</based_on>
                <price_includes_tax>0</price_includes_tax>
                <shipping_includes_tax>0</shipping_includes_tax>
                <discount_tax>0</discount_tax>
                <apply_tax_on>0</apply_tax_on>
            </calculation>
            <defaults>
                <country>US</country>
                <region>0</region>
                <postcode>*</postcode>
            </defaults>
            <display>
                <type>1</type>
                <shipping>1</shipping>
            </display>
            <cart_display>
                <price>1</price>
                <subtotal>1</subtotal>
                <shipping>1</shipping>
                <discount>1</discount>
                <grandtotal>0</grandtotal>
                <full_summary>0</full_summary>
                <zero_tax>0</zero_tax>
            </cart_display>
            <sales_display>
                <price>1</price>
                <subtotal>1</subtotal>
                <shipping>1</shipping>
                <discount>1</discount>
                <grandtotal>0</grandtotal>
                <full_summary>0</full_summary>
                <zero_tax>0</zero_tax>
            </sales_display>
        </tax>
    </default>
</config>
