<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_Tax
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <tax_setup>
                <setup>
                    <module>Magento_Tax</module>
                    <class>Magento_Tax_Model_Resource_Setup</class>
                </setup>
            </tax_setup>
        </resources>
    </global>
    <default>
        <tax>
            <classes>
                <shipping_tax_class />
            </classes>
            <calculation>
                <algorithm>TOTAL_BASE_CALCULATION</algorithm>
                <apply_after_discount>0</apply_after_discount>
                <discount_tax>0</discount_tax>
                <based_on>shipping</based_on>
                <price_includes_tax>0</price_includes_tax>
                <shipping_includes_tax>0</shipping_includes_tax>
                <discount_tax>0</discount_tax>
                <apply_tax_on>0</apply_tax_on>
            </calculation>
            <defaults>
                <country>US</country>
                <region>0</region>
                <postcode>*</postcode>
            </defaults>
            <display>
                <type>1</type>
                <shipping>1</shipping>
            </display>
            <cart_display>
                <price>1</price>
                <subtotal>1</subtotal>
                <shipping>1</shipping>
                <discount>1</discount>
                <grandtotal>0</grandtotal>
                <full_summary>0</full_summary>
                <zero_tax>0</zero_tax>
            </cart_display>
            <sales_display>
                <price>1</price>
                <subtotal>1</subtotal>
                <shipping>1</shipping>
                <discount>1</discount>
                <grandtotal>0</grandtotal>
                <full_summary>0</full_summary>
                <zero_tax>0</zero_tax>
            </sales_display>
        </tax>
    </default>
</config>
