<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <type name="Magento\Tax\Helper\Data">
        <arguments>
            <argument name="taxConfig" xsi:type="object">Magento\Tax\Model\Config\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Module\Updater\SetupFactory">
        <arguments>
            <argument name="resourceTypes" xsi:type="array">
                <item name="tax_setup" xsi:type="string">Magento\Tax\Model\Resource\Setup</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Tax\Model\Resource\Calculation">
        <arguments>
            <argument name="taxData" xsi:type="object">Magento\Tax\Helper\Data\Proxy</argument>
        </arguments>
    </type>
</config>
