<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_SalesRule
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <salesrule_setup>
                <setup>
                    <module>Magento_SalesRule</module>
                    <class>Magento_Sales_Model_Resource_Setup</class>
                </setup>
            </salesrule_setup>
        </resources>
        <sales>
            <quote>
                <totals>
                    <freeshipping>
                        <class>Magento_SalesRule_Model_Quote_Freeshipping</class>
                        <after>subtotal</after>
                        <before>tax_subtotal,shipping</before>
                    </freeshipping>
                    <discount>
                        <class>Magento_SalesRule_Model_Quote_Discount</class>
                        <after>subtotal,shipping</after>
                        <before>grand_total</before>
                    </discount>
                </totals>
                <nominal_totals>
                    <nominal_discount>
                        <class>Magento_SalesRule_Model_Quote_Nominal_Discount</class>
                        <sort_order>550</sort_order>
                    </nominal_discount>
                </nominal_totals>
            </quote>
        </sales>
        <salesrule>
            <coupon>
                <separator>-</separator>
                <charset>
                    <alphanum>ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789</alphanum>
                    <alpha>ABCDEFGHIJKLMNOPQRSTUVWXYZ</alpha>
                    <num>0123456789</num>
                </charset>
            </coupon>
        </salesrule>
    </global>
    <default>
        <promo>
            <auto_generated_coupon_codes>
                <length>12</length>
                <format>1</format>
            </auto_generated_coupon_codes>
        </promo>
    </default>
</config>
