<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento_SalesRule_Model_Resource_Rule_Collection" shared="false" />
    <type name="Magento_Sales_Model_Quote_Config">
        <plugin name="append_sales_rule_keys_to_quote" type="Magento_SalesRule_Model_Plugin_QuoteConfigProductAttributes"/>
    </type>
</config>
