<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <event name="sales_order_place_after">
        <observer name="salesrule" instance="Magento_SalesRule_Model_Observer" method="salesOrderAfterPlace" />
    </event>
    <event name="sales_quote_config_get_product_attributes">
        <observer name="salesrule" instance="Magento_SalesRule_Model_Observer" method="addProductAttributes" />
    </event>
    <event name="sales_convert_quote_to_order">
        <observer name="salesrule" instance="Magento_SalesRule_Model_Observer" method="addSalesRuleNameToOrder" />
    </event>
</config>