<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Mage
 * @package     Mage_CurrencySymbol
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <menu>
        <remove id="Magento_Adminhtml::system_currency" />
        <add id="Mage_CurrencySymbol::system_currency" title="Currency" module="Mage_CurrencySymbol" sortOrder="30" parent="Magento_Adminhtml::stores" resource="Mage_CurrencySymbol::system_currency" />
        <add id="Mage_CurrencySymbol::system_currency_rates" title="Currency Rates" module="Mage_CurrencySymbol" sortOrder="10" parent="Mage_CurrencySymbol::system_currency" action="adminhtml/system_currency" resource="Mage_CurrencySymbol::currency_rates"/>
        <add id="Mage_CurrencySymbol::system_currency_symbols" title="Currency Symbols" module="Mage_CurrencySymbol" sortOrder="20" parent="Mage_CurrencySymbol::system_currency" action="adminhtml/system_currencysymbol" resource="Mage_CurrencySymbol::symbols"/>
    </menu>
</config>
