<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Mage
 * @package     Mage_Connect
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <modules>
        <Mage_Connect>
            <version>1.6.0.0</version>
            <active>true</active>
            <depends />
        </Mage_Connect>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <connect before="Magento_Adminhtml">Mage_Connect_Adminhtml</connect>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mage_Connect>
                    <files>
                        <default>Mage_Connect.csv</default>
                    </files>
                </Mage_Connect>
            </modules>
        </translate>
    </adminhtml>
</config>
