<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Mage
 * @package     Mage_Poll
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <modules>
        <Mage_Poll>
            <version>1.6.0.0</version>
            <active>false</active>
            <depends>
                <Mage_Customer/>
                <Mage_Core/>
                <Mage_Cms/>
                <Mage_Page/>
            </depends>
            <sequence>
                <Mage_Core/>
                <Mage_Cms/>
            </sequence>
        </Mage_Poll>
    </modules>
    <frontend>
        <routers>
            <poll>
                <use>standard</use>
                <args>
                    <module>Mage_Poll</module>
                    <frontName>poll</frontName>
                </args>
            </poll>
        </routers>
        <translate>
            <modules>
                <Mage_Poll>
                    <files>
                        <default>Mage_Poll.csv</default>
                    </files>
                </Mage_Poll>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Mage_Poll>
                    <files>
                        <default>Mage_Poll.csv</default>
                    </files>
                </Mage_Poll>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <resources>
            <poll_setup>
                <setup>
                    <module>Mage_Poll</module>
                </setup>
            </poll_setup>
        </resources>
    </global>
</config>
