<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Enterprise
 * @package     Enterprise_ImportExport
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <menu>
        <add id="Enterprise_ImportExport::system_convert_enterprise_scheduled_operation" title="Scheduled" module="Enterprise_ImportExport" sortOrder="40" parent="Magento_Adminhtml::system_convert" action="adminhtml/scheduled_operation" resource="Enterprise_ImportExport::enterprise_scheduled_operation"/>
    </menu>
</config>
