<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_Install
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <frontend>
        <secure_url>
            <install>/install/wizard/checkSecureHost</install>
        </secure_url>
    </frontend>
</config>
