<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <virtualType name="Magento\Install\Model\Session" type="Magento\Core\Model\Session\Generic">
        <param name="sessionNamespace">
            <value>install</value>
        </param>
    </virtualType>
    <type name="Magento\Install\Block\Begin">
        <param name="eulaFile">
            <value>LICENSE.html</value>
        </param>
    </type>
    <type name="Magento\Install\Model\Installer\Db">
        <param name="dbConfig">
            <value>
                <mysql4>
                    <type>pdo_mysql</type>
                    <initStatements>SET NAMES utf8</initStatements>
                    <min_version>4.1.20</min_version>
                </mysql4>
            </value>
        </param>
    </type>
    <type name="Magento\Install\Model\Installer\Db\AbstractDb">
        <param name="dbExtensions">
            <value>
                <mysql4>
                    <pdo>pdo_mysql</pdo>
                </mysql4>
            </value>
        </param>
    </type>
</config>
