<?xml version="1.0"?>
<config>
   <modules>
      <Mage_Directory>
         <version>0.2.2</version>
         <depends>
            <Mage_Core />
         </depends>
      </Mage_Directory>
   </modules>

    <global>
        <block>
			<groups><directory><class>Mage_Directory_Block</class></directory></groups>
        </block>
        <models>
            <directory>
                <class>Mage_Directory_Model</class>
            </directory>    
            <directory_resource>
                <class>Mage_Directory_Model_Mysql4</class>
                <entities>
                    <country>
                        <table>directory_country</table>
                    </country>
                    <country_name>
                        <table>directory_country_name</table>
                    </country_name> 
                    <country_currency>
                        <table>directory_country_currency</table>
                    </country_currency>
                    <country_region>
                        <table>directory_country_region</table>
                    </country_region>
                    <country_region_name>
                        <table>directory_country_region_name</table>
                    </country_region_name>
                    <currency>
                        <table>directory_currency</table>
                    </currency>
                    <currency_rate>
                        <table>directory_currency_rate</table>
                    </currency_rate>
                    <currency_name>
                        <table>directory_currency_name</table>
                    </currency_name>
                </entities>
            </directory_resource>
        </models>
    
        <resources>
            <directory_setup>
                <setup>
                    <module>Mage_Directory</module>
                </setup>
                <connection><use>core_setup</use></connection>
            </directory_setup>
    
            <directory_write>
                <connection><use>core_write</use></connection>
            </directory_write>
    
            <directory_read>
                <connection><use>core_read</use></connection>
            </directory_read>
        </resources>
    </global>
   
    <front>
        <layouts>
            <default>
                <updates>
                    <directory>
                        <file>directory/initLayout.xml</file>
                    </directory>
                </updates>
            </default>
        </layouts>
        <events>
            <action_preDispatch>
                <observers>
                    <directoryObserver>
                        <type>singleton</type>
                        <class>directory/observer</class>
                        <method>actionPreDispatch</method>
                    </directoryObserver>
                </observers>
            </action_preDispatch>
            <beforeSaveQuote>
                <observers>
                    <addCurrencyInfo>
                        <type>singleton</type>
                        <class>directory/observer</class>
                        <method>beforeSaveQuote</method>
                    </addCurrencyInfo>
                </observers>
            </beforeSaveQuote>
            <beforeSaveOrder>
                <observers>
                    <addCurrencyInfo>
                        <type>singleton</type>
                        <class>directory/observer</class>
                        <method>beforeSaveOrder</method>
                    </addCurrencyInfo>
                </observers>
            </beforeSaveOrder>
        </events>
        <routers>
            <directory>
                <class>Mage_Core_Controller_Front_Router</class>
                <args>
                    <module>Mage_Directory</module>
                    <frontName>directory</frontName>
                </args>
            </directory>
        </routers>
    </front>
</config>

