<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Mage
 * @package    Mage_Paypal
 * @copyright  Copyright (c) 2004-2007 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
   <modules>
      <Mage_Paypal>
         <version>0.1.1</version>
         <depends>
            <Mage_Paygate />
         </depends>
      </Mage_Paypal>
   </modules>
   <global>
      <models>
         <paypal>
            <class>Mage_Paypal_Model</class>
            <resourceModel>paypal_mysql4</resourceModel>
         </paypal>
         <paypal_mysql4>
            <class>Mage_Paypal_Model_Mysql4</class>
            <entities>
            	<api_debug><table>paypal_api_debug</table></api_debug>
            </entities>
         </paypal_mysql4>
      </models>
      <resources>
         <paypal_setup>
            <setup>
               <module>Mage_Paypal</module>
                <class>Mage_Paypal_Model_Mysql4_Setup</class>
            </setup>
            <connection>
               <use>core_setup</use>
            </connection>
         </paypal_setup>
         <paypal_write>
            <connection>
               <use>core_write</use>
            </connection>
         </paypal_write>
         <paypal_read>
            <connection>
               <use>core_read</use>
            </connection>
         </paypal_read>
      </resources>
        <block>
            <groups><paypal><class>Mage_Paypal_Block</class></paypal></groups>
        </block>
   </global>
    <frontend>
        <secure_url>
            <paypal_express>/paypal/express</paypal_express>
        </secure_url>
        <routers>
         <paypal>
            <use>standard</use>
            <args>
               <module>Mage_Paypal</module>
               <frontName>paypal</frontName>
            </args>
         </paypal>
        </routers>
        <layouts>
         <cart>
            <updates>
               <paypal>
                  <file>paypal/cart.xml</file>
               </paypal>
            </updates>
         </cart>
         <paypal_express_review>
            <updates>
               <paypal>
                  <file>paypal/express/review.xml</file>
               </paypal>
            </updates>
         </paypal_express_review>
         <paypal_express_review_details>
            <updates>
               <paypal>
                  <file>paypal/express/review/details.xml</file>
               </paypal>
            </updates>
         </paypal_express_review_details>
        </layouts>
     </frontend>
</config>
