<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_Reward
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <reward_setup>
                <setup>
                    <module>Magento_Reward</module>
                    <class>Magento_Reward_Model_Resource_Setup</class>
                </setup>
            </reward_setup>
        </resources>
        <template>
            <email>
                <magento_reward_notification_balance_update_template translate="label" module="Magento_Reward">
                    <label>Balance Update</label>
                    <file>email/balance_update.html</file>
                    <type>html</type>
                </magento_reward_notification_balance_update_template>
                <magento_reward_notification_expiry_warning_template translate="label" module="Magento_Reward">
                    <label>Points Expiry Warning</label>
                    <file>email/expiry_warning.html</file>
                    <type>html</type>
                </magento_reward_notification_expiry_warning_template>
            </email>
        </template>
        <sales>
            <quote>
                <totals>
                    <reward>
                        <class>Magento_Reward_Model_Total_Quote_Reward</class>
                        <after>weee,discount,tax,tax_subtotal,grand_total</after>
                        <before>giftcardaccount,customerbalance</before>
                        <renderer>Magento_Reward_Block_Checkout_Total</renderer>
                    </reward>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <reward>
                        <class>Magento_Reward_Model_Total_Invoice_Reward</class>
                        <after>grand_total</after>
                        <before>giftcardaccount,customerbalance</before>
                    </reward>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <reward>
                        <class>Magento_Reward_Model_Total_Creditmemo_Reward</class>
                        <after>weee,discount,tax,grand_total,customerbalance,giftcardaccount</after>
                    </reward>
                </totals>
            </order_creditmemo>
        </sales>
        <events>
            <newsletter_subscriber_save_commit_after>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer</class>
                        <method>customerSubscribed</method>
                    </magento_reward>
                </observers>
            </newsletter_subscriber_save_commit_after>
            <paypal_prepare_line_items>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer</class>
                        <method>addPaypalRewardItem</method>
                    </magento_reward>
                </observers>
            </paypal_prepare_line_items>
            <sales_order_save_after>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer</class>
                        <method>orderCompleted</method>
                    </magento_reward>
                </observers>
            </sales_order_save_after>
            <sales_quote_collect_totals_before>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer</class>
                        <method>quoteCollectTotalsBefore</method>
                    </magento_reward>
                </observers>
            </sales_quote_collect_totals_before>
            <sales_quote_merge_after>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer</class>
                        <method>quoteMergeAfter</method>
                    </magento_reward>
                </observers>
            </sales_quote_merge_after>
            <sales_order_load_after>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer</class>
                        <method>orderLoadAfter</method>
                    </magento_reward>
                </observers>
            </sales_order_load_after>
            <sales_order_invoice_register>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer</class>
                        <method>invoiceRegister</method>
                    </magento_reward>
                </observers>
            </sales_order_invoice_register>
            <sales_order_invoice_pay>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer</class>
                        <method>invoicePay</method>
                    </magento_reward>
                </observers>
            </sales_order_invoice_pay>
            <sales_order_invoice_save_commit_after>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer</class>
                        <method>applyRewardSalesrulePoints</method>
                    </magento_reward>
                </observers>
            </sales_order_invoice_save_commit_after>
            <sales_order_creditmemo_refund>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer</class>
                        <method>creditmemoRefund</method>
                    </magento_reward>
                </observers>
            </sales_order_creditmemo_refund>
            <sales_order_creditmemo_save_after>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer</class>
                        <method>creditmemoSaveAfter</method>
                    </magento_reward>
                </observers>
            </sales_order_creditmemo_save_after>
            <sales_model_service_quote_submit_before>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer_PlaceOrder</class>
                        <method>dispatch</method>
                    </magento_reward>
                </observers>
            </sales_model_service_quote_submit_before>
            <sales_model_service_quote_submit_failure>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer</class>
                        <method>revertRewardPoints</method>
                    </magento_reward>
                </observers>
            </sales_model_service_quote_submit_failure>
            <checkout_type_multishipping_create_orders_single>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer_PlaceOrder</class>
                        <method>dispatch</method>
                    </magento_reward>
                </observers>
            </checkout_type_multishipping_create_orders_single>
            <checkout_multishipping_refund_all>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer</class>
                        <method>revertRewardPointsForAllOrders</method>
                    </magento_reward>
                </observers>
            </checkout_multishipping_refund_all>
        </events>
        <pdf>
            <totals>
                <reward translate="title">
                    <title>Reward Points</title>
                    <source_field>reward_currency_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                    <amount_prefix>-</amount_prefix>
                </reward>
            </totals>
        </pdf>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <reward before="Magento_Adminhtml">Magento_Reward_Adminhtml</reward>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Magento_Reward>
                    <files>
                        <default>Magento_Reward.csv</default>
                    </files>
                </Magento_Reward>
            </modules>
        </translate>
        <events>
            <adminhtml_customer_prepare_save>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer</class>
                        <method>saveRewardNotifications</method>
                    </magento_reward>
                </observers>
            </adminhtml_customer_prepare_save>
            <adminhtml_customer_save_after>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer</class>
                        <method>saveRewardPoints</method>
                    </magento_reward>
                </observers>
            </adminhtml_customer_save_after>
            <review_save_commit_after>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer</class>
                        <method>reviewSubmit</method>
                    </magento_reward>
                </observers>
            </review_save_commit_after>
            <adminhtml_sales_order_create_process_data>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer</class>
                        <method>processOrderCreationData</method>
                    </magento_reward>
                </observers>
            </adminhtml_sales_order_create_process_data>
            <adminhtml_sales_order_creditmemo_register_before>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer</class>
                        <method>setRewardPointsBalanceToRefund</method>
                    </magento_reward>
                </observers>
            </adminhtml_sales_order_creditmemo_register_before>
            <website_delete_after>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer</class>
                        <method>prepareCustomerOrphanPoints</method>
                    </magento_reward>
                </observers>
            </website_delete_after>
            <adminhtml_block_salesrule_actions_prepareform>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer</class>
                        <method>prepareSalesruleForm</method>
                    </magento_reward>
                </observers>
            </adminhtml_block_salesrule_actions_prepareform>
            <salesrule_rule_load_after>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer</class>
                        <method>loadRewardSalesruleData</method>
                    </magento_reward>
                </observers>
            </salesrule_rule_load_after>
            <salesrule_rule_save_after>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer</class>
                        <method>saveRewardSalesruleData</method>
                    </magento_reward>
                </observers>
            </salesrule_rule_save_after>
            <order_cancel_after>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer</class>
                        <method>returnRewardPoints</method>
                    </magento_reward>
                </observers>
            </order_cancel_after>
            <payment_method_is_active>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer</class>
                        <method>preparePaymentMethod</method>
                    </magento_reward>
                </observers>
            </payment_method_is_active>
        </events>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Magento_Reward>
                    <files>
                        <default>Magento_Reward.csv</default>
                    </files>
                </Magento_Reward>
            </modules>
        </translate>
        <routers>
            <magento_reward>
                <use>standard</use>
                <args>
                    <module>Magento_Reward</module>
                    <frontName>reward</frontName>
                </args>
            </magento_reward>
        </routers>
        <events>
            <customer_session_init>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer</class>
                        <method>checkRates</method>
                    </magento_reward>
                </observers>
            </customer_session_init>
            <customer_save_after>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer</class>
                        <method>customerRegister</method>
                    </magento_reward>
                </observers>
            </customer_save_after>
            <payment_method_is_active>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer</class>
                        <method>preparePaymentMethod</method>
                    </magento_reward>
                </observers>
            </payment_method_is_active>
            <sales_quote_payment_import_data_before>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer</class>
                        <method>paymentDataImport</method>
                    </magento_reward>
                </observers>
            </sales_quote_payment_import_data_before>
            <magento_invitation_save_commit_after>
                <observers>
                    <magento_reward>
                        <class>Magento_Reward_Model_Observer</class>
                        <method>invitationToCustomer</method>
                    </magento_reward>
                </observers>
            </magento_invitation_save_commit_after>
        </events>
    </frontend>
    <default>
        <magento_reward>
            <general>
                <is_enabled>1</is_enabled>
                <is_enabled_on_front>1</is_enabled_on_front>
                <publish_history>1</publish_history>
                <expiry_calculation>static</expiry_calculation>
                <landing_page>reward-points</landing_page>
            </general>
            <notification>
                <email_sender>general</email_sender>
                <subscribe_by_default>1</subscribe_by_default>
                <balance_update_template>magento_reward_notification_balance_update_template</balance_update_template>
                <expiry_warning_template>magento_reward_notification_expiry_warning_template</expiry_warning_template>
            </notification>
        </magento_reward>
        <sales>
            <totals_sort>
                <reward>80</reward>
            </totals_sort>
        </sales>
    </default>
    <crontab>
        <jobs>
            <magento_reward_balance_warning_notification>
                <schedule>
                    <cron_expr>1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>Magento_Reward_Model_Observer::scheduledBalanceExpireNotification</model>
                </run>
            </magento_reward_balance_warning_notification>
            <magento_reward_expire_points>
                <schedule>
                    <cron_expr>1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>Magento_Reward_Model_Observer::scheduledPointsExpiration</model>
                </run>
            </magento_reward_expire_points>
        </jobs>
    </crontab>
</config>
