<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\Core\Model\ModuleManager">
        <param name="outputConfigPaths">
            <value>
                <Magento_Reward>\Magento\Reward\Helper\Data::XML_PATH_ENABLED</Magento_Reward>
            </value>
        </param>
    </type>
    <type name="Magento\Reward\Model\Observer">
        <param name="authorization">
            <instance type="Magento\Authorization" />
        </param>
    </type>
</config>
