<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\Module\Manager">
        <param name="outputConfigPaths">
            <array>
                <item key="Magento_Reward"><value>Magento\Reward\Helper\Data::XML_PATH_ENABLED</value></item>
            </array>
        </param>
    </type>
    <type name="Magento\Module\Updater\SetupFactory">
        <param name="resourceTypes">
            <array>
                <item key="reward_setup"><value>Magento\Reward\Model\Resource\Setup</value></item>
            </array>
        </param>
    </type>
</config>
