<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\Logging\Model\Config\Data">
        <param name='reader'>
            <instance type="Magento\Logging\Model\Config\Reader" />
        </param>
        <param name="cacheId">
            <value>logging_config</value>
        </param>
    </type>
    <type name="Magento\Logging\Model\Processor">
        <param name="controllersHandler">
            <instance type="Magento\Logging\Model\Handler\Controllers\Proxy" />
        </param>
    </type>
</config>
