<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <event name="catalog_product_prepare_save">
        <observer name="downloadable_observer" instance="Magento\Downloadable\Model\Observer" method="prepareProductSave" />
    </event>
    <event name="catalog_model_product_duplicate">
        <observer name="downloadable_observer" instance="Magento\Downloadable\Model\Observer" method="duplicateProduct" />
    </event>
    <event name="sales_order_item_save_commit_after">
        <observer name="downloadable_observer" instance="Magento\Downloadable\Model\Observer" method="saveDownloadableOrderItem" />
    </event>
    <event name="sales_order_save_commit_after">
        <observer name="downloadable_observer" instance="Magento\Downloadable\Model\Observer" method="setLinkStatus" />
    </event>
    <event name="catalog_product_transition_product_type">
        <observer name="type_transition" instance="Magento\Downloadable\Model\Observer" method="transitionProductType" />
    </event>
</config>
