<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <virtualType name="factoryForProductBuilder" type="Magento\UrlRedirect\Service\V1\Storage\Data\AbstractBuilderFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Magento\CatalogUrlRewrite\Service\V1\Storage\Data\ProductBuilder</argument>
        </arguments>
    </virtualType>
    <virtualType name="ProductConverter" type="Magento\UrlRedirect\Service\V1\Storage\Data\Converter">
        <arguments>
            <argument name="dataBuilderFactory" xsi:type="object">factoryForProductBuilder</argument>
        </arguments>
    </virtualType>
    <virtualType name="ProductStorage" type="Magento\UrlRedirect\Service\V1\Storage\GenericStorage">
        <arguments>
            <argument name="converter" xsi:type="object">ProductConverter</argument>
        </arguments>
    </virtualType>
    <type name="Magento\CatalogUrlRewrite\Model\Product\Generator">
        <arguments>
            <argument name="storage" xsi:type="object">ProductStorage</argument>
        </arguments>
    </type>
    <type name="Magento\CatalogUrlRewrite\Model\Product\GeneratorResolver">
        <arguments>
            <argument name="converter" xsi:type="object">ProductConverter</argument>
        </arguments>
    </type>
</config>
