<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Mage_AdminNotification_Model_System_MessageList">
        <param name="messages">
            <value>
                <baseurl>Mage_AdminNotification_Model_System_Message_Baseurl</baseurl>
                <security>Mage_AdminNotification_Model_System_Message_Security</security>
                <cache>Mage_AdminNotification_Model_System_Message_CacheOutdated</cache>
                <survey>Mage_AdminNotification_Model_System_Message_Survey</survey>
                <media_synchronization_error>Mage_AdminNotification_Model_System_Message_Media_Synchronization_Error</media_synchronization_error>
                <media_synchronization_success>Mage_AdminNotification_Model_System_Message_Media_Synchronization_Success</media_synchronization_success>
            </value>
        </param>
    </type>
</config>
