<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <preference for="Magento\Cron\Model\ConfigInterface" type="Magento\Cron\Model\Config" />
    <type name="Magento\Cron\Model\Config\Reader\Db">
        <param name="converter">
            <instance type="Magento\Cron\Model\Config\Converter\Db" />
        </param>
    </type>
    <type name="Magento\Cron\Model\Config\Reader\Xml">
        <param name="converter">
            <instance type="Magento\Cron\Model\Config\Converter\Xml" />
        </param>
        <param name="schemaLocator">
            <instance type="Magento\Cron\Model\Config\SchemaLocator" />
        </param>
    </type>
</config>
