<button data-bind="click: toggle">Filter</button>
<div data-part="filter-form" data-bind="visible: isVisible">
    <div class="title">
        <h1 class="filter-title"><span>Advanced filter</span></h1>
        <span class="action close" data-bind="click: close">Close</span>
    </div>
    <div class="fields">
        <fieldset class="fieldset user-defined" data-bind="foreach: { data: filters, as: 'item' }">
            <!-- ko template: $parent.getTemplateFor(item) --><!-- /ko -->
        </fieldset>
    </div>
    <div class="actions">
        <button class="scalable"><span>Reset</span></button>
        <button class="scalable"><span>Apply</span></button>
    </div>
</div>