<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_PageCache
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <frontend>
        <cache>
            <allowed_requests>
                <cms />
                <catalog>
                    <category>
                        <view />
                    </category>
                </catalog>
                <catalog>
                    <product>
                        <view />
                    </product>
                </catalog>
            </allowed_requests>
        </cache>
    </frontend>
    <default>
        <system>
            <external_page_cache>
                <enabled>0</enabled>
                <control>zend_page_cache</control>
                <cookie_lifetime>3600</cookie_lifetime>
            </external_page_cache>
        </system>
    </default>
</config>
