<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <cache>
            <request_processors>
                <saas_replication>
                    <sortOrder>40</sortOrder>
                    <class>Saas_PageCache_Model_RequestProcessor_Replication</class>
                </saas_replication>
            </request_processors>
        </cache>
        <configurators>
            <saas_search>Saas_Search_Model_ObjectManager_Configurator</saas_search>
            <saas>Saas_Saas_Model_ObjectManager_Configurator</saas>
        </configurators>
    </global>
</config>
