<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Mage
 * @package     Mage_Backend
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <modules>
        <Mage_Backend>
            <version>2.0.0.0</version>
            <active>true</active>
            <depends>
                <Mage_Directory />
            </depends>
        </Mage_Backend>
    </modules>
    <global>
        <areas>
            <adminhtml>
                <base_controller>Mage_Backend_Controller_ActionAbstract</base_controller>
                <routers>
                    <admin>
                        <class>Mage_Backend_Controller_Router_Default</class>
                    </admin>
                </routers>
                <frontName>backend</frontName>
                <auth />
            </adminhtml>
        </areas>
        <cache>
            <types>
                <config translate="description" module="Mage_Backend">
                    <description>System(config.xml, local.xml) and modules configuration files(config.xml, menu.xml).</description>
                </config>
            </types>
        </cache>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <module>Mage_Backend</module>
                    <frontName>admin</frontName>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <translate_initialization_before>
                <observers>
                    <initialize_translation>
                        <class>Mage_Backend_Model_Observer</class>
                        <method>initializeTranslation</method>
                    </initialize_translation>
                </observers>
            </translate_initialization_before>
        </events>
    </adminhtml>
</config>