<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\Core\Model\Session">
        <param name="sessionName">
            <value>frontend</value>
        </param>
    </type>
    <type name="Magento\Core\Model\Layout">
        <param name="area">
            <value>frontend</value>
        </param>
    </type>
</config>
