<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<scheme xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../scheme.xsd">
    <content>
        <item name="Magento_Core" type="article" module="Magento_Doc">
            <label>Magento\Core</label>
        </item>
        <item name="Magento_Backend" type="article" module="Magento_Doc">
            <label>Magento\Backend</label>
        </item>
    </content>
</scheme>