<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Mage
 * @package     Mage_Webapi
 * @copyright  {copyright}
 * @license    {license_link}
 */
-->
<config>
    <acl>
        <resources>
            <resource id="Mage_Customer" title="Mage_Customer">
                    <resource id="Mage_Customer::customer" title="Manage Customers">
                        <resource id="Mage_Customer::customer_create" title="Create Customer" />
                        <resource id="Mage_Customer::customer_update" title="Edit customer" />
                        <resource id="Mage_Customer::customer_multiGet" title="Get customer list" />
                        <resource id="Mage_Customer::customer_get" title="Get customer" />
                        <resource id="Mage_Customer::customer_delete" title="Delete customer" />
                    </resource>
            </resource>
        </resources>
    </acl>
</config>
