<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_Sendfriend
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <sendfriend_setup>
                <setup>
                    <module>Magento_Sendfriend</module>
                    <class>Magento_Sendfriend_Model_Resource_Setup</class>
                </setup>
            </sendfriend_setup>
        </resources>
        <template>
            <email>
                <sendfriend_email_template translate="label" module="Magento_Sendfriend">
                    <label>Send Product Link to Friend</label>
                    <file>email/product_share.html</file>
                    <type>html</type>
                </sendfriend_email_template>
            </email>
        </template>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Magento_Sendfriend>
                    <files>
                        <default>Magento_Sendfriend.csv</default>
                    </files>
                </Magento_Sendfriend>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Magento_Sendfriend>
                    <files>
                        <default>Magento_Sendfriend.csv</default>
                    </files>
                </Magento_Sendfriend>
            </modules>
        </translate>
    </frontend>
    <default>
        <sendfriend>
            <email>
                <enabled>1</enabled>
                <template>sendfriend_email_template</template>
                <allow_guest>0</allow_guest>
                <max_recipients>5</max_recipients>
                <max_per_hour>5</max_per_hour>
                <check_by>0</check_by>
            </email>
        </sendfriend>
    </default>
</config>
