<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Mage
 * @package     Mage_Reports
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <acl>
        <resources>
            <resource id="Old_Mage_Adminhtml::admin">
                <resource id="Old_Mage_Reports::report" module="Mage_Reports" title="Reports" sortOrder="80">
                    <resource id="Old_Mage_Reports::salesroot" title="Sales">
                        <resource id="Old_Mage_Reports::salesroot_sales" title="Sales Report" />
                        <resource id="Old_Mage_Reports::tax" title="Tax" />
                        <resource id="Old_Mage_Reports::shipping" title="Shipping" />
                        <resource id="Old_Mage_Reports::invoiced" title="Total invoiced" />
                        <resource id="Old_Mage_Reports::refunded" title="Total refunded" />
                        <resource id="Old_Mage_Reports::coupons" title="Coupons" />
                    </resource>
                    <resource id="Old_Mage_Reports::shopcart" title="Shopping Cart">
                        <resource id="Old_Mage_Reports::product" title="Products in carts" />
                        <resource id="Old_Mage_Reports::abandoned" title="Abandoned carts" />
                    </resource>
                    <resource id="Old_Mage_Reports::report_products" title="Products">
                        <resource id="Old_Mage_Reports::bestsellers" title="Bestsellers" />
                        <resource id="Old_Mage_Reports::sold" title="Products Ordered" />
                        <resource id="Old_Mage_Reports::viewed" title="Most Viewed" />
                        <resource id="Old_Mage_Reports::lowstock" title="Low stock" />
                        <resource id="Old_Mage_Reports::downloads" title="Downloads" />
                    </resource>
                    <resource id="Old_Mage_Reports::customers" title="Customers">
                        <resource id="Old_Mage_Reports::accounts" title="New Accounts" />
                        <resource id="Old_Mage_Reports::totals" title="Customers by orders total" />
                        <resource id="Old_Mage_Reports::customers_orders" title="Customers by number of orders" />
                    </resource>
                    <resource id="Old_Mage_Reports::review" module="Mage_Catalog" title="Reviews">
                        <resource id="Old_Mage_Reports::review_customer" title="Customers Reviews" />
                        <resource id="Old_Mage_Reports::review_product" title="Products Reviews" />
                    </resource>
                    <resource id="Old_Mage_Reports::report_search" title="Search Terms" />
                    <resource id="Old_Mage_Reports::statistics" title="Statistics" />
                </resource>
                <resource id="Old_Mage_Adminhtml::system">
                    <resource id="Old_Mage_Adminhtml::config">
                        <resource id="Old_Mage_Reports::reports" module="Mage_Reports" title="Reports" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
