<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Mage_Theme_Model_Config">
        <param name="configCache">
            <instance type="Mage_Core_Model_Cache_Type_Config" />
        </param>
        <param name="layoutCache">
            <instance type="Mage_Core_Model_Cache_Type_Layout" />
        </param>
    </type>
</config>
