<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\Rma\Helper\Data">
        <param name="app">
            <instance type="Magento\Core\Model\AppProxy" />
        </param>
        <param name="storeConfig">
            <instance type="Magento\Core\Model\Store\ConfigProxy" />
        </param>
    </type>
</config>
