<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento_Rma_Helper_Data">
        <param name="app">
            <instance type="Magento_Core_Model_AppProxy" />
        </param>
        <param name="storeConfig">
            <instance type="Magento_Core_Model_Store_ConfigProxy" />
        </param>
    </type>
    <type name="Magento_Core_Model_Db_Updater">
        <param name="resourceList">
            <value>
                <rma_setup>Magento_Rma_Model_Resource_Setup</rma_setup>
            </value>
        </param>
    </type>
</config>
