<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\Rma\Helper\Data">
        <param name="customerSession">
            <instance type="Magento\Customer\Model\SessionProxy" />
        </param>
        <param name="authSession">
            <instance type="Magento\Backend\Model\Auth\SessionProxy" />
        </param>
    </type>
    <type name="Magento\Rma\Model\Rma\Status\History">
        <param name="translate">
            <instance type="Magento\Core\Model\TranslateProxy" />
        </param>
    </type>
    <type name="Magento\Core\Model\Db\Updater">
        <param name="resourceList">
            <value>
                <rma_setup>Magento\Rma\Model\Resource\Setup</rma_setup>
            </value>
        </param>
    </type>
</config>
