<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\Core\Model\RouterList">
        <param name="routerList">
            <value>
                <cms>
                    <instance>Magento\Cms\Controller\Router</instance>
                    <disable type="bool">false</disable>
                    <sortOrder>60</sortOrder>
                </cms>
            </value>
        </param>
    </type>
    <type name="Magento\Cms\Helper\Page">
        <param name="eventManager">
            <instance type="Magento\Core\Model\Event\Manager\Proxy" />
        </param>
    </type>
    <type name="Magento\Cms\Helper\Wysiwyg\Images">
        <param name="eventManager">
            <instance type="Magento\Core\Model\Event\Manager\Proxy" />
        </param>
    </type>
    <type name="Magento\Cms\Model\Page">
        <param name="eventManager">
            <instance type="Magento\Core\Model\Event\Manager\Proxy" />
        </param>
    </type>
    <type name="Magento\Cms\Model\Wysiwyg\Config">
        <param name="eventManager">
            <instance type="Magento\Core\Model\Event\Manager\Proxy" />
        </param>
    </type>
    <type name="Magento\Core\Helper\Data">
        <param name="eventManager">
            <instance type="Magento\Core\Model\Event\Manager\Proxy" />
        </param>
        <param name="config">
            <instance type="Magento\Core\Model\ConfigProxy" />
        </param>
    </type>
    <type name="Magento\Core\Model\Layout">
        <param name="eventManager">
            <instance type="Magento\Core\Model\Event\Manager\Proxy" />
        </param>
    </type>
    <type name="Magento\Core\Model\Locale">
        <param name="eventManager">
            <instance type="Magento\Core\Model\Event\Manager\Proxy" />
        </param>
    </type>
    <type name="Magento\Core\Model\Resource\Db\Collection\AbstractCollection">
        <param name="eventManager">
            <instance type="Magento\Core\Model\Event\Manager\Proxy" />
        </param>
    </type>
    <type name="Magento\Core\Model\Resource\Setup">
        <param name="eventManager">
            <instance type="Magento\Core\Model\Event\Manager\Proxy" />
        </param>
    </type>
    <type name="Magento\Core\Model\Session\AbstractSession">
        <param name="eventManager">
            <instance type="Magento\Core\Model\Event\Manager\Proxy" />
        </param>
    </type>
</config>
