<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\Cms\Model\Wysiwyg\Config">
        <param name="windowSize">
            <array>
                <item key="height"><value type="int">600</value></item>
                <item key="width"><value type="int">1000</value></item>
            </array>
        </param>
    </type>
    <type name="Magento\Cms\Model\Wysiwyg\Images\Storage">
        <param name="resizeParameters">
            <array>
                <item key="height"><value type="int">75</value></item>
                <item key="width"><value type="int">100</value></item>
            </array>
        </param>
        <param name="extensions">
            <array>
                <item key="allowed">
                    <array>
                        <item key="jpg"><value type="int">1</value></item>
                        <item key="jpeg"><value type="int">1</value></item>
                        <item key="png"><value type="int">1</value></item>
                        <item key="gif"><value type="int">1</value></item>
                    </array>
                </item>
                <item key="image_allowed">
                    <array>
                        <item key="jpg"><value type="int">1</value></item>
                        <item key="jpeg"><value type="int">1</value></item>
                        <item key="png"><value type="int">1</value></item>
                        <item key="gif"><value type="int">1</value></item>
                    </array>
                </item>
                <item key="media_allowed">
                    <array>
                        <item key="flv"><value type="int">1</value></item>
                        <item key="swf"><value type="int">1</value></item>
                        <item key="avi"><value type="int">1</value></item>
                        <item key="mov"><value type="int">1</value></item>
                        <item key="rm"><value type="int">1</value></item>
                        <item key="wmv"><value type="int">1</value></item>
                    </array>
                </item>
            </array>
        </param>
        <param name="dirs">
            <array>
                <item key="exclude"><value/></item>
                <item key="include"><value/></item>
            </array>
        </param>
    </type>
    <type name="Magento\Module\Updater\SetupFactory">
        <param name="resourceTypes">
            <array>
                <item key="cms_setup"><value>Magento\Cms\Model\Resource\Setup</value></item>
            </array>
        </param>
    </type>
</config>
