<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <event name="controller_front_init_routers">
        <observer name="cms" instance="Magento\Cms\Controller\Router" method="initControllerRouters" />
    </event>
</config>
