<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Mage_AdminNotification_Model_System_MessageList">
        <param name="messages">
            <value>
                <export_finished>Saas_ImportExport_Model_Export_System_Message_Finished</export_finished>
                <import_finished>Saas_ImportExport_Model_Import_System_Message_Finished</import_finished>
            </value>
        </param>
    </type>
</config>
