<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <event name="order_cancel_after">
        <observer name="magento_giftcardaccount" instance="Magento\GiftCardAccount\Model\Observer" method="returnFundsToStoreCredit" />
    </event>
    <event name="sales_prepare_amount_expression">
        <observer name="magento_giftcardaccount" instance="Magento\GiftCardAccount\Model\Observer" method="extendSalesAmountExpression" />
    </event>
</config>
