<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\Persistent\Helper\Data">
        <param name="persistentSession">
            <instance type="Magento\Persistent\Helper\Session\Proxy" />
        </param>
        <param name="config">
            <instance type="Magento\Core\Model\Config\Proxy" />
        </param>
    </type>
</config>
