<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <event name="enterprise_persistent_options_shopping_cart_save_after">
        <observer name="enterprise_persistent" instance="Enterprise_Persistent_Model_Observer" method="updateOptionCustomerSegmentation" />
    </event>
</config>