<?xml version="1.0"?>
<config>
   <modules>
      <Mage_Page>
         <version>0.1.1</version>

         <depends>
            <Mage_Auth />
         </depends>

         <front>
            <controller>
               <active>true</active>

               <frontName>page</frontName>
            </controller>
         </front>

         <admin>
            <controller>
               <active>true</active>
            </controller>
         </admin>
      </Mage_Page>
   </modules>

   <global>
      <resources>
         <page_setup>
            <connection use="core_setup" />
         </page_setup>

         <page_write>
            <connection use="core_write" />
         </page_write>

         <page_read>
            <connection use="core_read" />
         </page_read>
      </resources>
   </global>

   <front>
      <layouts>
         <default>
            <updates>
               <page>
                  <module>Mage_Page</module>

                  <file>initLayout.xml</file>
               </page>
            </updates>
         </default>
      </layouts>
   </front>

   <admin>
      <acl>
         <resources>
            <layouts>
               <manage />
            </layouts>
         </resources>
      </acl>
   </admin>
</config>

