<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_Review
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <review_setup>
                <setup>
                    <module>Magento_Review</module>
                </setup>
            </review_setup>
        </resources>
    </global>
    <default>
        <catalog>
            <review>
                <allow_guest>1</allow_guest>
            </review>
        </catalog>
    </default>
</config>
