<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <module name="Magento_Review" version="1.6.0.0" active="true">
        <depends>
            <module name="Magento_Catalog" />
            <module name="Magento_Core" />
        </depends>
    </module>
</config>
