.launcher-storelauncher-index-index,
.launcher-promotestore-index-index {
    overflow-y: scroll;
}

.launcher-storelauncher-index-index .col-1-layout,
.launcher-promotestore-index-index .col-1-layout {
    position: static;
    padding: 0;
    border: none;
    border-radius: 0;
    background: transparent;
}

.launcher-storelauncher-index-index .page-content > .page-title,
.launcher-promotestore-index-index .page-content > .page-title {
    display: none;
}

.launcher-storelauncher-index-index .page-content {
    max-width: 100%;
}

.store-launcher {
    min-width: 960px;
    max-width: 1300px;
    padding: 0 20px;
    margin: 0 auto;
}

.store-launcher .page-title .title {
    display: inline-block;
}

.store-launcher .page-title .actions {
    float: right;
    margin-top: 20px;
}

.store-launcher-content {
    margin-bottom: 50px;
}

.tile-store-settings {
    position: relative;
    overflow: hidden;
    width: 31.914893614%;
    height: 300px;
    margin-bottom: 40px;
    margin-left: 2.127659574%;
    float: left;
    border: 1px solid #605E59;
    background: #31302b;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 1px 0 1px #FBFAF7;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -webkit-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
}

.tile-store-settings:nth-child(3n+1) {
    margin-left: 0;
    clear: left;
}

/* For browsers without css3 selectors support */
.tile-store-settings:first-child + .tile-store-settings + .tile-store-settings + .tile-store-settings,
.tile-store-settings:first-child {
    margin-left: 0;
    clear: left;
}

.tile-teaser,
.tile-done {
    color: #31302b;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.tile-done,
.tile-complete .tile-teaser {
    display: none;
}

.tile-complete .tile-done {
    display: block;
}

.tile-done {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.store-launcher-alternative .tile-store-settings .tile-teaser,
.tile-store-settings:hover .tile-teaser,
.tile-store-settings:focus .tile-teaser,
.tile-store-settings.focus .tile-teaser,
.tile-store-settings.tile-complete:hover .tile-done,
.tile-store-settings.tile-complete:focus .tile-done,
.tile-store-settings.tile-complete.focus .tile-done {
    display: block;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}


.tile-store-settings h2 {
    position: relative;
    font-family: 'CallunaSans';
    font-size: 24px;
    font-weight: 400;
    color: #F0EBDF;
    z-index: 2;
    margin: 0;
}

.tile-store-settings h2:before {
    margin: 50px 0 20px;
    text-align: center;
    font-family: 'admin-icons';
    font-size: 90px;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    color: #F0EBDF;
    display: block;
    content: "\e005";
}

.tile-store-settings.tile-complete h2:before {
    color: #656057;
}

.tile-tax h2:before {
    content: "\e001";
}

.tile-payments h2:before {
    content: "\e003";
}

.tile-shipping h2:before {
    content: "\e002";
}

.tile-store-settings:hover h2:before,
.store-launcher-alternative .tile-store-settings h2:before,
.tile-store-settings:focus h2:before,
.tile-store-settings.focus h2:before {
    display: none;
}

.tile-store-settings .tile-teaser p {
    color: #676056;
    font-size: 14px;
    line-height: 1.555;
}

.tile-store-settings .button {
    margin-top: 2px;
}

.tile-store-settings address {
    font-style: normal;
}

.tile-store-settings address p {
    margin: 0;
}

.alternative-action {
    height: 26px;
    width: 26px;
    line-height: 24px;
    top: -13px;
    left: 36px;
    text-align: center;
    background: #a8a39a;
    color: #fff;
    font-size: 14px;
    border-radius: 15px;
}

/* Hover Step */
.store-launcher-alternative .tile-store-settings,
.tile-store-settings:hover,
.tile-store-settings:focus,
.tile-store-settings.focus {
    background: #fff;
    border-color: #999691;
    text-align: left;
    padding: 11px 40px 0;
}

.store-launcher-alternative .tile-store-settings:before,
.tile-store-settings:hover:before {
    display: none;
}

.tile-store-settings:hover h2,
.store-launcher-alternative .tile-store-settings h2,
.tile-store-settings:focus h2,
.tile-store-settings.focus h2 {
    color: #f4863e;
    margin:18px 0;
}

/* Completed */
.tile-complete {
    background: #F5F2ED;
    border-color: #999691;
}

.tile-complete h2 {
    color: #676056;
    text-shadow: 0 1px 0 #fff;
}

.tile-store-settings.tile-complete .tile-teaser {
    display: none;
}

.sl-mailto {
    color: #676056;
    text-decoration: none;
}

.title-checklist:before {
    vertical-align: bottom;
    margin-right: 5px;
    font-family: 'MUI-Icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    content: "\e013";
}

.checklist {
    padding: 0;
    margin: 15px 0 12px 0;
}

.checklist > li {
    margin: 0 0 5px 0;
    padding: 0 0 0 30px;
    list-style: none;
    position: relative;
    font-size: 14px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #676056;
}

.tile-complete h2:after {
    font-family: 'MUI-Icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    content: "\e067";
    color: #fff;
    position: absolute;
    margin-right: 8px;
    text-align: center;
    font-size: 28px;
    height: 38px;
    width: 38px;
    line-height: 38px;
    top: 75px;
    left: 54%;
    background: #F4863E;
    border-radius: 20px;
    z-index: 1;
}

.store-launcher-alternative .tile-complete:after,
.tile-complete:hover h2:after {
    display: none;
}

.tile-complete.tile-payment:after {
    left: 156px;
}

.drawer-content .fieldset {
    margin: 0 0 30px 0;
    padding: 0;
    border-color: transparent;
}

.drawer-content .field {
    padding-right: 0;
}

.drawer-content input[type=text],
.drawer-content input[type=password],
.drawer-content textarea,
.drawer-content select {
    width: 100%;
}

.drawer-content .field .label {
    font-weight: normal;
    color: #676056;
    font-size: 14px;
}

.drawer-content .field .label .required {
    display: none;
}

.drawer-content .legend {
    font-family: 'CallunaSans';
    font-weight: 400;
    font-size: 18px;
    color: #666;
    margin: 0 0 20px 17.02126%;
}

.drawer-content .advanced-content {
    display: none;
}

.drawer-content .details-summary {
    margin-left: 20%;
}

.drawer-content .fieldset-business_address {
    margin-top: 50px;
}

.drawer-content .fieldset-general_contact {
    margin-top: 20px;
}

.drawer-content .details-summary,
.drawer-content .details-summary:hover,
.drawer-content .details-summary:active {
    color: #575149;
    font-size: 14px;
    padding: 4px 0;
    font-family: 'CallunaSans', sans-serif;
    font-weight: 400;
}


.fade {
    display: none;
}

.btn-activate-store:before {
    margin-right: 2px;
    font-family: 'MUI-Icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    content: "\e067";
}

.action-close-drawer,
.action-close-drawer:hover,
.action-close-drawer:active {
    cursor: pointer;
    background: none;
    border: none;
    text-shadow: none;
    box-shadow: none;
}

.action-close-drawer:after {
    vertical-align: baseline;
    color: #fff;
    font-family: 'MUI-Icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    content: "\e07d";
}

/*Drawer Styling*/
.drawer {
    position: absolute;
    width: 100%;
    background: #fff;
    left:0;
    top: 1000px;
    z-index: 902;
    display: none;
    color:#676056;
}

.drawer-content {
    min-width: 960px;
    max-width: 1300px;
    margin: 0 auto 80px auto;
    padding: 100px 20px 0;
}

.drawer-header {
    position: absolute;
    height: 50px;
    padding: 0 20px;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    color: #fff;
    background: #31302B;
}

.fixed .drawer-header {
    position: fixed;
    z-index: 101;
    box-shadow: 0 2px 10px rgba(1,1,1,0.5);
}

.drawer-header-inner {
    min-width: 960px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 12px 0;
}

.drawer-header .actions {
    float: right;
}

.drawer-header h1 {
    font-size: 24px;
    margin: 0;
    color: #fff;
    font-family: 'CallunaSans', sans-serif;
    font-weight: 400;
    float: left;
    line-height: 1;
}

.drawer h2 {
    color: #F4863E;
    font-family: 'CallunaSans';
    font-weight: 400;
    font-size: 24px;
}

.drawer-footer {
    position: fixed;
    height: 48px;
    bottom: -51px;
    left: 0;
    width: 100%;
    background: #31302b;
    padding-top: 1px;
    border-top: 1px solid #676056;
    z-index: 2;
    box-shadow: -1px 0 1px 1px #31302b;
    display: none;
}

.drawer-footer-inner {
    margin: 0 auto;
    min-width: 960px;
    max-width: 1300px;
    padding: 9px;
    text-align: right;
    color: #fff;
    font-size: 14px;
}

.drawer .config-form {
    display: none;
}

.vat-number .addon .addafter {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.drawer .label span span {
    font-weight: normal;
}

.vat-number .button {
    border-radius: 0 4px 4px 0;
}

.drawer .config-form .fieldset,
.add-new-product-form .fieldset {
    padding: 0;
    border: 0;
}

.drawer .config-form .fieldset {
    margin: 0;
}

.drawer .config-form .fieldset:first-child,
.add-new-product-form .fieldset:first-child {
    margin-top: 0;
}


.drawer .form-expanded {
    margin-bottom: 20px;
}

/* Alternative drawer */

.drawer .legend {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 20px 0;
    padding: 0;
}

.drawer .fieldset br {
    display: block;
    clear: left;
    height: 0;
    overflow: hidden;
}

.drawer .accordion-group {
    border: none;
}

.drawer .accordion-heading {
    background: none;
}

.drawer .accordion-heading .accordion-toggle {
    padding: 8px 0;
}

.drawer .accordion-inner {
    padding: 9px 0;
    border:none;
}

/* Set tax rules drawer */

.tax-rule-config {
    padding-bottom: 100px;
}

.tax-rule-info {
    float: left;
    width: 72%;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
}

.tax-rule-info .fileinput-button {
    float: none;
    display: inline-block;
}

.actions-group {
    float: left;
}

.actions-group .action-add {
    margin-left: 0;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid #ACA497;
}

.actions-group .action-import {
    border-radius: 0 4px 4px 0;
}


.tax-rule-info .details {
    margin-top: 30px;
}

.tax-rule-info .details-summary {
    margin: 15px 0 0 26%;
}

.tax-rule-info .details-content {
    margin-top: 20px;
}

.tax-rule-info .entry-edit-head {
    padding: 0 15px;
    border-bottom: 1px solid #f2f2f2;
}

.tax-rule-import .title {
    font-size: 18px;
    margin: 21px 0 10px 0;
}

.tax-rule-info .fieldset {
    padding: 20px 15px 40px 15px;
}

.tax-rule-info .field .label {
    margin: 5px 0 0 0;
    width: 26%;
    padding: 0 20px 0 0;
}

.tax-rule-info .details-content .field {
    margin-bottom: 30px;
}

.tax-rule-info .details-content .input-text {
    width: 45%;
}

.tax-rule-info .field .control {
    width: 47%;
    margin: 0;
}

.field-tax_postcode .note {
    font-size: 11px;
    color: #a19c90;
}

.tax-rule-import {
    float: right;
    width: 25%;
    margin: 1px 0 0 0;
}

.import-example-file:link,
.import-example-file:visited {
    display: inline-block;
    font-size: 11px;
    color: #a29c94;
    margin: 8px 0 0 20px;
}

.drawer-switcher {
    font-family: 'CallunaSans';
    font-weight: 500;
    color: #979087;
    font-size: 12px;
    text-transform: uppercase;
    float: right;
    margin: 5px 20px 0 0;
}

.drawer-switcher label {
    position: relative;
}

.drawer-switcher strong {
    position: absolute;
    right: 100%;
    text-shadow: none;

}

.drawer-switcher em {
    font-style: normal;
    line-height: 17px;
    white-space: nowrap;
}

/* Tax Rate Popup */

.tax-rate-popup {
    box-shadow: 0 2px 16px rgba(49, 48, 43, 0.9);
}

.tax-rate-popup .fieldset {
    border: none;
    padding: 20px 0 0 0;
    margin: 0;
}

.tax-rate-popup.ui-dialog .ui-dialog-titlebar {
    background: #f3efea;
    height: 43px;
    padding: 15px 0 0 30px;
}

.tax-rate-popup.ui-dialog .ui-dialog-title {
    font-family: 'CallunaSans',Arial,sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #676056;
}

.tax-rate-popup.ui-dialog .ui-dialog-titlebar-close {
    background: none;
    text-decoration: none;
    right: 20px;
    top: 20px;
}

.tax-rate-popup .ui-dialog-titlebar-close:after {
    vertical-align: baseline;
    color: #676056;
    font-family: 'MUI-Icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    content: "\e07d";
}

.tax-rate-popup.ui-dialog .ui-dialog-content {
    background: #fff;
}

.tax-rate-popup .field {
    margin-bottom: 20px;
}

.tax-rate-popup .field .label {
    margin: 5px 0 0 0;
    width: 26%;
    padding: 0 20px 0 0;
    float: left;
    text-align: right;
}

.tax-rate-popup .field .control {
    width: 47%;
    margin: 0;
    float: left;
}

.tax-rate-popup .field .control select,
.tax-rate-popup .field .control .input-text {
    width: 100%;
}

.tax-rate-popup .field-rate .control .input-text {
    width: 50%;
}


.tax-rate-popup.ui-dialog .ui-dialog-buttonpane {
    background: #fff;
}

.tax-rate-popup.ui-dialog .ui-dialog-buttonset {
    text-align: center;
    padding: 25px 0;
}

.tax-rate-popup.ui-dialog .ui-dialog-buttonset button {
    margin: 0 10px;
}

.tax-rate-popup .legend,
.tax-rate-popup .legend + br {
    display: none;
}

.tax-rules-form h2 {
    color: #f4863e;
    font-family: 'CallunaSans';
    font-weight: 400;
    font-size: 24px;
}


.form-store-info .label {
    float: left;
    display: block;
    text-align: right;
    margin: 5px 15px 0 0;
    width: 14%;
    font-size: 13px;
    font-weight: normal;
}

.form-store-info .control {
    float: left;
    width: 75%;
    margin-right: 5px;
}

/* Store info form */

.store-info-form .label {
    width: 30%;
}

.store-info-form .legend {
    border-bottom: none;
    margin-left: 30%;
    width: auto;
}

.store-info-form .details .legend {
    margin-bottom: 10px;
}

.store-info-form .legend span {
    padding-left: 0;
    font-size: 20px;
}

.store-info-form .details .legend span {
    font-size: 16px;
}

.store-info-form .details-summary {
    margin-left: 30%;
}

.store-info-form .details-content {
    margin-top: 30px;
}

.store-info-form .actions-validate-vat {
    margin: 0 0 25px 30%;
}

.store-info-form .choice {
    margin-left: 30%;
}

.fieldset-store-info {
    float: left;
    width: 49%;
}

.fieldset-business-address {
    float: right;
    width: 49%;
}


/* Promote your store */
.store-promotion .action-edit {
    position: absolute;
    top: 0;
    right: -20px;
    text-decoration: none;
}

.store-promotion .action-edit span {
    display: inline-block;
    text-indent: -9999px;
}

.store-promotion .action-edit:before {
    text-indent: 0;
    font-family: 'MUI-Icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    content: "\e05b";
    margin-right: 3px;
}

.store-status {
    float: right;
    font-size: 14px;
    margin-top: 23px;
    color: #676056;
    font-weight: normal
}

.store-status-live {
    color: green;
}

.store-status-live:before {
    font-family: 'MUI-Icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    content: "\e034";
    margin-right: 3px;
    font-size: 16px;
}

.action-store-promotion-checklist,
.action-store-promotion-checklist:hover {
    float: right;
    margin: 28px 20px 0 0;
    border: none;
    background: none;
    box-shadow: none;
    text-shadow: none;
    padding: 1px 0 0 0;
    font-family: "CallunaSans";
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: #19A3D1;
}

.action-store-promotion-checklist:before {
    font-family: 'MUI-Icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    content: "\e013";
    margin-right: 3px;
    font-size: 16px;
    line-height: 12px;
    display: inline-block;
}

.action-store-promotion-checklist:hover {
    color: #56c2e6;
}

.store-promotion-checklist h3 {
    color: #F4863E;
    font-family: 'CallunaSans';
    font-weight: 400;
    margin-bottom: 17px;
}

.store-promotion-checklist .checklist {
    margin-bottom: 50px;
}



/* Carousel styles START */

.carousel-items > .active {
    left: 0;
}

.carousel-items > .next,
.carousel-items > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.carousel-items > .next {
    left: 102.12766%;
}

.carousel-items > .prev {
    left: -102.12766%;
}

.carousel-items > .next.left,
.carousel-items > .prev.right {
    left: 0;
}

.carousel-items > .active.left {
    left: -102.12766%;
}

.carousel-items > .active.right {
    left: 102.12766%;
}

.action-switch-to-analytics:link,
.action-switch-to-analytics:visited,
.action-switch-to-hub:link,
.action-switch-to-hub:visited {
    font-family: 'CallunaSans';
    font-weight: 400;
    font-size: 16px;
    color: #19a3d1;
    position: relative;
    padding: 0 0 0 20px;
    margin: 26px 0 0 20px;
    background: none;
}

.action-switch-to-hub:before,
.action-switch-to-analytics:before {
    position: absolute;
    width: 17px;
    height: 12px;
    background: url(images/icons-dashboard-switcher.png) 0 0 no-repeat;
    left: 0;
    top: 4px;
    content: '';
}

.action-switch-to-hub {
    display: none;
}

.action-switch-to-analytics:before {
    background-position: 0 -13px;
}

.field-vat_number+label {
    display: none;
}

.drawer-content .choice .label {
    float: none;
    display: inline;
}

/* Tracked links */

.checklist {
    padding: 0;
    margin: 15px 0 12px 0;
}

.checklist > li {
    margin: 0 0 5px 0;
    padding: 0 0 0 30px;
    list-style: none;
    position: relative;
    font-size: 14px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #676056;
    display: block;
    opacity: 1;
}

.checklist > li:before {
    font-family: 'MUI-Icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    content: "V";
    color: #fff;
    position: absolute;
    top: 0;
    left: 4px;
    height: 16px;
    width: 16px;
    font-size: 12px;
    line-height: 16px;
    margin-right: 8px;
    text-align: center;
    border-radius: 10px;
}

.checklist > .completed:before {
    background: #f4863e;
}

.checklist > .uncompleted:before {
    background: #ded9d1;
}

/* Payment method drawer */

.payments-tiles {
    padding-bottom: 16px;
    position: relative;
}

.payment-setup-form .title {
    color: #676056;
    margin-left: 12px;
}

.payment-method {
    padding: 20px 2.5% 80px 2.5%;
    display: block;
    float: left;
    position: relative;
    min-height: 280px;
    width: 20%;
    font-size: 14px;
    border-left: 1px solid #cac2b5;
    border-bottom: 2px solid #f68220;
}

.payment-method-express-checkout {
    border-left: none;
}

.payment-method.active {
    background: #f7f2ec;
    border-left-color: #f7f2ec;
}

.payment-method.active + .payment-method {
    border-left-color: #f7f2ec;
}

.payment-method-express.active + .payments-tab-content .payment-method:first-child {
    border-left-color: #f7f2ec;
}

.payment-method.active:before {
    position: absolute;
    bottom: -12px;
    left: 50%;
    margin-left: -26px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 26px 0 26px;
    border-color: #f68020 transparent transparent transparent;
    content: '';
}

.payment-method.configured:before {
    display: none;
}

.payment-method.configured.active:before {
    display: block;
}

.payment-method-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

.payment-method-footer .actions {
    height: 50px;
}

.payment-status-success {
    font-family: 'CallunaSans';
    font-weight: 400;
    font-size: 16px;
}

.payment-status-success:before {
    font-family: 'MUI-Icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    content: "\e067";
    color: #fff;
    margin-right: 3px;
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    border-radius: 20px;
    background: #7bca4f;
}

.payment-status .action-edit {
    border: none;
    border-radius: 0;
    background: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    text-shadow: none;
    line-height: 25px;
    text-decoration: underline;
}

.payment-status {
    height: 37px;
    padding-top: 13px;
}

.payment-method .note,
.payment-method .payment-status,
.payment-method.active .actions,
.payment-method.configured.active .note,
.payment-method.configured .actions {
    display: none;
}

.payment-method.active .note {
    display: block;
    background: #f68220;
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-weight: normal;
}

.payment-method.configured .payment-status {
    display: block;
}

.payment-method.configured.active .payment-status {
    background: #f68220;
}

.payment-method.configured.active .payment-status-success {
    color: #fff;
}

.payment-method.configured.active .action-edit {
    display: none;
}

.payment-method .payment-title {
    color: #31302b;
    font-family: 'CallunaSans';
    font-weight: 400;
    margin: 0 0 2px 0;
    font-size: 22px;
}

.payment-method .payment-tagline {
    color: #31302b;
    margin: 0;
    font-size: 14px;
}

.payment-method .payment-features {
    padding-left: 20px;
    margin: 20px 0 0 0;
}

.payment-method .payment-features li {
    font-size: 13px;
    margin-bottom: 10px;
}

.payments-config-data {
    margin: 15px 0 0 8%;
}

.payments-config-data .payment-config {
    display: none;
}

.payments-config-data .payment-config:first-child {
    display: block;
}

.payment-config .legend {
    color: #31302b;
    font-weight: 400;
    font-size: 18px;
    border-bottom: none;
}

.payment-config .field {
    width: 25%;
    float: left;
    margin: 0 20px 10px 0;
}

.payment-config .actions {
    clear: left;
}

.price-plan {
    display: inline-block;
    margin: 0 0 5px 0;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.payment-config .field:nth-child(2n) {
    clear: left;
}

/* Fallback fo IE */
.payment-config .field-advanced-user,
.payment-config .field-payflow-pro-partner-user,
.payment-config .field-payflow-link-user {
    clear: left;
}

/* Payments tabs */
.payments-tabs-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #cac3b4;
}

.payments-tabs-nav > li {
    float: left;
    margin-bottom: -1px;
    margin-right: -1px;
}

.payments-tabs-nav > li > a {
    display: block;
    background: #989287;
    padding: 8px 12px;
    line-height: 18px;
    border: 1px solid #cac3b4;
    text-decoration: none;
    color: #fff;
    border-radius: 4px 4px 0 0;
}

.payments-tabs-nav > li > a:hover {
    text-decoration: none;
}

.payments-tabs-nav > .active > a,
.payments-tabs-nav > .active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border-bottom-color: #fff;
}

.payments-tab-content {
    width: 75%;
    float: left;
}

.payments-tab-content > .tab-pane {
    display: none;
}

.payments-tab-content > .active {
    display: block;
}

.payments-tab-content .payment-method {
    width: 28%;
}

.shipping-method-config-form fieldset {
    border: 1px solid #CCCCCC;
    margin: 0;
    padding: 20px;
}

.shipping-method-config-form .legend {
    float: none;
    margin: 0 -10px;
    padding: 0 10px;
    color: #676056;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    height: auto;
    width: auto;
    visibility: visible;
}

.fade {
    display: none;
    position: fixed;
    text-align: center;
    z-index: 1300;
    background-color: rgba(0, 0, 0, 0.65);
    bottom: 0;
    left: 0;
    padding: 15%;
    right: 0;
    top: 0;
}

.fade  .store-launcher-confirm-dialog {
    display: none;
    width: 430px;
    padding: 25px;
    background: #f7f3ea;
    margin: 0 auto;
}

.store-launcher-confirm-dialog .popup-content {
    padding: 0 0 0 140px;
    height: 170px;
    background: #fff;
}

.store-launcher-confirm-dialog h2 {
    padding-top: 30px;
    font-weight: 400;
    font-size: 32px;
    margin: 0;
}

.store-launcher-confirm-dialog p {
    color: #F4863E;
    font-weight: bold;
    font-size: 14px;
    margin: 0 0 20px 0;
}

.store-launcher-confirm-dialog .btn-cancel {
    margin: 1px 20px 0 0;
    padding: 5px 10px;
}
.store-launcher-popup {
    left: 50%;
    margin: -220px 0 0 -275px;
    position: fixed;
    text-align: left;
    top: 50%;
    width: 650px;
}

.store-launcher-popup-title h1 {
    color: #F47B20;
    font-size: 50px;
    font-weight: 200;
    line-height: 1;
    margin: 0 0 24px;
}
.store-launcher-popup-content {
    background: #F47B20;
    border-radius: 4px 4px 4px 4px;
    padding: 0 70px 50px 196px;
}
.store-launcher-popup-ready {
    display: none;
}

.store-launcher-popup-btn, .store-launcher-popup-btn:visited {
    background:#feffff;
    background:-moz-linear-gradient(top, #feffff 0%, #f3efe7 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #feffff), color-stop(100%, #f3efe7));
    background:-webkit-linear-gradient(top, #feffff 0%, #f3efe7 100%);
    background:-o-linear-gradient(top, #feffff 0%, #f3efe7 100%);
    background:-ms-linear-gradient(top, #feffff 0%, #f3efe7 100%);
    background:linear-gradient(to bottom, #feffff 0%, #f3efe7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#feffff', endColorstr = '#f3efe7', GradientType = 0);
    -webkit-transition:150ms linear box-shadow;
    -moz-transition:150ms linear box-shadow;
    -o-transition:150ms linear box-shadow;
    -ms-transition:150ms linear box-shadow;
    -webkit-background-clip:padding-box;
    border: 1px solid rgba(201, 86, 0, 0.8);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(49, 48, 43, 0.2);
    color: #5A5349;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding: 10px 19px 12px;
    text-decoration: none;
    text-shadow: 0 1px 1px #FFFFFF;
    transition: box-shadow 150ms linear 0s;
}

.store-launcher-popup-btn:hover {
    text-decoration:none;
    box-shadow:0 1px 2px 3px rgba(49, 48, 43, .2);
}

.store-launcher-popup-footer {
    background: none repeat scroll 0 0 #B33E04;
    border-radius: 0 0 4px 4px;
    border-top: 2px solid #AB3800;
    font-size: 20px;
    font-weight: 500;
    height: 59px;
    line-height: 59px;
    margin: -4px 0 0;
    text-align: center;
}

.store-launcher-popup-footer a:after {
    color: #742600;
    content: ">";
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    margin-left: 5px;
    vertical-align: middle;
}
.store-launcher-popup-footer a {
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 0 -1px 1px #642100;
}

.store-launcher-popup-content h2 {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    padding: 46px 0 14px;
    text-shadow: 0 -1px 1px #AF4500;
}

.store-launcher-popup-content p {
    color: #F2EBDE;
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 28px;
    padding: 0;
}

/* Clearfix */
.store-launcher-content:before,
.store-launcher-content:after,
.drawer-content:before,
.drawer-content:after,
.drawer-header-inner:before,
.drawer-header-inner:after,
.tax-rules-import-csv:after,
.tax-rules-import-csv:before,
.shipping-from-adress:after,
.shipping-from-adress:before,
.theme-setup:after,
.theme-setup:before,
.theme-selected:after,
.theme-selected:before,
.theme-description-inner:after,
.theme-description-inner:before,
.form-store-info .field:before,
.form-store-info .field:after,
.drawer-content .field:before,
.drawer-content .field:after,
.item:after,
.item:before,
.tax-rule-config:before,
.tax-rule-config:after,
.ui-dialog .field:before,
.ui-dialog .field:after,
.store-info-form:after,
.store-info-form:before,
.payments-tabs-nav:before,
.payments-tabs-nav:after,
.tab-pane:before,
.tab-pane:after,
.payments-tiles:before,
.payments-tiles:after,
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.store-launcher-content:after,
.drawer-content:after,
.drawer-header-inner:after,
.tax-rules-import-csv:after,
.shipping-from-adress:after,
.theme-setup:after,
.theme-selected:after,
.theme-description-inner:after,
.form-store-info .field:after,
.drawer-content .field:after,
.item:after,
.tax-rule-config:after,
.ui-dialog .field:after,
.store-info-form:after,
.payments-tabs-nav:after,
.tab-pane:after,
.payments-tiles:after,
.clearfix:after {
    clear: both;
}

.dialog {
    position: absolute;
    display: block;
}

.dialog table.table_window  {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
	margin: 0px;
	padding:0px;
}

.page-actions {
    display: none;
}