<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <type name="Magento\Pci\Model\Backend\Observer">
        <arguments>
            <argument name="authorization" xsi:type="object">Magento\Authorization</argument>
        </arguments>
    </type>
</config>
