<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/Magento/Event/etc/events.xsd">
    <event name="admin_user_authenticate_after">
        <observer name="magento_pci" instance="Magento\Pci\Model\Backend\Observer" method="adminAuthenticate" />
    </event>
    <event name="controller_action_predispatch">
        <observer name="magento_pci" instance="Magento\Pci\Model\Backend\Observer" method="forceAdminPasswordChange" />
    </event>
    <event name="admin_user_save_before">
        <observer name="magento_pci" instance="Magento\Pci\Model\Backend\Observer" method="checkAdminPasswordChange" />
    </event>
    <event name="admin_user_save_after">
        <observer name="magento_pci" instance="Magento\Pci\Model\Backend\Observer" method="trackAdminNewPassword" />
    </event>
</config>
