<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2014 X.commerce, Inc. (http://www.magentocommerce.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Magento_Pci::system_crypt_key" title="Manage Encryption Key" module="Magento_Pci" sortOrder="30" parent="Magento_Backend::system_other_settings" action="adminhtml/crypt_key" dependsOnModule="Magento_Pci" resource="Magento_Pci::crypt_key"/>
        <add id="Magento_Pci::system_acl_locks" title="Locked Users" module="Magento_Pci" sortOrder="20" parent="Magento_User::system_acl" action="adminhtml/locks" resource="Magento_Pci::locks"/>
    </menu>
</config>
