<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\Customer\Model\Session">
        <param name="sessionName">
            <value>frontend</value>
        </param>
    </type>
    <type name="Magento\Core\Model\Url\SecurityInfo">
        <param name="secureUrlList">
            <value>
                <customer>/customer/</customer>
            </value>
        </param>
    </type>
    <virtualType name="customerAccountInitSession" type="Magento\Core\App\Action\Plugin\Session">
        <param name="cookieCheckActions">
            <value>
                <customerLogin>loginPost</customerLogin>
                <customerCreate>createpost</customerCreate>
            </value>
        </param>
    </virtualType>
    <type name="Magento\Customer\Controller\Account">
        <plugin name="sessionInitializer" type="customerAccountInitSession" />
    </type>
</config>
