<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\Customer\Model\Session">
        <param name="sessionName">
            <value>frontend</value>
        </param>
    </type>
    <type name="Magento\Core\Model\Url\SecurityInfo">
        <param name="secureUrlList">
            <array>
                <item key="customer"><value>/customer/</value></item>
            </array>
        </param>
    </type>
    <type name="Magento\Core\Model\Layout">
        <plugin name="customer-session-stab" type="Magento\Customer\Model\Layout\DepersonalizePlugin" sortOrder="20"/>
    </type>
    <type name="Magento\Customer\Model\Converter">
        <plugin name="customer-session-stab" type="Magento\Customer\Model\Converter\DepersonalizePlugin"/>
    </type>
</config>
