<?xml version="1.0"?>
<!--
/**
* {license_notice}
*
* @category    Mage
* @package     Mage_Checkout
* @copyright   {copyright}
* @license     {license_link}
*/
-->
<config>
    <acl>
        <resources>
            <resource id="Mage_Adminhtml::admin">
                <resource id="Mage_Sales::sales">
                    <resource id="Mage_Checkout::checkoutagreement" title="Terms and Conditions" module="Mage_Checkout" sortOrder="50" />
                </resource>
                <resource id="Mage_Adminhtml::system">
                    <resource id="Mage_Adminhtml::config">
                        <resource id="Mage_Checkout::checkout" title="Checkout Section" module="Mage_Checkout" sortOrder="70" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
