<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Mage
 * @package     Mage_Connect
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <menu>
        <add id="Mage_Connect::system_extensions" title="Magento Connect" module="Mage_Connect" sortOrder="20" parent="Magento_Adminhtml::system" resource="Magento_Adminhtml::extensions"/>
        <add id="Mage_Connect::system_extensions_local" title="Connect Manager" module="Mage_Connect" sortOrder="10" parent="Mage_Connect::system_extensions" action="adminhtml/extension_local" resource="Magento_Adminhtml::local"/>
        <add id="Mage_Connect::system_extensions_custom" title="Package Extensions" module="Mage_Connect" sortOrder="20" parent="Mage_Connect::system_extensions" action="adminhtml/extension_custom" resource="Magento_Adminhtml::custom"/>
    </menu>
</config>
