<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Mage
 * @package     Mage_CatalogSearch
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <menu>
        <add id="Mage_CatalogSearch::catalog_search" title="Search Terms" module="Mage_CatalogSearch" sortOrder="10" parent="Magento_Adminhtml::marketing_seo" action="adminhtml/catalog_search/" resource="Mage_CatalogSearch::search"/>
    </menu>
</config>
