<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_Webhook
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <webhook_setup>
                <setup>
                    <module>Magento_Webhook</module>
                </setup>
            </webhook_setup>
        </resources>
        <events>
            <webapi_user_delete_after>
                <observers>
                    <webhook_subscription_status_update>
                        <class>Magento_Webhook_Model_Observer</class>
                        <method>afterWebapiUserDelete</method>
                    </webhook_subscription_status_update>
                </observers>
            </webapi_user_delete_after>
            <webapi_user_save_commit_after>
                <observers>
                    <webhook_subscription_status_update>
                        <class>Magento_Webhook_Model_Observer</class>
                        <method>afterWebapiUserChange</method>
                    </webhook_subscription_status_update>
                </observers>
            </webapi_user_save_commit_after>
            <webapi_role_save_commit_after>
                <observers>
                    <webhook_subscription_status_update>
                        <class>Magento_Webhook_Model_Observer</class>
                        <method>afterWebapiRoleChange</method>
                    </webhook_subscription_status_update>
                </observers>
            </webapi_role_save_commit_after>
            <webapi_role_delete_commit_after>
                <observers>
                    <webhook_subscription_status_update>
                        <class>Magento_Webhook_Model_Observer</class>
                        <method>afterWebapiRoleChange</method>
                    </webhook_subscription_status_update>
                </observers>
            </webapi_role_delete_commit_after>
        </events>
    </global>
    <frontend>
        <routers>
            <webhook>
                <use>standard</use>
                <args>
                    <module>Magento_Webhook</module>
                    <frontName>webhook</frontName>
                </args>
            </webhook>
        </routers>
    </frontend>
    <admin>
         <routers>
            <adminhtml>
                <args>
                    <modules>
                        <webhook before="Magento_Adminhtml">Magento_Webhook_Adminhtml</webhook>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <webhook_process_messages>
                <schedule><cron_expr>* * * * *</cron_expr></schedule>
                <run><model>Magento_PubSub_Event_QueueHandler::handle</model></run>
            </webhook_process_messages>
            <webhook_process_dispatchers>
                <schedule><cron_expr>* * * * *</cron_expr></schedule>
                <run><model>Magento_PubSub_Job_QueueHandler::handle</model></run>
            </webhook_process_dispatchers>
            <webhook_events_revoke_idling>
                <schedule><cron_expr>*/15 * * * *</cron_expr></schedule>
                <run><model>Magento_Webhook_Model_Resource_Event_Collection::revokeIdlingInProgress</model></run>
            </webhook_events_revoke_idling>
            <webhook_jobs_revoke_idling>
                <schedule><cron_expr>*/15 * * * *</cron_expr></schedule>
                <run><model>Magento_Webhook_Model_Resource_Job_Collection::revokeIdlingInProgress</model></run>
            </webhook_jobs_revoke_idling>
        </jobs>
    </crontab>
</config>
