<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento_Webhook_Model_Resource_Subscription">
        <param name="config">
            <instance type="Magento_Core_Model_Config" />
        </param>
    </type>
    <type name="Magento_Outbound_Formatter_Factory">
        <param name="formatterMap">
            <value>
                <json>Magento_Outbound_Formatter_Json</json>
            </value>
        </param>
    </type>
    <type name="Magento_Webhook_Model_Source_Format">
        <param name="formats">
            <value>
                <json>JSON</json>
            </value>
        </param>
    </type>
    <type name="Magento_Outbound_Authentication_Factory">
        <param name="authenticationMap">
            <value>
                <hmac>Magento_Outbound_Authentication_Hmac</hmac>
            </value>
        </param>
    </type>
    <type name="Magento_Webhook_Model_Source_Authentication">
        <param name="authenticationTypes">
            <value>
                <hmac>HMAC SHA256</hmac>
            </value>
        </param>
    </type>
    <type name="Magento_Webhook_Model_Endpoint" shared="false" />
    <preference for="Magento_PubSub_Event_QueueReaderInterface" type="Magento_Webhook_Model_Event_QueueReader" />
    <preference for="Magento_PubSub_Event_QueueWriterInterface" type="Magento_Webhook_Model_Event_QueueWriter" />
    <preference for="Magento_PubSub_Event_FactoryInterface" type="Magento_Webhook_Model_Event_Factory" />
    <preference for="Magento_PubSub_Job_FactoryInterface" type="Magento_Webhook_Model_Job_Factory" />
    <preference for="Magento_PubSub_Subscription_CollectionInterface" type="Magento_Webhook_Model_Resource_Subscription_Collection" />
    <preference for="Magento_Outbound_Message_FactoryInterface" type="Magento_Outbound_Message_Factory" />
    <preference for="Magento_PubSub_Job_QueueReaderInterface" type="Magento_Webhook_Model_Job_QueueReader" />
    <preference for="Magento_PubSub_Job_QueueWriterInterface" type="Magento_Webhook_Model_Job_QueueWriter" />
    <preference for="Magento_Outbound_TransportInterface" type="Magento_Outbound_Transport_Http" />
    <preference for="Magento_Outbound_MessageInterface" type="Magento_Outbound_Message" />
    <preference for="Magento_PubSub_Message_DispatcherAsyncInterface" type="Magento_PubSub_Message_DispatcherAsync" />
    <preference for="Magento_Webhook_Service_SubscriptionV1Interface" type="Magento_Webhook_Service_SubscriptionV1" />
</config>
