<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Mage
 * @package     Magento_CatalogRule
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <catalogrule_setup>
                <setup>
                    <module>Magento_CatalogRule</module>
                    <class>Magento_CatalogRule_Model_Resource_Setup</class>
                </setup>
            </catalogrule_setup>
        </resources>
        <catalogrule>
            <related_cache_types>
                <block_html />
            </related_cache_types>
        </catalogrule>
    </global>
</config>
