<?xml version="1.0"?>
<!--
/**
* {license_notice}
*
* @category    Mage
* @package     Mage_Catalog
* @copyright   {copyright}
* @license     {license_link}
*/
-->
<config>
    <acl>
        <resources>
            <resource id="Mage_Adminhtml::admin">
                <resource id="Mage_Adminhtml::system">
                    <resource id="Mage_Adminhtml::config">
                        <resource id="Mage_Catalog::config_catalog" title="Catalog Section" module="Mage_Catalog" />
                    </resource>
                </resource>
                <resource id="Mage_Catalog::catalog" title="Catalog" module="Mage_Catalog" sortOrder="30">
                    <resource id="Mage_Catalog::catalog_attributes" title="Attributes" module="Mage_Catalog">
                        <resource id="Mage_Catalog::attributes_attributes" title="Manage Attributes" module="Mage_Catalog" />
                        <resource id="Mage_Catalog::sets" title="Manage Attribute Sets" module="Mage_Catalog" />
                    </resource>
                    <resource id="Mage_Catalog::categories" title="Manage Categories" module="Mage_Catalog" />
                    <resource id="Mage_Catalog::products" title="Manage Products" module="Mage_Catalog" />
                    <resource id="Mage_Catalog::update_attributes" title="Update Attributes" module="Mage_Catalog" />
                    <resource id="Mage_Catalog::urlrewrite" title="URL Rewrite Management" module="Mage_Catalog" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
