<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <type name="Magento\Rating\Block\Adminhtml\Edit\Tab\Form">
        <arguments>
            <argument name="session" xsi:type="object">Magento\Backend\Model\Session</argument>
        </arguments>
    </type>
</config>
