<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Mage
 * @package     Mage_Tag
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <acl>
        <resources>
            <resource id="Magento_Adminhtml::admin">
                <resource id="Magento_Adminhtml::marketing">
                    <resource id="Magento_Adminhtml::marketing_user_content">
                        <resource id="Mage_Tag::tag_all" title="Tags" module="Mage_Tag" sortOrder="20" />
                    </resource>
                </resource>
                <resource id="Magento_Reports::report">
                    <resource id="Magento_Reports::tags" module="Mage_Tag" title="Tags" sortOrder="30">
                        <resource id="Magento_Reports::tags_customer" module="Mage_Tag" title="By Customer" sortOrder="10" />
                        <resource id="Magento_Reports::tags_product" module="Mage_Tag" title="By Product" sortOrder="20" />
                        <resource id="Magento_Reports::popular" module="Mage_Tag" title="Popularity" sortOrder="30" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
