<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Enterprise
 * @package     Enterprise_CatalogEvent
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <enterprise_catalogevent_setup>
                <setup>
                    <module>Enterprise_CatalogEvent</module>
                    <class>Enterprise_CatalogEvent_Model_Resource_Setup</class>
                </setup>
            </enterprise_catalogevent_setup>
        </resources>
    </global>
    <default>
        <catalog>
            <enterprise_catalogevent>
                <enabled>1</enabled>
                <lister_output>1</lister_output>
                <lister_widget_limit>5</lister_widget_limit>
                <lister_widget_scroll>2</lister_widget_scroll>
            </enterprise_catalogevent>
        </catalog>
    </default>
    <frontend>
        <translate>
            <modules>
                <Enterprise_CatalogEvent>
                    <files>
                        <default>Enterprise_CatalogEvent.csv</default>
                    </files>
                </Enterprise_CatalogEvent>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Enterprise_CatalogEvent>
                    <files>
                        <default>Enterprise_CatalogEvent.csv</default>
                    </files>
                </Enterprise_CatalogEvent>
            </modules>
        </translate>
    </adminhtml>
</config>