<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <module name="Enterprise_CatalogEvent" version="1.11.0.0" active="false">
        <sequence>
            <module name="Mage_Adminhtml"/>
            <module name="Mage_Catalog"/>
            <module name="Mage_Cms"/>
            <module name="Mage_Sales"/>
            <module name="Mage_Checkout"/>
        </sequence>
        <depends>
            <module name="Mage_Adminhtml" type="hard"/>
            <module name="Mage_Catalog" type="hard"/>
            <module name="Mage_Cms" type="hard"/>
            <module name="Mage_Sales" type="hard"/>
            <module name="Mage_Backend" type="hard"/>
            <module name="Mage_Core" type="hard"/>
            <module name="Mage_Eav" type="hard"/>
            <module name="Mage_Widget" type="hard"/>
            <module name="Mage_Page" type="soft"/>
        </depends>
    </module>
</config>
