<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <preference for="Magento\Authz\Model\UserLocatorInterface" type="Magento\Webapi\Model\Authz\UserLocator"/>
    <type name="Magento\Webapi\Model\Authz\UserLocator">
        <arguments>
            <argument name="request" xsi:type="object">Magento\Webapi\Controller\Soap\Request</argument>
        </arguments>
    </type>
    <preference for="Magento\App\FrontControllerInterface" type="Magento\Webapi\Controller\Soap" />
    <type name="Magento\Webapi\Controller\Rest\Router\Route" shared="false" />
    <type name="Magento\Webapi\Controller\Soap">
        <arguments>
            <argument name="soapServer" xsi:type="object">Magento\Webapi\Model\Soap\Server\Proxy</argument>
            <argument name="errorProcessor" xsi:type="object">Magento\Webapi\Controller\ErrorProcessor\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Webapi\Controller\Soap\Request\Handler">
        <arguments>
            <argument name="authorizationService" xsi:type="object">Magento\Authz\Service\AuthorizationV1Interface\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Authz\Service\AuthorizationV1">
        <plugin name="webapiSoapAuthorizationV1" type="Magento\Webapi\Model\Plugin\AuthorizationServiceV1" />
    </type>
</config>
