<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <module name="Mage_Core" version="1.6.0.15" active="true">
        <depends>
            <module name="Mage_Backend" type="hard"/>
            <module name="Mage_Directory" type="hard"/>
            <module name="Mage_Index" type="hard"/>
            <module name="Mage_Cron" type="hard"/>
            <module name="Mage_Catalog" type="hard"/>
            <module name="Mage_Api" type="hard"/>
            <module name="Mage_Newsletter" type="hard"/>
            <module name="Mage_Cms" type="hard"/>
            <module name="Mage_Theme" type="hard"/>
            <module name="Mage_AdminNotification" type="hard"/>
            <module name="Mage_CatalogInventory" type="hard"/>
            <module name="Mage_CatalogRule" type="hard"/>
            <module name="Mage_CatalogSearch" type="hard"/>
            <module name="Mage_CurrencySymbol" type="hard"/>
            <module name="Mage_GiftMessage" type="hard"/>
            <module name="Mage_GoogleAnalytics" type="hard"/>
            <module name="Mage_GoogleCheckout" type="hard"/>
            <module name="Mage_ImportExport" type="hard"/>
            <module name="Mage_PaypalUk" type="hard"/>
            <module name="Mage_ProductAlert" type="hard"/>
            <module name="Mage_SalesRule" type="hard"/>
            <module name="Mage_Eav" type="hard"/>
            <module name="Mage_Adminhtml" type="hard"/>
            <module name="Mage_Page" type="hard"/>
            <extension name="spl"/>
            <extension name="dom"/>
            <extension name="simplexml"/>
            <extension name="mcrypt"/>
            <extension name="hash"/>
            <extension name="curl"/>
            <extension name="iconv"/>
            <extension name="ctype"/>
            <choice>
                <extension name="gd"/>
                <extension name="imagick" minVersion="3.0.0"/>
            </choice>
        </depends>
    </module>
</config>
