<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_Contacts
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <contacts_setup>
                <setup>
                    <module>Magento_Contacts</module>
                </setup>
            </contacts_setup>
        </resources>
    </global>
    <default>
        <contacts>
            <contacts>
                <enabled>1</enabled>
            </contacts>
            <email>
                <recipient_email>
                    <![CDATA[hello@example.com]]>
</recipient_email>
                <sender_email_identity>custom2</sender_email_identity>
                <email_template>contacts_email_email_template</email_template>
            </email>
        </contacts>
    </default>
</config>
