<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <modules>
        <Saas_Customer>
            <version>2.0.0.0</version>
            <active>false</active>
            <depends>
                <Mage_Backend/>
                <Saas_Saas/>
            </depends>
        </Saas_Customer>
    </modules>
    <adminhtml>
        <di>
            <preferences>
                <Enterprise_Customer_Helper_Data>Saas_Customer_Helper_Data</Enterprise_Customer_Helper_Data>
            </preferences>
            <Saas_Saas_Model_Limitation_Specification_Composite>
                <parameters>
                    <specificationNames>
                        <backend_customer_online>Saas_Customer_Model_Limitation_Specification_Backend_CustomerOnline</backend_customer_online>
                    </specificationNames>
                </parameters>
            </Saas_Saas_Model_Limitation_Specification_Composite>
        </di>
    </adminhtml>
</config>
