<?xml version="1.0"?>
<config>
    <modules>
        <Mage_Customer>
            <version>0.2.1</version>
            <depends>
                <Mage_Page />
            </depends>
            <crypt>
                <key><![CDATA[h$$@j>21#Nn 34{}~|][fksn2)*@H NdfM99f+<lml1(23nR_JN]]></key>
            </crypt>
            <wishlistActive>true</wishlistActive>
        </Mage_Customer>
    </modules>
    <global>
        <entity>
            <types>
                <customer extends="//global/entity/types/default"/>
                <address extends="//global/entity/types/default"/>
            </types>
        </entity>
        
        <block>
            <groups><customer><class>Mage_Customer_Block</class></customer></groups>
        </block>
        
        <models>
            <customer>
                <class>Mage_Customer_Model</class>
                <resourceModel>customer_mysql4</resourceModel>
            </customer>
            <customer_mysql4>
                <class>Mage_Customer_Model_Mysql4</class>
                <entities>
                    <customer>
                        <table>customer</table>
                    </customer>
                    <entity>
                        <table>customer_entity</table>
                    </entity>
                    <customer_group>
                        <table>customer_group</table>
                    </customer_group>
                    <address>
                        <table>customer_address</table>
                    </address>
                    <address_type>
                        <table>customer_address_type</table>
                    </address_type>
                    <address_type_language>
                        <table>customer_address_type_language</table>
                    </address_type_language>
                    <address_type_link>
                        <table>customer_address_type_link</table>
                    </address_type_link>
                    <payment>
                        <table>customer_payment</table>
                    </payment>
                    <payment_method>
                        <table>customer_payment_method</table>
                    </payment_method>
                    <wishlist>
                        <table>customer_wishlist</table>
                    </wishlist>
                    <customer_log>
                        <table>customer_log</table>
                    </customer_log>
                </entities>
            </customer_mysql4>
        </models>
        
        <resources>
            <customer_setup>
                <setup>
                    <module>Mage_Customer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customer_setup>
            <customer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customer_write>
            <customer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customer_read>
        </resources>
    </global>
    
    <front>
        <layouts>
            <default>
                <updates>
                    <customer>
                        <file>customer/initLayout.xml</file>
                    </customer>
                </updates>
            </default>
        </layouts>
        <events>
            <beforeRenderLayout>
                <observers>
                    <auth>
                        <type>singleton</type>
                        <class>customer/observer</class>
                        <method>beforeRenderLayout</method>
                    </auth>
                </observers>
            </beforeRenderLayout>
        </events>
        <routers>
            <customer>
                <use>standard</use>
                <args>
                    <module>Mage_Customer</module>
                    <frontName>customer</frontName>
                </args>
            </customer>
        </routers>
    </front>
    <domains>
        <base>
            <defaultCountry>223</defaultCountry>
            <allowCountries>223,220</allowCountries>
            <currency>1</currency>
        </base>
    </domains>
    <translate>
        <customer>customer/messages.csv</customer>
    </translate>
</config>
