<?xml version="1.0"?>
<config>
    <modules>
        <Saas_Paypal>
            <version>1.0.0.0.3</version>
            <active>true</active>
            <codePool>core</codePool>
            <depends>
                <Saas_Saas/>
                <Mage_Paypal/>
            </depends>
        </Saas_Paypal>
    </modules>
    <global>
        <models>
            <paypal>
                <rewrite>
                    <config>Saas_Paypal_Model_Config</config>
                    <express>Saas_Paypal_Model_Express</express>
                    <ipn>Saas_Paypal_Model_Ipn</ipn>
                    <method_agreement>Saas_Paypal_Model_Method_Agreement</method_agreement>
                </rewrite>
            </paypal>
            <paypaluk>
                <rewrite>
                    <express>Saas_Paypal_Model_ExpressUk</express>
                </rewrite>
            </paypaluk>
        </models>
        <blocks>
            <paypal>
                <rewrite>
                    <logo>Saas_Paypal_Block_Logo</logo>
                    <!--<adminhtml_system_config_fieldset_global>Saas_Paypal_Block_Adminhtml_System_Config_Fieldset_Global</adminhtml_system_config_fieldset_global>-->
                    <adminhtml_system_config_apiWizard>Saas_Paypal_Block_Adminhtml_System_Config_ApiWizard</adminhtml_system_config_apiWizard>
                    <adminhtml_system_config_fieldset_location>Saas_Paypal_Block_Adminhtml_System_Config_Fieldset_Location</adminhtml_system_config_fieldset_location>
                    <adminhtml_system_config_fieldset_hint>Saas_Paypal_Block_Adminhtml_System_Config_Fieldset_Hint</adminhtml_system_config_fieldset_hint>
                </rewrite>
            </paypal>
        </blocks>
        <resources>
            <saas_paypal_setup>
                <setup>
                    <module>Saas_Paypal</module>
                </setup>
            </saas_paypal_setup>
        </resources>
    </global>
    <default>
        <fieldsets>
            <logo>
                <de-pp-logo-200px>PayPal Sicherererer (200 X 51)</de-pp-logo-200px>
                <de-pp-logo-150px>PayPal Sicherererer (150 X 38)</de-pp-logo-150px>
                <de-pp-logo-100px>PayPal Sicherererer (100 X 26)</de-pp-logo-100px>
            </logo>
        </fieldsets>
        <payment>
            <paypal_direct>
                <active>0</active>
                <disabled>1</disabled>
                <authentication_method>0</authentication_method>
            </paypal_direct>
            <paypal_standard>
                <active>0</active>
            </paypal_standard>
            <paypal_mep>
                <active>0</active>
                <disabled>1</disabled>
            </paypal_mep>
            <paypal_billing_agreement>
                <active>1</active>
                <disabled>1</disabled>
                <sort_order>1</sort_order>
                <payment_action>Authorization</payment_action>
            </paypal_billing_agreement>
            <paypal_express_boarding>
                <model>Saas_Paypal_Model_Boarding_Express</model>
                <title>PayPal Express Checkout</title>
                <payment_action>Authorization</payment_action>
                <solution_type>Mark</solution_type>
                <line_items_enabled>1</line_items_enabled>
                <visible_on_cart>1</visible_on_cart>
                <visible_on_product>1</visible_on_product>
                <allow_ba_signup>never</allow_ba_signup>
                <status>disabled</status>
                <group>paypal</group>
            </paypal_express_boarding>
            <paypal_express>
                <skip_order_review_step>1</skip_order_review_step>
            </paypal_express>
            <paypal_direct_boarding>
                <title>Website Payments Pro</title>
                <model>Saas_Paypal_Model_Boarding_Direct</model>
                <payment_action>Authorization</payment_action>
                <cctypes>VI,MC</cctypes>
                <useccv>1</useccv>
                <status>disabled</status>
                <group>paypal</group>
            </paypal_direct_boarding>
            <payflow_link>
                <bncode>Magento_Cart_Go_PG</bncode>
            </payflow_link>
            <verisign>
                <bncode>Magento_Cart_Go_PG</bncode>
            </verisign>
            <hosted_pro>
                <title>Website Payments Pro Hosted Solution</title>
            </hosted_pro>
        </payment>
        <paypal>
            <onboarding>
                <boarding_token></boarding_token>
                <program_code></program_code>
                <payment_method></payment_method>
                <sandbox_flag></sandbox_flag>
                <use_proxy></use_proxy>
                <proxy_host></proxy_host>
                <proxy_port></proxy_port>
                <debug></debug>
                <api_password backend_model="Mage_Backend_Model_Config_Backend_Encrypted"/>
                <api_signature backend_model="Mage_Backend_Model_Config_Backend_Encrypted"/>
                <api_username backend_model="Mage_Backend_Model_Config_Backend_Encrypted"/>
                <button_flavor>dynamic</button_flavor>
            </onboarding>
            <bncode>
                <template>Magento_Cart_Go_%s</template>
            </bncode>
        </paypal>
    </default>

    <frontend>
        <secure_url>
            <paypal_onboarding_express>/paypal/boarding_express</paypal_onboarding_express>
        </secure_url>
        <routers>
            <paypal>
                <args>
                    <modules>
                        <saas_paypal before="Mage_Paypal">Saas_Paypal</saas_paypal>
                    </modules>
                </args>
            </paypal>
        </routers>
        <layout>
            <updates>
                <saas_paypal>
                    <file>saas/paypal.xml</file>
                </saas_paypal>
            </updates>
        </layout>
        <translate>
            <modules>
                <Saas_Paypal>
                    <files>
                        <default>Saas_Paypal.csv</default>
                    </files>
                </Saas_Paypal>
            </modules>
        </translate>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <saas_paypal before="Mage_Adminhtml">Saas_Paypal_Adminhtml</saas_paypal>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

   <adminhtml>
        <translate>
            <modules>
                <Saas_Paypal>
                    <files>
                        <default>Saas_Paypal.csv</default>
                    </files>
                </Saas_Paypal>
            </modules>
        </translate>
        <events>
            <adminhtml_init_system_config>
                <observers>
                    <paypal>
                        <class>Saas_Paypal_Model_Observer</class>
                        <method>loadCountryDependentSolutionsConfig</method>
                    </paypal>
                </observers>
            </adminhtml_init_system_config>
            <controller_action_predispatch_adminhtml_system_config_edit>
                <observers>
                    <saas_paypal_observer>
                        <class>Saas_Paypal_Model_Observer</class>
                        <method>updateBoardingStatus</method>
                    </saas_paypal_observer>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_edit>
            <controller_action_postdispatch_adminhtml_sales_order_reviewPayment>
                <observers>
                    <saas_paypal_observer>
                        <class>Saas_Paypal_Model_Observer</class>
                        <method>reviewPaymentDispatchAfter</method>
                    </saas_paypal_observer>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_reviewPayment>
            <controller_action_postdispatch_adminhtml_sales_order_invoice_capture>
                <observers>
                    <saas_paypal_observer>
                        <class>Saas_Paypal_Model_Observer</class>
                        <method>invoiceCaptureDispatchAfter</method>
                    </saas_paypal_observer>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_invoice_capture>
            <controller_action_postdispatch_adminhtml_sales_order_creditmemo_save>
                <observers>
                    <saas_paypal_observer>
                        <class>Saas_Paypal_Model_Observer</class>
                        <method>creditMemoSaveDispatchAfter</method>
                    </saas_paypal_observer>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_creditmemo_save>
        </events>
    </adminhtml>
</config>
