<?xml version="1.0"?>
<!--
/**
* {license_notice}
*
* @category    Mage
* @package     Mage_XmlConnect
* @copyright   {copyright}
* @license     {license_link}
*/
-->
<config>
    <acl>
        <resources>
            <resource id="Mage_Adminhtml::admin">
                <resource id="Mage_XmlConnect::xmlconnect" title="Mobile" module="Mage_XmlConnect" sortOrder="100">
                    <resource id="Mage_XmlConnect::mobile" title="Manage Apps" module="Mage_XmlConnect" sortOrder="10" />
                    <resource id="Mage_XmlConnect::history" title="Submission History" module="Mage_XmlConnect" sortOrder="20" />
                    <resource id="Mage_XmlConnect::templates" title="Message Templates" module="Mage_XmlConnect" sortOrder="30" />
                    <resource id="Mage_XmlConnect::xmlconnect_queue" title="Message Queue" module="Mage_XmlConnect" sortOrder="40" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
