#
# {license_notice}
#
# @category    Magento
# @package     Magento
# @subpackage  functional_tests
# @copyright   {copyright}
# @license     {license_link}
#
---
################################################################################
#                                                                              #
#                      Browsers for running tests                              #
#                                                                              #
################################################################################
browsers:
    googlechrome: &googlechrome
        browser: 'Google Chrome'
        browserName: 'chrome'
        host: 'localhost'
        port: 4444
        seleniumServerRequestsTimeout: 90
        sessionStrategy: shared
        desiredCapabilities:
            platform: ANY
    firefox: &firefox
        browser: 'Firefox'
        browserName: 'firefox'
        host: 'localhost'
        port: 4444
        seleniumServerRequestsTimeout: 90
        sessionStrategy: shared
        desiredCapabilities:
            platform: ANY
    iexplorer: &iexplorer
        browser: 'Internet Explorer'
        browserName: 'iexplore'
        host: 'localhost'
        port: 4444
        seleniumServerRequestsTimeout: 90
        sessionStrategy: shared
        desiredCapabilities:
            platform: ANY
    default: *firefox
################################################################################
#                                                                              #
#                     Framework configuration                                  #
#                                                                              #
################################################################################
framework:
    fixture_base_path: 'fixture'
    testsuite_base_path: 'testsuite'
    coverageScriptUrl: ''
    saveScreenshotOnFailure: true
    saveHtmlPageOnFailure: false
    load_all_uimaps: true
    load_all_data: false
    browserTimeoutPeriod: 40
################################################################################
#                                                                              #
#                  Applications for running tests                              #
#                                                                              #
################################################################################
applications:
    ce: &ce
        fallbackOrderFixture: 'default'
        fallbackOrderHelper: 'Core'
        design_theme: Magento Demo
        ftp: &ftp
            url: 'localhost'
            base_dir: '/'
            login: 'admin'
            password: '123123q'
        areas:
            admin:
                url: 'http://www.localhost.com/magento2_community/backend/backend/'
                base_page_uimap: 'log_in_to_admin'
                uimap_path: 'admin'
                login: 'admin'
                password: '123123q'
                after_login_page: 'dashboard'
            frontend:
                url: 'http://www.localhost.com/magento2_community/'
                base_page_uimap: 'home_page'
                uimap_path: 'frontend'
            paypal_sandbox: &paypalSandbox
                url: 'https://www.sandbox.paypal.com/'
                base_page_uimap: 'paypal_sandbox'
                uimap_path: 'paypal_sandbox'
                login: 'paypal_sandbox_login'
                password: 'paypal_sandbox_password'
            paypal_developer: &paypalDeveloper
                url: 'https://developer.paypal.com/'
                base_page_uimap: 'paypal_developer_home'
                uimap_path: 'paypal_developer'
                login: 'paypal_developer_login'
                password: 'paypal_developer_password'
    ee: &ee
        fallbackOrderFixture: 'enterprise, default'
        fallbackOrderHelper: 'Enterprise, Core'
        design_theme: Magento Fixed Width
        ftp: *ftp
        areas:
            admin:
                url: 'http://www.localhost.com/magento2_enterprise/backend/backend/'
                base_page_uimap: 'log_in_to_admin'
                uimap_path: 'admin'
                login: 'admin'
                password: '123123q'
                after_login_page: 'dashboard'
            frontend:
                url: 'http://www.localhost.com/magento2_enterprise/'
                base_page_uimap: 'home_page'
                uimap_path: 'frontend'
            paypal_sandbox: *paypalSandbox
            paypal_developer: *paypalDeveloper
    default: *ee
