selenium:
    browser: 'Mozilla Firefox'
    browserName: 'firefox'
    host: 'localhost'
    port: 4444
    seleniumServerRequestsTimeout: 30
    sessionStrategy: shared
    desiredCapabilities:
        platform: ANY