<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <event name="adminhtml_sales_order_create_process_data_before">
        <observer name="addBySku" instance="\Magento\AdvancedCheckout\Model\Observer" method="addBySku" />
        <observer name="uploadSkuCsv" instance="\Magento\AdvancedCheckout\Model\Observer" method="uploadSkuCsv" />
    </event>
</config>