<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <module name="Magento_Ups" version="2.0.0.0" active="true">
        <depends>
            <module name="Magento_Core"/>
            <module name="Magento_Backend"/>
            <module name="Magento_Sales"/>
            <module name="Magento_Shipping"/>
            <module name="Magento_Directory"/>
        </depends>
    </module>
</config>
