<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Enterprise
 * @package     Enterprise_Eav
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <modules>
        <Enterprise_Eav>
            <version>1.11.0.0</version>
            <active>false</active>
            <depends type="hard">
                <Mage_Core/>
                <Mage_Eav/>
                <Mage_Adminhtml/>
            </depends>
            <sequence>
                <Mage_Eav />
                <Mage_Adminhtml />
            </sequence>
        </Enterprise_Eav>
    </modules>
    <adminhtml>
        <translate>
            <modules>
                <Enterprise_Eav>
                    <files>
                        <default>Enterprise_Eav.csv</default>
                    </files>
                </Enterprise_Eav>
            </modules>
        </translate>
    </adminhtml>
</config>
