<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Enterprise
 * @package     Enterprise_Banner
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <enterprise_banner_setup>
                <setup>
                    <module>Enterprise_Banner</module>
                    <class>Enterprise_Banner_Model_Resource_Setup</class>
                </setup>
            </enterprise_banner_setup>
        </resources>
        <enterprise>
            <banner>
                <types translate="content footer header leftcol rightcol">
                    <content>Content Area</content>
                    <footer>Footer</footer>
                    <header>Header</header>
                    <leftcol>Left Column</leftcol>
                    <rightcol>Right Column</rightcol>
                </types>
            </banner>
        </enterprise>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <enterprise_banner before="Magento_Adminhtml">Enterprise_Banner_Adminhtml</enterprise_banner>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <adminhtml_controller_catalogrule_prepare_save>
                <observers>
                    <enterprise_banner>
                        <class>Enterprise_Banner_Model_Observer</class>
                        <method>prepareCatalogRuleSave</method>
                    </enterprise_banner>
                </observers>
            </adminhtml_controller_catalogrule_prepare_save>
            <catalogrule_rule_save_after>
                <observers>
                    <enterprise_banner>
                        <class>Enterprise_Banner_Model_Observer</class>
                        <method>bindRelatedBannersToCatalogRule</method>
                    </enterprise_banner>
                </observers>
            </catalogrule_rule_save_after>
            <adminhtml_controller_salesrule_prepare_save>
                <observers>
                    <enterprise_banner>
                        <class>Enterprise_Banner_Model_Observer</class>
                        <method>prepareSalesRuleSave</method>
                    </enterprise_banner>
                </observers>
            </adminhtml_controller_salesrule_prepare_save>
            <salesrule_rule_save_after>
                <observers>
                    <enterprise_banner>
                        <class>Enterprise_Banner_Model_Observer</class>
                        <method>bindRelatedBannersToSalesRule</method>
                    </enterprise_banner>
                </observers>
            </salesrule_rule_save_after>
        </events>
    </adminhtml>
</config>
