<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <event name="sales_order_save_after">
        <observer name="saas_printedtemplate" instance="Saas_PrintedTemplate_Model_Observer" method="saveOrderTaxDetails" />
    </event>
</config>