<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_GiftMessage
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <giftmessage_setup>
                <setup>
                    <module>Magento_GiftMessage</module>
                    <class>Magento\GiftMessage\Model\Resource\Setup</class>
                </setup>
            </giftmessage_setup>
        </resources>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <gift_message_available />
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
    <default>
        <sales>
            <gift_messages>
                <allow_items>0</allow_items>
                <allow_order>0</allow_order>
            </gift_messages>
        </sales>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <Magento_GiftMessage>
                    <files>
                        <default>Magento_GiftMessage.csv</default>
                    </files>
                </Magento_GiftMessage>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Magento_GiftMessage>
                    <files>
                        <default>Magento_GiftMessage.csv</default>
                    </files>
                </Magento_GiftMessage>
            </modules>
        </translate>
    </frontend>
</config>
