<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento_Sales_Model_Convert_Quote">
        <plugin name="gift_message_quote_item_conversion" type="Magento_GiftMessage_Model_Plugin_QuoteItem"/>
    </type>
</config>
