Application {
   backgroundColor: #ffffff;
   backgroundGradientColors: #cccccc, #ffffff;
   backgroundGradientAlphas: 0.85, 1;
   themeColor: #000000;
   color: #000000;
   paddingTop:    5;
   paddingLeft:   5;
   paddingRight:  5;
   paddingBottom: 5;
   verticalGap:   2;
   horizontalGap: 2;
}

ApplicationControlBar {
   highlightAlphas: 0.52, 0.3;
   fillAlphas: 0.34, 0.37;
   fillColors: #cccccc, #999999;
   backgroundAlpha: 1;
   cornerRadius: 3;
   dropShadowEnabled: true;
   shadowDistance: 1;
   shadowDirection: right;
   dropShadowColor: #000000;
}

.spacer
{
	
}

.constructorBox
{
	verticalGap: 5;
	horizontalGap: 5;
}

Button {
   cornerRadius: 2;
   textIndent: 0;
   paddingLeft: 5;
   paddingRight: 5;
   paddingTop: 5;
   paddingBottom: 6;
   letterSpacing: 0;
   highlightAlphas: 0.46, 0.56;
   fillAlphas: 0.81, 0.64, 0.43, 0.65;
   fontFamily: Verdana;
   fontSize: 11;
   fontWeight: bold;
}

ComboBox {
   cornerRadius: 0;
   highlightAlphas: 0.46, 0.54;
   selectionColor: #acacac;
   useRollOver: true;
   rollOverColor: #e7e7e7;
   themeColor: #999999;
   dropDownStyleName: "myComboBoxDropDowns";
}

.myComboBoxDropDowns {
   cornerRadius: 0;
   dropShadowEnabled: true;
   shadowDistance: 1;
   dropShadowColor: #8b8b8b;
}

DataGrid {
   alternatingItemColors: #f2f0f0, #d7d7d7;
   horizontalGridLines: false;
   letterSpacing: 0;
   rollOverColor: #a5a5a5;
   borderThickness: 0;
   selectionColor: #787878;
   textSelectedColor: #cccccc;
   textIndent: 0;
   dropShadowEnabled: false;
   headerStyleName: "mydataGridHeaderStyle";
}

.mydataGridHeaderStyle {
   letterSpacing: 0;
}

HScrollBar {
   cornerRadius: 0;
   highlightAlphas: 0.5, 0.6;
   fillAlphas: 0.6, 1, 0.75, 0.65;
   themeColor: #8e8e8e;
}

NumericStepper {
   backgroundAlpha: 1;
   cornerRadius: 0;
   highlightAlphas: 0.74, 0.42;
   themeColor: #a1a2a3;
}

Panel {
  
   titleStyleName: "mypanelTitle";
}

Panel {
   borderColor: #cccccc;
   borderAlpha: 0.7;
   borderThicknessLeft: 0;
   borderThicknessTop: 0;
   borderThicknessBottom: 0;
   borderThicknessRight: 0;
   cornerRadius: 0;
   highlightAlphas: 0.48, 0.33;
   headerColors: #cccccc, #999999;
   footerColors: #cccccc, #999999;
   titleStyleName: "magentoPanelTitle";
}

.magentoPanelTitle {
   fontFamily: Arial;
   fontSize: 12;
}

ProgressBar {
   barColor: #cccccc;
   trackColors: #cccccc, #ffffff;
   paddingLeft: 4;
   trackHeight: 21;
   verticalGap: 2;
   fontSize: 11;
   fontWeight: bold;
}

RadioButton {
   highlightAlphas: 0.3, 0.63;
   themeColor: #999999;
   fontFamily: Tahoma;
   fontSize: 11;
   fontWeight: normal;
   paddingTop:0;
   paddingBottom:0;
}

VDividedBox {
   dividerAffordance: 1;
   dividerAlpha: 0.52;
   dividerThickness: 1;
}

VScrollBar {
   cornerRadius: 0;
   highlightAlphas: 1, 0.4;
   fillAlphas: 0.6, 0.52, 0.75, 1;
   themeColor: #cccccc;
}

