<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\Interception\Custom\Module\Model\Item">
        <plugin name="advanced_plugin" type="Magento\Interception\Custom\Module\Model\ItemPlugin\Advanced" sortOrder="5"/>
    </type>
    <type name="Magento\Interception\Custom\Module\Model\ItemContainer">
        <plugin name="simple_plugin" type="Magento\Interception\Custom\Module\Model\ItemContainerPlugin\Simple" sortOrder="15"/>
    </type>
</config>
