<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Saas
 * @package     Saas_Apps
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <menu>
        <add id="Saas_Apps::apps" title="Add - ons" module="Saas_Apps" sortOrder="60" action="adminhtml/apps" resource="Magento_Apps::apps" />
    </menu>
</config>
