<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2014 X.commerce, Inc. (http://www.magentocommerce.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="salesrule_rule_condition_combine">
        <observer name="magento_customersegment" instance="Magento\CustomerSegment\Model\Observer" method="addSegmentsToSalesRuleCombine" />
    </event>
    <event name="sales_quote_collect_totals_before">
        <observer name="magento_customersegment" instance="Magento\CustomerSegment\Model\Observer" method="processQuote" />
    </event>
    <event name="magento_customercustomattributes_address_attribute_edit_tab_general_prepare_form">
        <observer name="magento_customersegment" instance="Magento\CustomerSegment\Model\Observer" method="enterpiseCustomerAttributeEditPrepareForm" />
    </event>
    <event name="magento_customercustomattributes_attribute_edit_tab_general_prepare_form">
        <observer name="magento_customersegment" instance="Magento\CustomerSegment\Model\Observer" method="enterpiseCustomerAttributeEditPrepareForm" />
    </event>
    <event name="targetrule_edit_tab_main_after_prepare_form">
        <observer name="magento_customersegment" instance="Magento\CustomerSegment\Model\Observer" method="addFieldsToTargetRuleForm" />
    </event>
</config>
