<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <index>
            <indexer>
                <catalogsearch_fulltext_default>
                    <model>Saas_Search_Model_Indexer_Fulltext_Default</model>
                </catalogsearch_fulltext_default>
            </indexer>
        </index>
    </global>
    <default>
        <catalog>
            <search>
                <engine>Enterprise_Search_Model_Resource_Engine</engine>
                <engine_commit_mode>2</engine_commit_mode>
            </search>
        </catalog>
    </default>
    <frontend>
        <translate>
            <modules>
                <Saas_Search>
                    <files>
                        <default>Saas_Search.csv</default>
                    </files>
                </Saas_Search>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Saas_Search>
                    <files>
                        <default>Saas_Search.csv</default>
                    </files>
                </Saas_Search>
            </modules>
        </translate>
    </adminhtml>
</config>