<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <event name="customer_address_load_before">
        <observer name="magento_giftregistry" instance="Magento\GiftRegistry\Model\Observer" method="addressDataBeforeLoad" />
    </event>
    <event name="customer_address_load_after">
        <observer name="magento_giftregistry" instance="Magento\GiftRegistry\Model\Observer" method="addressDataAfterLoad" />
    </event>
    <event name="sales_order_place_after">
        <observer name="magento_giftregistry" instance="Magento\GiftRegistry\Model\Observer" method="orderPlaced" />
    </event>
    <event name="catalog_product_delete_after">
        <observer name="magento_giftregistry" instance="Magento\GiftRegistry\Model\Observer" method="deleteProduct" />
    </event>
</config>
