<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_Shipping
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <default>
        <shipping>
            <origin>
                <country_id>US</country_id>
                <postcode>90034</postcode>
                <region_id>12</region_id>
            </origin>
        </shipping>
    </default>
</config>
