/************** CLEARS ***************/

.col2-alt-set:after,
.util-form-buttons:after,
.checkout-progress:after, 
.my-review-detail:after,
.account-box li:after,
.product-box:after,
.address-list li:after,
.page-head:after,
.page-head-alt:after,
.group-select li:after,
.head:after,
.clear:after,
.col2-set:after,
.col3-set:after,
.col4-set:after,
.account-access:after,
#nav:after,
.header-sub:after,
#main:after,
.pager:after,
.view-by:after,
.widget-selection-list li:after, 
.listing-type-list .listing-item:after,
.listing-type-list .product-info .product-reviews:after,
.box:after,
.box .content:after,
.box li:after,
.box .actions:after,
.ratings:after {
	content:".";
	display:block;
	clear:both;
	height:0;
	font-size:0;
	line-height:0;
	visibility:hidden;
	overflow:hidden;
	}