<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_Bundle
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <pdf>
            <invoice>
                <bundle>Magento_Bundle_Model_Sales_Order_Pdf_Items_Invoice</bundle>
            </invoice>
            <shipment>
                <bundle>Magento_Bundle_Model_Sales_Order_Pdf_Items_Shipment</bundle>
            </shipment>
            <creditmemo>
                <bundle>Magento_Bundle_Model_Sales_Order_Pdf_Items_Creditmemo</bundle>
            </creditmemo>
        </pdf>
    </global>
    <adminhtml>
        <sales>
            <order>
                <create>
                    <available_product_types>
                        <bundle />
                    </available_product_types>
                </create>
            </order>
        </sales>
    </adminhtml>
</config>
