<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <type name="Magento\Bundle\Model\Source\Option\Type">
        <arguments>
            <argument name="options" xsi:type="array">
                <item name="select" xsi:type="string">Drop-down</item>
                <item name="radio" xsi:type="string">Radio Buttons</item>
                <item name="checkbox" xsi:type="string">Checkbox</item>
                <item name="multi" xsi:type="string">Multiple Select</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Module\Updater\SetupFactory">
        <arguments>
            <argument name="resourceTypes" xsi:type="array">
                <item name="bundle_setup" xsi:type="string">Magento\Catalog\Model\Resource\Setup</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product\CatalogPrice">
        <arguments>
            <argument name="priceModelPool" xsi:type="array">
                <item name="bundle" xsi:type="string">Magento\Bundle\Model\Product\CatalogPrice</item>
            </argument>
        </arguments>
    </type>
</config>
