<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <menu>
        <remove id="Mage_Newsletter::newsletter_template"/>
        <remove id="Mage_Newsletter::newsletter_queue"/>
        <remove id="Mage_Newsletter::newsletter_problem"/>
    </menu>
</config>
