<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_Payment
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <system>
        <section id="payment" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Payment Methods</label>
            <tab>sales</tab>
            <resource>Magento_Payment::payment</resource>
        </section>
    </system>
</config>
