<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Saas
 * @package     Saas_CatalogRule
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <modules>
        <Saas_CatalogRule>
            <version>2.0.0.0</version>
            <active>false</active>
            <depends>
                <Saas_Saas/>
                <Mage_CatalogRule/>
            </depends>
        </Saas_CatalogRule>
    </modules>
    <global>
        <di>
            <preferences>
                <Mage_CatalogRule_Model_Rule_Job>Saas_CatalogRule_Model_Rule_Job</Mage_CatalogRule_Model_Rule_Job>
            </preferences>
            <Saas_CatalogRule_Model_Rule_Job>
                <parameters>
                    <helper>
                        <instance type="Mage_CatalogRule_Helper_Data" />
                    </helper>
                </parameters>
            </Saas_CatalogRule_Model_Rule_Job>
        </di>
        <events>
            <catalogrule_apply_all>
                <observers>
                    <catalogrule>
                        <asynchronous>true</asynchronous>
                        <params>
                            <task_name>apply_catalog_price_rules</task_name>
                        </params>
                    </catalogrule>
                </observers>
            </catalogrule_apply_all>
        </events>
    </global>
</config>
