<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <preference for="Mage_CatalogRule_Model_Rule_Job" type="Saas_CatalogRule_Model_Rule_Job" />
    <type name="Saas_CatalogRule_Model_Rule_Job">
        <param name="helper">
            <instance type="Mage_CatalogRule_Helper_Data" />
        </param>
    </type>
</config>
