<?xml version="1.0"?>
<config>
    <modules>
        <Mage_Auth>
            <version>0.1.2</version>
            
            <depends>
                <Mage_Core/>
            </depends>

            <load>
                <all>
                    <resources>
                        <auth_setup>
                            <connection extends="//core_setup/connection"/>
                            <entities>
                                <user><table>auth_user</table></user>
                                <role><table>auth_role</table></role>
                                <rule><table>auth_rule</table></rule>
                                <assert><table>auth_assert</table></assert>
                            </entities>
                        </auth_setup>

                        <auth_write>
                            <connection extends="//core_write/connection"/>
                            <entites extends="//auth_setup/entities"/>
                        </auth_write>

                        <auth_read>
                            <connection extends="//core_read/connection"/>
                            <entites extends="//auth_setup/entities"/>
                        </auth_read>
                    </resources>
                    
                    <models>
                        <auth>
                            <class>Mage_Auth_Model_Mysql4</class>
                        </auth>
                    </models>
                </all>
                
                <admin>
                    <controller>
                        <active>true</active>
                    </controller>
                    
                    <acl>
                        <asserts>
                            <ip><class>Mage_Auth_Acl_Assert_Ip</class></ip>
                            <time><class>Mage_Auth_Acl_Assert_Time</class></time>
                        </asserts>
                        
                        <resources>
                            <system><permissions/></system>
                        </resources>
                        
                        <privilegeSets>
                            <default>
                                <view/><edit/><delete/><create/>
                            </default>
                        </privilegeSets>
                    </acl>
                    
                    <layouts>
                        <default><updates><auth><module>Mage_Auth</module><file>Admin/initLayout.xml</file></auth></updates></default>
                    </layouts>
                    
                    <events>
                        <action_preDispatch>
                            <observers>
                                <auth><class>Mage_Auth_Setup</class><method>load_admin_action_preDispatch</method></auth>
                            </observers>
                        </action_preDispatch>
                    </events>
                </admin>
            </load>
        </Mage_Auth>
    </modules>
    
    <global>
        <admin>
            <acl extends="/config/modules/*/load/admin/acl"/>
        </admin>
    </global>
</config>