<?xml version="1.0"?>
<config>
   <modules>
      <Mage_Auth>
         <version>0.2.0</version>
         <depends>
            <Mage_Core />
         </depends>

         <admin>
            <controller>
               <active>true</active>
            </controller>
         </admin>
      </Mage_Auth>
   </modules>

   <global>
      <resources>
         <auth_setup>
            <setup>
               <module>Mage_Auth</module>
            </setup>
            <connection>
               <use>core_setup</use>
            </connection>
         </auth_setup>

         <auth_write>
            <connection>
               <use>core_write</use>
            </connection>
         </auth_write>

         <auth_read>
            <connection>
               <use>core_read</use>
            </connection>
         </auth_read>
      </resources>

      <models>
         <auth>
            <class>Mage_Auth_Model</class>
         </auth>

         <auth_resource>
            <class>Mage_Auth_Model_Mysql4</class>

            <entities>
               <user>
                  <table>auth_user</table>
               </user>

               <role>
                  <table>auth_role</table>
               </role>

               <rule>
                  <table>auth_rule</table>
               </rule>

               <assert>
                  <table>auth_assert</table>
               </assert>
            </entities>
         </auth_resource>
      </models>
   </global>
</config>
