<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\App\AreaList">
        <param name="areas">
            <value>
                <webapi_rest>
                    <frontName>rest</frontName>
                </webapi_rest>
                <webapi_soap>
                    <frontName>soap</frontName>
                </webapi_soap>
            </value>
        </param>
    </type>
    <type name="Magento\Integration\Service\IntegrationV1">
        <plugin name="webapiIntegrationV1" type="Magento\Webapi\Model\Plugin\IntegrationServiceV1"/>
    </type>
</config>
