<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <preference for="Magento_Authorization_Policy" type="Magento_Authorization_Policy_Acl" />
    <preference for="Magento_Authorization_RoleLocator" type="Magento_Webapi_Model_Authorization_RoleLocator" />
    <preference for="Magento_Webapi_Model_Acl_Resource_ProviderInterface" type="Magento_Webapi_Model_Acl_Resource_Provider"/>
    <type name="Magento_Acl_Builder">
        <param name="resourceLoader">
            <instance type="Magento_Webapi_Model_Authorization_Loader_Resource" />
        </param>
        <param name="roleLoader">
            <instance type="Magento_Webapi_Model_Authorization_Loader_Role" />
        </param>
        <param name="ruleLoader">
            <instance type="Magento_Webapi_Model_Authorization_Loader_Rule" />
        </param>
    </type>
    <type name="Magento_Webapi_Model_Acl_Builder">
        <param name="cache">
            <instance type="Magento_Webapi_Model_Acl_Cache" />
        </param>
        <param name="resourceLoader">
            <instance type="Magento_Webapi_Model_Authorization_Loader_Resource" />
        </param>
        <param name="roleLoader">
            <instance type="Magento_Webapi_Model_Authorization_Loader_Role" />
        </param>
        <param name="ruleLoader">
            <instance type="Magento_Webapi_Model_Authorization_Loader_Rule" />
        </param>
    </type>
    <type name="Magento_Webapi_Model_Authorization_Policy_Acl">
        <param name="aclBuilder">
            <instance type="Magento_Webapi_Model_Acl_Builder" />
        </param>
    </type>
    <type name="Magento_Webapi_Model_Acl_Cache">
        <param name="cacheKey">
            <value>api_acl_resources</value>
        </param>
    </type>
    <type name="Magento_Core_Model_Acl_RootResource">
        <param name="identifier">
            <value>Magento_Webapi</value>
        </param>
    </type>
    <type name="Magento_Webapi_Controller_Router_Route" shared="false" />
    <type name="Magento_Xml_Generator" shared="false" />
    <type name="Magento_Xml_Parser" shared="false" />
    <type name="Magento_Code_Scanner_DirectoryScanner" shared="false" />
    <type name="Magento_Server_Reflection" shared="false" />
    <type name="Magento_Webapi_Model_Authorization_Loader_Resource">
        <param name="resourceProvider">
            <instance type="Magento_Webapi_Model_Acl_Resource_Provider" />
        </param>
    </type>
    <type name="Magento_Webapi_Model_Acl_Resource_Provider">
        <param name="configReader">
            <instance type="Magento_Webapi_Model_Acl_Resource_Config_Reader_Filesystem" />
        </param>
    </type>
    <type name="Magento_Webapi_Model_Acl_Resource_Config_Reader_Filesystem">
        <param name="converter">
            <instance type="Magento_Webapi_Model_Acl_Resource_Config_Converter_Dom" />
        </param>
    </type>
    <type name="Magento_Webapi_Controller_Request_Rest_Interpreter_Factory">
        <param name="interpreters">
            <value>
                <application_json>
                    <type>application/json</type>
                    <model>Magento_Webapi_Controller_Request_Rest_Interpreter_Json</model>
                </application_json>
                <application_xml>
                    <type>application/xml</type>
                    <model>Magento_Webapi_Controller_Request_Rest_Interpreter_Xml</model>
                </application_xml>
                <application_xhtml_xml>
                    <type>application/xhtml+xml</type>
                    <model>Magento_Webapi_Controller_Request_Rest_Interpreter_Xml</model>
                </application_xhtml_xml>
                <text_xml>
                    <type>text/xml</type>
                    <model>Magento_Webapi_Controller_Request_Rest_Interpreter_Xml</model>
                </text_xml>
            </value>
        </param>
    </type>
    <type name="Magento_Webapi_Controller_Response_Rest_Renderer_Factory">
        <param name="renders">
            <value>
                <default>
                    <type>*/*</type>
                    <model>Magento_Webapi_Controller_Response_Rest_Renderer_Json</model>
                </default>
                <application_json>
                    <type>application/json</type>
                    <model>Magento_Webapi_Controller_Response_Rest_Renderer_Json</model>
                </application_json>
                <text_xml>
                    <type>text/xml</type>
                    <model>Magento_Webapi_Controller_Response_Rest_Renderer_Xml</model>
                </text_xml>
                <application_xml>
                    <type>application/xml</type>
                    <model>Magento_Webapi_Controller_Response_Rest_Renderer_Xml</model>
                </application_xml>
                <application_xhtml_xml>
                    <type>application/xhtml+xml</type>
                    <model>Magento_Webapi_Controller_Response_Rest_Renderer_Xml</model>
                </application_xhtml_xml>
            </value>
        </param>
    </type>
</config>
