<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Enterprise
 * @package     Enterprise_Tag
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <modules>
        <Enterprise_Tag>
            <version>1.0.0.0</version>
            <active>true</active>
            <codePool>core</codePool>
            <depends>
                <Mage_Tag/>
                <Enterprise_Reward/>
            </depends>
        </Enterprise_Tag>
    </modules>
    <adminhtml>
        <cache>
            <dependency>
                <change>
                    <tag>Mage_Tag_Model_Tag</tag>
                </change>
                <delete>
                    <tag>Mage_Tag_Model_Tag</tag>
                </delete>
            </dependency>
        </cache>
    </adminhtml>
</config>
