<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento_Sales_Model_Convert_Quote">
        <plugin name="append_gift_card_data_to_order" type="Magento_GiftCard_Model_Plugin_QuoteItem"/>
    </type>
    <virtualType name="Magento_GiftCard_Model_Resource_Helper" type="Magento_Eav_Model_Resource_Helper_Mysql4">
        <param name="modulePrefix">
            <value>Eav</value>
        </param>
    </virtualType>
    <type name="Magento_GiftCard_Model_Source_Open">
        <param name="resourceHelper">
            <instance type="Magento_GiftCard_Model_Resource_Helper" />
        </param>
    </type>
    <type name="Magento_Core_Model_Db_Updater">
        <param name="resourceList">
            <value>
                <giftcard_setup>Magento_Catalog_Model_Resource_Setup</giftcard_setup>
            </value>
        </param>
    </type>
</config>
