<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\Convert\Quote">
        <plugin name="append_gift_card_data_to_order" type="Magento\GiftCard\Model\Plugin\QuoteItem"/>
    </type>
    <virtualType name="Magento\GiftCard\Model\Resource\Helper" type="Magento\Eav\Model\Resource\Helper">
        <arguments>
            <argument name="modulePrefix" xsi:type="string">Eav</argument>
        </arguments>
    </virtualType>
    <type name="Magento\GiftCard\Model\Source\Open">
        <arguments>
            <argument name="resourceHelper" xsi:type="object">Magento\GiftCard\Model\Resource\Helper</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Module\Updater\SetupFactory">
        <arguments>
            <argument name="resourceTypes" xsi:type="array">
                <item name="giftcard_setup" xsi:type="string">Magento\Catalog\Model\Resource\Setup</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product\CartConfiguration">
        <plugin name="GiftCard" type="Magento\GiftCard\Model\Product\CartConfiguration\Plugin\GiftCard" />
    </type>
    <type name="Magento\Catalog\Model\Product\CatalogPrice">
        <arguments>
            <argument name="priceModelPool" xsi:type="array">
                <item name="giftcard" xsi:type="string">Magento\GiftCard\Model\Product\CatalogPrice</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\GiftCard\Model\Observer">
        <arguments>
            <argument name="layout" xsi:type="object">Magento\Framework\View\LayoutInterface\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\GiftCard\Helper\Data">
        <arguments>
            <argument name="layout" xsi:type="object">Magento\Framework\View\LayoutInterface\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Module\Setup\Migration">
        <arguments>
            <argument name="compositeModules" xsi:type="array">
                <item name="magento_giftcard" xsi:type="string">Magento_GiftCard</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magento\GiftCard\Pricing\Price\Collection" type="Magento\Framework\Pricing\Price\Collection">
        <arguments>
            <argument name="pool" xsi:type="object">Magento\GiftCard\Pricing\Price\Pool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\GiftCard\Pricing\Price\Pool" type="Magento\Framework\Pricing\Price\Pool">
        <arguments>
            <argument name="prices" xsi:type="array">
                <item name="regular_price" xsi:type="string">Magento\Catalog\Pricing\Price\RegularPrice</item>
                <item name="final_price" xsi:type="string">Magento\GiftCard\Pricing\Price\FinalPrice</item>
                <item name="tier_price" xsi:type="string">Magento\Catalog\Pricing\Price\TierPrice</item>
                <item name="group_price" xsi:type="string">Magento\Catalog\Pricing\Price\GroupPrice</item>
                <item name="special_price" xsi:type="string">Magento\Catalog\Pricing\Price\SpecialPrice</item>
                <item name="msrp_price" xsi:type="string">Magento\Msrp\Pricing\Price\MsrpPrice</item>
                <item name="custom_option_price" xsi:type="string">Magento\Catalog\Pricing\Price\CustomOptionPrice</item>
                <item name="base_price" xsi:type="string">Magento\Catalog\Pricing\Price\BasePrice</item>
                <item name="configured_price" xsi:type="string">Magento\Catalog\Pricing\Price\ConfiguredPrice</item>
                <item name="bundle_option" xsi:type="string">Magento\Bundle\Pricing\Price\BundleOptionPrice</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\Pricing\PriceInfo\Factory">
        <arguments>
            <argument name="types" xsi:type="array">
                <item name="giftcard" xsi:type="array">
                    <item name="infoClass" xsi:type="string">Magento\Framework\Pricing\PriceInfo\Base</item>
                    <item name="prices" xsi:type="string">Magento\GiftCard\Pricing\Price\Collection</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\SalesRule\Model\Validator\Pool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="discount" xsi:type="array">
                    <item name="giftcard_validator" xsi:type="object">Magento\GiftCard\Model\Validator\Discount</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
