<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Enterprise
 * @package     Enterprise_Invitation
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <menu>
        <add id="customer_enterprise_invitation" title="Invitations" module="Enterprise_Invitation" sortOrder="30" parent="customer" action="adminhtml/invitation" dependsOnModule="Enterprise_Invitation" dependsOnConfig="enterprise_invitation/general/enabled" />
        <add id="report_enterprise_invitation" title="Invitations" module="Enterprise_Invitation" sortOrder="30" parent="report" dependsOnModule="Enterprise_Invitation" dependsOnConfig="enterprise_invitation/general/enabled" />
        <add id="report_enterprise_invitation_general" title="General" module="Enterprise_Invitation" sortOrder="10" parent="report_enterprise_invitation" action="adminhtml/report_invitation" resource="report/enterprise_invitation" />
        <add id="report_enterprise_invitation_customer" title="Customers" module="Enterprise_Invitation" sortOrder="20" parent="report_enterprise_invitation" action="adminhtml/report_invitation/customer" resource="report/enterprise_invitation" />
        <add id="report_enterprise_invitation_order" title="Order Conversion Rate" module="Enterprise_Invitation" sortOrder="30" parent="report_enterprise_invitation" action="adminhtml/report_invitation/order" resource="report/enterprise_invitation" />
    </menu>
</config>
