<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Magento_Tag
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <tag_setup>
                <setup>
                    <module>Magento_Tag</module>
                </setup>
            </tag_setup>
        </resources>
        <index>
            <indexer>
                <tag_summary>
                    <model>Magento_Tag_Model_Indexer_Summary</model>
                </tag_summary>
            </indexer>
        </index>
        <session>
            <catalog>
                <product>
                    <message_models>
                        <tag>Magento_Tag_Model_Session</tag>
                    </message_models>
                </product>
            </catalog>
        </session>
    </global>
    <frontend>
        <routers>
            <rss>
                <args>
                    <modules>
                        <tag before="Magento_Rss">Magento_Tag_Rss</tag>
                    </modules>
                </args>
            </rss>
            <tag>
                <use>standard</use>
                <args>
                    <module>Magento_Tag</module>
                    <frontName>tag</frontName>
                </args>
            </tag>
        </routers>
        <secure_url>
            <tag_customer>/tag/customer/</tag_customer>
        </secure_url>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Magento_Tag before="Magento_Adminhtml">Magento_Tag_Adminhtml</Magento_Tag>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <catalog_product_delete_before>
                <observers>
                    <tag>
                        <type>model</type>
                        <class>Magento_Tag_Model_Tag</class>
                        <method>productDeleteEventAction</method>
                    </tag>
                </observers>
            </catalog_product_delete_before>
        </events>
    </adminhtml>
</config>
