<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <module name="Magento_Tag" version="1.6.0.0" active="false">
        <depends>
            <module name="Magento_Catalog" />
            <module name="Magento_Customer" />
            <module name="Magento_Rss" />
            <module name="Magento_Reports" />
        </depends>
    </module>
</config>
