<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Enterprise
 * @package     Enterprise_Checkout
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <acl>
        <resources>
            <resource id="Magento_Adminhtml::admin">
                <resource id="Magento_Sales::sales">
                    <resource id="Enterprise_Checkout::enterprise_checkout" title="Shopping Cart Management" sortOrder="100">
                        <resource id="Enterprise_Checkout::view" title="View Shopping Cart" sortOrder="0" />
                        <resource id="Enterprise_Checkout::update" title="View and modify Shopping Cart" sortOrder="10" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
