<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <preference for="Mage_Core_Model_Event_InvokerInterface" type="Enterprise_Queue_Model_Event_Invoker_Asynchronous" />
    <preference for="Enterprise_Queue_Model_QueueInterface" type="Enterprise_Queue_Model_Queue" />
    <preference for="Magento_JobQueue_ClientInterface" type="Magento_JobQueue_Client_Gearman" />
    <preference for="Magento_JobQueue_Client_ConfigInterface" type="Enterprise_Queue_Model_Config_Gearman" />
</config>
