<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Find
 * @package     Find_Feed
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <menu>
        <add id="catalog_feed" title="TheFind feed" module="Find_Feed" sortOrder="5" parent="catalog" />
        <add id="catalog_feed_import_products" title="Manage attributes" module="Find_Feed" sortOrder="5" parent="catalog_feed" action="adminhtml/codes_grid/index" />
        <add id="catalog_feed_import_items" title="Manage items" module="Find_Feed" sortOrder="10" parent="catalog_feed" action="adminhtml/items_grid/index" />
    </menu>
</config>
