<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <module name="Mage_Sales" version="1.6.0.11" active="true">
        <sequence>
            <module name="Mage_Rule"/>
            <module name="Mage_Catalog"/>
            <module name="Mage_Customer"/>
            <module name="Mage_Payment"/>
        </sequence>
        <depends>
            <module name="Mage_Catalog" type="hard"/>
            <module name="Mage_Customer" type="hard"/>
            <module name="Mage_Payment" type="hard"/>
            <module name="Mage_Core" type="hard"/>
            <module name="Mage_Checkout" type="hard"/>
            <module name="Mage_Page" type="hard"/>
            <module name="Mage_Adminhtml" type="hard"/>
            <module name="Mage_SalesRule" type="hard"/>
            <module name="Mage_Backend" type="hard"/>
            <module name="Mage_Widget" type="hard"/>
            <module name="Mage_Directory" type="hard"/>
            <module name="Mage_Eav" type="hard"/>
            <module name="Mage_Tax" type="hard"/>
            <module name="Mage_Api" type="hard"/>
            <module name="Mage_GiftMessage" type="hard"/>
            <module name="Mage_Shipping" type="hard"/>
            <module name="Mage_Usa" type="hard"/>
            <module name="Mage_Reports" type="hard"/>
            <module name="Mage_Weee" type="hard"/>
            <module name="Mage_Rss" type="hard"/>
        </depends>
    </module>
</config>
