<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <module name="Enterprise_GiftWrapping" version="1.11.0.0.2" active="false">
        <sequence>
            <module name="Magento_Adminhtml"/>
            <module name="Magento_GiftMessage"/>
        </sequence>
        <depends>
            <module name="Magento_Adminhtml" type="hard"/>
            <module name="Magento_Core" type="hard"/>
            <module name="Magento_Backend" type="hard"/>
            <module name="Magento_Checkout" type="hard"/>
            <module name="Magento_Catalog" type="hard"/>
            <module name="Magento_Sales" type="hard"/>
            <module name="Magento_Tax" type="hard"/>
            <module name="Magento_Eav" type="hard"/>
            <module name="Magento_GiftMessage" type="soft"/>
        </depends>
    </module>
</config>
