<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Mage
 * @package     Mage_Poll
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <menu>
        <add id="cms_poll" title="Polls" module="Mage_Poll" sortOrder="20" parent="cms" action="adminhtml/poll" />
    </menu>
</config>
