<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\GiftWrapping\Service\V1\WrappingReadInterface" type="Magento\GiftWrapping\Service\V1\WrappingRead"/>
    <preference for="Magento\GiftWrapping\Service\V1\WrappingWriteInterface" type="Magento\GiftWrapping\Service\V1\WrappingWrite"/>
    <type name="Magento\Framework\Module\Updater\SetupFactory">
        <arguments>
            <argument name="resourceTypes" xsi:type="array">
                <item name="giftwrapping_setup" xsi:type="string">Magento\GiftWrapping\Model\Resource\Setup</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Module\Setup\Migration">
        <arguments>
            <argument name="compositeModules" xsi:type="array">
                <item name="magento_giftwrapping" xsi:type="string">Magento_GiftWrapping</item>
            </argument>
        </arguments>
    </type>
</config>
