<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <module name="Magento_GiftWrapping" version="1.11.0.0.2" active="false">
        <depends>
            <module name="Magento_Adminhtml" />
            <module name="Magento_GiftMessage" />
        </depends>
    </module>
</config>
