<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\CatalogSearch\Block\Layer">
        <param name="catalogLayer">
            <instance type="Magento\CatalogSearch\Model\Layer\Proxy" />
        </param>
    </type>
</config>
