<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento\CatalogSearch\Model\Fulltext">
        <param name="eventManager">
            <instance type="Magento\Core\Model\Event\Manager\Proxy" />
        </param>
    </type>
    <type name="Magento\CatalogSearch\Model\Resource\Advanced">
        <param name="eventManager">
            <instance type="Magento\Core\Model\Event\Manager\Proxy" />
        </param>
    </type>
    <type name="Magento\CatalogSearch\Model\Resource\Fulltext">
        <param name="eventManager">
            <instance type="Magento\Core\Model\Event\Manager\Proxy" />
        </param>
    </type>
    <type name="Magento\CatalogSearch\Block\Layer">
        <param name="layer">
            <instance type="Magento\CatalogSearch\Model\Layer\Proxy" />
        </param>
    </type>
</config>
