<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Mage
 * @package    Mage_Tag
 * @copyright  Copyright (c) 2004-2007 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Mage_Tag>
            <version>0.6.0</version>
            <depends>
                <Mage_Core />
            </depends>
        </Mage_Tag>
    </modules>
    <global>
        <models>
            <tag>
                <class>Mage_Tag_Model</class>
                <resourceModel>tag_mysql4</resourceModel>
            </tag>
            <tag_customer>
                <class>Mage_Tag_Model_Customer</class>
                <resourceModel>tag_entity_customer</resourceModel>
            </tag_customer>
            <tag_entity_customer>
                <class>Mage_Tag_Model_Entity_Customer</class>
                </tag_entity_customer>
            <tag_mysql4>
                <class>Mage_Tag_Model_Mysql4</class>
                <entities>
                    <tag>
                        <table>tag</table>
                    </tag>
                    <relation>
                        <table>tag_relation</table>
                    </relation>
                </entities>
            </tag_mysql4>
        </models>
        <resources>
            <tag_setup>
                <setup>
                    <module>Mage_Tag</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tag_setup>
            <tag_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tag_write>
            <tag_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tag_read>
        </resources>
        <block>
            <groups><tag><class>Mage_Tag_Block</class></tag></groups>
        </block>
    </global>
    <frontend>
        <layouts>
            <default>
                <updates>
                    <tag_init>
                        <file>tag/initLayout.xml</file>
                    </tag_init>
                </updates>
            </default>
            <tags_all>
                <updates>
                    <default>
                        <file>tag/all.xml</file>
                    </default>
                </updates> 
            </tags_all>
            <customer_account>
                <updates>
                    <tag_account>
                        <file>tag/account.xml</file>
                    </tag_account>
                </updates>
            </customer_account>
            <customer_dashboard>
                <updates>
                    <tag_dashboard>
                        <file>tag/dashboard.xml</file>
                    </tag_dashboard>
                </updates>
            </customer_dashboard>
            <catalog_product_view>
                <updates>
                    <tag>
                        <file>tag/product.xml</file>
                    </tag>
                </updates>
            </catalog_product_view>
        </layouts>
        <routers>
            <tag>
                <use>standard</use>
                <args>
                    <module>Mage_Tag</module>
                    <frontName>tag</frontName>
                </args>
            </tag>
        </routers>
    </frontend>
</config>
