<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <type name="Magento_Adminhtml_Controller_Catalog_Product_Attribute">
        <param name="attributeLabelCache">
            <instance type="Magento_Core_Model_Cache_Type_Translate" />
        </param>
    </type>
</config>
