<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2014 X.commerce, Inc. (http://www.magentocommerce.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\PbridgePaypal\Model\Payment\Method\Paypal">
        <arguments>
            <argument name="pbridgeData" xsi:type="object">Magento\PbridgePaypal\Helper\Data</argument>
        </arguments>
    </type>
    <virtualType name="MagentoPaypalCart" type="Magento\Payment\Model\CartFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Magento\Paypal\Model\Cart</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\PbridgePaypal\Helper\Data" type="Magento\Pbridge\Helper\Data">
        <arguments>
            <argument name="cartFactory" xsi:type="object">MagentoPaypalCart</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\PbridgePaypal\Model\Payment\Method\Paypal\Payflowpro" type="Magento\PbridgePaypal\Model\Payment\Method\Paypal">
        <arguments>
            <argument name="paypalClassName" xsi:type="string">Magento\PbridgePaypal\Model\Payment\Method\Payflowpro</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\PbridgePaypal\Model\Payment\Method\Paypal\PaypalDirect" type="Magento\PbridgePaypal\Model\Payment\Method\Paypal">
        <arguments>
            <argument name="paypalClassName" xsi:type="string">Magento\PbridgePaypal\Model\Payment\Method\PaypalDirect</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\PbridgePaypal\Model\Payment\Method\Paypal\ProFactory" type="Magento\Paypal\Model\ProFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Magento\PbridgePaypal\Model\Payment\Method\Paypal\Pro</argument>
        </arguments>
    </virtualType>
    <type name="Magento\PbridgePaypal\Model\Payment\Method\PaypalDirect">
        <arguments>
            <argument name="proFactory" xsi:type="object">Magento\PbridgePaypal\Model\Payment\Method\Paypal\ProFactory</argument>
        </arguments>
    </type>
</config>
