<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Magento
 * @package     Mage_Webapi
 * @subpackage  unit_tests
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <acl>
        <resources>
            <resource id="customer" title="Manage Customers">
                <resource id="customer/create" title="Create Customer" />
                <resource id="customer/update" title="Edit customer" />
                <resource id="customer/get" title="Get Customer" />
            </resource>
        </resources>
        <virtual_resources>
            <virtual_resource id="customer/list" parent="customer/get" />
        </virtual_resources>
    </acl>
</config>
