<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <module name="Enterprise_Search" version="1.11.0.0" active="false">
        <sequence>
            <module name="Magento_CatalogSearch"/>
        </sequence>
        <depends>
            <module name="Magento_CatalogSearch" type="hard"/>
            <module name="Magento_Adminhtml" type="hard"/>
            <module name="Magento_Core" type="hard"/>
            <module name="Magento_Catalog" type="hard"/>
            <module name="Magento_Backend" type="hard"/>
            <module name="Magento_Index" type="hard"/>
            <module name="Magento_Eav" type="hard"/>
            <module name="Magento_CatalogInventory" type="hard"/>
            <module name="Magento_Customer" type="hard"/>
            <module name="Magento_Tax" type="hard"/>
            <module name="Magento_Page" type="soft"/>
        </depends>
    </module>
</config>
