<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <router id="standard">
        <route id="enterprise_rma" frontName="rma">
            <module name="Enterprise_Rma" />
        </route>
    </router>
</config>