<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <versionscms_setup>
                <setup>
                    <module>Magento_VersionsCms</module>
                    <class>Magento_Core_Model_Resource_Setup</class>
                </setup>
            </versionscms_setup>
        </resources>
    </global>
    <default>
        <cms>
            <hierarchy>
                <enabled>1</enabled>
                <metadata_enabled>1</metadata_enabled>
                <menu_layout>content</menu_layout>
            </hierarchy>
            <content>
                <versioning>1</versioning>
            </content>
        </cms>
    </default>
</config>
