<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\VersionsCms\Model\Hierarchy\ConfigInterface" type="Magento\VersionsCms\Model\Hierarchy\Config" />
    <type name="Magento\VersionsCms\Model\Hierarchy\Config">
        <arguments>
            <argument name="reader" xsi:type="object">Magento\VersionsCms\Model\Hierarchy\Config\Reader\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\VersionsCms\Model\Config">
        <arguments>
            <argument name="reader" xsi:type="object">Magento\VersionsCms\Model\Hierarchy\Config\Reader\Proxy</argument>
            <argument name="authorization" xsi:type="object">Magento\Framework\Authorization\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Module\Updater\SetupFactory">
        <arguments>
            <argument name="resourceTypes" xsi:type="array">
                <item name="versionscms_setup" xsi:type="string">Magento\VersionsCms\Model\Resource\Setup</item>
            </argument>
        </arguments>
    </type>
</config>
