<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <preference for="Magento\VersionsCms\Model\Hierarchy\ConfigInterface" type="Magento\VersionsCms\Model\Hierarchy\Config" />
    <type name="Magento\VersionsCms\Model\Config">
        <param name="authorization">
            <instance type="Magento\Authorization\Proxy" />
        </param>
    </type>
    <type name="Magento\VersionsCms\Model\Observer">
        <param name="authorization">
            <instance type="Magento\Authorization\Proxy" />
        </param>
    </type>
</config>
