<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <module name="Magento_VersionsCms" version="1.11.0.4" active="false">
        <depends>
            <module name="Magento_Adminhtml" />
            <module name="Magento_Cms" />
            <module name="Magento_Widget" />
            <module name="Magento_User" />
        </depends>
    </module>
</config>
