<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <module name="Mage_GoogleCheckout" version="1.6.0.1" active="true">
        <depends>
            <module name="Mage_Sales" />
            <module name="Mage_Payment" />
            <module name="Mage_Usa" />
        </depends>
    </module>
</config>
