<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/ObjectManager/etc/config.xsd">
    <preference for="Magento\WebsiteRestriction\Model\ConfigInterface" type="Magento\WebsiteRestriction\Model\Config" />
    <type name="Magento\Module\Updater\SetupFactory">
        <arguments>
            <argument name="resourceTypes" xsi:type="array">
                <item name="websiterestriction_setup" xsi:type="string">Magento\WebsiteRestriction\Model\Resource\Setup</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Module\Setup\Migration">
        <arguments>
            <argument name="compositeModules" xsi:type="array">
                <item name="magento_websiterestriction" xsi:type="string">Magento_WebsiteRestriction</item>
            </argument>
        </arguments>
    </type>
</config>
