<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Mage
 * @package    Mage_GoogleCheckout
 * @copyright  Copyright (c) 2004-2007 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
   <modules>
      <Mage_GoogleCheckout>
         <version>0.1.0</version>
         <depends>
            <Mage_Paygate />
         </depends>
      </Mage_GoogleCheckout>
   </modules>
   <global>
      <models>
         <googlecheckout>
            <class>Mage_GoogleCheckout_Model</class>
            <resourceModel>paypal_mysql4</resourceModel>
         </googlecheckout>
         <googlecheckout_mysql4>
            <class>Mage_GoogleCheckout_Model_Mysql4</class>
            <entities>
                <debug><table>googlecheckout_debug</table></debug>
            </entities>
         </googlecheckout_mysql4>
      </models>
      <resources>
         <googlecheckout_setup>
            <setup>
               <module>Mage_GoogleCheckout</module>
                <class>Mage_GoogleCheckout_Model_Mysql4_Setup</class>
            </setup>
            <connection>
               <use>core_setup</use>
            </connection>
         </googlecheckout_setup>
         <googlecheckout_write>
            <connection>
               <use>core_write</use>
            </connection>
         </googlecheckout_write>
         <googlecheckout_read>
            <connection>
               <use>core_read</use>
            </connection>
         </googlecheckout_read>
      </resources>
        <blocks>
            <googlecheckout><class>Mage_GoogleCheckout_Block</class></googlecheckout>
        </blocks>
   </global>
    <frontend>
        <routers>
         <googlecheckout>
            <use>standard</use>
            <args>
               <module>Mage_GoogleCheckout</module>
               <frontName>googlecheckout</frontName>
            </args>
         </googlecheckout>
        </routers>
        <translate>
            <modules>
                <Mage_GoogleCheckout>
                    <files>
                        <default>Mage_GoogleCheckout.csv</default>
                    </files>
                </Mage_GoogleCheckout>
            </modules>
        </translate>
     </frontend>
</config>
