<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Mage
 * @package     Mage_DesignEditor
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <acl>
        <resources>
            <resource id="Mage_Adminhtml::admin">
                <resource id="Mage_Adminhtml::content">
                    <resource id="Mage_Adminhtml::design">
                        <resource id="Mage_DesignEditor::editor" module="Mage_DesignEditor" title="The Designer" sortOrder="10" />
                    </resource>
                </resource>
            </resource>

            <resource id="Old_Mage_Adminhtml::admin">
                <resource id="Old_Mage_Adminhtml::system">
                    <resource id="Old_Mage_Adminhtml::design">
                        <resource id="Old_Mage_DesignEditor::editor" module="Mage_DesignEditor" title="Editor" sortOrder="20" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
