<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Enterprise
 * @package     Enterprise_Wishlist
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <enterprise_wishlist_setup>
                <setup>
                    <module>Enterprise_Wishlist</module>
                    <class>Enterprise_Wishlist_Model_Resource_Setup</class>
                </setup>
            </enterprise_wishlist_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <enterprise_wishlist before="Magento_Adminhtml">Enterprise_Wishlist_Adminhtml</enterprise_wishlist>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <wishlist>
                <args>
                    <modules>
                        <enterprise_wishlist before="Magento_Wishlist">Enterprise_Wishlist</enterprise_wishlist>
                    </modules>
                </args>
            </wishlist>
            <enterprise_wishlist>
                <use>standard</use>
                <args>
                    <module>Enterprise_Wishlist</module>
                    <frontName>wishlists</frontName>
                </args>
            </enterprise_wishlist>
        </routers>
        <events>
            <wishlist_delete_commit_after>
                <observers>
                    <enterprise_pagecache>
                        <class>Enterprise_PageCache_Model_Observer</class>
                        <method>registerWishlistChange</method>
                    </enterprise_pagecache>
                    <enterprise_pagecache>
                        <class>Enterprise_PageCache_Model_Observer</class>
                        <method>registerWishlistListChange</method>
                    </enterprise_pagecache>
                </observers>
            </wishlist_delete_commit_after>
            <wishlist_save_commit_after>
                <observers>
                    <enterprise_pagecache>
                        <class>Enterprise_PageCache_Model_Observer</class>
                        <method>registerWishlistListChange</method>
                    </enterprise_pagecache>
                </observers>
            </wishlist_save_commit_after>
        </events>
    </frontend>
    <default>
        <wishlist>
            <general>
                <multiple_wishlist_number>5</multiple_wishlist_number>
            </general>
        </wishlist>
    </default>
</config>
