<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @category    Enterprise
 * @package     Enterprise_Wishlist
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config>
    <global>
        <resources>
            <enterprise_wishlist_setup>
                <setup>
                    <module>Enterprise_Wishlist</module>
                    <class>Enterprise_Wishlist_Model_Resource_Setup</class>
                </setup>
            </enterprise_wishlist_setup>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Enterprise_Wishlist>
                    <files>
                        <default>Enterprise_Wishlist.csv</default>
                    </files>
                </Enterprise_Wishlist>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Enterprise_Wishlist>
                    <files>
                        <default>Enterprise_Wishlist.csv</default>
                    </files>
                </Enterprise_Wishlist>
            </modules>
        </translate>
    </frontend>
    <default>
        <wishlist>
            <general>
                <multiple_wishlist_number>5</multiple_wishlist_number>
            </general>
        </wishlist>
    </default>
</config>